<div class="ui container mb-48">
  <div class="sb-pageSection my-24" [appTelemetryImpression]="telemetryImpression">
      <div class="d-flex flex-ai-center flex-jc-space-between">
        <div class="sb-pageSection-header mb-0">
          <h4 class="sb-pageSection-title">
            <span *ngIf="!isContributor || activeAllProgramsMenu">{{ resourceService.frmelmnts.lbl.myPrograms }} </span>
            <span *ngIf="activeMyProgramsMenu">{{ resourceService.frmelmnts.lbl.explorePrograms }} </span>
            <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8" *ngIf="programs && programs.length">{{programs.length}}</span></h4>
        </div>
        <!-- <button routerLink="sourcing/create-program" *ngIf="this.router.url.includes('/sourcing')" class="sb-btn sb-btn-normal sb-btn-primary"><i class="plus outline icon"></i> Add New Program</button> -->
      </div>
    <div class="sb-pageSection-content mt-12">
      <ng-container *ngIf="programs !== undefined else loading">
        <ng-container *ngIf="programs.length else noResult">
          <div class="sb-table-responsive">
             <table class="sb-table sb-table-striped sb-table-hover sb-table-sortable">
            <thead class="sb-table-header sb-table-thead-gray">
              <tr>
                <th class="w-20 sb-sort-icon">{{ resourceService.frmelmnts.lbl.program }}</th>
                <th>{{ resourceService.frmelmnts.lbl.noOfTextbooks }}</th>
                <th>{{ resourceService.frmelmnts.lbl.gradesMediumsSubjects }}</th>
                <th *ngIf="!isContributor">{{ resourceService.frmelmnts.lbl.nominations }}</th>
                <th *ngIf="!isContributor">{{ resourceService.frmelmnts.lbl.nomination }}<br>{{ resourceService.frmelmnts.lbl.shortlistDates }}</th>
                <th *ngIf="!isContributor">{{ resourceService.frmelmnts.lbl.contentSubmissionDate }}<br>{{ resourceService.frmelmnts.lbl.programEndDate }}</th>
                <th *ngIf="activeMyProgramsMenu" class="sb-sort-icon">{{ resourceService.frmelmnts.lbl.contributionDate }}</th>
                <th *ngIf="activeAllProgramsMenu" class="sb-sort-icon">{{ resourceService.frmelmnts.lbl.nominationEndDate }}</th>
                <th *ngIf="activeMyProgramsMenu"><span class="ui dropdown sb-table-dropdown d-inline-flex" suiDropdown>
                  <div class="text">{{ resourceService.frmelmnts.lbl.nominationStatus }}</div>
                  <i class="filter icon"></i>
                  <div class="menu" suiDropdownMenu>
                      <div class="item">All</div>
                      <div class="item">Pending</div>
                      <div class="item selected">Approved</div>
                      <div class="item">Rejected</div>
                  </div>
              </span></th>
                <th class="w-10 text-center">{{ resourceService.frmelmnts.lbl.actions }}</th>
              </tr>
            </thead>
            <tbody class="sb-table-body">
              <tr *ngFor="let program of programs">
                <td> 
                  <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                    {{program?.name}}
                  </div>
                  <div *ngIf="activeMyProgramsMenu" class="sb-label-value mt-4">{{ getProgramBoard(program) }}</div>
                </td>
                <td>
                  <div suiPopup popupHeader="{{ resourceService.frmelmnts.lbl.textbooks }}" popupDelay="1000" popupText="{{ getProgramTextbooks(program) }}">{{ program.textbooks.length }} {{ resourceService.frmelmnts.lbl.textbooks }}</div>
                </td>
                <td>
                  <div class="sb__ellipsis" suiPopup  popupDelay="1000" popupHeader="{{ resourceService.frmelmnts.lbl.grades }}" popupText="{{ getProgramGrades(program) }}">{{ getProgramGrades(program) }}</div>
                  <hr class="divider">
                  <div class="sb__ellipsis" suiPopup  popupDelay="1000" popupHeader="{{ resourceService.frmelmnts.lbl.mediums }}" popupText="{{ getProgramMediums(program) }}">{{ getProgramMediums(program) }}</div>
                  <hr class="divider">
                  <div class="sb__ellipsis" suiPopup  popupDelay="1000" popupHeader="{{ resourceService.frmelmnts.lbl.subjects }}" popupText="{{ getProgramSubjects(program) }}">{{ getProgramSubjects(program) }}</div>
                </td>
                <td *ngIf="!isContributor">
                  <div>{{ program?.nominations?.pending }} {{ resourceService.frmelmnts.lbl.pending }}</div>
                  <hr class="divider">
                  <div>{{ program?.nominations?.approved }} {{ resourceService.frmelmnts.lbl.approved }}</div>
                  <hr class="divider">
                  <div>{{ program?.nominations?.rejected }} {{ resourceService.frmelmnts.lbl.rejected }}</div>
                </td>
                <td *ngIf="activeMyProgramsMenu" >
                  <div>{{ program?.contribution_date | date:'LLLL d, yyyy'  }}<br>
                    <em>{{ program?.contribution_date | daysToGo }}</em>
                  </div>
                </td>
                <td *ngIf="activeAllProgramsMenu">
                  <div>{{ program?.nomination_end_date | date:'LLLL d, yyyy' }}<br>
                    <em>{{ program?.nomination_end_date | daysToGo }}</em>
                  </div>
                </td>
                <td *ngIf="activeMyProgramsMenu">
                  <span class="sb-label sb-label-table sb-label-primary-100">{{ getProgramStatus(program) }}</span>
                </td>
                <td *ngIf="!isContributor">
                  <div>{{ program?.nomination_end_date | date:'LLLL d, yyyy' }}<br>
                    <em>{{ program?.nomination_end_date | daysToGo }}</em>
                  </div>
                  <hr class="divider">
                  <div>{{ program?.nomination_shortlisting_date | date:'LLLL d, yyyy' }}<br>
                    <em>{{ program?.nomination_shortlisting_date | daysToGo }}</em>
                  </div>  
                </td>
                <td *ngIf="!isContributor">
                  <div>{{ program?.curation_end_date | date:'LLLL d, yyyy'  }}<br>
                    <em>{{ program?.curation_end_date | daysToGo }}</em>
                  </div>
                  <hr class="divider">
                  <div>{{ program?.program_end_date | date:'LLLL d, yyyy' }}<br>
                    <em>{{ program?.program_end_date | daysToGo }}</em>
                  </div>
                </td>
                <td class="text-center">
                  <div class="ui dropdown sb-dotted-dropdown" suiDropdown
                                                autoClose="itemClick">
                                                <div class="p-8 w-auto" suiPopup popupText="View All Actions" popupDelay="1000"><span class="sb-dotmenu"></span></div>
                                                <div class="menu" suiDropdownMenu>
                                                    <div class="item" (click)="viewDetailsBtnClicked(program)">{{ resourceService.frmelmnts.lbl.viewDetails }}</div>
                                                    <div class="item" *ngIf="activeMyProgramsMenu">Assign Role</div>
                                                </div>
                                            </div>
                  <!-- <button class="sb-btn sb-btn-xs sb-btn-outline-primary" (click)="viewDetailsBtnClicked(program)">{{ resourceService.frmelmnts.lbl.viewDetails }}</button> -->
                </td>
              </tr>
            </tbody>
          </table> 
          </div>
        </ng-container>
        <ng-template #noResult>
          <app-no-result [data]="{messageText: resourceService.messages.stmsg.m0006}"></app-no-result>
        </ng-template>
      </ng-container>
      <ng-template #loading>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
</div>

