<div class="ui container pb-48">
  <div class="sb-pageSection my-24">
    <div class="d-flex flex-ai-center flex-jc-space-between">
      <div class="sb-pageSection-header mb-0">
        <h4 class="sb-pageSection-title">
          <span *ngIf="!isContributor || activeMyProgramsMenu">{{ resourceService?.frmelmnts?.lbl?.myPrograms }} </span>
          <span *ngIf="activeAllProgramsMenu && programsService.checkforshowAllPrograms()">{{ resourceService?.frmelmnts?.lbl?.explorePrograms }} </span>
         </h4>
         <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning"
         *ngIf="!showLoader && programs !== undefined && programs.length">{{count}}
        </span>
      </div>
      <div class="text-right" *ngIf="(programs?.length || filtersAppliedCount) && isFrameworkDetailsAvailable">
        <div class="fs-0-785 font-italic sb-color-gray-300 mb-10 d-inline-block" *ngIf="filtersAppliedCount">
          <i class="icon check circle pr-5 sb-color-success"></i>
          {{filtersAppliedCount}} {{resourceService?.frmelmnts?.lbl?.filtersApplied}}
        </div>
        <button type="button" appTelemetryInteract
          [telemetryInteractEdata]="getTelemetryInteractEdata('apply_filter', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch,telemetryPageId)"
          [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractCdata]="telemetryInteractCdata"
          [telemetryInteractPdata]="telemetryInteractPdata" class="sb-btn sb-btn-normal sb-btn-outline-primary mx-10"
          (click)="showFiltersModal = true">
          <i class="filter icon"></i>
          {{resourceService?.frmelmnts?.btn?.applyFilter}}
        </button>
      </div>
      <!-- <button routerLink="sourcing/create-program" *ngIf="this.router.url.includes('/sourcing')" class="sb-btn sb-btn-normal sb-btn-primary"><i class="plus outline icon"></i> Add New Program</button> -->
    </div>
    <div class="sb-pageSection-content mt-12">
      <!-- <ng-container *ngIf="programs !== undefined"> -->
        <ng-container *ngIf="!showLoader && programs !== undefined && programs.length else noResult">
          <div class="sb-table-responsive desktop-o-x-unset">
            <table class="sb-table sb-table-striped sb-table-sortable sb-table-nowrap">
            <thead class="sb-table-header sb-table-thead-gray">
              <tr>
                <th class="w-15 cursor-pointer sb-sorting" (click)="sortCollection('name')">
                  {{ resourceService?.frmelmnts?.lbl?.program }} &nbsp;&nbsp;
                  <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'name' "></i>
                  <span  *ngIf="sortColumn == 'name'" class="d-inline-block">
                    <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                  </span>
                </th>
                <th *ngIf="isContributor" class="w-10 cursor-pointer sb-sorting" (click)="sortCollection('sourcing_org_name')"
                appTelemetryInteract
              [telemetryInteractEdata]="getTelemetryInteractEdata('sort-program-name', configService.telemetryLabels.eventType.click,undefined,telemetryPageId)"
              [telemetryInteractObject]="telemetryInteractObject"
              [telemetryInteractCdata]="telemetryInteractCdata"
              [telemetryInteractPdata]="telemetryInteractPdata">{{resourceService?.frmelmnts?.lbl?.sourcingOrganisation }} &nbsp;&nbsp;
        <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'sourcing_org_name'"></i>
        <span *ngIf="sortColumn == 'sourcing_org_name'" class="d-inline-block">
          <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
          <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
        </span></th>
                <th class="w-10">{{ resourceService?.frmelmnts?.lbl?.contentType }}</th>
                <th class="w-15">{{ resourceService?.frmelmnts?.lbl?.MediumClassSubject }}</th>
                <th *ngIf="!isContributor" class="w-10">{{ resourceService?.frmelmnts?.lbl?.programDates }}</th>
                <th *ngIf="activeMyProgramsMenu" class="w-10 cursor-pointer sb-sorting" (click)="sortCollection('contributionDate')">{{ resourceService?.frmelmnts?.lbl?.nominatedDate }}&nbsp;&nbsp;
                  <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'contributionDate'"></i>
                  <span *ngIf="sortColumn == 'contributionDate'" class="d-inline-block">
                    <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                  </span>
                </th>
                <th *ngIf="activeAllProgramsMenu" class="w-10">{{ resourceService?.frmelmnts?.lbl?.programDates }}</th>
                <th *ngIf="activeMyProgramsMenu && iscontributeOrgAdmin" class="w-5 text-center cursor-pointer sb-sorting" (click)="sortCollection('nomination_status')">{{ resourceService?.frmelmnts?.lbl?.status }} &nbsp;&nbsp;
                  <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'nomination_status' "></i>
                  <span  *ngIf="sortColumn == 'nomination_status'" class="d-inline-block">
                    <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                  </span>
                </th>
                <th *ngIf="activeMyProgramsMenu && !iscontributeOrgAdmin" class="w-5 text-center">{{ resourceService?.frmelmnts?.lbl?.myRole }}</th>
                <th *ngIf="this.router.url.includes('/sourcing')" class="w-5 text-center"> &nbsp;</th>
                <th *ngIf="issourcingOrgAdmin && this.router.url.includes('/sourcing')" class="w-30 text-center"> &nbsp;</th>
                <th *ngIf="isContributor" class="w-15 text-center"> &nbsp; &nbsp; &nbsp;</th>
              </tr>
            </thead>
            <tbody class="sb-table-body" >
              <tr *ngFor="let program of programs; let i = index;">
                <td class="pr-0">
                  <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                    {{program?.name}}
                  </div>
                  <div class="sb__ellipsis sb__ellipsis--three">{{ getProgramTextbooksCount(program) }}</div>
                  <div *ngIf="activeMyProgramsMenu && getProgramInfo(program, 'board')" class="sb-label-value mt-4">{{ getProgramInfo(program, 'board') }}</div>
                  <div *ngIf = "program.notificationData" class="sb-label sb-label-table sb-label-warning-0 text-left sb-label-orange d-flex mt-5">
                    <div><i class="icon bell"></i></div>
                    <div class="text-inherit">
                        <div *ngIf="program.notificationData.nominationCount">{{program?.notificationData?.nominationCount}} {{resourceService.frmelmnts.lbl.nominations}}</div>
                        <div *ngIf="program.notificationData.contributionCount">{{program?.notificationData?.contributionCount}} {{resourceService.frmelmnts.lbl.contributions}}</div>
                    </div>
                  </div>
                  <em *ngIf = "program.notificationData && programsService.projectFeedDays" class="sb-color-yellow fxsmall">Last {{programsService.projectFeedDays}} days</em>
                </td>
                <td *ngIf="isContributor" >
                  <div>{{ getSourcingOrgName(program) }}
                  </div>
                </td>
                <td class="mouse-pointer">
                  <div  class=" ui icon" [attr.data-tooltip]="getProgramContentTypes(program)"><span class="sb__ellipsis sb__ellipsis--breakAll">{{ getProgramContentTypes(program) }}</span></div>
                </td>
                <td class="mouse-pointer">
                  <div class="ui icon" [attr.data-tooltip]="getProgramInfo(program, 'medium')"><span class="sb__ellipsis sb__ellipsis--breakAll">{{ getProgramInfo(program, 'medium') }}</span></div>
                  <hr class="divider">

                  <div class="ui icon" [attr.data-tooltip]="getProgramInfo(program, 'gradeLevel')"><span class="sb__ellipsis sb__ellipsis--breakAll">{{ getProgramInfo(program, 'gradeLevel') }}</span></div>
                  <hr class="divider">
                  <div class="ui icon" [attr.data-tooltip]="getProgramInfo(program, 'subject')"><span class="sb__ellipsis sb__ellipsis--breakAll">{{ getProgramInfo(program, 'subject') }}</span></div>
                </td>

                <td *ngIf="!isContributor || activeAllProgramsMenu" class="nowrap">
                  <div class="program-timeline">
                    <div class="program-timeline-item">
                      <div class="status" [class.active]="isActive(program, 'nomination_enddate', i)" *ngIf="program.status !== 'Unlisted'">
                        <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.nominationSubmission }}</div>
                        <div class="status__date">
                          {{ program?.nomination_enddate | date:'LLLL d, yyyy'  }}
                          <em class="d-block" *ngIf="isActive(program, 'nomination_enddate', i)" [class.sb-color-warning]="isActive(program, 'nomination_enddate', i)">{{ program?.nomination_enddate | daysToGo  }}</em>
                        </div>
                      </div>
                    </div>
                         <div class="program-timeline-item">
                      <div class="status" [class.active]="isActive(program, 'shortlisting_enddate', i)" *ngIf="program.status !== 'Unlisted'">
                        <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.shortlistingNomination }}</div>
                        <div class="status__date">
                          {{ program?.shortlisting_enddate | date:'LLLL d, yyyy'  }}
                          <em class="d-block" *ngIf="isActive(program, 'shortlisting_enddate', i)" [class.sb-color-warning]="isActive(program, 'shortlisting_enddate', i)">{{ program?.shortlisting_enddate | daysToGo  }}</em>
                        </div>
                      </div>
                    </div>
                    <div class="program-timeline-item">
                      <div class="status" [class.active]="isActive(program, 'content_submission_enddate', i)">
                        <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.contributions }}</div>
                        <div class="status__date">
                          {{ program?.content_submission_enddate | date:'LLLL d, yyyy'  }}
                          <em class="d-block" *ngIf="isActive(program, 'content_submission_enddate', i)" [class.sb-color-warning]="isActive(program, 'content_submission_enddate', i)">{{ program?.content_submission_enddate | daysToGo  }}</em>
                        </div>
                      </div>
                    </div>
                    <div class="program-timeline-item" *ngIf="!isContributor">
                      <div class="status" [class.active]="isActive(program, 'enddate', i)">
                        <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.programEndDate }}</div>
                        <div class="status__date">
                          {{ program?.enddate | date:'LLLL d, yyyy' }}
                          <em class="d-block" *ngIf="isActive(program, 'enddate', i)" [class.sb-color-warning]="isActive(program, 'enddate', i)">{{ program?.enddate | daysToGo }}</em>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="activeMyProgramsMenu">
                  <div>
                    {{ program?.contributionDate | date:'LLLL d, yyyy' }}
                    <em class="d-block">{{ program?.contributionDate | daysToGo }}</em>
                  </div>
                </td>
                <td *ngIf="activeMyProgramsMenu && iscontributeOrgAdmin" class="text-center">
                  <span  [ngClass]="{'sb-color-error':program.nomination_status  == 'Rejected','sb-color-success':program.nomination_status  == 'Approved','sb-color-warning':program.nomination_status  == 'Pending'}">{{ getProgramNominationStatus(program) }}</span>
                </td>
                <td *ngIf="activeMyProgramsMenu && !iscontributeOrgAdmin" class="text-center">
                  <div>{{ program?.myRole }}</div>
                </td>
                <td class="text-center pl-0 pr-0" *ngIf="issourcingOrgAdmin && this.router.url.includes('/sourcing')">
                    <div *ngIf="programsService.isProjectLive(program)" class="sb-color-success">{{resourceService?.frmelmnts?.lbl?.live}}</div>
                    <div *ngIf="program.status === 'Draft'" class="sb-color-gray-300">{{resourceService?.frmelmnts?.lbl?.draft}}</div>
                    <div *ngIf="programsService.isProjectClosed(program)" class="sb-color-success">Closed</div>
                </td>
                <td class="text-center pl-0 pr-0">

                  <div *ngIf="activeMyProgramsMenu && program.nomination_status  == 'Pending' && canNominate(program)" (click)="getProjectToModify(program)" class="d-inline-block cursor-pointer pr-5 pt-5">
                    <i class="icon edit sb-color-primary ui fs-0-92"></i>
                    <span class="sb-color-primary">{{ resourceService?.frmelmnts?.lbl?.modifyNomination.button }}</span>
                  </div>
                  <span [ngClass]="{'pull-right': !(issourcingOrgAdmin && this.router.url.includes('/sourcing'))}">
                    <button *ngIf="(programsService.isProjectLive(program) || programsService.isProjectClosed(program))"
                      type="button"
                      class="sb-btn sb-btn-normal sb-btn-outline-primary mr-20"
                      (click)="viewDetailsBtnClicked(program)"
                      appTelemetryInteract
                      [telemetryInteractEdata]="getTelemetryInteractEdata('open', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                      [telemetryInteractObject]="telemetryInteractObject"
                      [telemetryInteractCdata]="getTelemetryInteractCdata(program.program_id,'project')"
                      [telemetryInteractPdata]="telemetryInteractPdata">{{ resourceService?.frmelmnts?.lbl?.open }}
                    </button>
                  </span>

                    <div *ngIf="issourcingOrgAdmin && this.router.url.includes('/sourcing') && program.status === 'Draft'" class="d-inline-block cursor-pointer pr-10 pl-5" (click)="editOnClick(program)"
                    appTelemetryInteract
                    [telemetryInteractEdata]="getTelemetryInteractEdata('edit_draft', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                    [telemetryInteractObject]="telemetryInteractObject"
                    [telemetryInteractCdata]="getTelemetryInteractCdata(program.program_id,'project')"
                    [telemetryInteractPdata]="telemetryInteractPdata">
                      <i class="icon edit sb-color-primary ui fs-0-92"></i>
                      <span class="sb-color-primary">{{resourceService.frmelmnts.lbl.editDraft}}</span>
                    </div>
                  <div *ngIf="issourcingOrgAdmin && this.router.url.includes('/sourcing')" class="px-0 d-inline-block">
                    <div class="sb-dock-icon-tooltip d-inline-block">
                      <i *ngIf="programsService.isProjectLive(program)" class="icon edit sb-color-primary cursor-pointer ui fs-0-785 px-5 va-text-sup" data-tooltip="Modify" (click)="editOnClick(program)"
                      appTelemetryInteract
                    [telemetryInteractEdata]="getTelemetryInteractEdata('modify', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                    [telemetryInteractObject]="telemetryInteractObject"
                    [telemetryInteractCdata]="getTelemetryInteractCdata(program.program_id,'project')"
                    [telemetryInteractPdata]="telemetryInteractPdata"></i>

                     <i *ngIf="program.status === 'Draft' || programsService.isProjectClosed(program)" (click)="setDelete(program, i)" class="icon trash sb-color-primary cursor-pointer ui fs-0-785 va-text-sup ml-5" data-tooltip="Delete"
                    appTelemetryInteract
                    [telemetryInteractEdata]="getTelemetryInteractEdata('delete', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                    [telemetryInteractObject]="telemetryInteractObject"
                    [telemetryInteractCdata]="getTelemetryInteractCdata(program.program_id,'project')"
                    [telemetryInteractPdata]="telemetryInteractPdata"></i>
                      <a *ngIf="issourcingOrgAdmin && this.router.url.includes('/sourcing')" class="p-0 ml-15 va-top" tabindex="0">
                        <div *ngIf="programsService.isProjectLive(program)" suiDropdown
                          class="ui dropdown right top pointing">
                          <span class="sb-dotmenu"></span>
                          <div class="menu" suiDropdownMenu>
                            <a class="item" (click)="setDelete(program, i)">
                              <i class="icon trash sb-color-primary cursor-pointer ui fs-0-785" data-tooltip="Delete"
                                appTelemetryInteract
                                [telemetryInteractEdata]="getTelemetryInteractEdata('delete', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                                [telemetryInteractObject]="telemetryInteractObject"
                                [telemetryInteractCdata]="getTelemetryInteractCdata(program.program_id,'project')"
                                [telemetryInteractPdata]="telemetryInteractPdata"></i>{{resourceService.frmelmnts.lbl.delete}}
                            </a>
                            <a class="item" (click)="setClose(program)">
                              <i class="icon close sb-color-primary cursor-pointer ui fs-0-785" data-tooltip="Close"></i>Close
                            </a>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-template #noResult>
          <div class="ui tweleve wide column mb-20">
            <app-loader *ngIf="showLoader"></app-loader>
          </div>
          <app-no-result *ngIf="!showLoader" [data]="{messageText: resourceService?.messages?.stmsg?.m0006}"></app-no-result>
        </ng-template>
      <!-- </ng-container> -->
    </div>
  </div>
</div>
<sui-modal *ngIf="showCloseModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal" appBodyScroll (dismissed)="showCloseModal = false" #modal>
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.lbl.closeProject}}
  </div>
  <div class="sb-modal-content">
   {{resourceService.frmelmnts.lbl.closeConfirmation}}
  </div>
  <div class="sb-modal-actions" (click)="closeProject($event)"
  appTelemetryInteract
  [telemetryInteractEdata]="getTelemetryInteractEdata('yes', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.submit, telemetryPageId, {key:'dialog_id',value:'close_project'})"
  [telemetryInteractObject]="telemetryInteractObject"
  [telemetryInteractCdata]="getTelemetryInteractCdata(program.program_id,'project')"
  [telemetryInteractPdata]="telemetryInteractPdata">
    <button class="sb-btn sb-btn-normal sb-btn-primary">
      {{resourceService.frmelmnts.btn.yes}}
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="showCloseModal = false"
    appTelemetryInteract
  [telemetryInteractEdata]="getTelemetryInteractEdata('no', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.cancel, telemetryPageId,{key:'dialog_id',value:'close_project'})"
  [telemetryInteractObject]="telemetryInteractObject"
  [telemetryInteractCdata]="getTelemetryInteractCdata(program.program_id,'project')"
  [telemetryInteractPdata]="telemetryInteractPdata">
      {{resourceService.frmelmnts.btn.no}}
    </button>
  </div>
</sui-modal>
<sui-modal *ngIf="showDeleteModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal" appBodyScroll (dismissed)="showDeleteModal = false" #modal>
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.lbl.deleteProject}}
  </div>
  <div class="sb-modal-content">
   {{resourceService.frmelmnts.lbl.areYouSureDeleteProject}}
  </div>
  <div class="sb-modal-actions" (click)="deleteProject($event)"
  appTelemetryInteract
  [telemetryInteractEdata]="getTelemetryInteractEdata('yes', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.submit, telemetryPageId, {key:'dialog_id',value:'delete_project'})"
  [telemetryInteractObject]="telemetryInteractObject"
  [telemetryInteractCdata]="getTelemetryInteractCdata(program.program_id,'project')"
  [telemetryInteractPdata]="telemetryInteractPdata">
    <button class="sb-btn sb-btn-normal sb-btn-primary">
      {{resourceService.frmelmnts.btn.yes}}
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="showDeleteModal = false"
    appTelemetryInteract
  [telemetryInteractEdata]="getTelemetryInteractEdata('no', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.cancel, telemetryPageId,{key:'dialog_id',value:'delete_project'})"
  [telemetryInteractObject]="telemetryInteractObject"
  [telemetryInteractCdata]="getTelemetryInteractCdata(program.program_id,'project')"
  [telemetryInteractPdata]="telemetryInteractPdata">
      {{resourceService.frmelmnts.btn.no}}
    </button>
  </div>
</sui-modal>

<sui-modal *ngIf="showModifyConfirmation" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal" appBodyScroll (dismissed)="showModifyConfirmation = false" #modal>
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.lbl.modifyNomination.heading}}
  </div>
  <div class="sb-modal-content">
   {{resourceService.frmelmnts.lbl.modifyNomination.confirm}}
  </div>
  <div class="sb-modal-actions" (click)="showModifyConfirmation = false;modifyNomination(program)">
    <button class="sb-btn sb-btn-normal sb-btn-primary">
      {{resourceService.frmelmnts.btn.yes}}
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="showModifyConfirmation = false">
      {{resourceService.frmelmnts.btn.no}}
    </button>
  </div>
</sui-modal>

<app-project-filter *ngIf="showFiltersModal"  (dismiss)="showFiltersModal = false" (applyFilters)="getProgramsListByRole($event)"
 [programs]="programs" [telemetryPageId]="telemetryPageId" [filtersAppliedCount]="filtersAppliedCount"> </app-project-filter>