<div class="ui container pb-48">
  <div class="sb-pageSection my-24">
    <div class="d-flex flex-ai-center flex-jc-space-between">
      <div class="sb-pageSection-header mb-0">
        <h4 class="sb-pageSection-title">
          <span *ngIf="!isContributor || activeMyProgramsMenu">{{ resourceService?.frmelmnts?.lbl?.myPrograms }} </span>
          <span *ngIf="activeAllProgramsMenu && programsService.checkforshowAllPrograms()">{{ resourceService?.frmelmnts?.lbl?.explorePrograms }} </span>
         </h4>
         <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning"
         *ngIf="!showLoader && programs !== undefined && programs.length">{{count}}
        </span>
      </div>
      <!-- <button routerLink="sourcing/create-program" *ngIf="this.router.url.includes('/sourcing')" class="sb-btn sb-btn-normal sb-btn-primary"><i class="plus outline icon"></i> Add New Program</button> -->
    </div>
    <div class="sb-pageSection-content mt-12">
      <!-- <ng-container *ngIf="programs !== undefined"> -->
        <ng-container *ngIf="!showLoader && programs !== undefined && programs.length else noResult">
          <div class="sb-table-responsive desktop-o-x-unset">
            <table class="sb-table sb-table-striped sb-table-sortable sb-table-nowrap">
            <thead class="sb-table-header sb-table-thead-gray">
              <tr>
                <th class="w-15 cursor-pointer sb-sorting" (click)="sortCollection('name')">
                  {{ resourceService?.frmelmnts?.lbl?.program }} &nbsp;&nbsp;
                  <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'name' "></i>
                  <span  *ngIf="sortColumn == 'name'" class="d-inline-block">
                    <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                  </span>
                </th>
                <th *ngIf="isContributor" class="w-10 cursor-pointer sb-sorting" (click)="sortCollection('sourcing_org_name')"
                appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('sort-program-name', 'click', 'program-list')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">{{resourceService?.frmelmnts?.lbl?.sourcingOrganisation }} &nbsp;&nbsp;
        <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'sourcing_org_name'"></i>
        <span *ngIf="sortColumn == 'sourcing_org_name'" class="d-inline-block">
          <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
          <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
        </span></th>
                <th class="w-10">{{ resourceService?.frmelmnts?.lbl?.contentType }}</th>
                <th class="w-15">{{ resourceService?.frmelmnts?.lbl?.MediumClassSubject }}</th>
                <th *ngIf="!isContributor" class="w-10">{{ resourceService?.frmelmnts?.lbl?.programDates }}</th>
                <th *ngIf="activeMyProgramsMenu" class="w-10 cursor-pointer sb-sorting" (click)="sortCollection('createdon')">{{ resourceService?.frmelmnts?.lbl?.nominatedDate }}&nbsp;&nbsp;
                  <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'createdon'"></i>
                  <span *ngIf="sortColumn == 'createdon'" class="d-inline-block">
                    <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                  </span>
                </th>
                <th *ngIf="activeAllProgramsMenu" class="w-10">{{ resourceService?.frmelmnts?.lbl?.programDates }}</th>
                <th *ngIf="activeMyProgramsMenu && iscontributeOrgAdmin" class="w-5 text-center cursor-pointer sb-sorting" (click)="sortCollection('nomination_status')">{{ resourceService?.frmelmnts?.lbl?.status }} &nbsp;&nbsp;
                  <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'nomination_status' "></i>
                  <span  *ngIf="sortColumn == 'nomination_status'" class="d-inline-block">
                    <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                  </span>
                </th>
                <th *ngIf="activeMyProgramsMenu && !iscontributeOrgAdmin" class="w-5 text-center">{{ resourceService?.frmelmnts?.lbl?.myRole }}</th>
                <th class="w-10 text-center"> &nbsp;</th>
              </tr>
            </thead>
            <tbody class="sb-table-body">
              <tr *ngFor="let program of programs; let i = index;">
                <td>
                  <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                    {{program?.name}}
                  </div>
                  <div class="sb__ellipsis sb__ellipsis--three">{{ getProgramTextbooksCount(program) }}</div>
                  <div *ngIf="activeMyProgramsMenu" class="sb-label-value mt-4">{{ getProgramInfo(program, 'board') }}</div>
                </td>
                <td *ngIf="isContributor" >
                  <div>{{ getSourcingOrgName(program) }}
                  </div>
                </td>
                <td class="mouse-pointer">
                  <div  class=" ui icon" [attr.data-tooltip]="getProgramContentTypes(program)"><span class="sb__ellipsis sb__ellipsis--breakAll">{{ getProgramContentTypes(program) }}</span></div>
                </td>
                <td class="mouse-pointer">
                  <div class="ui icon" [attr.data-tooltip]="getProgramInfo(program, 'medium')"><span class="sb__ellipsis sb__ellipsis--breakAll">{{ getProgramInfo(program, 'medium') }}</span></div>
                  <hr class="divider">

                  <div class="ui icon" [attr.data-tooltip]="getProgramInfo(program, 'gradeLevel')"><span class="sb__ellipsis sb__ellipsis--breakAll">{{ getProgramInfo(program, 'gradeLevel') }}</span></div>
                  <hr class="divider">
                  <div class="ui icon" [attr.data-tooltip]="getProgramInfo(program, 'subject')"><span class="sb__ellipsis sb__ellipsis--breakAll">{{ getProgramInfo(program, 'subject') }}</span></div>
                </td>

                <td *ngIf="!isContributor || activeAllProgramsMenu" class="nowrap">
                  <div class="program-timeline">
                    <div class="program-timeline-item">
                      <div class="status" [class.active]="isActive(program, 'nomination_enddate', i)" *ngIf="program.status !== 'Unlisted'">
                        <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.nominationSubmission }}</div>
                        <div class="status__date">
                          {{ program?.nomination_enddate | date:'LLLL d, yyyy'  }}
                          <em class="d-block" *ngIf="isActive(program, 'nomination_enddate', i)" [class.sb-color-warning]="isActive(program, 'nomination_enddate', i)">{{ program?.nomination_enddate | daysToGo  }}</em>
                        </div>
                      </div>
                    </div>
                         <div class="program-timeline-item">
                      <div class="status" [class.active]="isActive(program, 'shortlisting_enddate', i)" *ngIf="program.status !== 'Unlisted'">
                        <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.shortlistingNomination }}</div>
                        <div class="status__date">
                          {{ program?.shortlisting_enddate | date:'LLLL d, yyyy'  }}
                          <em class="d-block" *ngIf="isActive(program, 'shortlisting_enddate', i)" [class.sb-color-warning]="isActive(program, 'shortlisting_enddate', i)">{{ program?.shortlisting_enddate | daysToGo  }}</em>
                        </div>
                      </div>
                    </div>
                    <div class="program-timeline-item">
                      <div class="status" [class.active]="isActive(program, 'content_submission_enddate', i)">
                        <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.contributions }}</div>
                        <div class="status__date">
                          {{ program?.content_submission_enddate | date:'LLLL d, yyyy'  }}
                          <em class="d-block" *ngIf="isActive(program, 'content_submission_enddate', i)" [class.sb-color-warning]="isActive(program, 'content_submission_enddate', i)">{{ program?.content_submission_enddate | daysToGo  }}</em>
                        </div>
                      </div>
                    </div>
                    <div class="program-timeline-item" *ngIf="!isContributor">
                      <div class="status" [class.active]="isActive(program, 'enddate', i)">
                        <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.programEndDate }}</div>
                        <div class="status__date">
                          {{ program?.enddate | date:'LLLL d, yyyy' }}
                          <em class="d-block" *ngIf="isActive(program, 'enddate', i)" [class.sb-color-warning]="isActive(program, 'enddate', i)">{{ program?.enddate | daysToGo }}</em>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="activeMyProgramsMenu">
                  <div>
                    {{ program?.contributionDate | date:'LLLL d, yyyy' }}
                    <em class="d-block">{{ program?.contributionDate | daysToGo }}</em>
                    {{program?.type}}
                    <span class="sb-label sb-label-table sb-label-primary-100" *ngIf="activeMyProgramsMenu && !iscontributeOrgAdmin && program?.type!== 'Private'">{{ getProgramNominationStatus(program) }}</span>
                  </div>
                </td>
                <td *ngIf="activeMyProgramsMenu && iscontributeOrgAdmin" class="text-center">
                  <span  [ngClass]="{'sb-color-error':program.nomination_status  == 'Rejected','sb-color-success':program.nomination_status  == 'Approved','sb-color-warning':program.nomination_status  == 'Pending'}">{{ getProgramNominationStatus(program) }}</span>
                </td>
                <td *ngIf="activeMyProgramsMenu && !iscontributeOrgAdmin" class="text-center">
                  <div>{{ getMyProgramRole(program) }}</div>
                </td>
                <td class="text-center">
                     <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary" *ngIf="!isContributor" (click)="viewDetailsBtnClicked(program)"
                    appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('view-detail', 'click', 'program-list')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">{{ resourceService?.frmelmnts?.lbl?.open }}</button>
      <button class="sb-btn sb-btn-normal sb-btn-outline-primary"  *ngIf="isContributor" (click)="viewDetailsBtnClicked(program)"
                          appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('view-detail', 'click', 'program-list')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">{{ resourceService?.frmelmnts?.lbl?.open }}</button>
                    <!-- <div class="ui dropdown sb-btn sb-btn-normal sb-btn-outline-primary sb-btn-dropdown" suiDropdown autoClose="itemClick" *ngIf="isContributor">
                        <div class="text">{{ resourceService.frmelmnts.lbl.actions }}</div>
                        <i class="dropdown icon"></i>
                        <div class="menu" suiDropdownMenu>
                          <div class="item" (click)="viewDetailsBtnClicked(program)"
                          appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('view-detail', 'click', 'program-list')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">{{ resourceService.frmelmnts.lbl.open }}</div>
                          <div class="item" (click)="getContributionOrgUsers(program)" *ngIf="activeMyProgramsMenu && userService?.userProfile?.userRegData?.User_Org?.orgId"
                          appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('get-org-users', 'click', 'program-list')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">{{ resourceService.frmelmnts.lbl.assignRole }}</div>
                        </div>
                    </div>    -->
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-template #noResult>
          <div class="ui tweleve wide column mb-20">
            <app-loader *ngIf="showLoader"></app-loader>
          </div>
          <app-no-result *ngIf="!showLoader" [data]="{messageText: resourceService?.messages?.stmsg?.m0006}"></app-no-result>
        </ng-template>
      <!-- </ng-container> -->
    </div>
  </div>
</div>
<sui-modal *ngIf="showAssignRoleModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll (dismissed)="showAssignRoleModal = !showAssignRoleModal" #modal>
  <div class="sb-modal-header">
    Set Role
  </div>
  <div class="sb-modal-content">
    <table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-fixed">
      <thead class="sb-table-header sb-table-thead-gray">
        <tr>
          <th>Username</th>
          <th>Assign Role</th>
        </tr>
      </thead>
      <tbody class="sb-table-body">
        <tr *ngFor="let user of contributorOrgUser; let i = index">
          <td>{{user.firstName +' '+ user.lastName}}</td>
          <td>
            <ng-template let-option #optionTemplate>
              <div class="field m-0">
                <div class="template-checkbox">
                  <div class="p-5 option-text" title="{{option.name}}">
                    {{option.name}}
                  </div>
                  <div class="ml-auto">
                    <i class="square outline medium icon"></i>
                  </div>
                </div>
              </div>
            </ng-template>
            <sui-select class="selection" [(ngModel)]="user.selectedRole" labelField="name" [options]="options" valueField="name">
              <sui-select-option *ngFor="let option of roles;" [value]="option">
              </sui-select-option>
            </sui-select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="sb-modal-actions">
    <button
      class="sb-btn sb-btn-normal sb-btn-success"
      (click)="assignRolesToOrgUsers();"
    >
      Submit
    </button>
  </div>
</sui-modal>
