<div class="pt-10 fs-0-92 sb-w-85">
  <label class="fs-0-92">Options<span class="sb-required">*</span></label>
  <i class="icon info circle ml-8"></i>
  <span class="divider mr-8"></span>
  <span *ngFor="let template of mcqTemplateConfig">
    <i class="{{template.class}}" [ngClass]="{active: template.templateType === templateType}" (click)="setTemplete(template.templateType)"></i>
  </span>
</div>
<label *ngIf="showFormError && !editorState.answer" class="ui basic red error label pt-1 mt-10">Select one correct
  answer</label>
<div class="d-flex pt-10 flex-dc sb-mcq-form">
  <div class="d-flex sb-mcq-item mb-15" *ngFor="let option of editorState.options; let i = index">
    <div class="sb-w-85 sb-ckeditor relative">
      <button [disabled]="editorState.options.length < 3" class="sb-btn sb-ckeditor-close absolute"
        (click)="editorState.deleteOption(i);editorDataHandler($event);" 
        appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('delete_option', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.submit, telemetryPageDetails.telemetryPageId)"
        [telemetryInteractObject]="programTelemetryService.getTelemetryInteractObject(questionMetaData?.data?.metadata?.identifier, 'Question', '1.0')"
        [telemetryInteractCdata]="telemetryPageDetails.telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryPageDetails.telemetryInteractPdata">
        <i class="icon close"></i>
      </button>
      <app-ckeditor-tool (editorDataOutput)="option.body = $event.body; option.length = $event.length; editorDataHandler($event)"
        [editorConfig]="editorConfig" [editorDataInput]="option.body" [setCharacterLimit]="setCharacterLimit"
        [setImageLimit]="setImageLimit" class="ckeditor-tool__option mb-24"
        [class.mb-5]="showFormError && ([undefined, ''].includes(option.body) || option.length > setCharacterLimit)">
      </app-ckeditor-tool>
      <label *ngIf="
          showFormError && (option.body === undefined || option.body === '')
        " class="sb-color-error fs-0-785">Fill this option</label>
      <label *ngIf="option.length > setCharacterLimit" class="ui basic red error label pt-1">Please reduce the
        size</label>
    </div>
    <div class="sb-checkbox sb-checkbox-primary pl-10" [class.selected]="editorState.answer === i.toString()">
      <input type="radio" id="answer_{{ i + 1 }}" name="example" value="{{ i }}"  (change)="editorDataHandler($event);"
      appTelemetryInteract
      [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('mark_as_right_anwser', configService.telemetryLabels.eventType.click, undefined, telemetryPageDetails.telemetryPageId, {answer:i.toString()})"
      [telemetryInteractObject]="programTelemetryService.getTelemetryInteractObject(questionMetaData?.data?.metadata?.identifier, 'Question', '1.0')"
      [telemetryInteractCdata]="telemetryPageDetails.telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryPageDetails.telemetryInteractPdata"
      [(ngModel)]="editorState.answer" [ngModelOptions]="{ standalone: true }" [checked]="editorState.answer === i.toString()" />
      <label for="answer_{{ i + 1 }}" class="mr-0 fs-0-785">Correct answer</label>
    </div>
  </div>
  <div class="d-flex">
    <button *ngIf="editorState.options.length < 4"
class="sb-btn sb-btn-outline-primary sb-btn-xs sb-left-icon-btn text-inherit b-0 bg-none no-hover pl-0"
(click)="editorState.addOptions();editorDataHandler($event);"
      appTelemetryInteract
      [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('add_option', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.launch, telemetryPageDetails.telemetryPageId)"
      [telemetryInteractObject]="programTelemetryService.getTelemetryInteractObject(questionMetaData?.data?.metadata?.identifier, 'Question', '1.0')"
      [telemetryInteractCdata]="telemetryPageDetails.telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryPageDetails.telemetryInteractPdata">
      <i class="plus circle icon fs-1-286 pull-left mr-0"></i><span class="sb-line-height-24">Add option</span>
    </button>
  </div>
</div>