@import "variables";

.sb-w-85{
  width: 85%;
}
sui-select {
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-size: 0.8rem;
  padding: 0.4rem 0.2rem;
  background: #fff;
}
.dropdown.icon {
  float: right !important;
}
.menu {
  width: 100%;
}
.solution-media {
  &__video {
    width: 166px;
    height: 96px;
    .overlay-image {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      left: 0;
      right: 0;
      cursor: pointer;
      z-index: 1;
    }
    .overlay-image .play.icon {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      color: rgba(255, 255, 255, 0.6);
      font-size: $base-block-space * 4;
      cursor: pointer;
      height: auto;
    }
  }
  &__desc {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    max-width: 180px;
    height: 96px;
    display: flex;
    align-items: flex-end;
    line-height: normal;
    line-height: 13px;
  }
}

.ckeditor-tool__option, 
.ckeditor-tool__question{
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  border-top: 0;
  position: relative;
  display: flow-root;
}
.ckeditor-tool__solution{
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  margin-bottom: -4px;
}
.solution_video{
  .ckeditor-tool__option{
    border:0;
  }
}
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar{
  border-radius: 4px !important;
}
.solution_html,
.solution_video
{
  .sb-ckeditor{
    .sb-ckeditor-close{
      right: 5px;
      top: -30px;
      border: 0;
      background: none;
      min-width: auto;
      padding: 0;
      color: var(--gray-200);
      .icon.close{
        &:before{
          content: url("assets/images/cancel-sign.png");
        }
      }
    }
  }
}
.sb-ckeditor{
  .sb-ckeditor-close{
    right: -5px;
    top: -22px;
    border: 0;
    background: none;
    min-width: auto;
    padding: 0;
    color: var(--gray-200);
    .icon.close{
      &:before{
        content: url("assets/images/cancel-sign.png");
      }
    }
  }
}
.sb-mcq-form{
  .sb-mcq-item:nth-child(4){
    .sb-ckeditor{
      .ckeditor-tool__option{
        margin-bottom: 0 !important;
      }
    }
  }
}

.q-sb-layout-single{
  &:before{
    content: url("assets/images/layoutoneicon.svg");
  }
  &.active,
  &:hover
  {
    &:before{
      content: url("assets/images/layoutoneicon_blue.svg");
    } 
  }
}
.q-sb-layout-two{
  &:before{
    content: url("assets/images/layouttwoicon.svg");
  }
  &.active,
  &:hover
  {
    &:before{
      content: url("assets/images/layouttwoicon_blue.svg");
    } 
  }
}
.q-sb-layout-three{
  &:before{
    content: url("assets/images/layoutthreeicon.svg");
  }
  &.active,
  &:hover
  {
    &:before{
      content: url("assets/images/layoutthreeicon_blue.svg");
    } 
  }
}
.q-sb-layout-imgoption{
  &:before{
    content: url("assets/images/imageicon.svg");
  }
  &.active,
  &:hover
  {
    &:before{
      content: url("assets/images/imageicon_blue.svg");
    } 
  }
}
.q-sb-layout-alignleft{
  &:before{
    content: url("assets/images/leftalignicon.svg");
  }
  &.active,
  &:hover
  {
    &:before{
      content: url("assets/images/leftalignicon_blue.svg");
    } 
  }
}
.q-sb-layout-aligncenter{
  &:before{
    content: url("assets/images/middlealignicon.svg");
  }
  &.active,
  &:hover
  {
    &:before{
      content: url("assets/images/middlealignicon_blue.svg");
    } 
  }
}
.q-sb-layout-alignright{
  &:before{
    content: url("assets/images/rightalignicon.svg");
  }
  &.active,
  &:hover
  {
    &:before{
      content: url("assets/images/rightalignicon_blue.svg");
    } 
  }
}