<div class="ui container">
  <div class="mt-24 mb-10">
    <div class="d-flex flex-jc-space-between d-flex sb-pageSection">
      <div>
        <div class="sb-color-primary d-inline-block br-2 pr-10 mr-10">
          <span class="fs-1-286 font-weight-bold">2045</span>
          Total
        </div>
        <div class="sb-color-gray-100 d-inline-block br-2 pr-10 mr-10">
          <span class="fs-1-286 font-weight-bold">192</span>
          Draft
        </div>
        <div class="sb-color-success d-inline-block pr-10">
          <span class="fs-1-286 font-weight-bold">192</span>
          Live
        </div>
      </div>
      <div class="d-flex flex-jc-space-between">
        <div class="sb-search-box medium mb-15">
          <div class="input-div relative">
            <i class="search icon"></i>
            <input class="sb-search-input" type="text" placeholder="Search..." />
            <i class="close icon"></i>
          </div>
          <button class="sb-btn sb-btn-normal">Search</button>
        </div>
        <div class="d-flex">
          <button class="sb-btn sb-btn-normal sb-btn-outline-primary mx-10" type="button"><i class="filter icon"></i>
            Apply Filter</button>
          <button class="px-10 sb-btn sb-btn-primary sb-btn-normal"><i class="plus outline icon"></i>Create</button>
        </div>
      </div>

    </div>
    <div class="sb-pageSection-content">
      <div class="sb-table-responsive desktop-o-x-unset">
        <app-content-list></app-content-list>
      </div>
      <div class="sb-pageSection-content-bottom">
        <div class="d-flex flex-ai-center flex-jc-space-between my-20">
          <div>
            <a class="sb-color-primary fs-0-785 font-weight-bold" target="_blank" href="#">Download Course QR
              Codes</a>
          </div>
          <div class="sb-pagination-container">
            <div class="sb-pagination">
              <a class="sb-item">&laquo;</a>
              <a class="sb-item">&lt;</a>
              <a class="sb-item sb-item-active">1</a>
              <a class="sb-item no-border">...</a>
              <a class="sb-item">10</a>
              <a class="sb-item">11</a>
              <a class="sb-item">12</a>
              <a class="sb-item">&gt;</a>
              <a class="sb-item">&raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
