<extension-point [name]="'content-manager'" *ngIf="isOffline && !showDownloadmanager"></extension-point>
<footer class="footer 
" *ngIf="showFooter && !isOffline" #footerFix>
  <div class="ui container">
    <div class="ui grid stackable m-0 p-0">
      <div class="four wide column footerMenu mr-auto">
        <ul class="p-0 m-0 d-flex flex-dc flex-jc-space-between">
          <li class="mb-15">
            <a appTelemetryInteract [telemetryInteractEdata]="setTelemetryInteractEdata('help_center')"
              [routerLink]="router.url.includes('/contribute') ? '/contribute/help' : '/sourcing/help'" target="_blank"
              *ngIf="router.url.includes('/contribute') || router.url.includes('/sourcing')">
              {{resourceService.frmelmnts?.lnk?.footerHelpCenter}}
            </a>
          </li>
​
          <li class="mb-0">
            <label class="d-block mb-0">
              {{resourceService.frmelmnts?.lnk?.footerContact}}
            </label>
            <a appTelemetryInteract [telemetryInteractEdata]="setTelemetryInteractEdata('fresh_desk')" class="d-block mb-0"
            href="mailto:vdnsupport@teamdiksha.org">
            vdnsupport@teamdiksha.org
          </a>
          </li>
        </ul>
      </div>
      <div class="four wide column contantDetails d-flex flex-dc flex-jc-space-between">
        <label class="d-block">
          <a appTelemetryInteract [telemetryInteractEdata]="setTelemetryInteractEdata('terms_and_policies')" target="_blank" href="/terms-of-use.html">
            {{resourceService.frmelmnts?.lnk?.footerTnC}}
          </a>
          <span>| &copy; {{date | date:'yyyy'}}, DIKSHA</span>
        </label>
        <label class="sb-footer-license mb-0">
          <span><img src="/assets/images/CCby.svg"> {{resourceService.frmelmnts?.lbl?.CCbyLicense}}</span>
        </label>
      </div>
    </div>
  </div>
</footer>