@import "variables";
@import "mixins/mixins";

.progressbar {
	text-align: center;
	width:100%;
  font-size: 1rem;
}
.counter div.status {
	background-color: white;
	display: inline-block;
	border: 1px solid grey;
	border-radius: 50%;
	width: 4em;
    line-height: 3.88em;
  vertical-align: top;
  z-index: 99;
	position: relative;
}

.counter td {
	cursor: pointer;
	text-align: center;
	position: relative;
}

.counter span {
	position: absolute;
	top: 2em;
	left: -50%;
	width: 100%;
	border-top: 5px solid grey;
	z-index: 1;
}

.progressbar .counter .active div.status{
	border-color: var(--primary-400);
  color: var(--white);
  background-color: var(--primary-400);
}
.progressbar .counter .active span {
  border-color: var(--secondary-200);
}
.progressbar .counter .completed div.status{
	border-color: var(--secondary-200);
  color: var(--white);
  background-color: var(--secondary-200);
  strong {
    visibility:hidden;
  }
  &::after {
    content: '\2713';
    font-weight: bold;
    zoom: 2;
    position: absolute;
    left: 0px;
    right: 0px;
  }
}

.progressbar .counter div.status{
	border-color: var(--gray-100);
  color: var(--black);
  background-color: var(--gray-100);
  content: '\2713';
}
/*.counter td:not(:first-child):before
	content: '';
	position: absolute;
	top: 2em;
	display: block;
	border-top: 2px solid grey;
}*/

.progressbar .descriptions {
  label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-400);
  }
  .completed {
    label {
      color:var(--secondary-400);
    }
  }
  td {
    padding:1rem;
    vertical-align: top;
    width: 25%;
  }
 

}


.sb-profile-page{
    &__avatar{
        width: 92px;
        height: 92px;
        margin: 0 auto;
    }
    &__location-label{
        color: var(--gray-200);
    }
    &__right-aligned-button {
        margin-top: calculateRem(16px);
        @include respond-above(sm) {
            position: absolute;
            margin-top: 0;
            right: 12%;
            bottom: calculateRem(8px);
        }
    }
    &__profile-bg{
        background: var(--primary-100);
        background:#E0EFFF;
    }
    &__category , &__m-responsive-flex-dc{
        flex-direction: row;   
        margin-top: calculateRem(16px);
 
        @include respond-below(sm) {
            flex-wrap:wrap;
            margin-top: calculateRem(0px);
        }
    }
    .max-w-400{
        max-width: 480px;
    }
}

.sbgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(292px, 1fr));
    grid-gap: 1rem;
  }
  .sbcard {
    width: 292px;
    max-width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out,-webkit-transform .3s ease-out;
    transition-delay: .1s;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.16);
    &.active {
      background: var(--primary-100);
    }
    &:hover {
      transform: translate(0,-3px);
    }
    @include respond-above(sm) {
      border-radius: 2px;
      border-bottom: 0px solid $gray-0;
    }
    &__main_area {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px;
      height: 88px;
    }
    .sbcard__img {  
      height: 100%;
      overflow: hidden;
      // margin-right: 8px;
      flex: 0 0 72px;
      img {
        width: 100%;
        height: 100%;
      }
      &--full-width {
        flex: 0 0 80px;
      }
    }
    &__title {
      font-size: 14px;
      margin-bottom: 4px;
      line-height: normal;
    }
    &__meta1 {
      color: #333;
      font-size: 12px;
      display: inline-flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
      display: -webkit-box;
      -webkit-line-clamp: 2;
  
    }
    &__moreinfo {
      border-top: 1px solid #e9e5e5;
      border-radius: 0 0 2px 2px;
      background-color: #fafafa;
      display: flex;
      flex-direction: row;
      // align-items: flex-start;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      min-height: 56px;
    }
    &__meta2 {
      color: #666666;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 1024px) {
    .sb__DesktopOnly {
      display: none;
    }
  }

  .hand :hover {
    cursor: pointer;
  }
