<div *ngIf="currentStage === 'listNominatedTextbookComponent'">

	<div class="sb-bg-color-primary-0 practical-header py-16">
		<div class="d-flex  flex-jc-space-between practical-header__content ui container pt-10">

			<div class="practical-header__title flex-basis-1 w-20">
				<h5 class="m-0 p-0 font-weight-bold d-inline-block">{{ programDetails?.name }} </h5>
				<i class="info circle link icon" suiPopup [popupTemplate]="popupTemplate" popupDelay="1000"></i>
					<ng-template #popupTemplate>
						<div class="content">
							<div class="textbook-details ml-8">
								<div class="header"><strong>{{ resourceService?.frmelmnts?.lbl?.mediums }}</strong></div>
								<div class="content">
									<label class="d-block fsmall font-weight-normal mb-0">{{ mediums }}</label>
								</div>
								<hr />
								<div class="header"><strong>{{ resourceService?.frmelmnts?.lbl?.class }}</strong></div>
								<div class="content">
									<label class="d-block fsmall font-weight-normal mb-0">{{ grades }}</label>
								</div>
								<hr />
								<div class="header">
									<strong>{{ resourceService?.frmelmnts?.lbl?.expressionOfInterestDate }}</strong>
								</div>
								<div class="content">
									<label class="d-block fsmall font-weight-normal mb-0">
										{{ programDetails?.nomination_enddate |  date:'LLLL d, yyyy'  }}
									</label>
								</div>
								<hr />
								<div class="header">
									<strong>{{ resourceService?.frmelmnts?.lbl?.shortlistingOfContributorDate }}</strong>
								</div>
								<div class="content">
									<label class="d-block fsmall font-weight-normal mb-0">
										{{ programDetails?.shortlisting_enddate |  date:'LLLL d, yyyy'  }}
									</label>
								</div>
								<hr />
								<div class="header">
									<strong>{{ resourceService?.frmelmnts?.lbl?.contentSubmissionDate }}</strong>
								</div>
								<div class="content">
									<label class="d-block fsmall font-weight-normal mb-0">
										{{ programDetails?.content_submission_enddate |  date:'LLLL d, yyyy'  }}
									</label>
								</div>
								<hr />
								<div class="header">
									<strong>{{ resourceService?.frmelmnts?.lbl?.programEndDate }}</strong>
								</div>
								<div class="content">
									<label class="d-block fsmall font-weight-normal mb-0">
										{{ programDetails?.enddate |  date:'LLLL d, yyyy'  }}
									</label>
								</div>
							</div>
						</div>
					</ng-template>
				<p class="fs-0-785 font-weight-normal pr-10 sb__ellipsis sb__ellipsis--three">{{ programDetails?.description }}</p>
			</div>
			<div class="sb-meta-data-container sb-meta-data-column px-10 w-20">
				<label class="m-0">{{ resourceService.frmelmnts.lbl.contentType}}</label>
				<p class="sb__ellipsis sb__ellipsis--one cursor-pointer" suiPopup popupHeader="{{resourceService.frmelmnts.lbl.contentType}}" popupText="{{ programContentTypes }}"><span>{{ programContentTypes }}</span></p>
			</div>
				<!-- <div class="sb-meta-data-container sb-meta-data-column px-10">
					<label class="width-100">Content Status </label>
					<div class="d-flex">
						<dl class="sb-meta-data">
							<dt>0</dt>
							<dd>Initiated</dd>
						</dl>
						<dl class="sb-meta-data">
							<dt>3</dt>
							<dd>Pending</dd>
						</dl>
						<dl class="sb-meta-data">
							<dt>0</dt>
							<dd>Approved</dd>
						</dl>
						<dl class="sb-meta-data">
							<dt>0</dt>
							<dd>Rejected</dd>
						</dl>
						<dl class="sb-meta-data">
							<dt>3</dt>
							<dd>Total</dd>
						</dl>
					</div>
				</div> -->
			<ng-container *ngIf="programDetails">
				<div class="program-timeline px-10">
				  <div class="program-timeline-item">
					<div class="status" [class.active]="activeDate === 'nomination_enddate'">
					  <div class="status__label">{{resourceService.frmelmnts.lbl.nominationEndDate}}</div>
					  <div class="status__date">
						{{ programDetails?.nomination_enddate |  date:'LLLL d, yyyy'  }}
						<br/>
						<em [class.sb-color-warning]="activeDate === 'nomination_enddate'" *ngIf="activeDate === 'nomination_enddate'">{{ programDetails?.nomination_enddate | daysToGo  }}</em>
					  </div>
					</div>
				  </div>
				  <div class="program-timeline-item">
					<div class="status"  [class.active]="activeDate === 'shortlisting_enddate'">
					  <div class="status__label">{{resourceService.frmelmnts.lbl.shortlistingNomination}}</div>
					  <div class="status__date">
						{{ programDetails?.shortlisting_enddate |  date:'LLLL d, yyyy'  }}
						<br/>
						<em [class.sb-color-warning]="activeDate === 'shortlisting_enddate'" *ngIf="activeDate === 'shortlisting_enddate'">{{ programDetails?.shortlisting_enddate | daysToGo  }}</em>
					  </div>
					</div>
				  </div>
				  <div class="program-timeline-item">
					<div class="status"  [class.active]="activeDate === 'content_submission_enddate'">
					  <div class="status__label">{{resourceService.frmelmnts.lbl.contributionReview}}</div>
					  <div class="status__date">
						{{ programDetails?.content_submission_enddate |  date:'LLLL d, yyyy'  }}
						<br/>
						<em [class.sb-color-warning]="activeDate === 'content_submission_enddate'" *ngIf="activeDate === 'content_submission_enddate'">{{ programDetails?.content_submission_enddate | daysToGo  }}</em>
					  </div>
					</div>
				  </div>
				  <div class="program-timeline-item">
					<div class="status" [class.active]="activeDate === 'enddate'">
					  <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.programEndDate }}</div>
					  <div class="status__date">
						{{ programDetails?.enddate |  date:'LLLL d, yyyy'  }}
						<br/>
						<em [class.sb-color-warning]="activeDate === 'enddate'" *ngIf="activeDate === 'enddate'">{{ programDetails?.enddate | daysToGo  }}</em>
					  </div>
					</div>
				  </div>
				</div>
			  </ng-container>
			<div class="sb-meta-data-container sb-meta-data-column px-10">
				<div class='practical-sb-buttons' *ngIf="nominationDetails && nominationDetails.status">
					<label class="m-0">{{ resourceService.frmelmnts.lbl.status }}</label>
					<p [ngClass]="{'sb-color-success':nominationDetails.status == 'Approved','sb-color-error':nominationDetails.status == 'Rejected','sb-color-warning':nominationDetails.status == 'Pending'}">{{ nominationDetails?.status }}</p>
				</div>
			</div>
			<div class="sb-meta-data-container sb-meta-data-column  px-10">
				<div *ngIf="nominated && nominationDetails.status=='Rejected'">
					<label class="m-0">{{ resourceService.frmelmnts.lbl.reasonsForRejection }}</label>
					<p class="sb__ellipsis sb__ellipsis--one cursor-pointer" suiPopup popupHeader="{{resourceService.frmelmnts.lbl.reasonsForRejection}}" popupText="{{nominationDetails?.feedback}}">{{ nominationDetails?.feedback }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="sb-bg-color-primary-100">
		<sui-tabset>
			<div class="ui pointing secondary menu sb-bg-color-primary-100">
				<div class="ui container p-0 m-0 d-flex flex-ai-center flex-jc-center">
					<div class="item active cursor-pointer" suiTabHeader="2">{{ resourceService?.frmelmnts?.lbl?.textbooks }}<span class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">{{contributorTextbooks.length || 0}}</span></div>
					<div class="item cursor-pointer" *ngIf="isUserOrgAdmin()" suiTabHeader="3">{{resourceService.frmelmnts.lbl.assignUsersToProject}} <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">{{ OrgUsersCnt}}</span></div>
				</div>
			</div>

			<div class="ui segment p-0 m-0 mt-4 sb-bg-color-white dynamicHeight" isActive='true' suiTabContent="2">
				<div class="ui container p-0 m-0">
				<div class="pt-24 text-capitalize fs-0-785 line-height-1-3 sb-pageSection-document">
					<div *ngIf="isUserOrgAdmin()" class="sb-color-gray-100 d-inline-block br-2 pr-10"><span class="fs-1-286 font-weight-bold">{{contentStatusCounts.draft || 0}}</span> {{resourceService.frmelmnts.lbl.drafts}}</div>
					<div *ngIf="isUserOrgAdmin()" class="sb-color-primary d-inline-block br-2 px-10"><span class="fs-1-286 font-weight-bold">{{contentStatusCounts.review || 0}}</span> {{resourceService.frmelmnts.lbl.pendingReview}}</div>
					<div *ngIf="isUserOrgAdmin()" class="sb-color-error d-inline-block br-2 px-10"><span class="fs-1-286 font-weight-bold">{{contentStatusCounts.rejected || 0}}</span> {{resourceService.frmelmnts.lbl.rejected}}</div>
					<div *ngIf="isUserOrgAdmin()" class="sb-color-success d-inline-block px-10"><span class="fs-1-286 font-weight-bold">{{contentStatusCounts.live || 0}}</span> {{resourceService.frmelmnts.lbl.sentForApproval}}</div>
					<a class="fs-0-785 text-decor-none font-weight-bold pull-right sb-color-primary pt-5" href="{{ programDetails?.guidelines_url }}" target="_blank" *ngIf="programDetails?.guidelines_url" [ngClass]="{'mb-10': !isUserOrgAdmin()}">
						<i class="file sb-file-icon outline icon pr-10 sb-color-primary"></i>
						{{ resourceService.frmelmnts.lbl.viewGuidelinesDocument }}
					</a>
				</div>
					<div class="sb-pageSection" [appTelemetryImpression]="telemetryImpression">
						<div class="sb-bg-color-white pt-15" *ngIf="!showLoader">
							<div class="sb-table-responsive">
								<table class="sb-table sb-table-striped sb-table-sortable sb-table-nowrap">
									<thead class="sb-table-header sb-table-thead-gray">
										<tr>
											<th class="w-10 cursor-pointer sb-sorting" (click)="sortCollection('name')">
												{{resourceService.frmelmnts.lbl.textbook}} &nbsp;&nbsp;
												<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'name' "></i>
												<span  *ngIf="sortColumn == 'name'" class="d-inline-block">
													<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
													<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
												</span>
											</th>
											<th class="w-5 cursor-pointer sb-sorting" (click)="sortCollection('medium')">
												{{resourceService.frmelmnts.lbl.medium}} &nbsp;&nbsp;
												<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'medium' "></i>
												<span  *ngIf="sortColumn == 'medium'" class="d-inline-block">
													<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
													<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
												</span>
											</th>
											<th class="w-5 cursor-pointer sb-sorting" (click)="sortCollection('gradeLevel')">
												{{resourceService.frmelmnts.lbl.Class}} &nbsp;&nbsp;
												<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'gradeLevel' "></i>
												<span  *ngIf="sortColumn == 'gradeLevel'" class="d-inline-block">
													<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
													<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
												</span>
											</th>
											<th class="w-5 cursor-pointer sb-sorting" (click)="sortCollection('subject')">
												{{resourceService.frmelmnts.lbl.subject}} &nbsp;&nbsp;
												<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'subject' "></i>
												<span  *ngIf="sortColumn == 'subject'" class="d-inline-block">
													<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
													<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
												</span>
											</th>
											<th *ngIf="isUserOrgAdmin()" class="w-15">{{resourceService.frmelmnts.lbl.contentStatus}}</th>
											<th class="w-5"></th>
										</tr>
									</thead>
									<tbody class="sb-table-body" *ngIf="contributorTextbooks.length">
										<tr *ngFor="let contributorTextbook of contributorTextbooks; let i = index;">
											<td class="hand">
												{{contributorTextbook.name}}
											</td>
											<td>{{contributorTextbook.medium}}</td>
											<td>{{contributorTextbook.gradeLevel}}</td>
											<td>{{contributorTextbook.subject}}</td>
											<td *ngIf="isUserOrgAdmin()">
												<div class="text-capitalize fs-0-785">
													<span class="sb-color-primary d-inline-block br-2 pr-5">{{contributorTextbook.reviewCount || 0}}  {{resourceService.frmelmnts.lbl.pending}}</span>
													<span class="sb-color-error d-inline-block br-2 px-5">{{contributorTextbook.rejectedCount || 0}} {{resourceService.frmelmnts.lbl.rejected}}</span>
													<span class="sb-color-success d-inline-block px-5">{{contributorTextbook.liveCount || 0}} {{resourceService.frmelmnts.lbl.sentForApproval}}</span>
												</div>
											</td>
											<td>
												<button *ngIf="currentNominationStatus === 'Approved'"
												type="button"  class="sb-btn sb-btn-normal sb-btn-outline-primary"
												[disabled]="!canUploadContent()" (click)="viewContribution(contributorTextbook)" appTelemetryInteract
												[telemetryInteractEdata]="getTelemetryInteractEdata('upload-content', 'click', 'list-nominated-textbooks')"
												[telemetryInteractObject]="telemetryInteractObject"
												[telemetryInteractCdata]="telemetryInteractCdata"
												[telemetryInteractPdata]="telemetryInteractPdata">{{sessionContext.currentRole === 'CONTRIBUTOR' ?  resourceService.frmelmnts.lbl.uploadContent : resourceService.frmelmnts.lbl.reviewContent}}</button>
										</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="ui" *ngIf="showLoader">
							<app-loader></app-loader>
						</div>
					</div>
				</div>
			</div>
			<div class="ui segment p-0 m-0 mt-4 sb-bg-color-white dynamicHeight" suiTabContent="3">
				<div class="ui container">
					<div class="pt-24">
					  <div class="d-flex flex-ai-center flex-jc-space-between sb-pageSection">
						<div class="sb-pageSection-header">
						  <h4 class="sb-pageSection-title"> {{orgDetails.name}}</h4>
						  <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning">{{ OrgUsersCnt }}</span>
						</div>
					  </div>
					</div>
					<div class="sb-table-responsive desktop-o-x-unset" *ngIf="OrgUsersCnt > 0">
					  <table class="sb-table sb-table-striped sb-table-sortable sb-table-nowrap">
						<thead class="sb-table-header sb-table-thead-gray">
						  <tr>
							<th class="w-10 cursor-pointer sb-sorting" (click)="sortOrgUsers('name')">
								{{resourceService.frmelmnts.lbl.username}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="directionOrgUsers == '' || sortColumnOrgUsers != 'name' "></i>
								<span  *ngIf="sortColumnOrgUsers == 'name'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'desc'}"></i>
								</span>
							</th>
							<th class="w-10">{{resourceService.frmelmnts.lbl.emailOrMobile}}</th>
							<th class="w-5 cursor-pointer sb-sorting" (click)="sortOrgUsers('gradeLevel')">
								{{resourceService.frmelmnts.lbl.class}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="directionOrgUsers == '' || sortColumnOrgUsers != 'gradeLevel' "></i>
								<span  *ngIf="sortColumnOrgUsers == 'gradeLevel'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'desc'}"></i>
								</span>
							</th>
							<th class="w-5 cursor-pointer sb-sorting" (click)="sortOrgUsers('subject')">
								{{resourceService.frmelmnts.lbl.subject}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="directionOrgUsers == '' || sortColumnOrgUsers != 'subject' "></i>
								<span  *ngIf="sortColumnOrgUsers == 'subject'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'desc'}"></i>
								</span>
							</th>
							<th class="w-5 cursor-pointer sb-sorting" (click)="sortOrgUsers('contentTypes')">
								{{resourceService.frmelmnts.lbl.contentType}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="directionOrgUsers == '' || sortColumnOrgUsers != 'contentTypes' "></i>
								<span  *ngIf="sortColumnOrgUsers == 'contentTypes'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'desc'}"></i>
								</span>
							</th>
							<th class="w-5 cursor-pointer sb-sorting" (click)="sortOrgUsers('projectselectedRole')">
								{{resourceService.frmelmnts.lbl.roles}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="directionOrgUsers == '' || sortColumnOrgUsers != 'projectselectedRole' "></i>
								<span  *ngIf="sortColumnOrgUsers == 'projectselectedRole'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'desc'}"></i>
								</span>
							</th>
						  </tr>
						</thead>
						<tbody class="sb-table-body">
						  <tr *ngFor="let orgUser of contributorOrgUser; let i= index;">
							<td>{{orgUser.name}}</td>
							<td>
								<div *ngIf="orgUser?.maskedEmail">{{orgUser?.maskedEmail}}</div>
								<div *ngIf="orgUser?.maskedPhone"> {{orgUser?.maskedPhone}}</div>
							</td>
							<td>{{orgUser?.gradeLevel?.join(', ')}}</td>
							<td>{{orgUser?.subject?.join(', ')}}</td>
							<td>
								<div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold" style="width: 250px;">
									{{orgUser?.contentTypes?.join(', ')}}
								</div>
							</td>
							<td class="text-center">
								<div *ngIf="nominationDetails?.status === 'Rejected'; else elseBlock">
									{{ (orgUser?.projectselectedRole) ? orgUser.projectselectedRole : '-' }}
								</div>
								<ng-template #elseBlock>
									<sui-select class="selection pt-5" [(ngModel)]="orgUser.projectselectedRole" labelField="name" [options]="options" valueField="name"
									(selectedOptionChange)="onRoleChange(orgUser)">
										<sui-select-option *ngFor="let option of roles;" [value]="option">
										</sui-select-option>
									</sui-select>
								</ng-template>
							</td>
						  </tr>
						</tbody>
					  </table>
					</div>
					<div *ngIf="OrgUsersCnt > 0 && pager.totalPages > 1 && !showUsersLoader" class="sb-pagination-container flex-jc-flex-end pt-16">
						<div class="sb-pagination">
							<a class="sb-item" [ngClass]="{disabled:pager.currentPage===1 }" (click)="NavigateToPage(1)">First</a>
							<a [ngClass]="{disabled:pager.currentPage===1 }" class="sb-item" (click)="NavigateToPage(pager.currentPage - 1)" >Previous</a>
							<a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" (click)="NavigateToPage(page)" class="sb-item">{{page}}</a>
							<a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="NavigateToPage(pager.currentPage + 1)"  class="sb-item">Next</a>
							<a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="NavigateToPage(pager.totalPages)"  class="sb-item">Last</a>
						</div>
					  </div>
					<div class="mt-12" *ngIf="!showUsersLoader && OrgUsersCnt == 0">
						<app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0006'}"> </app-no-result>
					</div>
					  <div class="ui tweleve wide column mb-20" *ngIf="showUsersLoader">
						<app-loader></app-loader>
					  </div>
				</div>
			</div>
		</sui-tabset>
	</div>
</div>

<ng-container *ngIf="currentStage !== 'listNominatedTextbookComponent'">
	<ndc-dynamic [ndcDynamicComponent]="component" [ndcDynamicInputs]="dynamicInputs" [ndcDynamicOutputs]="outputs">
	</ndc-dynamic>
</ng-container>
