<div class="ui container" *ngIf="!showChapterList">
	<div class="sb-pageSection my-24 ui container" [appTelemetryImpression]="telemetryImpression">
		<div class="sb-pageSection-header row">
			<h4 class="sb-pageSection-title six">New Program FEB2020
					<ng-template #popupTemplate>
					<div class="content">
						<div class="textbook-details ml-8">
					<div class="d-flex flex-ai-center">
					  <span class="dot-separator"></span>
					  <label class="d-block fsmall font-weight-normal mb-0">Marathi, Hindi, English</label>
					</div>
					<div class="d-flex flex-ai-center">
					  <span class="dot-separator"></span>
					  <label class="d-block fsmall font-weight-normal mb-0">Grade 1, Grade 2</label>
					</div>
					<div class="d-flex flex-ai-center">
					  <span class="dot-separator"></span>
					  <label class="d-block fsmall font-weight-normal mb-0">
						Nomination End Date:  July 26th, 2019
					  </label>
					</div>
					<div class="d-flex flex-ai-center">
					  <span class="dot-separator"></span>
					  <label class="d-block fsmall font-weight-normal mb-0">
						Nomination Shortlisting Date:  Aug 5th, 2019
					  </label>
					</div>
					<div class="d-flex flex-ai-center">
					  <span class="dot-separator"></span>
					  <label class="d-block fsmall font-weight-normal mb-0">
						Contribution End Date:  Aug 20th, 2019
					  </label>
					</div>
					<div class="d-flex flex-ai-center">
					  <span class="dot-separator"></span>
					  <label class="d-block fsmall font-weight-normal mb-0">
						Program End Date:  Aug 30th, 2019
					  </label>
					</div>
					</div>
					</div>
				</ng-template>
			
				<i class="info circle link icon" suiPopup [popupTemplate]="popupTemplate"></i>
			</h4>
		</div>
		<div class="sb-pageSection-content mt-12">
			<label class="d-block fs-1 mb-4">Textbook List</label>

			<!-- <div class="ui grid">
				<div class="six wide column">
					<label class="fs-1 mb-4">Contributor: </label>
					<span class="hand"><a (click)="show=true" class="header text-decoration-underline">{{contributor.name}}</a></span>
				</div>
				<div class="six wide column">
					<button class="sb-btn ui positive basic button m-5" *ngIf="contributor?.nominationStatus === 'Pending'">Accept</button>
					<button class="sb-btn ui negative basic button m-5" *ngIf="contributor?.nominationStatus === 'Pending'">Reject</button>
					<span *ngIf="contributor?.nominationStatus === 'Accepted' || contributor?.nominationStatus === 'Rejected'">
						Status: {{contributor?.nominationStatus}}
					</span>
				</div>
			</div> -->
			
			<table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-fixed">
				<thead class="sb-table-header sb-table-thead-gray">
				  <tr>
					<th class="sb-sort-icon">Textbook</th>
					<th class="sb-sort-icon">Grade</th>
					<th class="sb-sort-icon">Medium</th>
					<th>Subjects</th>
					<th>Chapters</th>
					<th class="text-center">Action</th>
				  </tr>
				</thead>
				<tbody class="sb-table-body">

					<tr *ngFor="let contributorTextbook of contributorTextbooks">
					  <td class="hand">
						{{contributorTextbook.name}}
					  </td>
					  <td >{{contributorTextbook.gradeLevel}}</td>
					  <td>{{contributorTextbook.medium}}</td>
					  <td>{{contributorTextbook.subject}}</td>
					  <td>5</td>
					  <td class="text-center">
							<button class="sb-btn sb-btn-xs sb-btn-outline-primary" (click)="viewContribution()">Upload samples</button>
							<button class="sb-btn sb-btn-xs sb-btn-outline-primary">Review content</button>
					  </td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
</div>

<ng-container *ngIf="showChapterList">
	<ndc-dynamic [ndcDynamicComponent]="component" [ndcDynamicInputs]="dynamicInputs" [ndcDynamicOutputs]="outputs"></ndc-dynamic>
  </ng-container>