.question-alignment{
    font-size: 0.8125rem;
    line-height: 1;
    color: #212529;
    font-weight: bold;
}

.d-flex label{
    display: flex;
    width: 50%;
}
// .sui-scrolled{
//     overflow-y: scroll;
//     max-height: calc(100vh - 200px);
// }
.container-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(32rem, 1fr));
    grid-gap: 12px;
}

::ng-deep{
    .container-grid label span p{
        line-height: 0.9;
        margin-left: 0.2rem;
        display: inline;
    }
    .sb-modal .ui.modal.large{
        max-width: 75rem;
        max-height: 30rem;
        
    }
}
