<div class="ui container" [appTelemetryImpression]="telemetryImpression">
  <div class="my-24">
    <div class="d-flex flex-ai-center flex-jc-space-between">
      <div>
        <h4 class="sb-pageSection-title">{{orgName}}
          <!-- <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">3</span> -->
        </h4>
      </div>
      <div>
        <button class="sb-btn sb-btn-outline-primary sb-btn-normal ml-10 " (click)="showNormalModal = true"><i
            class="plus circle icon"
            appTelemetryInteract
            [telemetryInteractEdata]="getTelemetryInteractEdata('user-link', 'click', 'org-user-list')"
            [telemetryInteractObject]="telemetryInteractObject"
            [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata"></i> Invite a User</button>
      </div>
    </div>
  </div>
  <div class="sb-table-respoinsive">
    <app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0146'}"></app-no-result>
  </div>
   <!-- <div class="sb-table-respoinsive">
      <table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-nowrap">
        <thead class="sb-table-header sb-table-thead-gray">
          <tr>
            <th>S.No.</th>
            <th></th>
            <th>Username</th>
            <th>Mobile no.</th>
            <th>Grade/Subject</th>
            <th>Roles</th>
            <th>Programs</th>
          </tr>
        </thead>
        <tbody class="sb-table-body">
          <tr>
            <td>1</td>
            <td><button type="button" class="sb-btn sb-btn-outline-primary sb-btn-xs">Edit</button></td>
            <td>Nilesh</td>
            <td>**********</td>
            <td>Grade 4, English</td>
            <td>
              <div class="sb-label-value mt-4">Admin</div>
              <div class="sb-label-value mt-4">Reviewer</div>
            </td>
            <td>
              <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold" style="width: 250px;">
                Kerala Program name, AP Program name, Karnataka Program name, Tamilnadu Program name
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td><button type="button" class="sb-btn sb-btn-outline-primary sb-btn-xs">Edit</button></td>
            <td>Nitesh</td>
            <td>**********</td>
            <td>Grade 9, Mathematics</td>
            <td>
              <div class="sb-label-value mt-4">Admin</div>
              <div class="sb-label-value mt-4">Reviewer</div>
            </td>
           <td> <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold" style="width: 250px;">
            Kerala Program name, AP Program name, Karnataka Program name, Tamilnadu Program name
          </div></td>
          </tr>
          <tr>
            <td>3</td>
            <td><button type="button" class="sb-btn sb-btn-outline-primary sb-btn-xs">Edit</button></td>
            <td>Vaishali</td>
            <td>**********</td>
            <td>Grade 10, chemistry</td>
            <td>
              <div class="sb-label-value mt-4">Admin</div>
              <div class="sb-label-value mt-4">Reviewer</div>
            </td>
            <td>
              <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold" style="width: 250px;">
                Kerala Program name, AP Program name, Karnataka Program name, Tamilnadu Program name
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
</div>

<!-- Modal popup for share link -->
<sui-modal *ngIf="showNormalModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
  class="sb-modal" appBodyScroll (dismissed)="showNormalModal = !showNormalModal" #modal>
  <div class="sb-modal-header">
    {{ resourceService.frmelmnts.lbl.linkToShare }}
  </div>
  <div class="sb-modal-content">
    <p class="mb-8">{{ resourceService.frmelmnts.lbl.sharelink }}</p>
    <div class="ui action input fluid">
      <input name="title" readonly="" value="{{orgLink}}" type="text" class="" #inputLink>
      <button class="ui basic primary button" (click)="copyLinkToClipboard(inputLink)"
      appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('copy-link', 'click', 'org-user-list')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata"> {{ resourceService.frmelmnts.btn.copyLink }}
      </button>
    </div>
  </div>
</sui-modal>
