<div class="ui container" [appTelemetryImpression]="telemetryImpression">
  <div class="my-24">
    <div class="d-flex flex-ai-center flex-jc-space-between">
      <div>
        <h4 class="sb-pageSection-title">{{ resourceService.frmelmnts.lbl.allUsers }}</h4>
        <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8"
         *ngIf="!showLoader">{{count}}
        </span>
      </div>
      <div>
        <button class="sb-btn sb-btn-outline-primary sb-btn-normal ml-10 " (click)="copyOnLoad()"><i
            class="plus circle icon" appTelemetryInteract
            [telemetryInteractEdata]="getTelemetryInteractEdata('user-link', 'click', 'org-user-list')"
            [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata"></i> {{ resourceService.frmelmnts.lbl.inviteUser }}</button>
      </div>
    </div>
  </div>
  <app-org-users-list [isShowCountFromChild]="isShowCountFromChild"></app-org-users-list>
</div>
<!-- Modal popup for share link -->
<sui-modal *ngIf="showNormalModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
  class="sb-modal" appBodyScroll (dismissed)="showNormalModal = !showNormalModal" #modal>
  <div class="sb-modal-header">
    {{ resourceService.frmelmnts.lbl.linkToShare }}
  </div>
  <div class="sb-modal-content">
    <p class="mb-8">{{ resourceService.frmelmnts.lbl.sharelink }}</p>
    <div class="ui action input fluid">
      <input readonly="" value="{{orgLink}}" type="text" id="copyLinkData" suiPopup [popupPlacement]="position" popupText="{{resourceService?.frmelmnts?.lbl?.linkCopied}}" #popup="suiPopup" popupTrigger="focus">
      <button class="ui basic primary button" (click)="copyLinkToClipboard()" appTelemetryInteract
        [telemetryInteractEdata]="getTelemetryInteractEdata('copy-link', 'click', 'org-user-list')"
        [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"> {{ resourceService.frmelmnts.btn.copyLink }}
      </button>
    </div>
  </div>
</sui-modal>
