<div class="sb-field-group">
  <label class="fs-0-92">Answers</label><i class="icon info circle ml-8" [popupPlacement]="'bottom'" suiPopup popupText="text description"></i><span class="sb-required">*</span>
  <div>
      <label *ngIf="showFormError && [undefined, ''].includes(editorState.answer)" class="sb-label sb-label-table sb-label-error-0">Fill Answer</label>
  </div>
  <div class="sb-field">
  <div class="ckeditor-tool__option mb-24">
    <app-ckeditor-tool [editorConfig]="editorConfig" (editorDataOutput)="editorDataHandler($event)"
      [editorDataInput]="editorState.answer" [editorId]="'answer_editor'"></app-ckeditor-tool>
  </div>
  </div>
</div>
