.loading {
    animation: placeloader 2s linear infinite forwards;
    background: linear-gradient(69deg, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 2000px;
    position: relative;
  }
  
  @keyframes placeloader {
    0% {
      background-position: -2000px;
    }
  
    100% {
      background-position: 2000px;
    }
  }
  
  html[dir="rtl"] {
      .loading {
          animation: placeloader 2s linear infinite reverse;
      }
  }