<sui-modal [mustScroll]="true" [isClosable]="false" [transitionDuration]="0" [size]="'normal'"
    class="sb-modal sb-z-index99" appBodyScroll *ngIf='showModal'
    (dismissed)="showModal = false;"
    #accessibilityModel>
    <i class="icon close" aria-hidden="true" (click)="redirect('close');" tabindex="0"></i>
    <!--Header-->
    <div class="sb-modal-header">{{resourceService?.frmelmnts?.lbl?.accessibility}}</div>
    <!--/Header-->

    <!--Content-->
    <div class="sb-modal-content sb-accessibility-modal o-y-visible px-40 pt-10 pb-20 sb-edit-form">
      <h4 class="fs-1 mt-20 mb-5 font-weight-600">{{resourceService?.frmelmnts?.lbl?.digitalContentAccessibility}}</h4>
      <p class="sb-color-gray-300">{{resourceService?.frmelmnts?.lbl?.pleaseMarkTheAccessibilityFeatures}}</p>

      <a target="_blank" *ngIf="sunbirdAccessibilityGuidelinesUrl" rel="noopener" class="font-weight-600 fs-0-785 mb-30 d-block text-decor-none" href="{{sunbirdAccessibilityGuidelinesUrl}}">{{resourceService?.frmelmnts?.lbl?.viewDigitalAccessibilityGuidelines}}</a>
      <div class="ui three column grid">
        <div class="column" *ngFor="let list of accessibilityFormFields | keyvalue; let i = index;">
            <h5 class="ui tiny font-weight-600">{{list.key}}</h5>
            <div class="ui list" *ngFor="let item of list.value;let itemIndex = index;">
                <div class="item" *ngIf="item.feature">
                    <div class="sb-checkbox sb-checkbox-primary checklist">
                        <input id="checkitem_{{i}}{{itemIndex}}" type="checkbox" #inputFields [checked]="item.isSelected" class="listItem" [attr.disabled]="item.editable ? null : true" tabindex="0" (click)="createCheckedArray(item, $event)">
                        <label class="cursor-pointer sb-color-gray-400" for="checkitem_{{i}}{{itemIndex}}">{{item.feature}}</label>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!--/Content-->

    <!--Actions-->
    <div class="sb-modal-actions">
      <button [disabled]="accessibilitySubmitBtn === false" (click)="submitAccessibilityForm()" class="sb-btn sb-btn-normal sb-btn-primary"
        appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('done', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.submit,accessibilityInput.telemetryPageId, {key:'dialog_id',value:'accessibility'})"
        [telemetryInteractObject]="accessibilityInput.telemetryInteractObject"
        [telemetryInteractCdata]="accessibilityInput.telemetryInteractCdata"
        [telemetryInteractPdata]="accessibilityInput.telemetryInteractPdata">  {{resourceService?.frmelmnts?.lbl?.done}} </button>
      <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="redirect('close');"
        appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('cancel', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.cancel,accessibilityInput.telemetryPageId, {key:'dialog_id',value:'accessibility'})"
        [telemetryInteractObject]="accessibilityInput.telemetryInteractObject"
        [telemetryInteractCdata]="accessibilityInput.telemetryInteractCdata"
        [telemetryInteractPdata]="accessibilityInput.telemetryInteractPdata">  {{resourceService?.frmelmnts?.btn?.cancel}} </button>
   </div>
    <!--/Actions-->
</sui-modal>