<div class="ui container py-24 sb-dock-tab">
<h2 class="py-5">Welcome to VidyaDaan Help Center</h2>
<p>Watch below videos to know how to nominate and contribute to a project</p>
        <sui-tabset class="ui grid pt-40">
            <div class="ui top attached tabular menu four wide computer column sb-sidebar-menu b-0">
                <a class="item" suiTabHeader="1">How to nominate</a>
                <!-- <a class="item" suiTabHeader="2">How to create question set</a> -->
            </div>
            <div class="eight wide computer column">
            <div class="ui bottom attached segment" suiTabContent="1">
                <h4 class="pb-10 font-weight-bold">How to nominate</h4>
                <div>
                    <video controls class="w-90">
                        <source src="assets/videos/nominate.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <!-- <div class="ui bottom attached segment" suiTabContent="2">
                <h4 class="pb-10 font-weight-bold">How to create question set</h4>
                <div>
                    <video controls class="w-90">
                        <source src="assets/videos/" type="video/mp4">
                      </video>
                </div>
            </div> -->
        </div>
        </sui-tabset>    
</div>