<div class="ui container py-24 sb-dock-tab">
<h2 class="py-5">Welcome to VidyaDaan Help Center</h2>
<p>Watch below videos to know how to nominate and contribute to a project</p>
        <sui-tabset class="ui grid pt-40">
            <div class="ui top attached tabular menu four wide computer column sb-sidebar-menu b-0">
                <a class="item" suiTabHeader="1">How to nominate</a>
                <a class="item" suiTabHeader="2">How to upload content sample</a>
                <a class="item" suiTabHeader="3">How to upload question sample</a>
                <a class="item" suiTabHeader="4">Content type guidelines</a>
                <a class="item" suiTabHeader="5">When is my content approved</a>
                <a class="item" suiTabHeader="6">Nomenclature</a>
                <a class="item" suiTabHeader="7">Attribution & Copyright</a>
            </div>
            <div class="eight wide computer column">
            <div class="ui bottom attached segment" suiTabContent="1">
                <h4 class="pb-10 font-weight-bold">How to nominate</h4>
                <div>
                    <video controls class="w-90">
                        <source src="assets/videos/" type="video/mp4">
                    </video>
                </div>
                <h4 class="py-10"> To get started with nominations please follow the steps below
                </h4>
                <ol class="ui list fs-0-92 mt-0">
                    <li>Ensure you have been added as a user by your organisation co-ordinator.</li>
                    <li>Log in with your username and passowrd. You can also log in with your Diksha ID.</li>
                    <li>Access your "My Programs" tab and view the available programs.</li>
                </ol>
            </div>
            <div class="ui bottom attached segment" suiTabContent="2">
                <h4 class="pb-10 font-weight-bold">How to upload content sample</h4>
                <div>
                    <video controls class="w-90">
                        <source src="assets/videos/" type="video/mp4">
                      </video>
                </div>
                <h4>To get started with nominations please follow the steps below</h4>
                <ol class="ui list fs-1 mt-0">
                    <li class="py-10">Ensure you have been added as a user by your organisation co-ordinator.</li>
                    <li class="py-10">Log in with your username and password. You can also log in with your Diksha ID.</li>
                    <li class="py-10">Access your "My Programs" tab and view the available programs.</li>
                </ol>
            </div>
            <div class="ui bottom attached segment" suiTabContent="3">
                <h4 class="pb-10 font-weight-bold">How to upload question sample</h4>
            </div>
            <div class="ui bottom attached segment" suiTabContent="4">
                <h4 class="pb-10 font-weight-bold">Content type guidelines</h4>
            </div>
            <div class="ui bottom attached segment" suiTabContent="5">
                <h4 class="pb-10 font-weight-bold">When is my content approved</h4>
            </div>
            <div class="ui bottom attached segment" suiTabContent="6">
                <h4 class="pb-10 font-weight-bold">Nomenclature</h4>
            </div>
            <div class="ui bottom attached segment" suiTabContent="7">
                <h4 class="pb-10 font-weight-bold">Attribution & Copyright</h4>
            </div>
        </div>
        </sui-tabset>    
</div>