<div class="ui container py-24 sb-dock-tab">
<h2 class="py-5">Welcome to VidyaDaan Help Center</h2>
<p>Watch below videos to know how to nominate and contribute to a project</p>
        <sui-tabset class="ui grid pt-40">
            <div class="ui top attached tabular menu four wide computer column sb-sidebar-menu b-0">
                <a class="item" suiTabHeader="1">How to nominate</a>
                <!-- <a class="item" suiTabHeader="2">How to create question set</a> -->
            </div>
            <div class="eight wide computer column">
            <div class="ui bottom attached segment" suiTabContent="1">
                <h4 class="pb-10 font-weight-bold">How to nominate</h4>
                <div>
                    <video controls class="w-90">
                        <source src="assets/videos/" type="video/mp4">
                    </video>
                </div>
                <h4 class="py-10"> To get started with nominations please follow the steps below
                </h4>
                <ol class="ui list fs-0-92 mt-0">
                    <li>Ensure you have been added as a user by your organisation co-ordinator.</li>
                    <li>Log in with your username and passowrd. You can also log in with your Diksha ID.</li>
                    <li>Access your "My Programs" tab and view the available programs.</li>
                </ol>
            </div>
            <!-- <div class="ui bottom attached segment" suiTabContent="2">
                <h4 class="pb-10 font-weight-bold">How to create question set</h4>
                <div>
                    <video controls class="w-90">
                        <source src="assets/videos/" type="video/mp4">
                      </video>
                </div>
            </div> -->
        </div>
        </sui-tabset>    
</div>