
      <div class="ui container py-24">
        <div class="ui stackable grid container">
            <div class="twelve wide column pr-8 text-center">
                <div class="offline-download-card">
                    <h4 class="H4.Sunbird Heading font-weight-bold pb-14">About Vidyadaan</h4>
                    Teachers, public & social organizations, individuals and other experts across states and UTs have been developing
                    educational content, but in silos, with minimal opportunity to share with the larger community or receive the 
                    required recognition.
                    <div>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center py-24">
            <h4 class="sb-h4-title font-weight-bold sb-bbtm">Types of e-resources you can contribute</h4>
        </div>
        <div class="py-24">
             <h4 class="sb-h4-title font-weight-bold sb-bbtm">Guidelines to Contribute:</h4>  
        </div>    
        <div class="py-24">
            <h4 class="sb-h4-title font-weight-bold sb-bbtm">Latest Programs for Contribution:</h4>
            <div class="ui card sb-batch-card">
                <div class="sb-batch-card-content">
                <div class="ui divided list">
                <div class="item">
                    <div class="content width-100">
                    <span class="header pb-5 font-weight-bold"> CBSE Class 7 </span>
                    <span class="header pb-5 font-weight-bold"> English and Hindi</span>
                    <div class="font-italics sb-color-primary">All content types </div>
                    </div>
                </div>
                
                </div>
                </div>
                <button class="ui bottom attached sb-btn sb-btn-secondary sb-left-icon-btn sb-btn-md no-border">
                Deadline for Nomination: 13th May
                </button>
            </div>  
        </div>
        <div class="text-center">
            <h4 class="sb-h4-title sb-bbtm">Do you have good quality content to contribute for above programs?</h4>
            <button type="button" class="sb-btn sb-btn-primary text-uppercase sb-btn-md">
                Participate
              </button>
                  
        </div>
</div>