<ng-container [ngSwitch]="pageId">
  <ng-container *ngSwitchCase="'collection_editor'">
    <div class="add-to-library mb-10">
      <lib-header [pageId]="pageId" [labelConfigData]="toolbarConfig" [buttonLoaders]="buttonLoaders" (toolbarEmitter)="toolbarEventListener($event)"> </lib-header>
      <div class="h-100vh sb-bg-white">
        <div class="ui">
          <div class="ui twelve column grid m-0 ">
            <!-- Left Sidebar for cards -->
            <div class="three wide column p-0 overflow-y mb-40">
              <lib-fancy-tree  *ngIf="collectionTreeNodes && collectionTreeNodes.data"
              [nodes]="collectionTreeNodes" [options]="{ showConnectors: true }" [buttonLoaders]="buttonLoaders"
              (treeEventEmitter)="treeEventListener($event)" class="sb-collectionTree-fancyTree sb-collectionTree-fancyTreelist sb-questionset-scroll">
              </lib-fancy-tree>
            </div>
            <!-- Right Player Sections -->
            <div class="eight wide column bg-white pl-40 mb-10 w-73">
              <ng-container *ngIf="(isCurrentNodeFolder === true || isCurrentNodeRoot === true) && unitFormConfig">
                <lib-meta-form [rootFormConfig]="rootFormConfig" [nodeMetadata]="selectedNodeData" [unitFormConfig]="unitFormConfig"
                (toolbarEmitter)="toolbarEventListener($event)"></lib-meta-form>
              </ng-container>
              <ng-container *ngIf="isCurrentNodeFolder === false && isCurrentNodeRoot !== true">
                  <lib-contentplayer-page *ngIf="!isQumlPlayer"  [contentMetadata]="selectedNodeData" ></lib-contentplayer-page>
                  <lib-qumlplayer-page *ngIf="isQumlPlayer" [questionMetaData]="selectedNodeData" [questionSetHierarchy]="collectionTreeNodes?.data"
                      (toolbarEmitter)="toolbarEventListener($event)">
                    </lib-qumlplayer-page>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <sui-modal *ngIf="showDeleteConfirmationPopUp" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
        [size]="'normal'" class="sb-modal bx-none overflow-modal" appBodyScroll
        (dismissed)="showDeleteConfirmationPopUp = !showDeleteConfirmationPopUp" #modal>
        <div class="sb-modal-header">
          {{configService.labelConfig?.lbl?.confirmDeleteContent}}
        </div>
        <div class="sb-modal-content">
            <!-- <div class="sb-publish-content">
              <div class="review-modal-list">
                {{ contentComment }}
            </div> -->
            <div> {{configService.labelConfig?.lbl?.confirmDeleteNode}}</div>
        </div>
        <div class="sb-modal-actions">
          <button type="button" class="sb-btn sb-btn-normal sb-btn-primary mr-8" (click)="showDeleteConfirmationPopUp = !showDeleteConfirmationPopUp"
          libTelemetryInteract
          [telemetryInteractEdata]="telemetryService.getTelemetryInteractEdata('no','click','cancel', this.telemetryService.telemetryPageId,{key: 'dialog_id', value: 'confirm_delete_content','identifier' : selectedNodeData?.data?.id})"> {{configService.labelConfig?.button_labels?.no_btn_label}} </button>
          <button type="button" class="sb-btn sb-btn-secondary sb-btn-normal " (click)="deleteNode();"
          libTelemetryInteract
          [telemetryInteractEdata]="telemetryService.getTelemetryInteractEdata('yes','click','submit', this.telemetryService.telemetryPageId,{key: 'dialog_id', value: 'confirm_delete_content','identifier' : selectedNodeData?.data?.id})"> {{configService.labelConfig?.button_labels?.yes_btn_label}} </button>
        </div>
      </sui-modal>
      <sui-modal *ngIf='showConfirmPopup' [mustScroll]="false" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
          class="sb-modal overflow-modal" appBodyScroll (dismissed)="showConfirmPopup = !showConfirmPopup; terms = false;" #modal>
          <div class="sb-modal-header">
            {{configService.labelConfig?.lbl?.acceptTerms}}
          </div>
          <div class="sb-modal-content">
            <div class="ui grid">
              <div class="twelve wide column sb-checkbox-tnc mt-10">
                <div class="sb-checkbox sb-checkbox-primary font-italic p-0 m-0"><input [(ngModel)]="terms" id="termAndConditions"
                    name="example" type="checkbox">
                  <label for="termAndConditions" class="fsmall pl-32"><span class="sb-required">*</span><span
                      class="font-weight-bold mb-4 d-block">"{{configService.labelConfig?.lbl?.iAgreeSubmit}}</span>
                    <div class="sb-color-gray-300">{{configService.labelConfig?.lbl?.iconfirmContent}}<a
                        class="sb-color-primary font-weight-bold cursor-pointer" href="https://creativecommons.org/licenses" target="_blank" > {{configService.labelConfig?.lbl?.createCommonFramework}}</a>
                        {{configService.labelConfig?.lbl?.accordance}}
                     <a class="sb-color-primary font-weight-bold cursor-pointer" href="{{contentPolicyUrl}}" target="_blank" >{{configService.labelConfig?.lbl?.contentPolicy}}</a> {{configService.labelConfig?.lbl?.privacyRights}}"</div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="sb-modal-actions">
            <button type="button" class="sb-btn sb-btn-normal" [ngClass]="!terms ? 'sb-btn-disabled' : 'sb-btn-primary'" [disabled]="!terms"
              (click)="sendForReview()" libTelemetryInteract
              [telemetryInteractEdata]="telemetryService.getTelemetryInteractEdata('submit','click','submit', this.telemetryService.telemetryPageId,{key: 'dialog_id', value: 'accepting_terms_conditions','termAndConditions' : terms})">
              {{configService.labelConfig?.button_labels?.submit_btn_label}}
            </button>
          </div>
      </sui-modal>
      <sui-modal *ngIf='showPreview' [mustScroll]="false" [isClosable]="true" [transitionDuration]="0" [size]="'large'"
          class="sb-modal overflow-modal preview-modal" appBodyScroll (dismissed)="showPreview = !showPreview;" #modal>
          <div class="sb-modal-header">
            {{configService.labelConfig?.lbl?.questionSetPreview}}
          </div>
          <div class="sb-modal-content">
            <div class="br-2 b-1-100">
              <lib-quml-player [questionSetHierarchy]="collectionTreeNodes?.data"></lib-quml-player>
            </div>
          </div>
      </sui-modal>
      <lib-template *ngIf='showQuestionTemplatePopup' [templateList]="templateList"
      (templateSelection)="handleTemplateSelection($event)">]
      </lib-template>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'library'">
    <lib-library [libraryInput]="libraryComponentInput" (libraryEmitter)="libraryEventListener($event)">
    </lib-library>
  </ng-container>
  <ng-container *ngSwitchCase="'question'">
    <lib-question [questionInput]="questionComponentInput" [leafFormConfig]="leafFormConfig"   (questionEmitter)="questionEventListener($event)">
    </lib-question>
  </ng-container>
</ng-container>
<ng-container *ngIf="addCollaborator">
  <lib-manage-collaborator [addCollaborator]="addCollaborator" [collectionId]="collectionId" (modalDismissEmitter)="toggleCollaboratorModalPoup()"></lib-manage-collaborator>
</ng-container>
<sui-modal *ngIf="showReviewModal" [mustScroll]="true" [isClosable]="false" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal bx-none overflow-modal" appBodyScroll #modal (dismissed)="showReviewModal = false;">
  <div class="sb-modal-header">
    {{configService.labelConfig?.lbl?.reviewComments}}
  </div>
  <div class="sb-modal-content">
      <div class="sb-field">
          <label>{{configService.labelConfig?.lbl?.comments}}</label>
            <textarea disabled="disabled" type="text" class="wmd-input width-100 sb-form-control p-10 sb-disabled-textarea" id="wmd-input" [(ngModel)]="contentComment" name="rejectedComment"></textarea>
      </div>
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="modal.deny('denied')"
    libTelemetryInteract [telemetryInteractEdata]="telemetryService.getTelemetryInteractEdata('close','click','cancel', telemetryService.telemetryPageId,  {key: 'dialog_id', value: 'review_comments'})">{{configService.labelConfig?.button_labels?.close_btn_label}}</button>
  </div>
</sui-modal>
