
<div class="d-flex flex-w-wrap content-video__player__details mt-15 pb-0 pl-0">
  <div class="d-flex flex-dc flex-basis-1">
    <div class="content-video__player__title mr-auto sb__ellipsis sb__ellipsis--one" >{{contentListDetails?.name}} </div>
    <div class="content-video__player__title__subtitle fs-0-785"><span class="mr-8" *ngIf="contentListDetails?.board">By {{contentListDetails?.board}}</span> 
     <span *ngIf="contentListDetails?.me_averageRating"> <span class="mr-8" > {{contentListDetails?.me_averageRating}}</span>
      <i class="icon star"></i> </span>
    </div>
  </div>
  <div class="d-flex content-video__player__screenpart mb-10"  *ngIf="!contentListDetails?.isAdded" (click)="addToLibrary()">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-dark-green font-weight-bold"
    libTelemetryInteract
    [telemetryInteractEdata]="telemetryService.getTelemetryInteractEdata('select_content','click','launch', telemetryService?.telemetryPageId)"
      ><i class="plus square icon"></i>{{configService.labelConfig?.lbl?.selectContent}}</button>
  </div>
</div>
<lib-contentplayer-page [contentMetadata]="contentListDetails"></lib-contentplayer-page>