<div>
  <div class="sb-color-primary d-inline-block br-2 pr-10 mr-10">
    <span class="fs-1-286 font-weight-bold">2045</span>
    Total
  </div>
  <div class="sb-color-gray-100 d-inline-block br-2 pr-10 mr-10">
    <span class="fs-1-286 font-weight-bold">192</span>
    Draft
  </div>
  <div class="sb-color-success d-inline-block pr-10">
    <span class="fs-1-286 font-weight-bold">192</span>
    Live
  </div>
</div>
<div class="d-flex flex-jc-space-between">
  <div class="sb-search-box medium mb-15">
    <div class="input-div relative">
      <i class="search icon"></i>
      <input class="sb-search-input" type="text" placeholder="Search..." />
      <i class="close icon"></i>
    </div>
    <button class="sb-btn sb-btn-normal">Search</button>
  </div>
  <div class="d-flex">
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary mx-10" type="button"><i class="filter icon"></i>
      Apply Filter</button>
    <button class="px-10 sb-btn sb-btn-primary sb-btn-normal"><i class="plus outline icon"></i>Create</button>
  </div>
</div>
