<div class="d-flex flex-jc-space-between d-flex sb-pageSection ">
  <div>
    <div class="sb-color-primary d-inline-block br-2 pr-10 mr-10">
      <span class="fs-1-286 font-weight-bold">2045</span>
      Total
    </div>
    <div class="sb-color-gray-100 d-inline-block br-2 pr-10 mr-10">
      <span class="fs-1-286 font-weight-bold">192</span>
      Draft
    </div>
    <div class="sb-color-success d-inline-block pr-10">
      <span class="fs-1-286 font-weight-bold">192</span>
      Live
    </div>
  </div>
  <div class="d-flex flex-jc-space-between">
    <div class="sb-search-box medium mb-15">
      <div class="input-div relative">
        <i class="search icon"></i>
        <input class="sb-search-input" type="text" placeholder="Search..." />
        <i class="close icon"></i>
      </div>
      <button class="sb-btn sb-btn-normal">Search</button>
    </div>
    <div class="d-flex">
      <button class="sb-btn sb-btn-normal sb-btn-outline-primary mx-10" type="button" (click)="openFilterPopUpMat()"><i
          class="filter icon"></i>
        Apply Filter</button>
      <button class="px-10 sb-btn sb-btn-primary sb-btn-normal" (click)="openCreatePopUpMat()"><i
          class="plus outline icon"></i>Create</button>
    </div>
  </div>
</div>

<!-- Module createPopUpMat -->
<ng-template #createPopUpMat>
  <div class="sb-mat__modal">
    <div class="mb-0 mat-dialog-title" mat-dialog-title="">
      <div class="title" role="heading">Select to Create</div>
      <button aria-label="close dialog" (click)=" closeDialog()" mat-dialog-close class="mat-close-btn">
        <i class="close icon"></i>
      </button>
    </div>
    <mat-dialog-content class="mat-dialog-content">
      <sui-tabset>
        <div class="ui pointing secondary menu sb-bg-color-primary-100">
          <div class="ui container">
            <div class="p-0 m-0 d-flex flex-jc-space-between">
              <div class="item active cursor-pointer" suitabheader="1">Collection</div>
              <div class="item cursor-pointer" suitabheader="2">Content</div>
            </div>
          </div>
        </div>
        <div class="ui segment p-0 m-0 sb-bg-color-primary-0 dynamicHeight tab active" suiTabContent="1">
          <div class="ui d-flex flex-jc-center m-0">
            <div class="ui card text-center common-contribution-card">
              <div class="content">
                <i class="check circle icon"></i>
                <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                <div class="content-title pt-16 pb-8">Content Paylist</div>
              </div>
            </div>
            <div class="ui card text-center common-contribution-card">
              <div class="content">
                <i class="check circle icon"></i>
                <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                <div class="content-title pt-16 pb-8">Book</div>
              </div>
            </div>
            <div class="ui card text-center common-contribution-card">
              <div class="content">
                <i class="check circle icon"></i>
                <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                <div class="content-title pt-16 pb-8">Course</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment p-0 m-0 sb-bg-color-primary-0 tab dynamicHeight" suiTabContent="2">
          Collection
        </div>
      </sui-tabset>
    </mat-dialog-content>
  </div>
</ng-template>
<!-- Module createPopUpMat -->

<app-project-filter
  *ngIf="showFiltersModal"
  (dismiss)="showFiltersModal = false"
  (applyFilters)="getProgramsListByRole($event)"
  filtersAppliedCount="10">
</app-project-filter>

<ng-template #filterPopUpMat>
  <div class="sb-mat__modal">
    <div class="mb-0 mat-dialog-title" mat-dialog-title="">
      <div class="title" role="heading">Filter</div>
      <button aria-label="close dialog" (click)=" closeDialog()" mat-dialog-close class="mat-close-btn">
        <i class="close icon"></i>
      </button>
    </div>
    <mat-dialog-content class="mat-dialog-content">
      <form [formGroup]="filterForm">
        <div class="formSection grid two-column-grid">
          <div class="sb-g-col-lg-1">
            <label class="d-block fs-0-785 font-weight-bold">Board</label>
            <sui-select class="selection w-100">
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-g-col-lg-1 my-10">
            <label class="d-block fs-0-785 font-weight-bold">Medium</label>
            <sui-select class="selection w-100">
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-g-col-lg-1 my-10">
            <label class="d-block fs-0-785 font-weight-bold">Grade</label>
            <sui-select class="selection w-100">
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-g-col-lg-1 my-10">
            <label class="d-block fs-0-785 font-weight-bold">Select Subject</label>
            <sui-select class="selection w-100">
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-g-col-lg-1 my-10">
            <label class="d-block fs-0-785 font-weight-bold">Status</label>
            <sui-select class="selection w-100">
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-g-col-lg-1 my-10">
            <label class="d-block fs-0-785 font-weight-bold">Content Category</label>
            <sui-multi-select class="selection w-100" #multiSelect>
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-multi-select>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions class="mb-0">
      <div class="sb-modal-actions py-20">
        <button class="sb-btn sb-btn-normal sb-btn-primary" type="button"> Apply </button>
        <button class="sb-btn sb-btn-normal sb-btn-outline-primary" type="button"> Reset</button>
      </div>
    </mat-dialog-actions>
  </div>
</ng-template>
