<div class="sb-bg-color-gray-0" [appTelemetryImpression]="telemetryImpression">
  <div class="ui container py-10">
  <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn" (click)="handleBack()"
  type="button"
  appTelemetryInteract
[telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('go-back', 'click', 'content-uploader')"
[telemetryInteractObject]="telemetryInteractObject"
[telemetryInteractCdata]="telemetryInteractCdata"
[telemetryInteractPdata]="telemetryInteractPdata">
            <i class="icon-svg icon-svg--xxs icon-back mr-4">
                <svg class="icon icon-svg--primary">
                    <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
                </svg>
            </i>
            Back
        </button>
        <div class="d-flex">
          <div class="d-flex flex-ai-center flex-jc-space-between practical-header__content w-100">
            <div #contentTitle class="font-weight-bold fs-1" *ngIf="!showTextArea">
              <div class="d-flex flex-ai-center mb-10"><span class="practical-header__title" suiPopup popupText="{{editTitle}}">{{editTitle}} </span><span class="fsmall ml-16 sb-color-primary font-weight-normal"><a *ngIf="visibility && visibility.showEdit" class="cursor-pointer"
                appTelemetryInteract
                [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('edit-resourcetitle', 'click', 'content-uploader')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"
                (click)="editContentTitle()">Edit</a></span></div>
              <div class="mt-8 practice-set__status">
                <span class="sb-label sb-label-table sb-label-success-0" *ngIf="!sourcingOrgReviewer"
                [ngClass]="{ 'sb-label-success-0': (resourceStatus === 'Live' && sourcingReviewStatus === 'Approved'), 'sb-label-warning-0': (resourceStatus === 'Draft'),  'sb-label-error-0': ((resourceStatus === 'Draft' && contentMetaData.prevStatus === 'Review') || (resourceStatus === 'Live' && sourcingReviewStatus === 'Rejected')) ,  'sb-label-gray-0': (resourceStatus === 'Review' || (resourceStatus === 'Live' && !sourcingReviewStatus)) }">{{ resourceStatusText }}</span>
                <span class="cursor-pointer fs-0-785 ml-8"
                  *ngIf="contentMetaData && contentMetaData.rejectComment && (sessionContext.currentRoleId === 1) && this.resourceStatus === 'Draft' && this.contentMetaData.prevStatus === 'Review'">
                  <i class="comment alternate outline icon sb-color-primary"></i>
                  <a (click)="showReviewModal=!showReviewModal"
                  appTelemetryInteract
                [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('view-reviewercomments', 'click', 'content-uploader')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"
                  >View Comments</a>
                </span>
              </div>
            </div>
            <div class="sb-field-group textbook-edit ui form" *ngIf="showTextArea">
              <div class="required inline field">
                <label class="font-weight-bold fsmall">{{resourceService.frmelmnts.lbl.contentName}}:</label>
                <div class="sb-field relative">
                  <textarea #titleTextArea rows="4" name="moretext" class="sb-form-control" placeholder="Type here..." [(ngModel)]="editTitle" autofocus (keyup.enter)="(showTextArea = false); saveTitle()"></textarea>
										<span class="fs-0-785 text-right sb-color-gray-200 d-block py-5 pull-right">{{ resourceService.frmelmnts.lbl.nCharactersLeft | interpolate:'{noOfChars}': titleCharacterLimit - (editTitle.length > titleCharacterLimit ? titleCharacterLimit : editTitle.length) }}
										</span>
                </div>
                <div class="warning-message" *ngIf="editTitle.length === 0">{{resourceService.frmelmnts.lbl.contentNameRequired}}</div>
                <div class="warning-message" *ngIf="editTitle.length > titleCharacterLimit">{{resourceService.frmelmnts.lbl.contentNameLength }} {{titleCharacterLimit}}</div>
              </div>
            </div>
            <div class='practical-sb-buttons'>
              <button id="saveContent" suiPopup popupText="Save" [popupPlacement]="'top'" *ngIf="visibility && visibility.showSave" class="sb-btn sb-btn-outline-primary sb-btn-normal mr-8" (click)="saveContent()"
              appTelemetryInteract
                [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('save-resourcemetadata', 'click', 'content-uploader')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"
              >Save</button>
              <button id="changeContent" suiPopup popupText="Replace File" [popupPlacement]="'top'" *ngIf="visibility && visibility.showChangeFile && resourceStatus === 'Draft'" class="sb-btn sb-btn-outline-primary sb-btn-normal mr-8" (click)="changeFile()"
              appTelemetryInteract
                [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('replace-resourcefile', 'click', 'content-uploader')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"
              >Replace
                File</button>
              <button id="requestChanges" suiPopup popupText="{{resourceService.frmelmnts.btn.requestChanges}}" [popupPlacement]="'top'" *ngIf="visibility && visibility.showRequestChanges && resourceStatus === 'Review'" class="sb-btn sb-btn-error sb-btn-normal mr-8" (click)="showRequestChangesPopup = true;"
              appTelemetryInteract
                [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('reject-resource', 'click', 'content-uploader')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"
              >{{resourceService.frmelmnts.btn.requestChanges}}</button>
              <button id="publishContent" suiPopup popupText="{{resourceService.frmelmnts.btn.accept}}" [popupPlacement]="'top'" *ngIf="visibility && visibility.showPublish && resourceStatus === 'Review'" class="sb-btn sb-btn-secondary sb-btn-normal mr-8" (click)="publishContent();"
              appTelemetryInteract
                [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('publish-resource', 'click', 'content-uploader')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"
              >{{resourceService.frmelmnts.btn.accept}}</button>
              <button id="submitContent" suiPopup popupText="{{sessionContext.currentOrgRole === 'individual' ? 'Publish' : 'Send For Review' }}" [popupPlacement]="'top'" *ngIf="visibility && visibility.showSubmit && resourceStatus === 'Draft'" class="sb-btn sb-btn-secondary sb-btn-normal" (click)="saveContent('review')"
              appTelemetryInteract
                [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('submit-resourceforreview', 'click', 'content-uploader')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"
              >{{isIndividualAndNotSample() ? 'Publish' : 'Submit' }}</button>
              <button id="acceptContent" suiPopup
              popupText="{{resourceService.frmelmnts.lbl.contentAcceptMessage}}" [popupPlacement]="'top'" *ngIf="sourcingOrgReviewer && resourceStatus === 'Live'" class="sb-btn sb-btn-secondary sb-btn-normal mr-8" (click)="attachContentToTextbook('accept')"
              appTelemetryInteract
                [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('accept-content-for-textbook', 'click', 'content-uploader')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"
              >{{resourceService.frmelmnts.btn.approve}}</button>
              <button id="rejectContent" suiPopup popupText="{{resourceService.frmelmnts.lbl.contentRejectMessage}}" [popupPlacement]="'top'" *ngIf="sourcingOrgReviewer && resourceStatus === 'Live'" class="sb-btn sb-btn-error sb-btn-normal" (click)="attachContentToTextbook('reject')"
              appTelemetryInteract
                [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('reject-content-for-textbook', 'click', 'content-uploader')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"
              >{{resourceService.frmelmnts.btn.reject}}</button>
            </div>
          </div>
        </div>
  </div>
</div>
<div class="middle-section-set" *ngIf="showPreview">
    <div class="ui container msg-box">
      <div class="msg-box__content">
        <div class="container msg-box__content__blank-box">
            <app-player class="content-player" [playerConfig]="playerConfig"></app-player>
        </div>
      </div>
    </div>
</div>

<!-- <div> -->
<sui-modal *ngIf="showUploadModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
    class="sb-modal sb-file-upload-modal" appBodyScroll (dismissed)="closeUploadModal()" #modal >
    <div type="text/template" id="qq-template-validation" #fineUploaderUI>
      <div class="qq-uploader-selector qq-uploader custom-qq-uploader">
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
          <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
          <span>Processing dropped files...</span>
          <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list custom-qq-upload-list" aria-live="polite"
          aria-relevant="additions removals">
          <li>
            <div class="qq-progress-bar-container-selector">
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                class="qq-progress-bar-selector qq-progress-bar"></div>
            </div>
            <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
            <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
            <span class="qq-upload-file-selector qq-upload-file custom-qq-upload-file"></span>
            <span class="qq-upload-size-selector qq-upload-size"></span>
            <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
            <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
            <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
          </li>
        </ul>
        <div id="qq-upload-actions" class="upload-file-description d-flex flex-ai-center flex-dc">
          <h5 class="mb-8">Drag and Drop Files here</h5>
          <span class="fs-0-92 mb-8">Or</span>
          <div class="qq-upload-button-selector qq-upload-button sb-btn sb-btn-normal sb-btn-success">
            <div>Select Files</div>
          </div>
          <p class="mt-8">Upload {{templateDetails.filesConfig.accepted}} files ( Max size {{templateDetails.filesConfig.size}} MB )</p>
        </div>
        <dialog class="qq-confirm-dialog-selector">
          <div class="qq-dialog-message-selector"></div>
          <div class="qq-dialog-buttons">
            <button type="button" class="qq-cancel-button-selector">No</button>
            <button type="button" class="qq-ok-button-selector">Yes</button>
          </div>
        </dialog>
        <dialog class="qq-prompt-dialog-selector">
          <div class="qq-dialog-message-selector"></div>
          <input type="text">
          <div class="qq-dialog-buttons">
            <button type="button" class="qq-cancel-button-selector">Cancel</button>
            <button type="button" class="qq-ok-button-selector">Ok</button>
          </div>
        </dialog>
      </div>
    </div>
    <div class="sb-modal-header">Upload Files</div>
    <div class="sb-modal-content">
    <div *ngIf="!loading">
      <div  id="upload-content-div" class="upload-file-section"></div>
    </div>
      <div *ngIf='!loading' class="upload-file-description pt-16">
        <p class="mb-8 fsmall">Related information:</p>

        <ul class="pl-16">
          <!-- <li>File accepted - {{templateDetails.filesConfig.accepted}}</li>
          <li>Max file size - {{templateDetails.filesConfig.size}} Mb</li> -->
          <li *ngIf="templateDetails.filesConfig.accepted.toLowerCase().includes('mp4')"><a target="_blank" title="How to compress MP4 video files" href="https://diksha.gov.in/help/contributor/index.html">How to compress MP4 video files</a></li>
          <li *ngIf="templateDetails.filesConfig.accepted.toLowerCase().includes('mp4')"><a target="_blank" title="How to convert video to MP4" href="https://diksha.gov.in/help/contributor/video-mp4.html">How to convert video to MP4</a></li>
          <li *ngIf="templateDetails.filesConfig.accepted.toLowerCase().includes('pdf')"><a target="_blank" title="How to convert MS word to PDF" href="https://diksha.gov.in/help/contributor/word-to-pdf.html">How to convert MS word to PDF</a></li>
        </ul>
      </div>
      <div *ngIf='loading' class="uploading-files">
          <div class='d-flex flex-dc flex-jc-center flex-ai-center icon'>
            <img src="assets/images/loader.gif" width="64" class='process-icon'>
            <!-- <div class="fs-0-785 pt-16">120 MB Uploading Files (65%)
            </div> -->
            <!-- <sui-progress [value]="60" [maximum]="100" class="mb-0 mr-0"></sui-progress> -->
          </div>
          <div class="text-center fs-0-785">
            <!-- <span class="sb-color-gray-800">Disclaimer:</span>
            By submitting this Content, you confirm that you have followed prescribed guidelines, including the Content Policy and that you consent to publish it in accordance with the <a href="#" target="_blank">Content Policy.</a>
            Please choose the applicable <a href="https://creativecommons.org/licenses" target="_blank">Creative Commons license</a> you wish to apply to your content. -->
          </div>
        </div>
    </div>
    <div class="sb-modal-actions">
      <button id="uploadContent" class="sb-btn sb-btn-normal ml-8" [ngClass]="{'sb-btn-primary': uploadButton, 'sb-btn-disabled': !uploadButton}" (click)="uploadContent()"
      appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('upload-resource', 'click', 'content-uploader')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
      >Upload</button>
      <button (click)="closeUploadModal()" class="sb-btn sb-btn-normal" [disabled]="uploadButton" [ngClass]="{'sb-btn-outline-primary': !uploadButton, 'sb-btn-disabled': uploadButton}"
      appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('cancel-resourceupload', 'click', 'content-uploader')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
      >Cancel</button>
    </div>
  </sui-modal>
<!-- </div> -->

<sui-modal *ngIf="showRequestChangesPopup" [mustScroll]="true" [isClosable]="false" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll #modal (dismissed)="showRequestChangesPopup = false;">
  <div class="sb-modal-header">
      Add Review Comments
  </div>
  <form #FormControl="ngForm" class="ui form">
  <div class="sb-modal-content">
      <div class="sb-field-group">
          <label>Enter your comments</label>
          <div class="sb-field relative">

              <textarea type="text" class="wmd-input width-100 sb-form-control" id="wmd-input" [(ngModel)]="rejectComment" placeholder="Add comment" name="rejectComment" required></textarea>
              <label class="ui basic red error label pt-1 mt-5 width-100"
                  *ngIf="FormControl.form.controls.rejectComment?.touched && !FormControl.form.valid">Fill comments </label>

              <!-- <textarea rows="4" name="moretext" class="sb-form-control" placeholder="Type here..."></textarea>
              <span class="characters-left">1000 Characters left</span> -->
          </div>
      </div>
  </div>
  <div class="sb-modal-actions">
    <button id="submitReview" type="submit" class="sb-btn sb-btn-normal" [ngClass]="{'sb-btn-primary': FormControl.form.valid, 'sb-btn-disabled': !FormControl.form.valid}" (click)="requestChanges()"
    appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('reject-resourcewithcomments', 'click', 'content-uploader')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
    > Submit Review </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="modal.deny('denied')">{{ resourceService.frmelmnts.btn.cancel }}</button>
  </div>
</form>
</sui-modal>

<sui-modal *ngIf="showReviewModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll
  (dismissed)="showReviewModal = !showReviewModal" #modal>
  <div class="sb-modal-header">
      Review Comments
  </div>
  <div class="sb-modal-content">
      <div class="sb-publish-content">
        <div class="review-modal-list">
          <!-- <ol class="list">
            <li class="pb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </li>
            <li class="pb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </li>
            <li class="pb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </li>
          </ol> -->
          {{contentMetaData?.rejectComment}}
      </div>
      </div>
  </div>
  <!-- <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary"> Continue </button>
  </div> -->
</sui-modal>

<div *ngIf="showForm && showPreview">
  <form #contentForm [formGroup]="contentDetailsForm" class='ui container licence-form mt-24' >
    <div class="middle-section-set">
      <div class="licence-form__content">
          <div class='licence-form__content__fields py-16 ui stackable grid'>

              <div *ngFor = "let field of allFormFields; let i = index " class="sb-field " [ngClass]="{'width-100':field.code==='contentPolicyCheck' }">
                <div *ngIf="field.inputType === 'select'" class="width-100">
                  <div>
                    <label class="font-weight-bold fsmall">{{field.label}}:</label><span class="sb-color-red pl-4 pr-4" *ngIf="field.required">*</span><i *ngIf="field.helpText" class="info circle link icon pull-right" [popupPlacement]="'left'" suiPopup popupText="{{field.helpText}}"></i>
                    <sui-select *ngIf="!disableFormField" formControlName="{{field.code}}" class="selection" [isDisabled]="disableFormField" placeholder="{{field.placeholder}}"
                    appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('select-' + field.code, 'click', 'content-uploader')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
                    >
                      <sui-select-option *ngFor="let option of selectOutcomeOption[field.code]" [value]="option"
                      appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('selectoption-' + option, 'click', 'content-uploader')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
                      >
                      </sui-select-option>
                    </sui-select>
                    <div *ngIf="disableFormField"><span class="sb-color-gray-200 fs-0-785">{{contentMetaData[field.code]}}</span></div>
                    <label class="warning-message" *ngIf="((contentDetailsForm.get(field.code).touched) && (contentDetailsForm.get(field.code).errors?.required))">{{resourceService.frmelmnts.lbl.mandatoryField}}</label>
                  </div>
                </div>

                <div *ngIf="field.inputType === 'multiselect'" class="width-100">
                    <div>
                        <label class="font-weight-bold fsmall">{{field.label}} :</label><span class="sb-color-red pl-4 pr-4" *ngIf="field.required">*</span><i *ngIf="field.helpText" class="info circle link icon pull-right" [popupPlacement]="'left'" suiPopup popupText="{{field.helpText}}"></i>
                        <sui-multi-select *ngIf="!disableFormField" formControlName="{{field.code}}" class="selection" [isDisabled]="disableFormField" placeholder="{{field.placeholder}}"
                        appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('multiselect-' + field.code, 'click', 'content-uploader')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
                        >
                          <sui-select-option *ngFor="let option of selectOutcomeOption[field.code]" [value]="option"
                          appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('selectoption-' + option, 'click', 'content-uploader')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
                          >
                          </sui-select-option>
                        </sui-multi-select>
                        <div *ngIf="disableFormField"><span class="sb-color-gray-200 fs-0-785">{{contentMetaData[field.code]}}</span></div>
                        <label class="warning-message" *ngIf="((contentDetailsForm.get(field.code).touched) && (contentDetailsForm.get(field.code).errors?.required))">{{resourceService.frmelmnts.lbl.mandatoryField}}</label>
                    </div>
                </div>

                <div *ngIf="field.inputType === 'text'" class="width-100">
                  <div>
                    <label class="font-weight-bold fsmall">{{field.label}} :</label><span class="sb-color-red pl-4 pr-4" *ngIf="field.required">*</span><i *ngIf="field.helpText" class="info circle link icon pull-right" [popupPlacement]="'left'" suiPopup popupText="{{field.helpText}}"></i>
                      <input *ngIf="!disableFormField" formControlName="{{field.code}}" type="{{field.inputType}}" name="{{field.code}}" class="sb-form-control" placeholder="{{field.placeholder}}"
                      appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('input-' + field.code, 'click', 'content-uploader')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
                      >
                      <div *ngIf="disableFormField"><span class="sb-color-gray-200 fs-0-785">{{contentMetaData[field.code]}}</span></div>
                    <label class="warning-message" *ngIf="((contentDetailsForm.get(field.code).touched) && (field.required) && (contentDetailsForm.value[field.code].trim().length === 0))">{{resourceService.frmelmnts.lbl.mandatoryField}}</label>
                  </div>
                </div>

                <div *ngIf="field.inputType === 'checkbox' && field.code === 'contentPolicyCheck'" class="width-100 pt-20 pb-30">
                  <div class="sb-checkbox sb-checkbox-primary">
                    <input type="{{field.inputType}}" id="{{field.code}}" name="{{field.code}}" [checked]='contentMetaData[field.code]' formControlName="{{field.code}}" (change)="changePolicyCheckValue($event)">
                    <label for="{{field.code}}" class="fs-0-785 sb-color-gray-400 font-italic">
                      <span class="sb-color-red pr-3">*</span>
                      “I agree that by submitting / publishing this Content,
                      I confirm that this Content complies with prescribed guidelines,
                       including the Terms of Use and Content Policy and that I consent
                        to publish it under the <a class="link font-weight-bold"  href="https://creativecommons.org/licenses" target="_blank">
                          Creative Commons Framework in </a>
                        accordance with the  <a class="link font-weight-bold"  href="/terms-of-use.html" target="_blank">
                          Content Policy.</a> I have made sure that I do not violate others’ copyright or privacy rights.”
                    </label>
                  </div>
                  <label class="warning-message" *ngIf="((contentDetailsForm.get(field.code).touched) && (contentDetailsForm.get(field.code).errors?.required))">{{resourceService.frmelmnts.lbl.mandatoryField}}</label>
                </div>
              </div>
            </div>
      </div>
    </div>
  </form>
  </div>
