::ng-deep :root {
    --cc-avatar-list-item-selected: var(--rc-E0EFFF);
    --cc-avatar-list-item-selected-border: var(--rc-E0EFFF);
    --cc-avatar-list-item-menu-text: var(--gray-200);
    --cc-avatar-list-item-status-text: var(--secondary-200);
    --cc-avatar-list-item-status-br: var(--secondary-200);
    --cc-avatar-list-item-status-bg: var(--white);
  }
  
  .sb-avatar-list-item {
    display: flex;
    align-items: center;
    border: calculateRem(1px) solid transparent;
    position: relative;
    /* avatar css */
    .sb-avatar {
      display: flex;
      align-items: center;
      padding: calculateRem(8px);
  
      // font weight bold and normal
      &__name {
        font-weight: normal;
        cursor: pointer;
      }
  
      // avatar first letter
      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0 0 6px 0 rgba(var(--rc-rgba-black), 0.1);
        font-weight: bold;
        text-transform: uppercase;
        padding-top: calculateRem(2px);
      }
    }
  
    &--bold {
      .sb-avatar__name {
        font-weight: bold;
      }
    }
  
    &--horizontal {
      .sb-avatar {
        flex-direction: row;
        flex: 1;
  
        .sb-avatar__name {
          margin: 0 0 0 calculateRem(8px);
          flex: 1;
  
          html[dir='rtl'] & {
            margin: 0 calculateRem(8px) 0 0;
          }
        }
      }
    }
  
    &--vertical {
  
      .sb-avatar {
        flex-direction: column;
  
        .sb-avatar__name {
          margin: calculateRem(8px) 0 0 0;
          text-align: center;
          width: calculateRem(90px);
          word-break: break-word;
  
          &.ml-8 {
            margin-left: 0px !important;
          }
        }
      }
    }
  
    &--small {
      .sb-avatar__img {
        width: 36px;
        height: 36px;
        font-size: 20px;
        box-shadow: var(--sbt-box-shadow-6px);
      }
  
      .sb-avatar__name {
        font-size: calculateRem(14px);
      }
  
    }
  
    &--medium {
      .sb-avatar__img {
        width: calculateRem(48px);
        height: calculateRem(48px);
        font-size: calculateRem(34px);
        box-shadow: var(--sbt-box-shadow-6px);
  
      }
  
      .sb-avatar__name {
        font-size: calculateRem(16px);
      }
  
  
    }
  
    &--large {
      .sb-avatar__img {
        width: calculateRem(96px);
        height: calculateRem(96px);
        font-size: calculateRem(66px);
        box-shadow: var(--sbt-box-shadow-6px);
  
      }
  
      .sb-avatar__name {
        font-size: calculateRem(18px);
      }
  
    }
  }