<div class="sb-pageSection my-24 ui container" [appTelemetryImpression]="telemetryImpression">
  <div class="sb-pageSection-header">
  </div>
  <div class="sb-pageSection-content">

    <ng-container *ngIf="(programsList$ | async ) as programsList else loading">
      <ng-container *ngIf="programsList && programsList.length else noResult">
        <table class="ui very padded table">
          <thead>
            <tr>
              <th>Program & Board</th>
              <th>Textbooks & Chapters</th>
              <th>No of Contributions</th>
              <th>Subjects</th>
              <th>Shortlisting of Contributor Date</th>
              <th>Program End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let program of programsList" [routerLink]="['./nominations/' + program.programId]" class="hand">
              <td> 
                <p class="sb__ellipsis sb__ellipsis--two sb-color-primary font-weight-bold">
                  {{program?.name}}
                </p>
                <p class="ui teal label">{{getProgramBoard(program)}}</p> 
              </td>
              <td >
                <p ><strong> 3 </strong><small> Textbooks </small></p>
                <p ><strong> 10</strong><small> Chapters </small></p>
                <p ><strong> 5, 6, 7 </strong><small> Grades </small></p>
              </td>
              <td >
                <p ><strong> 10 </strong> </p>
              </td>
              <td >
                <p>Mathamatics, Science, History</p>
                <p class="language">English, Hindi, Marathi</p>
              </td>
              <td>
                <p>March 10th, 2019</p>
                <p><small>6 days to ago</small></p>   
              </td>
              <td>
                <p>March 15th, 2019</p>
                <p><small>11 days to ago</small></p>   
              </td>
            </tr>
          </tbody>
        </table> 
      </ng-container>
      <ng-template #noResult>
        <app-no-result [data]="{messageText: resourceService.messages.stmsg.m0006}"></app-no-result>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>