
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$src-primary: mat-palette($mat-indigo);
$src-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$src-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$src-theme: mat-light-theme($src-primary, $src-accent, $src-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($src-theme);

/* Load fonts first*/
@import "./fonts/notosans/notosans.css";
@import "./fonts/notosans-bengali/notosansbengali.css";
@import "./fonts/notosans-malayalam/notosansmalayalam.css";
@import "./fonts/notosans-gurmukhi/notosansgurmukhi.css";
@import "./fonts/notosans-devanagari/notosansdevanagari.css";
@import "./fonts/notosans-gujarati/notosansgujarati.css";
@import "./fonts/notosans-telugu/notosanstelugu.css";
@import "./fonts/notosans-tamil/notosanstamil.css";
@import "./fonts/notosans-kannada/notosanskannada.css";
@import "./fonts/notosans-oriya/notosansoriya.css";
@import "./fonts/noto-nastaliqurdu/notonastaliqurdu.css";


// base structure
@import "./mixins/mixins";
@import "./variables";
@import "./base/base";
@import "./layout/layout";
@import "./semantic/semantic-overrides";
@import "./semantic/semantic-rtl";
@import "./pages/pages";
@import "./vendors/vendors";
@import "./components/components";
@import "./legacy";
@import "./global";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
