<sui-tabset>
  <div class="ui pointing secondary menu sb-bg-color-primary-100">
    <div class="ui container">
      <div class="p-0 m-0 d-flex">
        <a class="item active cursor-pointer">Published Content</a>
        <a class="item cursor-pointer">My Content</a>
        <a class="item cursor-pointer">Content for review</a>
        <a class="item cursor-pointer">Content for collaboration</a>
      </div>
    </div>
  </div>
  <div class="ui segment p-0 m-0 mt-4 sb-bg-color-white dynamicHeight tab active">
    <app-published></app-published>
  </div>
  <div class="ui segment p-0 m-0 mt-4 sb-bg-color-white dynamicHeight tab">
    My Content
  </div>
  <div class="ui segment p-0 m-0 mt-4 sb-bg-color-white dynamicHeight tab">
    Content for review
  </div>
  <div class="ui segment p-0 m-0 mt-4 sb-bg-color-white dynamicHeight tab">
    Content for collaboration
  </div>
</sui-tabset>


