<div [appTelemetryImpression]="telemetryImpression"></div>
<div id="contentEditor" *ngIf="!showPreview"></div>
<sui-dimmer class="page" *ngIf="showLoader" [isDimmed]="showLoader">
  <div class="ui text loader"><h2>Loading...</h2></div>
</sui-dimmer>


<div *ngIf="showPreview" >
  <div class="sb-bg-color-primary py-15">
    <div class="ui container">
        <button class="sb-btn sb-btn-primary sb-btn-xs back-btn px-0 hover-none fs-0-92 font-weight-bold"
            (click)="handleBack()" type="button" appTelemetryInteract
            [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('go-back', 'click', 'launch', 'content-editor')"
            [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata">
            <i aria-hidden="true" class="arrow left icon sb-color-white"></i>
            {{resourceService?.frmelmnts?.btn?.back}}
        </button>
    </div>
</div>
  <div class="ui container">
    <div class="d-flex flex-ai-center flex-jc-space-between practical-header__content">
      <div #contentTitle class="font-weight-bold fs-1">
        <div class="d-flex flex-ai-center"><div class="practical-header__title font-weight-bold" suiPopup popupText="{{contentData ? contentData.name : contentEditorComponentInput.content.name}}">
          {{contentData ? contentData.name : contentEditorComponentInput.content.name}} </div>
                <span class="sb-color-primary font-weight-normal fs-0-785 ml-20" *ngIf="formFieldProperties && formFieldProperties.length">
                  <i [ngClass]="{'edit': visibility && visibility.showEditMetadata, 'eye': visibility && !(visibility.showEditMetadata)}" class="icon sb-color-primary cursor-pointer"></i>
                  <a class="cursor-pointer text-underline text-capitalize"
                  appTelemetryInteract
                  [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata((visibility && visibility.showEditMetadata) ? 'Edit details' : 'View details', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                  [telemetryInteractObject]="telemetryInteractObject"
                  [telemetryInteractCdata]="telemetryInteractCdata"
                  [telemetryInteractPdata]="telemetryInteractPdata"
                  (click)="showEditform('editForm');">{{(visibility && visibility.showEditMetadata) ? 'Edit details' : 'View details'}}</a></span>
                  <!-- <a class="fsmall ml-16 sb-color-primary font-weight-normal" *ngIf="visibility && visibility.showEditMetadata && sessionContext.topicList">
                    <span class="sb-btn sb-btn-outline-primary sb-btn-normal mr-8" (click)="showEditform(); requiredAction = 'editForm'">edit metadata</span>
                  </a> -->
                </div>
        <div class="mt-8 practice-set__status">
          <span class="sb-label sb-label-table"
          [ngClass]="resourceStatusClass">{{ resourceStatusText }}</span>
          <span class="cursor-pointer fs-0-785 ml-8"
                    *ngIf="contentData && showCommentAddedAgainstContent()">
                    <i class="comment alternate outline icon sb-color-primary"></i>
                    <a (click)="showReviewModal=!showReviewModal"
                    appTelemetryInteract
                  [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('view_comments', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch,telemetryPageId)"
                  [telemetryInteractObject]="telemetryInteractObject"
                  [telemetryInteractCdata]="telemetryInteractCdata"
                  [telemetryInteractPdata]="telemetryInteractPdata"
                    >View Comments</a>
                  </span>
                  <a id="viewContentOnDiksha" *ngIf="sourcingReviewStatus === 'Approved' && originPreviewUrl && originPreviewReady" class="sb-color-primary mr-8 pl-10 fs-0-785 font-weight-bold"
                  href="{{originPreviewUrl}}" target="_blank">{{resourceService.frmelmnts.btn.viewContentOnDiksha}}</a>
                  <label *ngIf="sourcingReviewStatus === 'Approved' && !originPreviewUrl && originPreviewReady" class="sb-color-error mr-8 pl-10 fs-0-785 font-weight-bold">
                  {{resourceService.frmelmnts.btn.viewContentOnDikshaError}}</label>
        </div>
      </div>
      <div class='practical-sb-buttons mt-30'>
        <button id="requestChanges" suiPopup popupText="Request Changes" [popupPlacement]="'top'" class="sb-btn sb-btn-error sb-btn-normal mr-8" (click)="popupAction='requestChanges'; showRequestChangesPopup = true;" *ngIf="visibility && visibility.showRequestChanges"
        appTelemetryInteract
          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('reject-resource', 'click',undefined,'content-editor')"
          [telemetryInteractObject]="telemetryInteractObject"
          [telemetryInteractCdata]="telemetryInteractCdata"
          [telemetryInteractPdata]="telemetryInteractPdata"
        >Request Changes</button>
        <button id="publishContent" suiPopup popupText="{{resourceService.frmelmnts.btn.accept}}" [popupPlacement]="'top'" *ngIf="visibility && visibility.showPublish" class="sb-btn sb-btn-secondary sb-btn-normal mr-8" (click)="publishContent();"
                appTelemetryInteract
                  [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('accept', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.submit, telemetryPageId)"
                  [telemetryInteractObject]="telemetryInteractObject"
                  [telemetryInteractCdata]="telemetryInteractCdata"
                  [telemetryInteractPdata]="telemetryInteractPdata"
                >{{resourceService.frmelmnts.btn.submitForApproval}}</button>
                <button id="submitContent" suiPopup popupText="{{'Edit'}}" [popupPlacement]="'top'" *ngIf="visibility && visibility.showEdit" class="sb-btn sb-btn-normal sb-btn-outline-primary mr-8" (click)="loadContentEditor()"
                appTelemetryInteract
                  [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('publish', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.submit, telemetryPageId)"
                  [telemetryInteractObject]="telemetryInteractObject"
                  [telemetryInteractCdata]="telemetryInteractCdata"
                  [telemetryInteractPdata]="telemetryInteractPdata"
                >{{resourceService.frmelmnts.lbl.contentEdit}}</button>
                <button id="submitContent" suiPopup popupText="{{sessionContext.currentOrgRole === 'individual' ? 'Publish' : 'Send For Review' }}" [popupPlacement]="'top'" *ngIf="visibility && visibility.showSubmit" class="sb-btn sb-btn-secondary sb-btn-normal" (click)="isIndividualAndNotSample() ? showEditform('publish') : showEditform('review');"
                appTelemetryInteract
                  [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('publish', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.submit, telemetryPageId)"
                  [telemetryInteractObject]="telemetryInteractObject"
                  [telemetryInteractCdata]="telemetryInteractCdata"
                  [telemetryInteractPdata]="telemetryInteractPdata"
                >{{ sessionContext.sampleContent ? resourceService.frmelmnts.btn.submit : resourceService.frmelmnts.btn.submitForReview }}</button>
                <button id="sendForCorrections" suiPopup popupText="Send back for corrections" [popupPlacement]="'top'" *ngIf="visibility && visibility.showSendForCorrections" class="sb-btn sb-btn-normal sb-btn-outline-primary mr-10" (click)="popupAction='sendForCorrections';showRequestChangesPopup = true"
                  appTelemetryInteract
                    [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('send_back_for_corrections', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                    [telemetryInteractObject]="telemetryInteractObject"
                    [telemetryInteractCdata]="telemetryInteractCdata"
                    [telemetryInteractPdata]="telemetryInteractPdata"
                  >{{resourceService.frmelmnts.btn.sendForCorrections}}</button>
                <button id="acceptContent" suiPopup
                popupText="{{resourceService.frmelmnts.lbl.contentAcceptMessage}}" [popupPlacement]="'top'" *ngIf="visibility && visibility.showSourcingActionButtons" class="sb-btn sb-btn-secondary sb-btn-normal mr-8" (click)="attachContentToTextbook('accept')"
                appTelemetryInteract
                  [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('approve', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.submit,telemetryPageId)"
                  [telemetryInteractObject]="telemetryInteractObject"
                  [telemetryInteractCdata]="telemetryInteractCdata"
                  [telemetryInteractPdata]="telemetryInteractPdata"
                >{{resourceService.frmelmnts.btn.publishToConsume}}</button>
                <button id="rejectContent" suiPopup popupText="{{resourceService.frmelmnts.lbl.contentRejectMessage}}" [popupPlacement]="'top'" *ngIf="visibility && visibility.showSourcingActionButtons" class="sb-btn sb-btn-error sb-btn-normal mr-8" (click)="popupAction='rejectContent'; showRequestChangesPopup = true"
                appTelemetryInteract
                  [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('reject', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                  [telemetryInteractObject]="telemetryInteractObject"
                  [telemetryInteractCdata]="telemetryInteractCdata"
                  [telemetryInteractPdata]="telemetryInteractPdata"
                >{{resourceService.frmelmnts.btn.reject}}</button>
      </div>
    </div>
  </div>
</div>

<sui-modal *ngIf="showRequestChangesPopup" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll #modal (dismissed)="showRequestChangesPopup = false;">
  <div class="sb-modal-header">
      Add Review Comments
  </div>
  <form #FormControl="ngForm" class="ui form">
  <div class="sb-modal-content">
      <div class="sb-field-group">
          <label>Enter your comments</label>
          <div class="sb-field relative">

              <textarea type="text" class="wmd-input width-100 sb-form-control" id="wmd-input" [(ngModel)]="rejectComment" placeholder="Add comment" name="rejectComment" required></textarea>
              <label class="ui basic red error label pt-1 mt-5 width-100"
                  *ngIf="FormControl.form.controls.rejectComment?.touched && !FormControl.form.valid">Fill comments </label>

              <!-- <textarea rows="4" name="moretext" class="sb-form-control" placeholder="Type here..."></textarea>
              <span class="characters-left">1000 Characters left</span> -->
          </div>
      </div>
  </div>
  <div class="sb-modal-actions">
    <button id="submitReview" type="submit" class="sb-btn sb-btn-normal" [ngClass]="{'sb-btn-primary': FormControl.form.valid, 'sb-btn-disabled': !FormControl.form.valid}" *ngIf="popupAction=='requestChanges'" (click)="requestChanges(); showRequestChangesPopup = false;"
    appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('submit_review', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.submit,telemetryPageId,{key:'dialog_id',value:'add_review_comments'})"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
    > Submit Review </button>
    <button id="submitReview" type="submit" class="sb-btn sb-btn-normal" [ngClass]="{'sb-btn-primary': FormControl.form.valid, 'sb-btn-disabled': !FormControl.form.valid}" *ngIf="popupAction=='rejectContent'"  (click)="attachContentToTextbook('reject');showRequestChangesPopup = false;"
    appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('submit_review', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.submit, telemetryPageId,{key:'dialog_id',value:'add_review_comments'})"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
    > Submit Review </button>
    <button id="submitReview" type="submit" class="sb-btn sb-btn-normal" [ngClass]="{'sb-btn-primary': FormControl.form.valid, 'sb-btn-disabled': !FormControl.form.valid}" *ngIf="popupAction=='sendForCorrections'" (click)="requestCorrectionsBySourcing(); showRequestChangesPopup = false;"
    appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('submit_review', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.submit, telemetryPageId,{key:'dialog_id',value:'add_review_comments'})"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
    > Submit Review </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="modal.deny('denied')">{{ resourceService.frmelmnts.btn.cancel }}</button>
  </div>
</form>
</sui-modal>

<div class="middle-section-set" *ngIf="showPreview">
  <div class="ui container msg-box">
    <div class="msg-box__content">
      <div class="container msg-box__content__blank-box">
          <app-player class="content-player" [playerConfig]="playerConfig"></app-player>
      </div>
    </div>
  </div>
</div>

<sui-modal *ngIf="showEditMetaForm" [mustScroll]="true" [isClosable]="false" [transitionDuration]="0" [size]="'normal'"
    class="sb-modal sb-z-index99" appBodyScroll (dismissed)="showEditMetaForm= false">
    <i class="icon close" (click)="showEditMetaForm= false" tabindex="0"></i>
    <!--Header-->
    <div class="sb-modal-header">{{(visibility && visibility.showEditMetadata) ? 'Edit details' : 'View details'}}</div>
    <!--/Header-->

    <!--Content-->
    <div class="sb-modal-content o-y-visible pb-8 sb-edit-form" *ngIf="formFieldProperties">
      <app-content-data-form
        #formData
        (formStatus)="formStatusEventListener($event)"
        (formInputData)="getFormData($event)"
        [formFieldProperties]="formFieldProperties">
      </app-content-data-form>
    </div>
    <!--/Content-->

    <!--Actions-->
    <div class="sb-modal-actions">
        <button [disabled]="!editableFields.length || formstatus?.isValid == false" class="sb-btn sb-btn-normal sb-btn-primary" (click)="handleCallback()">{{requiredAction === 'editForm' ? 'Save' : 'Submit' }}</button>
    </div>
    <!--/Actions-->
</sui-modal>

<sui-modal *ngIf="showReviewModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll
  (dismissed)="showReviewModal = !showReviewModal" #modal>
  <div class="sb-modal-header">
      Review Comments
  </div>
  <div class="sb-modal-content">
      <div class="sb-publish-content">
        <div class="review-modal-list">
          {{ contentComment }}
      </div>
      </div>
  </div>
  <!-- <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary"> Continue </button>
  </div> -->
</sui-modal>