@import "variables";
@import 'mixins/mixins';


.practical-header {
    height: 98px;
    background: var(--primary-0) !important;
    &__title {
      max-width: 680px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__content {
      // margin: 0 ($base-block-space * 8 - 4);
      // width: 100%;
      .practical-sb-buttons {
        .sb-btn-file {
          border-top: 1px solid var(--primary-200);
          /* #7AB4EE;*/
          border-bottom: 1px solid var(--primary-200);
          /* #7AB4EE;*/
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          background: #E0F1FD;
          color: var(--primary-400);
        }
        .sb-btn-submit {
          background: var(--primary-200);
          /*#07BC81 */
          opacity: 50%;
          color: var(--white);
        }
      }
    }
  }
  
.middle-section-set {
    max-width: 854px;
    width: 100%;
    margin: 0 auto;
    .msg-box {
      margin: ($base-block-space * 4) auto;
      &__content {
        border: 1px dotted #024f9d;
        &__label {
          color: #00BD7F;
          padding-bottom: ($base-block-space * 0.75);
        }
        &__error-msg {
          color: var(--red);
          padding-bottom: ($base-block-space * 0.75);
        }
        &__blank-box {
          height: 100%;
          width: 100%;
          border: calculateRem(1px) dotted #80A7CE;
          background: #F5F9FC;
          border-radius: ($base-block-space / 2);
        }
      }
    }
  }