<div class="d-flex flex-jc-space-between d-flex sb-pageSection ">
  <div>
    <div class="d-inline-block br-2 pr-10 mr-10">
      <span class="fs-1-286 font-weight-bold">{{totalContentCount || 0}}</span>
      Total
    </div>
    <div *ngIf="selectedTab == 'mycontent' || selectedTab == 'collaboration'"
      class="sb-color-gray-100 d-inline-block br-2 pr-10 mr-10">
      <span class="fs-1-286 font-weight-bold">{{countByStatus?.draft || 0}}</span>
      Draft
    </div>
    <div *ngIf="selectedTab == 'review' || selectedTab == 'mycontent' || selectedTab == 'collaboration'"
      class="sb-color-error d-inline-block br-2 pr-10 mr-10">
      <span class="fs-1-286 font-weight-bold">{{countByStatus?.review || 0}}</span>
      Review
    </div>
    <div class="sb-color-success d-inline-block pr-10">
      <span class="fs-1-286 font-weight-bold">{{countByStatus?.live || 0}}</span>
      Live
    </div>
  </div>
  <div class="d-flex flex-jc-space-between">
    <div class="sb-search-box medium mb-15">
      <div class="input-div relative">
        <i class="search icon"></i>
        <input class="sb-search-input" [(ngModel)]="query" type="text" placeholder="Search..." />
        <i (click)="search(true)" class="close icon"></i>
      </div>
      <button (click)="search()" class="sb-btn sb-btn-normal">Search</button>
    </div>
    <div class="d-flex">
      <div *ngIf="filtersAppliedCount > 0" class="fs-0-785 font-italic sb-color-gray-300 d-flex ml-5 pt-5">
        <div><i class="icon check circle pr-5 sb-color-success"></i></div>
        <div style="width: 100px;">{{filtersAppliedCount}} Filters applied</div>
        <!-- {{resourceService?.frmelmnts?.lbl?.filtersApplied}} -->
      </div>
      <button class="sb-btn sb-btn-normal sb-btn-outline-primary mx-10" type="button" (click)="openFilterPopUpMat()"><i
          class="filter icon"></i>
        Apply Filter</button>
      <button *ngIf="creator" class="px-10 sb-btn sb-btn-primary sb-btn-normal" (click)="openCreatePopUpMat()"><i
          class="plus outline icon"></i>Create</button>
    </div>
  </div>
</div>

<app-project-filter *ngIf="showFiltersModal == true" (dismiss)="showFiltersModal = false"
  (applyFilters)="applyFilters($event)" [filtersAppliedCount]="filtersAppliedCount"
  [filtersToShow]="filtersToShow[selectedTab]">
</app-project-filter>

<!-- Module createPopUpMat -->
<ng-template #createPopUpMat>
  <div class="sb-mat__modal">
    <div mat-dialog-title>
      <div class="title" tabindex="0">Select to Create</div>
      <button type="button" aria-label="close dialog" class="close-btn" ((click)="closeDialog()" mat-dialog-close
        tabindex="0"></button>
    </div>
    <mat-dialog-content>
      <sui-tabset>
        <div class="ui pointing secondary menu sb-bg-color-primary-100 sb-header-sticky">
          <div class="ui container p-0 m-0 d-flex flex-ai-center flex-jc-center">
            <div class="p-0 m-0 d-flex flex-jc-space-between">
              <div (click)="selectTab('collection')" [ngClass]="{'active': tab === 'collection'}"
                class="item cursor-pointer">My
                Collection</div>
              <div (click)="selectTab('content')" [ngClass]="{'active': tab === 'content'}" class="item cursor-pointer">
                Content</div>
            </div>
          </div>
        </div>
        <div [ngClass]="{'active':tab == 'collection'}"
          class="ui segment p-0 m-0 sb-bg-color-primary-0 dynamicHeight tab">
          <div class="ui grid p-20 flex-jc-center m-0">
            <div class="three wide column p-10">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <i class="check circle icon"></i>
                  <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                  <div class="content-title pt-16 pb-8">Content Paylist</div>
                </div>
              </div>
            </div>
            <div class="three wide column p-10">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <i class="check circle icon"></i>
                  <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                  <div class="content-title pt-16 pb-8">Book</div>
                </div>
              </div>
            </div>
            <div class="three wide column p-10">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <i class="check circle icon"></i>
                  <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                  <div class="content-title pt-16 pb-8">Course</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="{'active':tab == 'content'}" class="ui segment p-0 m-0 sb-bg-color-primary-0 tab dynamicHeight">
          <div class="ui grid p-20 flex-jc-center m-0">
            <div class="three wide column p-10">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <i class="check circle icon"></i>
                  <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                  <div class="content-title pt-16 pb-8">Course Assessment</div>
                </div>
              </div>
            </div>
            <div class="three wide column p-10">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <i class="check circle icon"></i>
                  <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                  <div class="content-title pt-16 pb-8">Explanation Content</div>
                </div>
              </div>
            </div>
            <div class="three wide column p-10">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <i class="check circle icon"></i>
                  <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                  <div class="content-title pt-16 pb-8">eTextbook</div>
                </div>
              </div>
            </div>
            <div class="three wide column p-10">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <i class="check circle icon"></i>
                  <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                  <div class="content-title pt-16 pb-8">Practice Questionsets</div>
                </div>
              </div>
            </div>
            <div class="three wide column p-10">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <i class="check circle icon"></i>
                  <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                  <div class="content-title pt-16 pb-8">Learning Resources</div>
                </div>
              </div>
            </div>
            <div class="three wide column p-10">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <i class="check circle icon"></i>
                  <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                  <div class="content-title pt-16 pb-8">Old Practice Questionsets</div>
                </div>
              </div>
            </div>
            <div class="three wide column p-10">
              <div class="ui card text-center common-contribution-card">
                <div class="content">
                  <i class="check circle icon"></i>
                  <img class="mt-16" src="../assets/images/book.png" rel="placeholder">
                  <div class="content-title pt-16 pb-8">Techer Resource</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </sui-tabset>
    </mat-dialog-content>
  </div>
</ng-template>
<!-- Module createPopUpMat -->

<ng-template #filterPopUpMat>
  <div class="sb-mat__modal">
    <div mat-dialog-title>
      <div class="title" tabindex="0">Apply Filter</div>
      <button type="button" aria-label="close dialog" class="close-btn" ((click)="closeDialog()" mat-dialog-close
        tabindex="0"></button>
    </div>
    <mat-dialog-content>
      <form [formGroup]="filterForm">
        <div class="formSection grid two-column-grid">
          <div class="sb-g-col-lg-1">
            <label class="d-block fs-0-785 font-weight-bold">Board</label>
            <sui-select class="selection w-100">
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-g-col-lg-1 my-10">
            <label class="d-block fs-0-785 font-weight-bold">Medium</label>
            <sui-select class="selection w-100">
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-g-col-lg-1 my-10">
            <label class="d-block fs-0-785 font-weight-bold">Grade</label>
            <sui-select class="selection w-100">
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-g-col-lg-1 my-10">
            <label class="d-block fs-0-785 font-weight-bold">Select Subject</label>
            <sui-select class="selection w-100">
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-g-col-lg-1 my-10">
            <label class="d-block fs-0-785 font-weight-bold">Status</label>
            <sui-select class="selection w-100">
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-g-col-lg-1 my-10">
            <label class="d-block fs-0-785 font-weight-bold">Content Category</label>
            <sui-multi-select class="selection w-100" #multiSelect>
              <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
              </sui-select-option>
            </sui-multi-select>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions class="mb-0">
      <div class="sb-modal-actions py-20">
        <button class="sb-btn sb-btn-normal sb-btn-primary" type="button"> Apply </button>
        <button class="sb-btn sb-btn-normal sb-btn-outline-primary" type="button"> Reset</button>
      </div>
    </mat-dialog-actions>
  </div>
</ng-template>

<div class="ui tweleve wide column mb-20" *ngIf="showLoader">
  <app-loader></app-loader>
</div>
<div *ngIf="!showLoader" class="sb-pageSection-content">
  <div class="sb-table-responsive desktop-o-x-unset">
    <table *ngIf="list else: noResult" class="sb-table sb-table-striped sb-table-sortable sb-table-nowrap">
      <thead class="sb-table-header sb-table-thead-gray">
        <tr>
          <th class="cursor-pointer sb-sorting w-20" (click)="sortList('name')">
            Title
            <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'name' "></i>
            <span *ngIf="sortColumn == 'name'" class="d-inline-block">
              <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
            </span>
          </th>
          <th class="cursor-pointer sb-sorting w-15" (click)="sortList('primaryCategory')">
            Content Category
            <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'primaryCategory' "></i>
            <span *ngIf="sortColumn == 'primaryCategory'" class="d-inline-block">
              <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
            </span>
          </th>
          <th class="cursor-pointer sb-sorting w-15" (click)="sortList('status')">
            Status
            <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'status' "></i>
            <span *ngIf="sortColumn == 'status'" class="d-inline-block">
              <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
            </span>
          </th>
          <th class="cursor-pointer sb-sorting w-15">Creator</th>
          <th class="cursor-pointer sb-sorting w-15" (click)="sortList('lastUpdatedOn')">
            Last Updated date
            <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'lastUpdatedOn' "></i>
            <span *ngIf="sortColumn == 'lastUpdatedOn'" class="d-inline-block">
              <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
            </span>
          </th>
          <th class="cursor-pointer sb-sorting w-15">&nbsp;</th>
        </tr>
      </thead>
      <tbody class="sb-table-body">
        <tr *ngFor="let item of list">
          <td class="pr-0">
            <div _ngcontent-fct-c8="" class="sb__ellipsis sb__ellipsis--three">
              {{ item.name }}
            </div>
            <div class="my-5">
              <div *ngIf="item.board" class="sb-label-value mr-5 mr-5">{{ item.board }}</div>
              <!-- <div class="sb-label sb-label-table sb-label-gray-0 mr-5">ICSC</div> -->
            </div>
          </td>
          <td>
            <span class="sb__ellipsis sb__ellipsis--breakAll">
              {{ item.primaryCategory }}
            </span>
          </td>
          <td>
              <div [ngClass]="{'sb-color-success': item.status == 'Live','sb-color-error': item.status == 'review','sb-color-gray-100': item.status !== 'Draft'}">{{
                item.status }}</div>
            <!-- <br> -->
            <!-- <div class="sb-color-gray-100">Draft</div> -->
          </td>
          <td><span class="fs-0-785">{{ item.creator }}</span></td>
          <td>
            <div>{{item.lastUpdatedOn | fromNow }}</div>
          </td>
          <td>
            <span class="pull-right">
              <button class="sb-btn sb-btn-normal sb-btn-outline-primary" type="button">Open</button>
              <div class="sb-dock-icon-tooltip d-inline-block">
                <div class="ui dropdown sb-dotted-dropdown" suiDropdown autoClose="itemClick">
                  <div class="p-8 w-auto"><span class="sb-dotmenu"></span></div>
                  <div class="menu" suiDropdownMenu>
                    <div [ngClass]="item.allowDelete ? 'item': 'disabled item'" (click)="item.allowDelete && confirmDelete(item)">Delete</div>
                  </div>
                </div>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noResult>
      <app-no-result [data]="{messageText: frmelmnts?.lbl?.noOrgProjects}"></app-no-result>
    </ng-template>
  </div>
  <div class="sb-pageSection-content-bottom">
    <div class="d-flex flex-ai-center flex-jc-space-between my-20">
      <div>
        <a class="sb-color-primary fs-0-785 font-weight-bold" target="_blank" href="#">Download Course QR
          Codes</a>
      </div>
      <div *ngIf="result && result.count > 0 && pager.totalPages > 1 && !showLoader" class="sb-pagination-container">
        <div class="sb-pagination">
          <a class="sb-item" [ngClass]="{disabled:pager.currentPage===1 }" (click)="NavigateToPage(1)"
            appTelemetryInteract
            [telemetryInteractEdata]="getTelemetryInteractEdata('contributor_org_user_list_fist_page', configService.telemetryLabels.eventType.click,undefined, telemetryPageId)"
            [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata">First</a>
          <a [ngClass]="{disabled:pager.currentPage===1 }" class="sb-item"
            (click)="NavigateToPage(pager.currentPage - 1)" appTelemetryInteract
            [telemetryInteractEdata]="getTelemetryInteractEdata('contributor_org_user_list_previous_page', configService.telemetryLabels.eventType.click, undefined,telemetryPageId, {values: [pager.currentPage - 1]})"
            [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata">Previous</a>
          <a *ngFor="let page of pager.pages" (click)="NavigateToPage(page)" class="sb-item" appTelemetryInteract
            [telemetryInteractEdata]="getTelemetryInteractEdata('contributor_org_user_list_pagination', configService.telemetryLabels.eventType.click,undefined, telemetryPageId, {values: [page]})"
            [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata">{{page}}</a>
          <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}"
            (click)="NavigateToPage(pager.currentPage + 1)" class="sb-item" appTelemetryInteract
            [telemetryInteractEdata]="getTelemetryInteractEdata('contributor_org_user_list_next_page',configService.telemetryLabels.eventType.click,undefined,telemetryPageId, {values: [pager.currentPage + 1]})"
            [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata">Next</a>
          <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="NavigateToPage(pager.totalPages)"
            class="sb-item" appTelemetryInteract
            [telemetryInteractEdata]="getTelemetryInteractEdata('contributor_org_user_list_last_page', configService.telemetryLabels.eventType.click, undefined,telemetryPageId, {values: [pager.totalPages]})"
            [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata">Last</a>
        </div>
      </div>
    </div>
  </div>
</div>

<sui-modal *ngIf="showDeleteModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal" appBodyScroll (dismissed)="showDeleteModal = false" #modal>
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.lbl.deleteContent}}
  </div>
  <div class="sb-modal-content">
    {{resourceService.frmelmnts.lbl.areYouSureDeleteContent}}
  </div>
  <div class="sb-modal-actions" (click)="deleteContent()">
    <button class="sb-btn sb-btn-normal sb-btn-primary">
      {{resourceService.frmelmnts.btn.yes}}
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="showDeleteModal = false">
      {{resourceService.frmelmnts.btn.no}}
    </button>
  </div>
</sui-modal>
