<table class="sb-table sb-table-striped sb-table-sortable sb-table-nowrap">
  <thead class="sb-table-header sb-table-thead-gray">
    <tr>
      <th class="cursor-pointer sb-sorting w-15">Title</th>
      <th class="cursor-pointer sb-sorting w-15">Content Category</th>
      <th class="cursor-pointer sb-sorting w-15 text-center">Status</th>
      <th class="cursor-pointer sb-sorting w-15">Creator</th>
      <th class="cursor-pointer sb-sorting w-15">Last Updated date</th>
      <th class="cursor-pointer sb-sorting w-15">&nbsp;</th>
    </tr>
  </thead>
  <tbody class="sb-table-body">
    <tr>
      <td class="pr-0">
        <div _ngcontent-fct-c8="" class="sb__ellipsis sb__ellipsis--three">
          KAYAL_VIZHI_100_textbooks SPRINT20_PARTIAL_BOOK Fevicol_2
        </div>
        <div class="my-5">
          <div class="sb-label sb-label-table sb-label-gray-0 mr-5">CBSC</div>
          <div class="sb-label sb-label-table sb-label-gray-0 mr-5">ICSC</div>
        </div>
      </td>
      <td>
        <span class="sb__ellipsis sb__ellipsis--breakAll">
          Demo Practice Question Set, Explanation Content, Learning Resource, Practice Question Set
        </span>
      </td>
      <td class="text-center pl-0 pr-0">
        <div class="sb-color-success">Live</div>
        <br>
        <div class="sb-color-gray-100">Draft</div>
      </td>
      <td><span class="fs-0-785">Kanmani1</span></td>
      <td>
        <div>October 5, 2020 514 days ago</div>
      </td>
      <td>
        <span>
          <button class="sb-btn sb-btn-normal sb-btn-outline-primary mr-20" type="button">Open</button>
        </span>
        <div class="sb-dock-icon-tooltip d-inline-block">
          <div class="ui dropdown sb-dotted-dropdown" suiDropdown autoClose="itemClick">
            <div class="p-8 w-auto"><span class="sb-dotmenu"></span></div>
            <div class="menu" suiDropdownMenu>
              <div class="item">Edit</div>
              <div class="item">Share</div>
              <div class="item">Preview</div>
              <div class="item">Delete</div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
