.b-0{
    @include border(border,0px,$gray-400);
}
.bl-0{
    border-left: none;
}
.br-0{
    border-right: none;
}
.br-4{
    border-radius: 4px;
}
.bt-0{
    border-top: none;
}
.bb-0{
    border-bottom: none;
}
.b-1 {
    @include border(border,1px,$gray-400);
}
.b-2 {
    @include border(border,2px,$gray-400);
}
.b-4 {
    @include border(border,4px,$gray-400);
}
.b-8 {
    @include border(border,8px,$gray-400);
}
.b-1-100{
    border:solid 1px $gray-100;
}
.br-1{
    border-right:solid 1px $gray-100;
}
.br-2{
    border-right:solid 2px $gray-100;
}
.bt-1{
    border-top:solid 0.5px $gray-100;
}
.b-100 {
    @include border(border,1px,$gray-100);
}