.bt-l{
  border-top-left-radius: 0;
}
.bt-r{
  border-top-right-radius: 0;
}
.bb-l{
  border-bottom-left-radius: 0;
}
.bb-r{
  border-bottom-right-radius: 0;
}
.bradius-0{
  border-radius: 0 !important;
}
.bradius-2{
  border-radius: 2px;
}