.h-100 {
    height: 100%;
    max-height: 100%;
}
.max-height {
    height:380px !important;
}
.auto-height {
    height:auto !important;
}
.w-100 {
    width:100%;
    max-width:100%;
}
.w-90 {
    width:90%;
    max-width:90%;
}
.w-80 {
    width:80%;
    max-width:80%;
}
.w-75 {
    width:75%;
    max-width:75%;
}
.w-70 {
    width:70%;
    max-width:70%;
}
.w-60 {
    width:60%;
    max-width:60%;
}
.w-50 {
    width:50%;
    max-width:50%;
}
.w-40{
    width: 40%;
    max-width: 40%;
}
.w-30{
    width: 30%;
    max-width: 30%;
}
.w-25 {
    width:25%;
    max-width:25%;
}
.w-20 {
    width:20%;
    max-width:20%;
}
.w-17-5 {
    width: 17.5%;
    max-width: 17.5%;
}
.w-15 {
    width:15%;
    max-width:15%;
}
.w-10 {
    width:10%;
    max-width:10%;
}
.w-8 {
    width:8%;
    max-width:8%;
}
.w-5 {
    width:5%;
    max-width:5%;
}
.w-auto {
    width:auto;
    max-width:auto;
}
.sb-mw-100 {
    max-width: 100% !important;
}

.auto-height {
    height:auto !important;
}
.max-height {
    height:380px !important;
}
.min-height-auto {
    min-height: auto !important;
}
.maxmin-h-375{
    min-height: 375px;
    max-height: 375px;
}