.sb-dock-menu-bar {
    height: 3rem;
    .sb-dock-menu {
        height: 3rem;
        a {
            font-size: 0.875rem;
    padding: 0.85rem 1rem;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
            &:hover,&:active,&.active {
                background-color: var(--primary-800);
            }
        }
    }
}


.sb-dock-header {
    
}
.sb-dock-new-program {
    position: absolute !important;
    right: 120px;
    top: 0.75rem;
    z-index: 99999;
}

.form-section-separator {
    h4 {
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0.5rem 0px;
    text-transform: uppercase;
    }
}
hr.divider,hr {
    border: 0.5px solid #ddd;
}
.divider {
    height:1px;
    background-color: #ddd;
    display: block;
}
.sb-inner-white-bg-container {
    background-color:var(--white);
    padding-bottom: 3rem;
}

.sb-label-value {
    background-color: $primary-200;
    padding: ($base-block-space/2) $base-block-space;
    color: $white;
    display: inline-block;
    font-size: $font-size-sm;
    text-transform: capitalize;
    margin-right: $base-block-space;
    cursor: pointer;
    border-radius: $base-block-space/4;
  }