.add-to-library {
  .dynamic-form {
    label {
      font-size: 12px !important;
      margin-bottom: 0.5rem !important;
      color: #121213e0;
      font-weight: 600;
    }

    .sb-textbox,
    select,
    .sb-textarea,
    .list-border {
      border: 1px solid rgba(34, 36, 38, 0.15) !important;
      padding: 0.85rem 0.5rem !important;
      border-radius: 0.28571429rem;
      font-size: 0.785rem !important;
      font-weight: 500;
    }

  .multi-select-container{
    .list-border{
      ul{
        @extend label;
        color: #333;
        padding: 0;
        margin: 0 !important;
        opacity: 1 !important;
        font-weight: 500 !important;
        }
      }
    }

  .sb-modal-dropdown-web{
    ul{
      color: #333;
      padding: 0;
      margin: 0 !important;
      opacity: 1 !important;
      font-size: 12px !important;
      font-weight: 500;
      border: 2px solid #eeeeef;
  }
}
  .sb-keywordbox{
    border: 1px solid rgba(34,36,38,.15) !important;
    padding: .45rem .5rem!important;
    border-radius: .28571429rem;
    font-size: 0.785rem !important;
    font-weight: 500;
    padding: 0 !important;
    .ng2-tag-input{
      padding: 0;
      tag{
        margin-left: 0.5rem;
      }
    }
    .ng2-tags-container{
      margin-top: 0.2rem;
    }
    .tag-wrapper,delete-icon svg{
      height: 24px;
      line-height: 24px;
    }
  }
  .topic-picker-selector{
    @extend .sb-textbox;
  }
  .sb-dropdown{
    label{
      padding: 0;
    }
  }
  .sb-textarea-container{
    .sb-textarea{
      height: 2.7rem;
    }
    label{
      padding: 0;
    }
  }
  .sb-checkbox{
    padding: 1.5rem 0;
    margin-top: 2rem;
  }
    sb-icon-dropdown{
      top: 10px !important;
      right: 6px !important;
    }
  }
  .sb-textarea-container,
  .sb-dropdown{
    margin: 1rem 0 !important;
  }
}
.sb-fixed-with-whitebg {
  position: fixed;
  width: 100%;
  border-top: 1px solid #ddd;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
}

.bx-none .ui.modal{
  box-shadow:none !important;
}

.overflow-modal {
  .ui.modal{
    box-shadow: none;
  }
  .sb-tabset-segment{
    border: none;
  }
}
.eight.bg-white{
  border-left: solid 1px var(--gray-100);
  padding-bottom: 4.5rem !important;
}
.sb-search-input::-webkit-input-placeholder { 
  padding-left: 1.4rem !important;
}
.ckeditor-tool__solution .menu {
  .item{
    font-size: 0.785rem !important;
  }
}