    <!-- <div class="text-capitalize fs-0-785 line-height-1-3 sb-pageSection-document py-5 grid mt-10 ui container">
        <div class="d-flex chapterlist-header pt-24 w-100 flex-jc-space-between px-0 flex-jc-space-between">
            <div class="d-flex">
              <div class="textbook-details ml-8">
                <label class="d-block fs-1-3">My Content</label>
                <div class="d-flex flex-ai-center pt-30">
                    <div class="sb-color-primary d-inline-block pr-10 br-2"><span class="fs-1-286 font-weight-bold pr-10">78</span>Total Contributed</div>
                    <div class="sb-color-success d-inline-block px-10 br-2"><span class="fs-1-286 font-weight-bold pr-10">2</span>Published on DIKSHA</div>
                    <div class="sb-color-error d-inline-block px-10"><span class="fs-1-286 font-weight-bold pr-10">5</span>Not published on DIKSHA</div>
                 </div>
              </div>
            </div>
    
            <div class="sb-meta-data-container sb-meta-data-column d-flex flex-w-wrap ml-16 width-inherit flex-dc">
              <label class="d-block width-100 pb-5">Usage Details</label>
              <div class="d-flex">
                <dl
                  class="pr-10">
                  <dt class="fs-1-3 pb-10">2,45,000</dt>
                  <dd>Total views</dd>
                </dl>
                <dl
                  class="px-10">
                  <dt class="fs-1-3 pb-10">1250</dt>
                  <dd>Average views per count</dd>
                </dl>
                <dl 
                  class="px-10">
                  <dt class="fs-1 pb-10"><i class="icon star sb-color-warning"></i>4</dt>
                  <dd>Average rating</dd>
                </dl>
              </div>
            </div>
          </div>
        
    </div>
    <div class="sb-pageSection sb-bg-color-white my-24 pb-24">
        <div class="ui container">
            <div class="d-flex flex-ai-center flex-jc-space-between">
                <div class="sb-pageSection-header mb-0 py-24">
                    <h4 class="sb-pageSection-title">
                        <span>My Content</span>
                    </h4>
                    <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning">4</span>
                </div>
            </div>
            <div class="sb-pageSection-content">
                <div class="sb-table-responsive">
                    <table class="sb-table sb-table-striped sb-table-sortable">
                        <thead class="sb-table-header sb-table-thead-gray">
                            <tr>
                                <th class="cursor-pointer sb-sorting">{{resourceService.frmelmnts.lbl.board}} &nbsp;&nbsp;
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <th class="cursor-pointer sb-sorting">{{resourceService.frmelmnts.lbl.medium}} &nbsp;&nbsp;
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <th class="cursor-pointer sb-sorting">{{resourceService.frmelmnts.lbl.class}} &nbsp;&nbsp;
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <th class="cursor-pointer sb-sorting">{{resourceService.frmelmnts.lbl.subject}} &nbsp;&nbsp;
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <th>Content</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody class="sb-table-body w-100 o-y-auto max-height">
                            <tr>
                                <td>
                                    <div class="sb-color-primary font-weight-bold">
                                    CBSE
                                    </div>
                                </td>
                                <td>
                                    <div>
                                    English
                                    </div>
                                </td>
                                <td>
                                    Grade 1
                                </td>
                                <td>
                                    <div>
                                        English
                                    </div>
                                </td>
                                <td class="fsmall">
                                    <div class="text-capitalize fs-0-785">
                                        <span class="sb-color-primary d-inline-block br-2 pr-5">Total : 63  </span>
                                        <span class="sb-color-success d-inline-block br-2 px-5">Published : 2</span>
                                        <span class="sb-color-error d-inline-block px-5">Not published :5 </span>
                                    </div>
                                </td>
                                <td class="text-center"><button type="button"  class="sb-btn sb-btn-normal sb-btn-outline-primary">open</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->

    <div class="text-capitalize fs-0-785 line-height-1-3 sb-pageSection-document py-5 grid mt-10 ui container">
        <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn">
            <i class="icon-svg icon-svg--xxs icon-back mr-4"></i>Back
        </button>
        <div class="d-flex chapterlist-header pt-24 w-100 flex-jc-space-between px-0 flex-jc-space-between">
            <div class="d-flex">
                <div class="d-flex flex-ai-center">
                    <label class="d-block fsmall font-weight-normal mb-0">Mathematics</label>
                    <span class="dot-separator"></span>
                    <label class="d-block fsmall font-weight-normal mb-0">Class 1</label>
                </div>
                <div class="d-flex flex-ai-center pt-30">
                    <div class="sb-color-primary d-inline-block pr-10 br-2"><span class="fs-1-286 font-weight-bold pr-10">78</span>Total Contributed</div>
                    <div class="sb-color-success d-inline-block px-10 br-2"><span class="fs-1-286 font-weight-bold pr-10">2</span>Published on DIKSHA</div>
                    <div class="sb-color-error d-inline-block px-10"><span class="fs-1-286 font-weight-bold pr-10">5</span>Not published on DIKSHA</div>
                 </div>
              </div>
            </div>
          </div>
        
    <div class="sb-pageSection sb-bg-color-white my-24 pb-24">
        <div class="ui container">
            <div class="d-flex flex-ai-center flex-jc-space-between">
                <div class="sb-pageSection-header mb-0 py-24">
                    <h4 class="sb-pageSection-title">
                        <span>My Content</span>
                    </h4>
                    <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning">4</span>
                </div>
            </div>
            <div class="sb-pageSection-content">
                <div class="sb-table-responsive">
                    <table class="sb-table sb-table-striped sb-table-sortable">
                        <thead class="sb-table-header sb-table-thead-gray">
                            <tr>
                                <th class="cursor-pointer sb-sorting">{{resourceService.frmelmnts.lbl.title}} &nbsp;&nbsp;
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <th class="cursor-pointer sb-sorting">{{resourceService.frmelmnts.lbl.status}} &nbsp;&nbsp;
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody class="sb-table-body w-100 o-y-auto max-height">
                            <tr>
                                <td>
                                    Sample  
                                </td>
                                <td>
                                    <div>
                                        <div class="sb-color-success">
                                            Published  
                                        </div>
                                    </div>
                                </td>
                                
                                <td class="text-center"><button type="button"  class="sb-btn sb-btn-normal sb-btn-outline-primary">open</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
