<div class="ui container" *ngIf='showLoader'>
    <div class="ui tweleve wide column mb-20">
        <app-loader></app-loader>
    </div>
</div>
<ng-container *ngIf='!showLoader' [appTelemetryImpression]="telemetryImpression">
    <div class="text-capitalize fs-0-785 line-height-1-3 sb-pageSection-document pb-10 mt-10 ui container"
        [ngClass]="{'grid' : !_selectedTab}">
        ​<div *ngIf="_selectedTab">
            <button (click)="onBack();" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn"
            appTelemetryInteract
            [telemetryInteractEdata]="getTelemetryInteractEdata('back', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
            [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata">
                <i class="icon-svg icon-svg--xxs icon-back mr-4" aria-hidden="true">
                    <svg class="icon icon-svg--primary">
                        <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
                    </svg>
                </i>{{resourceService.frmelmnts.btn.back}}
            </button>
        </div>
        <div class="d-flex mr-auto mt-10">
            <div class="" *ngIf="_selectedTab !== 'previewTab'">
                <h3 *ngIf="!_selectedTab" class="fs-1-3 font-weight-bold mb-15">
                    {{resourceService.frmelmnts.lbl.myContent}}</h3>
                <h3 *ngIf="_selectedTab === 'frameworkTab'" class="fs-1-3 font-weight-bold mb-15">
                    {{selectedFrameworkType?.key}} Framework</h3>
                <h3 *ngIf="_selectedTab === 'contentTab'" class="fs-1-3 font-weight-bold mb-15">
                    {{selectedContentDetails?.board}}<span class="dot-separator"></span>
                    {{selectedContentDetails?.medium}}<span class="dot-separator"></span>
                    {{selectedContentDetails?.gradeLevel}}<span class="dot-separator"></span>
                    {{selectedContentDetails?.subject}}
                </h3>
                <div class="sb-color-primary d-inline-block br-2 pr-10">
                    <span class="fs-1-286 font-weight-bold">{{contentCountData.total}}</span>
                    {{resourceService.frmelmnts.lbl.totalContributed}}
                </div>
                <div class="sb-color-success d-inline-block br-2 px-10"><span
                        class="fs-1-286 font-weight-bold">{{contentCountData.published}}</span>
                    {{resourceService.frmelmnts.lbl.publishedonDiksha}}
                </div>
                <div class="sb-color-error d-inline-block br-2 px-10"><span
                        class="fs-1-286 font-weight-bold">{{contentCountData.notPublished}}</span>
                    {{resourceService.frmelmnts.lbl.notPublishedOnDiksha}}</div>
            </div>
            <div class="d-flex w-100" *ngIf="_selectedTab === 'previewTab'">
                <div class="d-flex flex-jc-space-between practical-header__content w-100">
                    <div class="fs-1">
                        <div class="d-flex flex-ai-center">
                            <div class="practical-header__title font-weight-bold text-initial" suipopup="">
                                {{slectedContent.name}} </div>
                        </div>
                        <div class="mt-8 practice-set__status">
                            <span class="sb-label sb-label-table" [ngClass]="{'sb-color-success': slectedContent.isPublished, 'sb-color-error' : !slectedContent.isPublished }">
                                {{slectedContent.isPublished ? resourceService.frmelmnts.lbl.publishedonDiksha : resourceService.frmelmnts.lbl.notPublishedOnDiksha}}
                            </span>
                            <a id="viewContentOnDiksha"  *ngIf="slectedContent.isPublished && slectedContent?.originPreviewUrl " class="sb-color-primary mr-8 pl-10 fs-0-785 font-weight-bold"
                            href="{{slectedContent.originPreviewUrl}}" target="_blank" rel="noopener" >{{resourceService.frmelmnts.btn.viewContentOnDiksha}}</a>
                        </div>
                    </div>
                    <div class="pt-10">
                        <label
                            class="d-block width-100 font-weight-normal">{{resourceService.frmelmnts.lbl.usageDetails}}</label>
                        <div class="d-flex">
                            <dl class="pr-10 mb-0">
                                <dt class="fs-1-286 font-weight-bold py-10">{{slectedContent.totalViews}}</dt>
                                <dd>{{resourceService.frmelmnts.lbl.totalViews}}</dd>
                            </dl>
                            <dl class="mb-0">
                                <dt class="fs-1-286 font-weight-bold py-8"><i class="icon star sb-color-yellow fs-0-785" aria-hidden="true"></i>
                                    {{slectedContent.me_averageRating ? slectedContent.me_averageRating : '0'}}
                                </dt>
                                <dd>{{resourceService.frmelmnts.lbl.averageRating}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!_selectedTab">
            <div class="pt-10">
                <label
                    class="d-block width-100 font-weight-normal">{{resourceService.frmelmnts.lbl.usageDetails}}</label>
                <div class="d-flex">
                    <dl class="pr-10 mb-0">
                        <dt class="fs-1-286 font-weight-bold py-10">{{usageDetailsCount.totalPlays}}</dt>
                        <dd>{{resourceService.frmelmnts.lbl.totalPlays}}</dd>
                    </dl>
                    <dl class="pr-10 mb-0">
                        <dt class="fs-1-286 font-weight-bold py-10">{{ publishedContents.length !== 0 ? (usageDetailsCount.totalPlays / publishedContents.length | number: '1.0-0') : '0'}}</dt>
                        <dd>{{resourceService.frmelmnts.lbl.averagePlaysPerCount}}</dd>
                    </dl>
                    <dl class="mb-0">
                        <dt class="fs-1-286 font-weight-bold py-8"><i class="icon star sb-color-yellow fs-0-785" aria-hidden="true"></i>
                            {{usageDetailsCount.averageRating}}
                        </dt>
                        <dd>{{resourceService.frmelmnts.lbl.averageRating}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <ng-container [ngSwitch]="_selectedTab">
        <div *ngSwitchCase="'frameworkTab'" class="sb-pageSection sb-bg-color-white my-24 pb-24">
            <div class="ui container">
                <div class="sb-pageSection-header pt-24 d-flex flex-jc-space-between">
                    <div>
                        <h4 class="sb-pageSection-title pr-10"> {{resourceService.frmelmnts.lbl.allContent}}</h4>
                        <span
                            class="sb-pagSection-count sb-label sb-label-x sb-label-warning">{{contentCountData.total}}</span>
                    </div>
                    <button type="button" (click)="downloadReport();" suiPopup  popupDelay="500"  popupText="{{resourceService.frmelmnts.lbl.myContentDownloadReportBtn}}"
                        class="sb-btn sb-btn-normal sb-btn-outline-primary"
                        appTelemetryInteract
                      [telemetryInteractEdata]="getTelemetryInteractEdata('download_report', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                      [telemetryInteractCdata]="telemetryInteractCdata"
                      [telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.btn.downloadPublishedContent}}</button>
                </div>
                <div class="sb-pageSection-content">
                    <div class="sb-table-responsive">
                        <table class="sb-table sb-table-striped sb-table-sortable" aria-describedby="frameworkTable">
                            <thead class="sb-table-header sb-table-thead-gray">
                                <tr>
                                    <th class="cursor-pointer sb-sorting" scope="col" (click)="sortCollection('board')" >{{resourceService.frmelmnts.lbl.board}}
                                        &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'board' "></i>
                                        <span  *ngIf="sortColumn == 'board'" class="d-inline-block">
                                            <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                                            <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                                        </span>

                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col" (click)="sortCollection('medium')" >{{resourceService.frmelmnts.lbl.mediums}}
                                        &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'medium' "></i>
                                        <span  *ngIf="sortColumn == 'medium'" class="d-inline-block">
                                            <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                                            <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                                        </span>

                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col" (click)="sortCollection('gradeLevel')">{{resourceService.frmelmnts.lbl.class}}
                                        &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'gradeLevel' "></i>
                                        <span  *ngIf="sortColumn == 'gradeLevel'" class="d-inline-block">
                                            <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                                            <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                                        </span>

                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col" (click)="sortCollection('subject')" >{{resourceService.frmelmnts.lbl.subject}}
                                        &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'subject' "></i>
                                        <span  *ngIf="sortColumn == 'subject'" class="d-inline-block">
                                            <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                                            <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                                        </span>

                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col">{{resourceService.frmelmnts.lbl.contenttype}}
                                        &nbsp;&nbsp;</th>
                                    <th class="cursor-pointer sb-sorting" scope="col"> &nbsp;&nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="sb-table-body w-100 o-y-auto">
                                <tr *ngFor="let item of selectedContributionDetails">
                                    <td>
                                        {{item.board ? item.board : ' - '}}
                                    </td>
                                    <td>{{item.medium ? item.medium : ' - '}}</td>
                                    <td>{{item.gradeLevel ? item.gradeLevel: ' - '}}</td>
                                    <td>{{item.subject ? item.subject : ' - '}}</td>
                                    <td>
                                        <div class="text-capitalize fs-0-785">
                                            <span
                                                class="sb-color-primary d-inline-block br-2 pr-5">{{resourceService.frmelmnts.lbl.total}}
                                                : {{item.notPublished + item.published}}</span>
                                            <span
                                                class="sb-color-success d-inline-block br-2 px-5">{{resourceService.frmelmnts.lbl.published}}
                                                : {{item.published}}</span>
                                            <span
                                                class="sb-color-error d-inline-block px-5">{{resourceService.frmelmnts.lbl.notPublished}}
                                                : {{item.notPublished}}</span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" (click)="onFrameworkClick(item);"
                                            class="sb-btn sb-btn-normal sb-btn-outline-primary"
                                            appTelemetryInteract
            [telemetryInteractEdata]="getTelemetryInteractEdata('open', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
            [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.btn.open}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'contentTab'" class="sb-pageSection sb-bg-color-white my-24 pb-24">
            <div class="ui container">
                <div class="sb-pageSection-header pt-24 d-flex flex-jc-space-between">
                    <div>
                        <h4 class="sb-pageSection-title pr-10"> All Content</h4>
                        <span
                            class="sb-pagSection-count sb-label sb-label-x sb-label-warning">{{contentCountData.total}}</span>
                    </div>
                </div>
                <div class="sb-pageSection-content">
                    <div class="sb-table-responsive">
                        <table class="sb-table sb-table-striped sb-table-sortable" aria-describedby="contentTable">
                            <thead class="sb-table-header sb-table-thead-gray">
                                <tr>
                                    <th class="cursor-pointer sb-sorting" scope="col" (click)="sortCollection('name')">{{resourceService.frmelmnts.lbl.title}}
                                        &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'name' "></i>
                                        <span  *ngIf="sortColumn == 'name'" class="d-inline-block">
                                            <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                                            <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                                        </span>

                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col" (click)="sortCollection('creator')">
                                        {{resourceService.frmelmnts.lbl.courseCreatedBy}} &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'creator' "></i>
                                        <span  *ngIf="sortColumn == 'creator'" class="d-inline-block">
                                            <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                                            <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                                        </span>

                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col">{{resourceService.frmelmnts.lbl.totalPlays}}
                                        &nbsp;&nbsp;
                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col">
                                        {{resourceService.frmelmnts.lbl.averageRating}} &nbsp;&nbsp;
                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col" >{{resourceService.frmelmnts.lbl.publishedBy}}
                                        &nbsp;&nbsp;</th>
                                    <th class="cursor-pointer sb-sorting" scope="col" (click)="sortCollection('isPublished')">
                                        {{resourceService.frmelmnts.lbl.status}}
                                        &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'isPublished' "></i>
                                        <span  *ngIf="sortColumn == 'isPublished'" class="d-inline-block">
                                            <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                                            <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                                        </span>
                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col"> &nbsp;&nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="sb-table-body w-100 o-y-auto">
                                <tr *ngFor="let content of selectedContentDetails?.contents">
                                    <td>{{content.name}}</td>
                                    <td>{{content.creator}}</td>
                                    <td> {{ content.me_totalPlaySessionCount?.portal || '0' }} </td>
                                    <td><i class="icon star sb-color-yellow" aria-hidden="true"></i> {{content.me_averageRating || '0' }}</td>
                                    <td> {{content.publishBy ? content.publishBy : ' - '}} </td>
                                    <td *ngIf="content.isPublished" class="sb-color-success">
                                        {{resourceService.frmelmnts.lbl.published}}</td>
                                    <td *ngIf="!content.isPublished" class="sb-color-error">
                                        {{resourceService.frmelmnts.lbl.notPublished}}</td>
                                    <td class="text-center"><button type="button" (click)="onPreview(content);"
                                            class="sb-btn sb-btn-normal sb-btn-outline-primary"
                                            appTelemetryInteract
            [telemetryInteractEdata]="getTelemetryInteractEdata('open', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
            [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.btn.open}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'previewTab'" class="sb-pageSection sb-bg-color-white mt-24 py-24">
            <div class="middle-section-set">
                <div class="ui container msg-box">
                    <div class="msg-box__content" *ngIf="playerConfig && !isQumlPlayer">
                        <div class="container msg-box__content__blank-box">
                            <app-player class="content-player" [playerConfig]="playerConfig"></app-player>
                        </div>
                    </div>
                    <div class="b-1-100 br-2 mt-5" *ngIf="playerConfig && isQumlPlayer" >
                        <div class="aspectratio" data-ratio="16:9"> 
                            <div class="content-player">
                                <div class="w-100 h-100">
                                    <quml-main-player [playerConfig]="playerConfig" (playerEvent)="getPlayerEvents($event)"
                                        (telemetryEvent)="getTelemetryEvents($event)"></quml-main-player>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchDefault class="sb-pageSection sb-bg-color-white my-24 pb-24">
            <div class="ui container">
                <!-- <div class="sb-pageSection-header pt-24">
                    <h4 class="sb-pageSection-title pr-10"> Top 10 Content</h4>
                </div>
                <div class="sb-pageSection-content">
                    <div class="sb-table-responsive">
                        <table class="sb-table sb-table-striped sb-table-sortable" aria-describedby="contentDetailsTable">
                            <thead class="sb-table-header sb-table-thead-gray">
                                <tr>
                                    <th class="cursor-pointer sb-sorting" scope="col">{{resourceService.frmelmnts.lbl.title}}
                                        &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true"></i>

                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col">
                                        {{resourceService.frmelmnts.lbl.courseCreatedBy}}
                                        &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true"></i>

                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col">{{resourceService.frmelmnts.lbl.totalPlays}}
                                        &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true"></i>

                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col">
                                        {{resourceService.frmelmnts.lbl.averageRating}}
                                        &nbsp;&nbsp;
                                        <i class="fa fa-sort" aria-hidden="true"></i>

                                    </th>
                                    <th class="cursor-pointer sb-sorting" scope="col">{{resourceService.frmelmnts.lbl.publishedBy}}
                                        &nbsp;&nbsp;</th>
                                    <th class="cursor-pointer sb-sorting" scope="col"> &nbsp;&nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="sb-table-body w-100 o-y-auto">
                                <tr>
                                    <td>
                                        Sample
                                    </td>
                                    <td>Ekta Yadav</td>
                                    <td> - </td>
                                    <td><i class="icon star sb-color-yellow" aria-hidden="true"></i>0</td>
                                    <td> - </td>
                                    <td class="text-center"><button type="button"
                                            class="sb-btn sb-btn-normal sb-btn-outline-primary">open</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->
                <div class="sb-pageSection-header mt-30 pt-24">
                    <h4 class="sb-pageSection-title pr-10"> {{resourceService.frmelmnts.lbl.contributionDetails}}</h4>
                    <span
                        class="sb-pagSection-count sb-label sb-label-x sb-label-warning">{{contentCountData.total}}</span>
                </div>
                <div class="d-flex">
                    <ng-container  *ngIf="contributionDetails else noResult" >
                        <div class="sb-card-bx mr-20" *ngFor="let item of contributionDetails | keyvalue; let i = index">
                            <div class="fs-1-3 font-weight-bold mb-20"> {{item.key}} framework</div>
                            <div class="d-flex">
                                <div class="pr-20 w-40" *ngIf="item.value?.board.length > 0">
                                    <label
                                        class="d-block fsmall font-weight-normal">{{resourceService.frmelmnts.lbl.boards}}</label>
                                    <div class="fs-0-92">{{item.value.board}}</div>
                                </div>
                                <div class="pr-20 w-40" *ngIf="item?.value?.medium.length > 0">
                                    <label
                                        class="d-block fsmall font-weight-normal">{{resourceService.frmelmnts.lbl.medium}}</label>
                                    <div class="fs-0-92">{{item.value.medium}}</div>
                                </div>
                                <div class="pr-20 w-40" *ngIf="item?.value?.gradeLevel.length > 0">
                                    <label
                                        class="d-block fsmall font-weight-normal">{{resourceService.frmelmnts.lbl.class}}</label>
                                    <div class="fs-0-92">
                                        {{ item.value.gradeLevel | slice:0:2 }}
                                        <span class="d-none" [attr.id]="'gradeLevelList' + i">
                                            <ng-container *ngFor="let item of item.value.gradeLevel | slice:2">
                                                ,{{ item }}
                                            </ng-container>
                                        </span>
                                    </div>
                                    <small class="cursor-pointer" [attr.id]="'gradeLevelBtn' + i"
                                        (click)="onExpand(i, 'gradeLevel');"
                                        *ngIf="item.value.gradeLevel.length > 2">+{{item.value.gradeLevel.length
                                        - 2}} more</small>
                                </div>
                                <div class="pr-20 w-40" *ngIf="item?.value?.subject.length > 0">
                                    <label
                                        class="d-block fsmall font-weight-normal">{{resourceService.frmelmnts.lbl.subject}}</label>
                                    <div class="fs-0-92">
                                        {{ item.value.subject | slice:0:2 }}
                                        <span class="d-none" [attr.id]="'subjectList' + i">
                                            <ng-container *ngFor="let item of item.value.subject | slice:2">
                                                ,{{ item }}
                                            </ng-container>
                                        </span>
                                    </div>
                                    <small class="cursor-pointer" [attr.id]="'subjectBtn' + i" (click)="onExpand(i, 'subject');"
                                        *ngIf="item.value.subject.length > 2">+{{item.value.subject.length
                                        - 2}} more</small>
                                </div>
                                <div>
                                    <button type="button" (click)="onCardClick(item)"
                                        class="mt-20 sb-btn sb-btn-normal sb-btn-outline-primary"
                                        appTelemetryInteract
                    [telemetryInteractEdata]="getTelemetryInteractEdata('open', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                    [telemetryInteractCdata]="telemetryInteractCdata"
                    [telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.btn.open}}</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>    
                    <ng-template #noResult>
                        <app-no-result class="w-100" *ngIf="!showLoader" [data]="{messageText: resourceService?.messages?.stmsg?.m0006}"></app-no-result>
                      </ng-template>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container> 