.sb-color-yellow{
    color:#f7ba32 !important;
}
.sb-card-bx{
    border: solid 1px #e2e0e0;
    padding: 20px;
    width: 50%;
}
.dot-seperator{
    margin: 0 8px;
    background: #999;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}