.sb-color-yellow{
    color:#f7ba32 !important;
}
.sb-card-bx{
    border: solid 1px #e2e0e0;
    padding: 20px;
    width: 50%;
    .fnormal{
        font-size: 13px !important;
    }
}

.d-none {
    display: none;
}

.aspectratio {
    position: relative;
    width: 100%;
    height: 0;
}

.aspectratio[data-ratio="16:9"] {
    padding-top: 56.25%;
}

.aspectratio>* {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.text-initial {
  text-transform: initial !important;
}
