<div class="ui container" [appTelemetryImpression]="telemetryImpression">
	<div class="sb-pageSection mt-24 pb-48">
		<div class="sb-pageSection-header">
			<h4 class="sb-pageSection-title">{{resource.frmelmnts.lbl.createNewProgram}}</h4>
		</div>

		<div class="pb-8">
			<!--div class="ui ordered steps">
				<div class="completed step">
					<div class="content">
						<div class="title">Step 1</div>
						<div class="description">Fill the Details</div>
					</div>
				</div>
				<div class="completed step">
					<div class="content">
						<div class="title">Step 2</div>
						<div class="description">Select Text Books</div>
					</div>
				</div>
			</div-->
			<sui-tabset>
				<div class="ui pointing secondary menu sb-bg-color-primary-0">
					<a class="item" suiTabHeader="1" [ngClass]="{'active' : !showTextBookSelector}">{{resource.frmelmnts.lbl.details}}</a>
					<a class="item" suiTabHeader="2" [ngClass]="{'active' : showTextBookSelector}"
					[isDisabled]="!showTextBookSelector">{{resource.frmelmnts.lbl.selectTextbooks}}</a>
				</div>
				<div class="ui segment mt-5" suiTabContent="1" [ngClass]="{'active' : !showTextBookSelector}">
					<form class="ui form" [formGroup]="createProgramForm" (submit)="saveProgram()">
						<div class="ui grid">
							<div class="twelve wide column">
								<div class="required field">
										<label class="d-block">{{resource.frmelmnts.lbl.name}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500" popupText="{{resource.frmelmnts.lbl.programNameHint}}"></i>
										</label>
										<div class="sb-field">
										<input autofocus="" formControlName="name"
											class="sb-form-control ng-pristine ng-valid ng-touched" type="text"
											placeholder="{{resource.frmelmnts.lbl.programNameHint}}">
										<div class="ui pointing red basic label below "
											*ngIf="createProgramForm.controls['name'].errors && createProgramForm.controls['name'].errors.required && (!createProgramForm.controls['name'].pristine || formIsInvalid)">
											{{ resource.frmelmnts.lbl.programNameRequired }}
										</div>
										<div class="ui pointing red basic label below"
											*ngIf="createProgramForm.controls['name'].errors && createProgramForm.controls['name'].errors.maxlength && (!createProgramForm.controls['name'].pristine || formIsInvalid)">
												{{resource.frmelmnts.lbl.characterLengthGreaterHundred}}
											</div>
										<div *ngIf="createProgramForm.value.name.length" class="pull-right fsmall">
											{{createProgramForm.value.name.length}} / 100
										</div>
									</div>
								</div>
							</div>
							<div class="twelve wide column">
								<div class="required field ">
									<label class="d-block">{{resource.frmelmnts.lbl.description}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500"  popupText="{{resource.frmelmnts.lbl.programDescriptionHint}}"></i>
									</label>
									<div class="sb-field relative">
										<textarea formControlName="description" type="text"
											class="wmd-input width-100 sb-form-control" placeholder="{{resource.frmelmnts.lbl.programDescriptionHint}}"
											name="description" required></textarea>
										<div class="ui pointing red basic label below "
											*ngIf="createProgramForm.controls['description'].errors && createProgramForm.controls['description'].errors.required && (!createProgramForm.controls['description'].pristine || formIsInvalid)">
											{{ resource.frmelmnts.lbl.programDescriptionRequired }}
										</div>
										<div class="ui pointing red basic label below"
											*ngIf="createProgramForm.controls['description'].errors && createProgramForm.controls['description'].errors.maxlength && (!createProgramForm.controls['description'].pristine || formIsInvalid)">
											{{resource.frmelmnts.lbl.characterLengthGreaterThousand}}
										</div>
										<div *ngIf="createProgramForm.value.description.length" class="pull-right fsmall">
											{{createProgramForm.value.description.length}} /	1000
										</div>
									</div>
								</div>
							</div>

							<div class="twelve wide tablet three wide computer column">
								<div class="required field">
									<label class="d-block">{{resource.frmelmnts.lbl.nominationEndDate}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500"  popupText="{{resource.frmelmnts.lbl.programNominationEnddateHint}}"></i>
									</label>
									<div class="ui read-only calendar mb-10 sb-field">
										<div class="ui input right icon">
											<i class="calendar icon date-calendar"></i>
											<input [pickerMinDate]='pickerMinDate' formControlName="nomination_enddate"
												suiDatepicker [pickerMode]="'date'">
										</div>
										<div class="ui pointing red basic label below "
											*ngIf="createProgramForm.controls['nomination_enddate'].errors && createProgramForm.controls['nomination_enddate'].errors.required && (!createProgramForm.controls['nomination_enddate'].pristine || formIsInvalid)">
											{{ resource.frmelmnts.lbl.programNominationEnddateRequired }}
										</div>
									</div>
								</div>
							</div>
							<div class="twelve wide tablet three wide computer column">
								<div class="field">
									<label class="d-block">{{resource.frmelmnts.lbl.nominationShortlistingDate}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500"  popupText="{{resource.frmelmnts.lbl.programShortlistingEnddateHint}}"></i>
									</label>
									<div class="ui read-only calendar mb-10">
										<div class="ui input right icon">
											<i class="calendar icon date-calendar"></i>
											<input [pickerMinDate]='createProgramForm.value.nomination_enddate ? createProgramForm.value.nomination_enddate : pickerMinDate'
												formControlName="shortlisting_enddate" suiDatepicker
												[pickerMode]="'date'">
										</div>
									</div>
								</div>
							</div>

							<div class="twelve wide tablet three wide computer column">
								<div class="required field">
									<label class="d-block">{{resource.frmelmnts.lbl.contributionEndDate}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500"  popupText="{{resource.frmelmnts.lbl.programContributionEnddateHint}}"></i>
									</label>
									<div class="ui read-only calendar mb-10">
										<div class="ui input right icon">
											<i class="calendar icon date-calendar"></i>
											<input [pickerMinDate]='createProgramForm.value.shortlisting_enddate ? createProgramForm.value.shortlisting_enddate : pickerMinDate'
												formControlName="content_submission_enddate" suiDatepicker
												[pickerMode]="'date'">
										</div>
										<div class="ui pointing red basic label below "
											*ngIf="createProgramForm.controls['content_submission_enddate'].errors && createProgramForm.controls['content_submission_enddate'].errors.required && (!createProgramForm.controls['content_submission_enddate'].pristine || formIsInvalid)">
											{{ resource.frmelmnts.lbl.programContributionEndDateRequired }}
										</div>
									</div>
								</div>
							</div>

							<div class="three wide column">
								<div class="required field">
									<label class="d-block">{{resource.frmelmnts.lbl.programEndDate}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500"  popupText="{{resource.frmelmnts.lbl.programEnddateHint}}"></i>
									</label>
									<div class="ui read-only calendasr mb-10">
										<div class="ui input right icon">
											<i class="calendar icon date-calendar"></i>
											<input [pickerMinDate]='createProgramForm.value.content_submission_enddate ? createProgramForm.value.content_submission_enddate :pickerMinDate' formControlName="program_end_date"
												suiDatepicker [pickerMode]="'date'">
										</div>
										<div class="ui pointing red basic label below "
											*ngIf="createProgramForm.controls['program_end_date'].errors && createProgramForm.controls['program_end_date'].errors.required && (!createProgramForm.controls['program_end_date'].pristine || formIsInvalid)">
											{{ resource.frmelmnts.lbl.programEndDateRequired }}
										</div>
									</div>
								</div>
							</div>
							<div class="twelve wide column">
								<div class="field">
									<label class="d-block">{{resource.frmelmnts.lbl.contentType}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500"  popupText="{{resource.frmelmnts.lbl.contentTypesHint}}"></i>
									</label>
									<sui-multi-select class="selection" labelField="name" [hasLabels]="true"
										formControlName="content_types" [options]="programScope.purpose"
										valueField="value" #multiSelect>
										<sui-select-option *ngFor="let option of programScope.purpose" [value]="option">
										</sui-select-option>
									</sui-multi-select>
								</div>
							</div>
							<!--div class="twelve wide column">
								<div class="field">
									<label>Certificates to be awarded </label>
									<select class="ui fluid dropdown">
										<option value="">Select</option>
										<option value="dummy">Dummy</option>
									</select>
								</div>
							</div-->
							<div class="twelve wide column">
								<div class="field">
									<label class="d-block">{{resource.frmelmnts.lbl.recongnitionToContributors}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500"  popupText="{{resource.frmelmnts.lbl.programRecognitionHint}}"></i>
									</label>
									<div class="sb-field relative">
										<textarea type="text" formControlName="rewards" class="wmd-input width-100 sb-form-control"
											placeholder="{{resource.frmelmnts.lbl.programRecognitionHint}}" name=""></textarea>
									
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="ui segment mt-5" suiTabContent="2" [ngClass]="{'active' : showTextBookSelector}">
					<form class="ui form" [formGroup]="collectionListForm" (submit)="saveProgram()">
						<div class="ui grid">
							<div class="three wide column">
								<div class="field">
									<label class="d-block">{{resource.frmelmnts.lbl.medium}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500"  popupText="{{resource.frmelmnts.lbl.selectMedium}}"></i>
									</label>
									<sui-multi-select
										placeholder="{{resource.frmelmnts.lbl.selectMedium}}"
										class="selection" formControlName="medium" [options]="programScope['medium']"
										[isDisabled]="!programScope['medium']" (ngModelChange)="onMediumChange()"
										labelField="name" #mediums>
										<sui-select-option *ngFor="let medium of mediums.filteredOptions"
											[value]="medium"> </sui-select-option>
									</sui-multi-select>

									<!--div class="ui pointing red basic label below " *ngIf="createProgramForm.controls['medium'].errors && createProgramForm.controls['medium'].errors.required && (!createProgramForm.controls['medium'].pristine || formIsInvalid)">
										This field is required
									</div-->
								</div>
							</div>
							<div class="three wide column">
								<div class="field">
									<label class="d-block"> {{resource.frmelmnts.lbl.grade}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500"  popupText="{{resource.frmelmnts.lbl.selectGrade}}"></i>
										</label>
									<sui-multi-select
										placeholder="{{resource.frmelmnts.lbl.selectGrade}}"
										class="selection" formControlName="gradeLevel" labelField="name"
										(ngModelChange)="onClassChange()" [options]="programScope['gradeLevel']"
										 #graveLevels>
										<sui-select-option *ngFor="let gradeLevel of graveLevels.filteredOptions"
											[value]="gradeLevel">
										</sui-select-option>
									</sui-multi-select>
									<!--div class="ui pointing red basic label below " *ngIf="createProgramForm.controls['gradeLevel'].errors && createProgramForm.controls['gradeLevel'].errors.required && (!createProgramForm.controls['gradeLevel'].pristine || formIsInvalid)">
										This field is required
									</div-->
								</div>
							</div>
							<div class="three wide column">
								<div class="field">
									<label class="d-block"> {{resource.frmelmnts.lbl.subject}}
											<i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500"  popupText="{{resource.frmelmnts.lbl.selectSubject}}"></i>
									</label>
									<sui-multi-select
										placeholder="{{resource.frmelmnts.lbl.selectSubject}}"
										class="selection" formControlName="subject" labelField="name"
										[hasLabels]="true" [options]="programScope['subject']" valueField="name"
										#subjects>
										<sui-select-option *ngFor="let subject of subjects.filteredOptions"
											[value]="subject">
										</sui-select-option>
									</sui-multi-select>
									<!--div class="ui pointing red basic label below " *ngIf="createProgramForm.controls['subject'].errors && createProgramForm.controls['subject'].errors.required && (!createProgramForm.controls['subject'].pristine || formIsInvalid)">
										This field is required
									</div-->
								</div>
							</div>
							<div class="three wide column">
								<div class="field">
									<label>&nbsp;</label>
									<button class="sb-btn sb-btn-normal sb-btn-outline-primary">
											{{resource.frmelmnts.btn.reset}}
									</button>
									<button class="sb-btn sb-btn-normal sb-btn-primary ml-8" (click)="showTexbooklist()"
									appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('show-textbook-list', 'click', 'create-program')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">
									{{resource.frmelmnts.btn.apply}}
									</button>
								</div>
							</div>
						</div>
					</form>
					<div class="ui grid">
						<div class="seven wide column">
							<div class="sb-table-responsive">
								<table class="sb-table sb-table-striped sb-table-sortable"
									*ngIf="showTextBookSelector">
									<thead class="sb-table-header sb-table-thead-gray d-block">
										<tr>
											<th class="w-5">
												<div class="sb-checkbox sb-checkbox-primary">
													<input type="checkbox" id="checkall"
														(change)="isSelected = !isSelected" name="checkall">
													<label for="checkall"></label>
												</div>
											</th>
											<th class="sb-sort-icon w-10">{{resource.frmelmnts.lbl.title}}</th>
											<th class="sb-sort-icon w-10">{{resource.frmelmnts.lbl.medium}}</th>
											<th class="sb-sort-icon w-10">{{resource.frmelmnts.lbl.class}}</th>
											<th class="sb-sort-icon w-10">{{resource.frmelmnts.lbl.subject}}</th>
											<th class="w-10">{{resource.frmelmnts.lbl.chapters}}</th>
										</tr>
									</thead>
									<tbody class="sb-table-body d-block w-100 o-y-auto max-height">
										<tr *ngFor="let data of collections">
											<td class="collapsing">
												<div class="sb-checkbox sb-checkbox-primary">
													<input type="checkbox" id="checkitem"
														(change)="onCollectionCheck(data, $event.target.checked)"
														[checked]="collectionListForm.value.pcollections.indexOf(data.identifier) != -1" name="checkitem">
													<label for="checkitem"></label>
												</div>
											</td>
											<td>
												<div
													class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold text-center">
													{{data.name}}
												</div>
											</td>
											<td>
												<div class="text-center">
													{{data.medium}}
												</div>
											</td>
											<td>
												<div class="sb__ellipsis sb__ellipsis--three text-center">
													{{data.gradeLevel}}
												</div>
											</td>
											<td>
												<div class="text-center">
													{{data.subject}}
												</div>
											</td>
											<td class="text-center">{{ data.childNodes ? data.childNodes.length : 0 }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="five wide column">
							<div class="sb-bg-white b-1-100 br-4 o-y-auto fs-0-92">
								<h5 class="p-10">
									<span class="p-10 font-weight-bold">{{tempCollections.length + ' ' + resource.frmelmnts.lbl.textbooksAdded}}</span>
									<hr>
								</h5>
								<div class="o-y-auto max-height">
									<div class="sb-program-collection ui container" *ngFor="let tempCollection of tempCollections">
										<div class="ui grid">
											<div class="eleven wide column">
												<h5 class="mx-10 sb-color-gray-400 sb__ellipsis sb__ellipsis--three font-weight-bold">{{tempCollection.name}}</h5>
												<small class="ui container d-flex mx-10">
													<span>{{tempCollection.medium}}</span>
													<span class="mx-8" style="border-left: 1px solid var(--gray-200);"></span>
													<span>{{tempCollection.gradeLevel}}</span>
													<span class="mx-8" style="border-left: 1px solid var(--gray-200);"></span>
													<span>{{tempCollection.subject}}</span>
												</small>
											</div>
											<span class="one wide column text-align-right" (click)="onCollectionCheck(tempCollection, false)"
											appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('collection-check', 'click', 'create-program')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">
												<i class="close outline icon sb-color-red-100" suiPopup popupHeader="close"></i>
											</span>
											<hr class="row p-0">
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</sui-tabset>
		</div>
		<div class="text-align-right mt-10" [appTelemetryStart]="telemetryStart" [appTelemetryEnd]="telemetryEnd">
			<button *ngIf="!showTextBookSelector" class="sb-btn sb-btn-normal sb-btn-primary"
				(click)="saveProgram()"
				appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('next', 'click', 'create-program')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">{{resource.frmelmnts.btn.next}}</button>
			<button *ngIf="showTextBookSelector" class="sb-btn sb-btn-normal sb-btn-default mr-10"
				(click)="navigateTo(1)"
				appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('previous', 'click', 'create-program')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">{{resource.frmelmnts.btn.previous}}</button>
			<button *ngIf="showTextBookSelector" class="sb-btn sb-btn-normal sb-btn-primary"
				(click)="updateProgramCollection()"
				appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('create-program', 'click', 'create-program')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">{{resource.frmelmnts.btn.createProgram}}</button>
		</div>
	</div>
</div>
