@import "variables";
@import "mixins/mixins";

.ui input, .ui textarea, .ui select {
    font-size: 0.75rem !important;
    padding: 0.25rem 0.5rem !important;
    min-height: 2rem !important;
}
.ui .field label {
    font-weight: bold !important;
}
.sb-pageSection .sb-pageSection-title {
    text-transform: inherit;
}
h4 {
    font-weight: bold;
    font-size:16px;
    text-transform: uppercase;
    color: var(--primary-400);
    margin:0px;
    padding:0px;
}
.ui {
    .field{
        label {
            font-size: 1.05em;
            font-weight: 500;
            margin-bottom:10px;
            font-size:14px;
        }
    }
    .multiple.dropdown {
        border: 1px solid rgba(34,36,38,.15);
        background: #fff;
        font-size: 14px;
    }
    input{
        font-size: 12px;
        padding: 15px;
    }
    textarea{
        @extend input;
    }
    select{
        @extend input;
    }
}
.ui .default.text {
    color: #e0e0e0 !important;
}
@media(min-width:768px){
    .ui.form .fields{
        margin:30px 0;
    }
}



/* steps */
.ui.ordered.steps .step.completed:before, .ui.steps .step.completed>.icon:before {
    content: '\2714';
}
.ui.steps .step.active {
    cursor: auto;
    background: var(--primary-100);
}

.ui.steps .step .title {
    font-size: 0.85rem;
    text-transform: uppercase;
}
suiPopup:after {
    content: attr(data-foo);
    background-color: black;
    color: white;
    white-space: pre;
    display: inline-block;
}
.sb-dock-textbook-table{
    .sb-table-striped{
        td{
            width: 21%;
            max-width: 21%;
            padding: 1rem 1rem 1rem 0;
            &:first-child{
                width: 2% !important;
                max-width: 2% !important;
                padding: 1rem;
            }
        }
        th{
            &:first-child{
                @extend td;
            }
        }
    }

}
a
.ui.secondary{
    &.menu{
        .active{
            font-weight: 600;
        }
    }
}

.max-w-90{
    max-width: 90%;
}
.min-w-0 {
    min-width: 0!important;
}
.selection.dropdown.multiple{
    width: 100%;
}
.ui.fluid.dropdown{
    background: #fff !important;
} 	
sui-select{
    width: 100%;
    border: 1px solid rgba(34, 36, 38, 0.15);
    font-size: 0.8rem;
    padding:0.4rem 0.2rem;
}
