<div class="ui form centered grid mb-10 mt-30">
    <div class="twelve wide tablet seven wide computer column form-fields">
        <h3 class="mb-20">Enroll as Contributor </h3>
        <form>
            <label>Organisation or Individual : </label>
            <div class="five fields" id="Mandatory">
                    <div class="field">
                        <div class="ui radio checkbox" (click)="contributorType='organisation'">
                        <input class="sb-form-control" type="radio" checked="checked" value="organisation" role="phone" name= "contributor-type" id="organisation" aria-labelledby="Mandatory">
                        <label for="organisation" class="pl-20">Organisation</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox" (click)="contributorType='individual'">
                        <input class="sb-form-control" type="radio" value="individual" role="email" id="individual" name= "contributor-type" aria-labelledby="Mandatory">
                        <label for="individual" class="pl-20">Individual</label>
                        </div>
                    </div>
            </div>
            <div class="field">
                    <div class="field" *ngIf="contributorType === 'organisation'">
                        <label>Name of Organisation* : </label>
                            <input autofocus="" class="ng-pristine ng-valid ng-touched" type="text" placeholder="Name of Organisation">
                    </div>
                    <div class="field" *ngIf="contributorType === 'individual'">
                        <label>Name of individual* : </label>
                            <input autofocus="" class="sb-form-control ng-pristine ng-valid ng-touched" type="text" placeholder="Name of individual">
                        </div>
                </div>
                <!-- <div class="six wide column">
                    <div class="sb-field-group">
                        <label>Contributor Information</label>
                        <div class="sb-field">
                            <input autofocus="" class="sb-form-control ng-pristine ng-valid ng-touched" type="text" placeholder="Contributor Information">
                        </div>
                    </div>
                </div> -->
                    <div class="field mt-20">
                        <label>Contributor Information : </label>
                            <textarea type="text" class="wmd-input width-100 sb-form-control" placeholder="Contributor Information" name="" required></textarea>
                    </div>
            <!-- </div> -->
          
            <div class="field mt-20">
                <label>Website : </label>
                <div class="sb-field">
                    <input autofocus="" class="sb-form-control ng-pristine ng-valid ng-touched" type="text" placeholder="Contributor Information">
                </div>
            </div>
            
            <label>Types of content to contribute : </label>
            <div class="four fields mb-0">
                <!-- <div class="sb-field-group"> -->
                            <!-- <div class="sb-field">
                                <input autofocus="" class="sb-form-control ng-pristine ng-valid ng-touched" type="text" placeholder="Contributor Information">
                            </div> -->
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="example">
                            <label>Explanation video</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="example">
                            <label>Practice Question set</label>
                        </div>
                    </div>
                    <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="example">
                                <label>Lesson plan pdf</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="example">
                                <label>Learning outcome pdf</label>
                            </div>
                        </div>
                <!-- </div> -->
            </div>

            <h5 class="ui dividing header font-weight-bold">Select Text books from Diksha </h5>
            <div class="two fields">
                <div class="required field">
                    <label class="mb-10">Board</label>
                    <ng-template let-option #optionTemplate >
                        <div class="field m-0">
                        <div class="template-checkbox">
                            <div class="p-5 option-text"  title="{{option.name}}">
                            {{option.name}}
                            </div>
                            <div class="ml-auto">
                            <i class="square outline medium icon"></i>
                            </div>
                        </div>
                        </div>
                    </ng-template>
                    <sui-multi-select class="selection"
                                    labelField="name"
                                    [hasLabels]="true"
                                    [options]="data.filteredOptions"
                                    valueField="name"
                                    #multiSelect>
                        <sui-select-option *ngFor="let option of data.filteredOptions"
                                        [value]="option" >
                        </sui-select-option>
                    </sui-multi-select>
                </div>
                <div class="required field">
                    <label> Select Medium</label>
                    <ng-template let-option #optionTemplate >
                        <div class="field m-0">
                                <div class="template-checkbox">
                                    <div class="p-5 option-text"  title="{{option.name}}">
                                    {{option.name}}
                                    </div>
                                    <div class="ml-auto">
                                    <i class="square outline medium icon"></i>
                                    </div>
                                </div>
                        </div>
                    </ng-template>
                    <sui-multi-select class="selection"
                                    labelField="name"
                                    [hasLabels]="true"
                                    [options]="data.filteredOptions"
                                    valueField="name"
                                    #multiSelect>
                        <sui-select-option *ngFor="let option of data.filteredOptions"
                                        [value]="option" >
                        </sui-select-option>
                    </sui-multi-select>
                </div>
            </div>
            
            <div class="two fields mt-20">
                <div class="required field">
                    <label> Grade / Class </label>
                    <ng-template let-option #optionTemplate >
                        <div class="field m-0">
                            <div class="template-checkbox">
                                <div class="p-5 option-text"  title="{{option.name}}">
                                {{option.name}}
                                </div>
                                <div class="ml-auto">
                                <i class="square outline medium icon"></i>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <sui-multi-select class="selection"
                                    labelField="name"
                                    [hasLabels]="true"
                                    [options]="data.filteredOptions"
                                    valueField="name"
                                    #multiSelect>
                        <sui-select-option *ngFor="let option of data.filteredOptions"
                                        [value]="option" >
                        </sui-select-option>
                    </sui-multi-select>
                </div>
                <div class="required field">
                    <label> Subject</label>
                    <ng-template let-option #optionTemplate >
                        <div class="field m-0">
                            <div class="template-checkbox">
                                <div class="p-5 option-text"  title="{{option.name}}">
                                {{option.name}}
                                </div>
                                <div class="ml-auto">
                                <i class="square outline medium icon"></i>
                                    </div>
                            </div>
                        </div>
                    </ng-template>
                <sui-multi-select class="selection"
                                labelField="name"
                                [hasLabels]="true"
                                [options]="data.filteredOptions"
                                valueField="name"
                                #multiSelect>
                    <sui-select-option *ngFor="let option of data.filteredOptions"
                                    [value]="option" >
                    </sui-select-option>
                </sui-multi-select>
                </div>
            </div>

            <div class="text-right my-20">
                    <button class="sb-btn sb-btn-normal sb-btn-primary">
                        Save
                    </button>
            </div>
        </form>
    </div>
</div>



