
.qq-uploader.qq-uploader-selector.custom-qq-uploader {
    background: inherit;
    border-color: none;
    max-height: inherit;
    min-height: inherit;
    overflow-y: inherit;
    width: inherit;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  