<div class="sb-pageSection my-24 ui container" [appTelemetryImpression]="telemetryImpression">
    <div class="sb-pageSection-content">
      <div class="sb-pageSection-header">
          <h4 class="sb-pageSection-title"> Contributor Dashboard</h4>
        </div>
    </div>
    <div class="ui grid">
      <div class="six wide tablet four wide computer column masonry-grid">
            <!-- 1st card -->
            <div class="sb-card masonry-item" tabindex="0" dir="rtl" lang="ur">
              <div class="sb-card-body">
                <h4 class="sb-card-title">
                    Contributors made
                </h4>
                <h1 class="sb-color-primary">100</h1>
              </div>
              <div class="sb-card-progressbar">
                <sui-progress class="ui progress success">
                  <div class="bar" style="width: 30%;">
                    <div class="progress">100%</div>
                  </div>
                  <div class="label"></div>
                </sui-progress>
              </div>
            </div>
             <!-- 2nd card -->
             <div class="sb-card masonry-item" tabindex="0" dir="rtl" lang="ur">
                <div class="sb-card-body">
                  <h4 class="sb-card-title">
                     Programs nominated
                  </h4>
                  <h1 class="sb-color-secondary">60</h1>
                </div>
                <div class="sb-card-progressbar">
                  <sui-progress class="ui progress">
                    <div class="bar" style="width: 30%;">
                      <div class="progress">100%</div>
                    </div>
                    <div class="label"></div>
                  </sui-progress>
                </div>
              </div>
               <!-- 3rd card -->
            <div class="sb-card masonry-item" tabindex="0" dir="rtl" lang="ur">
                <div class="sb-card-body">
                  <h4 class="sb-card-title">
                      Content Uploaded
                  </h4>
                  <h1 class="sb-color-gray">50</h1>
                </div>
                <div class="sb-card-progressbar">
                  <sui-progress class="ui progress">
                    <div class="bar" style="width: 30%;">
                      <div class="progress">100%</div>
                    </div>
                    <div class="label"></div>
                  </sui-progress>
                </div>
              </div>
               <!-- 4th card -->
            <div class="sb-card masonry-item" tabindex="0" dir="rtl" lang="ur">
                <div class="sb-card-body">
                  <h4 class="sb-card-title">
                      Programs Approved
                  </h4>
                  <h1 class="sb-color-warning">30</h1>
                </div>
                <div class="sb-card-progressbar">
                  <sui-progress class="ui progress">
                    <div class="bar" style="width: 30%;">
                      <div class="progress">100%</div>
                    </div>
                    <div class="label"></div>
                  </sui-progress>
                </div>
              </div>
               <!-- 5th card -->
            <div class="sb-card masonry-item" tabindex="0" dir="rtl" lang="ur">
                <div class="sb-card-body">
                  <h4 class="sb-card-title">
                      Published on DIKSHA
                  </h4>
                  <h1 class="sb-color-error">90</h1>
                </div>
                <div class="sb-card-progressbar">
                  <sui-progress class="ui progress">
                    <div class="bar" style="width: 30%;">
                      <div class="progress">100%</div>
                    </div>
                    <div class="label"></div>
                  </sui-progress>
                </div>
              </div>  
      </div>
      <div class="six wide tablet eight wide computer column">
          <h5>List of recently published content</h5>
          <table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-fixed mb-20">
              <thead class="sb-table-header sb-table-thead-gray">
                <tr>
                  <th class="sb-sort-icon">Program</th>
                  <th>No of Textbooks</th>
                  <th>Grades, Mediums, Subjects</th>
                  <th class="text-center">Links</th>
                </tr>
              </thead>
              <tbody class="sb-table-body">
                <tr> 
                  <td>
                      <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                        Old man and the Sea
                      </div>
                      <div class="sb-label-value mt-4">Program Kerala</div>
                    </td>
                  <td>English</td>
                  <td>
                      <div class="sb__ellipsis sb-color-primary" suiPopup popupHeader="Grades" popupText="Grade 7, Grade 2, Grade 3">5th, English</div>
                      <div class="sb__ellipsis" suiPopup popupHeader="Medium" popupText="English, Hindi, Marathi">CBSE</div>
                  </td>
                  <td>
                     <a class="sb__ellipsis">https://docs.google.com/document/d/1OftdTSPe6Ndi1dMUXYoxEHg4oc2pWiCzzKsys7UdQaA/edit</a>
                  </td>
                </tr>
                <tr> 
                    <td>
                        <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                          Old man and the Sea
                        </div>
                        <div class="sb-label-value mt-4">Program Kerala</div>
                      </td>
                    <td>English</td>
                    <td>
                        <div class="sb__ellipsis sb-color-primary" suiPopup popupHeader="Grades" popupText="Grade 7, Grade 2, Grade 3">5th, English</div>
                        <div class="sb__ellipsis" suiPopup popupHeader="Medium" popupText="English, Hindi, Marathi">CBSE</div>
                    </td>
                    <td>
                       <a class="sb__ellipsis"> https://docs.google.com/document/d/1OftdTSPe6Ndi1dMUXYoxEHg4oc2pWiCzzKsys7UdQaA/edit</a>
                    </td>
                  </tr>
                  <tr> 
                      <td>
                          <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                            Old man and the Sea
                          </div>
                          <div class="sb-label-value mt-4">Program Kerala</div>
                        </td>
                      <td>English</td>
                      <td>
                          <div class="sb__ellipsis sb-color-primary" suiPopup popupHeader="Grades" popupText="Grade 7, Grade 2, Grade 3">5th, English</div>
                          <div class="sb__ellipsis" suiPopup popupHeader="Medium" popupText="English, Hindi, Marathi">CBSE</div>
                      </td>
                      <td>
                         <a class="sb__ellipsis">https://docs.google.com/document/d/1OftdTSPe6Ndi1dMUXYoxEHg4oc2pWiCzzKsys7UdQaA/edit</a>
                      </td>
                    </tr>
                    </tbody>
              </table>
          
          <h5>User Requests</h5>
          <table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-fixed">
              <thead class="sb-table-header sb-table-thead-gray">
                <tr>
                  <th class="sb-sort-icon">Individual / Organisation</th>
                  <th>Grades, Mediums, Subjects</th>
                  <th class="text-center">Content Type</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody class="sb-table-body">
                <tr> 
                  <td>
                      <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                        Program name Kerala
                      </div>
                      <div class="sb-label-value mt-4">CBSE</div>
                    </td>
                  <td>
                      <div class="sb-color-primary">Grade 7, English</div>
                      <div class="sb__ellipsis">CBSE</div>
                  </td>
                  <td>                
                    <div>Explaination Video, Learning out..</div>
                  </td>
                  <td>
                      <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5">Accept</button>
                      <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5">Reject</button>
                  </td>
                </tr>
                <tr> 
                    <td>
                        <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                          Program name Kerala
                        </div>
                        <div class="sb-label-value mt-4">CBSE</div>
                      </td>
                      <td>
                          <div class="sb-color-primary">Grade 7, English</div>
                          <div class="sb__ellipsis">CBSE</div>
                      </td>
                    <td>                
                      <div>Explaination Video, Learning out..</div>
                    </td>
                    <td>
                        <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5">Accept</button>
                        <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5">Reject</button>
                    </td>
                  </tr>
                  <tr> 
                      <td>
                          <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                            Program name Kerala
                          </div>
                          <div class="sb-label-value mt-4">CBSE</div>
                        </td>
                        <td>
                            <div class="sb-color-primary">Grade 7, English</div>
                            <div class="sb__ellipsis">CBSE</div>
                        </td>
                      <td>                
                        <div>Explaination Video, Learning out..</div>
                      </td>
                      <td>
                          <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5">Accept</button>
                          <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5">Reject</button>
                      </td>
                    </tr>
                    </tbody>
              </table>
      </div>
    </div>
</div>