@import "variables";
@import "mixins/mixins";
@import "base/flexbox";

h1{
  font-size: 5em;
}

.sb-stat-card {
  box-shadow: 0 0.125rem 0.4375rem 0 rgba(0,0,0,.16);
  background:var(--white);
    border: 1px solid var(--gray-0);
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    &__title {
      font-weight: bold;
      font-size: 0.875rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    &__item{
      label, div {
        display: block;
      }
      &--Primary{
        text-align: left;
        label {
          font-size: 0.875rem;
          color:var(--gray-800);
          font-weight: normal;
        .stat-value {
          font-size:4rem;
          line-height: 4rem;
          font-weight: bold;
          color:var(--gray-800);
          display: block;
        }
        }
      }
    }
}

.sb-stat-card-item__container {
  @extend .d-flex;
    @extend .flex-dc;
    flex:1;
  .sb-stat-card__item {
    margin-bottom: 0.25rem;
    border-bottom: 0.5px solid hsla(0, 0%, 80%, 0.5);
    padding-bottom: 0.25rem;
    font-size: 0.875rem;
    padding-left: 0.25rem;
  }
}