<div class="ui container">
<div class="sb-pageSection mt-24 mb-60" [appTelemetryImpression]="telemetryImpression">
    <div class="sb-pageSection-content">
      <div class="sb-pageSection-header">
          <h4 class="sb-pageSection-title"> Contributor Dashboard</h4>
        </div>
    </div>
    <div class="ui grid mx-0">
      <div class="twelve wide tablet four wide computer column px-5">
          <h5 class="my-10 font-weight-bold">Programs</h5>
          <div class="sb-card-cover">
            <!-- 1st card -->
            <div class="sb-card" tabindex="0" dir="rtl" lang="ur">
              <div class="sb-card-body">
                <h4 class="sb-card-title">
                    Contributors made
                </h4>
                <h2 class="sb-color-gray-200">100</h2>
              </div>
            </div>
            <!-- 2nd card -->
            <div class="sb-card" tabindex="0" dir="rtl" lang="ur">
                <div class="sb-card-body">
                  <h4 class="sb-card-title">
                    Programs nominated
                  </h4>
                  <h2 class="sb-color-gray-200">60</h2>
                </div>
              </div>
              <!-- 3rd card -->
            <div class="sb-card" tabindex="0" dir="rtl" lang="ur">
                <div class="sb-card-body">
                  <h4 class="sb-card-title">
                      Content Uploaded
                  </h4>
                  <h2 class="sb-color-gray-200">50</h2>
                </div>
              </div>
              <!-- 4th card -->
            <div class="sb-card" tabindex="0" dir="rtl" lang="ur">
                <div class="sb-card-body">
                  <h4 class="sb-card-title">
                      Programs Approved
                  </h4>
                  <h2 class="sb-color-gray-200">30</h2>
                </div>
        </div>
         <!-- 5th card -->
      <div class="sb-card" tabindex="0" dir="rtl" lang="ur">
          <div class="sb-card-body">
            <h4 class="sb-card-title">
                Published on DIKSHA
            </h4>
            <h2 class="sb-color-gray-200">10</h2>
          </div>
        </div>
    </div>
  </div>
      <div class="twelve wide tablet eight wide computer column px-5">
          <h5 class="my-10 font-weight-bold">List of recently published content</h5>
          <table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-fixed mb-30">
              <thead class="sb-table-header sb-table-thead-gray">
                <tr>
                  <th class="sb-sort-icon">Program</th>
                  <th>Textbooks</th>
                  <th>Grade, Mediums, Board</th>
                  <th class="text-center">Links</th>
                </tr>
              </thead>
              <tbody class="sb-table-body">
                <tr> 
                  <td>
                      <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                        Old man and the Sea
                      </div>
                      <div>Program Kerala</div>
                    </td>
                  <td>English</td>
                  <td>
                      <div class="sb__ellipsis sb-color-primary">5th, English</div>
                      <div class="sb-label-value mt-4">CBSE</div>
                  </td>
                  <td>
                     <a class="sb__ellipsis font-weight-bold"  suiPopup popupHeader="Links" popupText="https://docs.google.com/document/d/edit">https://docs.google.com/document/d/edit</a>
                  </td>
                </tr>
                <tr> 
                    <td>
                        <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                          Old man and the Sea
                        </div>
                        <div>Program Uttar Pradesh</div>
                      </td>
                    <td>Hindi</td>
                    <td>
                        <div class="sb__ellipsis sb-color-primary">5th, Hindi</div>
                        <div class="sb-label-value mt-4">ICSE</div>
                    </td>
                    <td>
                       <a class="sb__ellipsis font-weight-bold" suiPopup popupHeader="Links" popupText="https://docs.google.com/document/d/edit"> https://docs.google.com/document/d/edit</a>
                    </td>
                  </tr>
                  <tr> 
                      <td>
                          <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                            Old man and the Sea
                          </div>
                          <div>Program Punjab</div>
                        </td>
                      <td>Physics</td>
                      <td>
                          <div class="sb__ellipsis sb-color-primary">5th, Physics</div>
                          <div class="sb-label-value mt-4">CBSE</div>
                      </td>
                      <td>
                         <a class="sb__ellipsis font-weight-bold" suiPopup popupHeader="Links" popupText="https://docs.google.com/document/d/edit">https://docs.google.com/document/d/edit</a>
                      </td>
                    </tr>
                    </tbody>
              </table>

          <h5 class="my-10 font-weight-bold">User Requests</h5>
          <table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-fixed">
              <thead class="sb-table-header sb-table-thead-gray">
                <tr>
                  <th class="sb-sort-icon">Individual / Organisation</th>
                  <th>Grade, Medium, Board</th>
                  <th>Content Type</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="sb-table-body">
                <tr> 
                  <td>
                      <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                        Program name Kerala
                      </div>
                    </td>
                  <td>
                      <div class="sb-color-primary">Grade 7, English</div>
                      <div class="sb-label-value mt-4">CBSE</div>
                  </td>
                  <td>                
                    <div>Explaination Video, Learning out..</div>
                  </td>
                  <td>
                      <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5">Accept</button>
                      <button class="sb-btn sb-btn-xs sb-btn-outline-primary">Reject</button>
                      <i class="angle right link icon ml-5"></i>
                  </td>
                </tr>
                <tr> 
                    <td>
                        <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                          Program name Bihar
                        </div>
                      </td>
                      <td>
                          <div class="sb-color-primary">Grade 8, Hindi</div>
                          <div class="sb-label-value mt-4">CBSE</div>
                      </td>
                    <td>                
                      <div>Explaination Video, Learning out..</div>
                    </td>
                    <td>
                        <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5">Accept</button>
                        <button class="sb-btn sb-btn-xs sb-btn-outline-primary">Reject</button>
                        <i class="angle right link icon ml-5"></i>
                    </td>
                  </tr>
                  <tr> 
                      <td>
                          <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                            Program name Punjab
                          </div>
                        </td>
                        <td>
                            <div class="sb-color-primary">Grade 10, Mathematics</div>
                            <div class="sb-label-value mt-4">CBSE</div>
                        </td>
                      <td>                
                        <div>Explaination Video, Learning out..</div>
                      </td>
                      <td>
                          <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5">Accept</button>
                          <button class="sb-btn sb-btn-xs sb-btn-outline-primary">Reject</button>
                          <i class="angle right link icon ml-5"></i>
                      </td>
                    </tr>
                    </tbody>
              </table>
       </div>
    </div>
</div>