app-ckeditor-tool {
  width: 85%;
}
@import "variables";
sui-select {
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-size: 0.8rem;
  padding: 0.4rem 0.2rem;
  background: #fff;
}
.dropdown.icon {
  float: right !important;
}
.menu {
  width: 100%;
}
.solution-media {
  &__video {
    width: 166px;
    height: 96px;
    .overlay-image {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      left: 0;
      right: 0;
      cursor: pointer;
      z-index: 1;
    }
    .overlay-image .play.icon {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      color: rgba(255, 255, 255, 0.6);
      font-size: $base-block-space * 4;
      cursor: pointer;
      height: auto;
    }
  }
  &__desc {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    max-width: 180px;
  }
}

.ckeditor-tool__option, 
.ckeditor-tool__question, 
.ckeditor-tool__solution{
    border: 1px solid #80a7ce;
    border-radius: 4px;
} 