<div *ngIf='!showLoader && !showError' class="sb-chapter-list">
  <div *ngIf="collectionHierarchy.length && currentStage === 'chapterListComponent'">
    <div class="sb-cbse-homepage-container" [appTelemetryImpression]="telemetryImpression">

      <!-- Header Section -->
      <div class="ui container py-10">
        <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn" (click)="handleBack()"
                        type="button"
                        appTelemetryInteract
                [telemetryInteractEdata]="getTelemetryInteractEdata('chapter-list', 'click', 'chapter-list')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata">
                                            <i class="icon-svg icon-svg--xxs icon-back mr-4">
                                                    <svg class="icon icon-svg--primary">
                                                            <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
                                                    </svg>
                                            </i>
                                            Back
                  </button>
        <div class=" d-flex chapterlist-header pt-5">
        <div class="d-flex mr-auto">
          <!-- <div class="chapterlist-header__image">
            <img [src]="collection.image" alt="Book" title="Book">
          </div> -->
          <div class="textbook-details ml-8">
            <label class="d-block fs-1 mb-4">{{collection.name}}</label>
            <div class="d-flex flex-ai-center"><label class="d-block fsmall font-weight-normal mb-0">{{collection.subject}}</label>
              <!-- To be integrated -->
              <span class="dot-separator"></span>
          <label class="d-block fsmall font-weight-normal mb-0">{{collection.gradeLevel}}</label>
        </div>
          </div>
        </div>

        <div *ngIf="!sampleContent && actions.showCountPanel.roles.includes(sessionContext.currentRoleId)" class="sb-meta-data-container sb-meta-data-column d-flex flex-w-wrap ml-16">
          <label class="d-block width-100" *ngIf="actions.showContribution.roles.includes(sessionContext.currentRoleId)">Contributions</label>
          <label class="d-block width-100" *ngIf="actions.showUpforReview.roles.includes(sessionContext.currentRoleId)">Up for Review</label>
          <div class="d-flex">
            <dl *ngIf="actions.showTotalContribution.roles.includes(sessionContext.currentRoleId)"
              class="sb-meta-data">
              <dt>{{countData['total']}}</dt>
              <dd>Total</dd>
            </dl>
            <dl *ngIf="actions.showMyContribution.roles.includes(sessionContext.currentRoleId)"
              class="sb-meta-data">
              <dt>{{countData['mycontribution']}}</dt>
              <dd>My Content</dd>
            </dl>
            <dl *ngIf="actions.showRejected.roles.includes(sessionContext.currentRoleId)" class="sb-meta-data">
              <dt>{{countData['reject']}}</dt>
              <dd>Rejected</dd>
            </dl>
            <dl *ngIf="actions.showUnderReview.roles.includes(sessionContext.currentRoleId)" class="sb-meta-data">
              <dt>{{countData['review']}}</dt>
              <dd>Review in Progress</dd>
            </dl>
            <dl *ngIf="actions.showTotalUnderReview.roles.includes(sessionContext.currentRoleId)"
              class="sb-meta-data">
              <dt>{{countData['total']}}</dt>
              <dd>Total</dd>
            </dl>
            <dl *ngIf="actions.showAawaitingReview.roles.includes(sessionContext.currentRoleId)" class="sb-meta-data">
              <dt>{{sourcingOrgReviewer ? countData['pendingReview'] : countData['awaitingreview']}}</dt>
              <dd>Awaiting my review</dd>
            </dl>
          </div>
        </div>
        <!-- <div *ngIf="sampleContent" class="sb-meta-data-container sb-meta-data-column d-flex flex-w-wrap ml-16">
          <label class="d-block width-100" >Number of Samples</label>
          <div class="d-flex">
            <dl class="sb-meta-data"> -->
              <!-- <dt *ngIf="!isSourcingOrgReviewer()">{{countData['sampleContenttotal'] || 0}}</dt> -->
              <!-- <dt *ngIf="isNominationPendingOrInitiated()">{{countData['nominatedUserSample'] || 0}}</dt>
              <dd>Total Content</dd>
            </dl> -->
            <!-- <dl *ngIf="!isSourcingOrgReviewer() && !isNominationPendingOrInitiated()" class="sb-meta-data">
              <dt>{{countData['sampleMycontribution'] || 0 }}</dt>
              <dd>My Content</dd>
            </dl> -->
          <!-- </div>
        </div> -->

        <div class="sb-textbook-allchapters sb-field">
          <label class="fsmall font-weight-normal">{{resourceService.frmelmnts.lbl.selectChapters}}</label>
          <sui-select class="selection w-100" placeholder="{{resourceService.frmelmnts.lbl.allChapters}}" [isSearchable]=true labelField="name"
            valueField="identifier" [(ngModel)]="selectedChapterOption"
            (selectedOptionChange)="onSelectChapterChange()" [options]="levelOneChapterList" #selectdChapter>
            <sui-select-option *ngFor="let option of selectdChapter.filteredOptions" [value]="option">
            </sui-select-option>
          </sui-select>
        </div>
      </div>
      </div>

      <!-- Accordion Section -->
      <div class="sb-pageSection-content sb-bg-white py-24 px-0 dynamicHeight">
        <div class="ui container sb-textbook-details-container mb-24">
          <div class="d-flex flex-jc-flex-end fs-0-785 font-italic sb-color-gray-300 mb-15">
            <span class="sb-color-error mr-8 pl-10 fs-0-785 font-weight-bold">{{textbookStatusMessage}}</span>
            <span class="w-30">{{resourceService.frmelmnts.lbl.partialTextbookSelectionNote}}</span>
            <div class="d-flex">
              <button type="button" class="sb-btn sb-btn-normal sb-btn-primary text-inherit" (click)="showBulkApproveModal=true">{{resourceService.frmelmnts.btn.bulkApproveContent}}</button>
              <div class="divider mx-10"></div>
              <div class="d-flex flex-dc">
                <div>{{resourceService.frmelmnts.lbl.lastApproved}}: 28 July 2020</div>
                  <!-- Loader icon -->
                  <!-- <div>
                  <span class="sb-loader sb-success-loader"></span>
                  <span class="sb-color-warning fs-1"suiPopup popupText="Bulk approve of content is in progress, once finished you can initiate another batch">{{resourceService.frmelmnts.lbl.bulkApprovalInProgress}}</span>
                </div> -->
                <a href="#">{{resourceService.frmelmnts.lbl.viewDetails}}</a>
              </div>
            </div>
          </div>
          <div class="sb-chapterlist">
            <sui-accordion class="styled fluid sb-accordion sb-chapterlist-accordion" [closeOthers]="true">
              <app-recursive-tree [collectionUnits]="collectionHierarchy" [level]="1" [programContext]="programContext" [sessionContext]="sessionContext" [selectedChapter]="selectedChapterOption" [originalCollectionData]="originalCollectionData"
                (nodeMeta)="showResourceTemplate($event)"></app-recursive-tree>
            </sui-accordion>
          </div>
        </div>
      </div>

      <app-resource-template *ngIf='showResourceTemplatePopup'
        [resourceTemplateComponentInput]="resourceTemplateComponentInput"
        (templateSelection)="handleTemplateSelection($event)">
      </app-resource-template>

      <!-- Move to Modal Section -->
      <div *ngIf="showLargeModal">
        <app-resource-reorder [collectionUnits]="collectionHierarchy" [contentId]="contentId"
          [sessionContext]="sessionContext" [prevUnitSelect]="prevUnitSelect" [programContext]="programContext"
          (moveEvent)="showResourceTemplate($event)"> </app-resource-reorder>
      </div>
    </div>
  </div>
</div>
<div class="twelve wide column sb-bg-white" *ngIf="currentStage !== 'chapterListComponent'">
  <!-- <app-content-uploader [sessionContext]="sessionContext" [unitIdentifier]="unitIdentifier"
      [templateDetails]="templateDetails" (contentMetaData)="uploadHandler($event)"></app-content-uploader> -->

    <ndc-dynamic [ndcDynamicComponent]="creationComponent" [ndcDynamicInputs]="dynamicInputs"
      [ndcDynamicOutputs]="dynamicOutputs"></ndc-dynamic>
</div>
<div class="twelve wide column" *ngIf="!collectionHierarchy.length && !showLoader">
  <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn" (click)="handleBack()"
                        type="button"
                        appTelemetryInteract
                [telemetryInteractEdata]="getTelemetryInteractEdata('chapter-list', 'click', 'chapter-list')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata">
                                            <i class="icon-svg icon-svg--xxs icon-back mr-4">
                                                    <svg class="icon icon-svg--primary">
                                                            <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
                                                    </svg>
                                            </i>
                                        {{resourceService.frmelmnts.btn.back}}
                                    </button>
  <app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0006'}"></app-no-result>
</div>
<div *ngIf='showLoader && !showError' class="ui container sb-chapter-list">
  <app-loader></app-loader>
</div>

<sui-modal *ngIf="showConfirmationModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll (dismissed)="showConfirmationModal = false" #modal>
  <div class="sb-modal-header">
     {{resourceService.frmelmnts.lbl.confirm}}
  </div>
  <div class="sb-modal-content">
      <div class="sb-publish-content">
        <div class="review-modal-list">
          {{resourceService.frmelmnts.lbl.areYouSureWantToRemoveResource}}
      </div>
      </div>
  </div>
  <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary" (click)="deleteContent()"
    appTelemetryInteract
                [telemetryInteractEdata]="getTelemetryInteractEdata('confirm-content-remove', 'click', 'chapter-list')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"> {{resourceService.frmelmnts.btn.yes}} </button>
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary" (click)="showConfirmationModal = false"
    appTelemetryInteract
                [telemetryInteractEdata]="getTelemetryInteractEdata('cancel-content-remove', 'click', 'chapter-list')"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata"> {{resourceService.frmelmnts.btn.no}} </button>
  </div>
</sui-modal>
<sui-modal *ngIf="showBulkApproveModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll (dismissed)="showBulkApproveModal = false" #modal>
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.lbl.bulkApprove}} 
  </div>
  <div class="sb-modal-content">
      <h6 class="sb-color-gray-400">{{resourceService.frmelmnts.lbl.areYouSureBulkApproveContentTextbook}}</h6>
        <div class="d-flex p-30 sb-bg-color-primary-0">
          <!-- <div class="p-10 sb-bulk-upload">
            <img src="../../../../../assets/images/bulkuploadfile.png" alt="">
            <div class="text-right my--20">
              <i class="fa fa-check sb-circle-download-icon"></i>
            </div> -->
            <!--Progress Bar-->
            <!-- <div class="progress-circle progress-circle--xlarge mr-8" data-percentage="35">
              <svg class="progress-circle__svg" viewport="0 0 2000 2000">
                <circle class="progress-circle__stroke" r="50%" cx="50%" cy="50%"></circle>
                <circle class="progress-circle__stroke" r="50%" cx="50%" cy="50%"></circle>
              </svg>
            </div> -->
          </div>
          <!-- confirmation message -->
            <!-- <div class="p-30 pt-10">
              <h5 class="sb-color-gray-400 font-weight-bold">{{resourceService.frmelmnts.lbl.bulkApprovalInProgress}}</h5>
            </div> -->
            <!-- Approval in progress -->
            <!-- <div class="mt-15">
              <div class="ui list fs-0-785">
                <div class="item sb-color-error">{{resourceService.frmelmnts.lbl.contentApprovalFailed}} : 34</div>
                <div class="item">{{resourceService.frmelmnts.lbl.approvedSuccessfully}} : 56</div>
                <div class="item">{{resourceService.frmelmnts.lbl.contentSkipped}} : 45</div>
                <div class="item">{{resourceService.frmelmnts.lbl.pendingApproval}} : 134</div>
              </div>
            </div> -->

          <!-- Approval  -->
          <!-- <div class="p-30 pt-10">
              <h5 class="sb-color-gray-400 font-weight-bold">{{resourceService.frmelmnts.lbl.bulkApprovalCompleted}}</h5>
              <div class="mt-15">
                <div class="ui list fs-0-785">
                  <div class="item sb-color-error">{{resourceService.frmelmnts.lbl.contentApprovalFailed}} : 34</div>
                  <div class="item">{{resourceService.frmelmnts.lbl.contentApprovalSuccessful}} : 56</div>
                </div>
                <button type="button" class="sb-btn sb-btn-normal sb-btn-success my-20"><i class="fa fa-download pr-10"></i>{{resourceService.frmelmnts.btn.downloadReport}}</button>
              </div>
          </div> 
      </div>-->
  </div>
  <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary">{{resourceService.frmelmnts.btn.yes}}</button> 
    <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary">{{resourceService.frmelmnts.btn.no}}</button>
    <!-- <div class="d-flex flex-jc-space-between">
        <div class="sb-color-gray-200 fxsmall line-height-1-3 w-80">
          {{resourceService.frmelmnts.note.bulkApprovalMayTakeTimeApprovalHappeningBackground}}
        </div>
      <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary">{{resourceService.frmelmnts.btn.close}}</button>
    </div> -->
  </div>
</sui-modal>
