<div class="add-to-library mb-30">
  <app-editor-header
    [toolbarConfig]="toolbarConfig"
    (toolbarEmitter)="toolbarEventListener($event)"
  >
  </app-editor-header>

  <div class="min-h-500 sb-bg-white py-20">
    <div class="ui container">
      <div class="d-flex">
        <section>
          <app-reference-question
            [questionMetaData]="selectedQuestionData"
          ></app-reference-question>
          <!-- <app-multiplechoice-question
            [questionMetaData]="selectedQuestionData1"
          ></app-multiplechoice-question> -->
        </section>
      </div>
    </div>
  </div>
</div>
