<div class="add-to-library mb-30">
  <app-editor-header
    [toolbarConfig]="toolbarConfig"
    (toolbarEmitter)="toolbarEventListener($event)"
  >
  </app-editor-header>
  <div class="min-h-500 sb-bg-white">
    <div class="ui">
      <div class="ui twelve column grid m-0">
        <!-- Left Sidebar for cards -->
        <div class="three wide column p-0 h-100vh">
          <app-collection-tree-new *ngIf="collectionTreeNodes && collectionTreeNodes.data"
            [nodes]="collectionTreeNodes"
            (treeEventEmitter)="treeEventListener($event)"
          >
          </app-collection-tree-new>
        </div>
        <!-- Right Player Sections -->
        <div class="eight wide column bg-white pl-40">
          <ng-container *ngIf="selectedNodeData?.folder === true && selectedNodeData?.data?.root !== true">
            <app-meta-form (prevNodeMeatadata)="updateNodeMetadata($event)"></app-meta-form>
          </ng-container>
          <ng-container *ngIf="selectedNodeData?.folder === false && selectedNodeData?.data?.root !== true">
            <app-contentplayer-page></app-contentplayer-page>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>