<div class="add-to-library mb-30">

    <!-- Blue Header -->
    <div class="sb-bg-color-primary add-to-library__header">
      <div class="ui container relative position">
        <div class="d-flex flex-ai-center">
          <button class="sb-btn sb-btn-primary sb-btn-xs back-btn px-0" (click)="handleBack();"
          ><i class="arrow left icon fs-1"></i></button>
        </div>
      </div>
    </div>

    <app-editor-header [toolbarConfig]="toolbarConfig" (toolbarEmitter)="toolbarEventListener($event)"></app-editor-header>

    <div class="ui container min-h-500" >
      <!-- Player Section -->
      <div class="sb-g add-to-library__toc-player">
        <!-- Left Sidebar for cards -->
        <section class="sb-g-col-xs-12 sb-g-col-md-4 sb-g-col-lg-4">
            <app-collection-tree-new
            [nodes]="collectionTreeNodes" (treeEventEmitter)="treeEventListener($event)" ></app-collection-tree-new>
            
        </section>

        <!-- Right Player Sections -->
        <ng-container *ngIf="!isNewQuestionSet">
          <section class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 relative position ml-24" *ngIf='!showQuestionTemplate'>
            <ng-container *ngIf="selectedQuestionData?.data?.metadata?.type === 'reference'">
              <app-reference-question [question]="selectedQuestionData"></app-reference-question>
            </ng-container>
            <ng-container *ngIf="selectedQuestionData?.data?.metadata?.type === 'mcq'">
              <app-multiplechoice-question [question]="selectedQuestionData"></app-multiplechoice-question>
            </ng-container>
            <ng-container *ngIf="selectedQuestionData?.folder === true">
              <app-question-set></app-question-set>
            </ng-container>         
          </section>
          <section class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 relative position ml-24">
              <app-question-template *ngIf='showQuestionTemplate'
              [templateList]="templateListInput"
              (templateSelection)="handleTemplateSelection($event)">
            </app-question-template>
          </section>
        </ng-container>

        <section class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 relative position ml-24" *ngIf='isNewQuestionSet'>
          <p>There is no question created for this questionSet.</p>
          <p>Please click on new  to add a question</p>
        </section>

      </div>
    </div>
  </div>

