<div class="add-to-library mb-30">

    <!-- Blue Header -->
    <div class="sb-bg-color-primary">
      <div class="ui container py-15">
        <div class="d-flex flex-ai-center sb-color-white">
          <button class="sb-btn sb-btn-primary sb-btn-xs back-btn px-0 fs-0-92 font-weight-bold" (click)="handleBack();"
          ><i class="arrow left icon"></i>Create Question Set</button>
        </div>
      </div>
    </div>


    <app-editor-header [toolbarConfig]="toolbarConfig" (toolbarEmitter)="toolbarEventListener($event)"></app-editor-header>

    <div class="min-h-500 sb-bg-white">
      <!-- Player Section -->
      <div class="ui container">
        <div class="d-flex">
          <!-- Left Sidebar for cards -->
          <section>
              <app-collection-tree-new
              [nodes]="collectionTreeNodes"
              [options]="collectionTreeOptions" (questionSelect)="OnQuestionSelect($event)" ></app-collection-tree-new>

          </section>

          <!-- Right Player Sections -->
          <section class="ml-24 mt-20">
              <app-reference-question [question]="editorState" ></app-reference-question>
          </section>
        </div>
      <div>
        <!-- Left Sidebar for cards -->
        <section class="pl-20">
            <app-collection-tree-new
            [nodes]="collectionTreeNodes" 
            [options]="collectionTreeOptions" (treeEventEmitter)="treeEventListener($event)" ></app-collection-tree-new>
            
        </section>

        <!-- Right Player Sections -->
        <section class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 relative position ml-24">
          {{selectedQuestionData?.data?.model?.type}}
          <ng-container *ngIf="selectedQuestionData?.data?.model?.type === 'reference'">
            <!-- <app-reference-question [question]="selectedQuestionData"></app-reference-question> -->
          </ng-container>
          <ng-container *ngIf="selectedQuestionData?.data?.model?.type === 'mcq'">
            <app-multiplechoice-question [question]="selectedQuestionData"></app-multiplechoice-question>
          </ng-container>
          <ng-container *ngIf="selectedQuestionData?.folder === true">
            <app-question-set></app-question-set>
          </ng-container>
          <app-question-template *ngIf='showQuestionTemplate'
          [templateList]="templateListInput"
          (templateSelection)="handleTemplateSelection($event)">
        </app-question-template>
        </section>
      </div>
    </div>
  </div>

