<div *ngIf="!showLoader && !showError && currentStage === 'collectionComponent'">
  <div class="sb-bg-color-primary-0 practical-header py-20" [appTelemetryImpression]="telemetryImpression">
    <div class=" ui container">
    <div class="ui grid">
      <div class="three wide column">
        <div>
          <h5 class="m-0 p-0 font-weight-bold d-inline-block">{{programContext.name}} </h5>
          <ng-template #popupTemplate>
            <div class="content">
              <div class="textbook-details ml-8">
                <div class="header"><strong>{{ resourceService.frmelmnts.lbl.subjects }}</strong></div>
                <div class="content">
                  <label class="d-block fsmall font-weight-normal mb-0">{{sharedContext.subject.join(', ')}}</label>
                </div>
                <hr />
                <div class="header"><strong>{{ resourceService.frmelmnts.lbl.grades }}</strong></div>
                <div class="content">
                  <label class="d-block fsmall font-weight-normal mb-0">{{sharedContext.gradeLevel.join(', ')}}</label>
                </div>
              </div>
            </div>
          </ng-template>
          <i class="info circle link icon" suiPopup [popupTemplate]="popupTemplate">
          </i>
  
          <p class="fs-0-785 font-weight-normal">{{programContext.description}}</p>
        </div>
      </div>
      <div class="nine wide column pl-20">
        <div class="d-flex flex-jc-space-between practical-header__content py-10">
            <div class="sb-meta-data-container sb-meta-data-column px-10 w-20">
              <label class="m-0">{{ resourceService.frmelmnts.lbl.contentType}}</label>
              <p class="sb__ellipsis sb__ellipsis--one cursor-pointer"
              suiPopup popupHeader="{{resourceService.frmelmnts.lbl.contentType}}"
              popupText="{{ programContentTypes }}">
                <span>
                  {{ programContentTypes }}
                </span>
              </p>
            </div>
      
            <ng-container *ngIf="programContext">
              <div class="program-timeline px-16 pt-10">
                <div class="program-timeline-item">
                  <div class="status" [class.active]="activeDate === 'nomination_enddate'">
                    <div class="status__label">{{resourceService.frmelmnts.lbl.nominationEndDate}}</div>
                    <div class="status__date">
                      {{ programContext?.nomination_enddate |  date:'LLLL d, yyyy'  }}
                      <br />
                      <em [class.sb-color-warning]="activeDate === 'nomination_enddate'"
                        *ngIf="activeDate === 'nomination_enddate'">{{ programContext?.nomination_enddate | daysToGo  }}</em>
                    </div>
                  </div>
                </div>
                <div class="program-timeline-item">
                  <div class="status" [class.active]="activeDate === 'shortlisting_enddate'">
                    <div class="status__label">{{resourceService.frmelmnts.lbl.shortlistingNomination}}</div>
                    <div class="status__date">
                      {{ programContext?.shortlisting_enddate |  date:'LLLL d, yyyy'  }}
                      <br />
                      <em [class.sb-color-warning]="activeDate === 'shortlisting_enddate'"
                        *ngIf="activeDate === 'shortlisting_enddate'">{{ programContext?.shortlisting_enddate | daysToGo  }}</em>
                    </div>
                  </div>
                </div>
                <div class="program-timeline-item">
                  <div class="status" [class.active]="activeDate === 'content_submission_enddate'">
                    <div class="status__label">{{resourceService.frmelmnts.lbl.contributionReview}}</div>
                    <div class="status__date">
                      {{ programContext?.content_submission_enddate |  date:'LLLL d, yyyy'  }}
                      <br />
                      <em [class.sb-color-warning]="activeDate === 'content_submission_enddate'"
                        *ngIf="activeDate === 'content_submission_enddate'">{{ programContext?.content_submission_enddate | daysToGo  }}</em>
                    </div>
                  </div>
                </div>
                <div class="program-timeline-item">
                  <div class="status" [class.active]="activeDate === 'enddate'">
                    <div class="status__label">{{ resourceService.frmelmnts.lbl.programEndDate }}</div>
                    <div class="status__date">
                      {{ programContext?.enddate |  date:'LLLL d, yyyy'  }}
                      <br />
                      <em [class.sb-color-warning]="activeDate === 'enddate'"
                        *ngIf="activeDate === 'enddate'">{{ programContext?.enddate | daysToGo  }}</em>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <hr class="my-10">
          <div class="d-flex sb-steps flex-jc-flex-end pt-10">
            <div class="fs-0-92 pr-30">
              {{resourceService.frmelmnts.lbl.nominationProcess}}
            </div>
            <div class="sb-bx">
              <span class="sb-step-circle">1</span> 
              <span class="sb-step-label">{{resourceService.frmelmnts.lbl.clickSelectContentType}}</span> 
            </div>
            <div class="sb-bx">
              <span class="sb-step-circle">2</span>
              <span class="sb-step-label">{{resourceService.frmelmnts.lbl.uploadSampleConntentToTextbook}}</span> 
            </div>
            <div class="sb-bx"> 
              <span class="sb-step-circle">3</span>
              <span class="sb-step-label">{{resourceService.frmelmnts.lbl.onceUploadedSampleClick}}</span> 
            </div>
        </div>
      </div>
    <div class="bt-1 w-100 py-20 pl-0">
      <div *ngIf="canNominate()" class="d-inline-block br-2 pr-20">
        <button type="button" (click)="showContentTypeModal= true; handleCancel(false)" class="sb-btn sb-btn-normal sb-btn-outline-primary" appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('select-contentType', 'click', 'collection-list')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.btn.contentTypes}}</button>
      </div>
      <div *ngIf="canNominate()" class="d-inline-block pl-20">
          <div>
              <div *ngIf="canNominate() && sessionContext?.nominationDetails?.status === 'Pending' || 'Initiated'" class="d-inline-block">
                <button class="sb-btn sb-btn-normal sb-btn-primary px-40"  [disabled]="!(selectedContentTypes.length && selectedCollectionIds.length)"
                 (click)="addNomination()" appTelemetryInteract
                 [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('nominate-program', 'click', 'collection-list')"
                 [telemetryInteractObject]="telemetryInteractObject"
                 [telemetryInteractCdata]="telemetryInteractCdata"
                 [telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.btn.nominate}}</button>
            </div>
          </div>
        </div>
      <div class="fxsmall font-italic sb-color-gray-300 mb-10 d-inline-block w-20 va-top pl-20">{{resourceService.frmelmnts.lbl.nominationMessage}}</div>
  </div>
</div>
</div>

  <div class="sb-bg-color-white py-24 dynamicHeight">
    <div class="ui container m-0 p-0 sb-pageSection">
      <ng-container *ngIf="!showLoader">
        <div class="sb-pageSection-header mb-15">
          <div>
            <h4 class="sb-pageSection-title six">{{resourceService.frmelmnts.lbl.textbooks}}</h4>
            <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning mx-10">{{collectionList.length || 0}}</span>
          </div>
          <div class="sb-pageSection-document" *ngIf="programContext?.guidelines_url">
            <a class="fs-0-785 text-decor-none font-weight-bold" href="{{ programContext?.guidelines_url }}" target="_blank">
              <i class="file sb-file-icon outline icon pr-10 sb-color-primary"></i>
              {{ resourceService.frmelmnts.lbl.viewGuidelinesDocument }}
            </a>
          </div>
        </div>
        <div class="sb-pageSection-document" *ngIf="programContext?.guidelines_url">
          <a class="fs-0-785 text-decor-none font-weight-bold" href="{{ programContext?.guidelines_url }}" target="_blank">
            <i class="file sb-file-icon outline icon pr-10 sb-color-primary"></i>
            {{ resourceService.frmelmnts.lbl.viewGuidelinesDocument }}
          </a>
        </div>
      </div>
      <div class="sb-table-responsive">
        <table class="sb-table sb-table-striped sb-table-sortable sb-table-fixed">
          <thead class="sb-table-header sb-table-thead-gray">
            <tr>
              <th class="w-5 cursor-pointer sb-sorting" (click)="sortCollection('name')">
                {{resourceService.frmelmnts.lbl.textbook}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'name' "></i>
								<span  *ngIf="sortColumn == 'name'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
								</span>
              </th>
              <th class="w-5 cursor-pointer sb-sorting" (click)="sortCollection('medium')">
                {{resourceService.frmelmnts.lbl.medium}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'medium' "></i>
								<span  *ngIf="sortColumn == 'medium'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
								</span>
              </th>
							<th class="w-5 cursor-pointer sb-sorting" (click)="sortCollection('gradeLevel')">
								{{resourceService.frmelmnts.lbl.class}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'gradeLevel' "></i>
								<span  *ngIf="sortColumn == 'gradeLevel'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
								</span>
							</th>
							<th class="w-5 cursor-pointer sb-sorting" (click)="sortCollection('subject')">
								{{resourceService.frmelmnts.lbl.subjects}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'subject' "></i>
								<span  *ngIf="sortColumn == 'subject'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
								</span>
							</th>
              <th class="w-5">{{resourceService.frmelmnts.lbl.chapters}}</th>
              <th class="w-5" *ngIf="currentNominationStatus === 'Initiated' || currentNominationStatus=== 'Pending'">Sample Content</th>
              <th class="w-5"></th>
            </tr>
          </thead>
          <tbody class="sb-table-body" *ngIf="collectionList.length">
            <tr *ngFor="let data of collectionList">
              <td>
                <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                  {{data.name}}
                </div>
              </td>
              <td>
                <div class="sb__ellipsis">{{data.medium}}</div>
              </td>
              <td>
                <div suiPopup popupHeader="Grades" popupText="{{data.gradeLevel}}">{{data.gradeLevel}}</div>
              </td>
              <td>
                <div class="sb__ellipsis">{{data.subject}}</div>
              </td>
              <td>
                {{ data.chapterCount || 0 }}
              </td>
              <td *ngIf="currentNominationStatus === 'Initiated' || currentNominationStatus=== 'Pending'">{{data.sampleContentCount || 0 }}</td>
              <td>
                <div *ngIf = "selectedContentTypes.length">
                <div *ngIf="(data.sampleContentCount === undefined || data.sampleContentCount === 0) && canNominate()" class="sb-checkbox sb-checkbox-primary d-inline-block">
                  <input  type="checkbox" [checked]="data.isSelected || data.sampleContentCount" name="{{data.identifier}}" (click)="nominationChecked(data.identifier); toggleUploadSampleButton(data)">
                  <label></label>
                </div>
                <button type="button" *ngIf="data.isSelected || data.sampleContentCount" (click)="uploadSampleContent($event, data)" class="sb-btn sb-btn-normal sb-btn-outline-primary mx-10 px-10" appTelemetryInteract
                [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('upload-sample', 'click', 'collection-list', {values: selectedCollectionIds})"
                [telemetryInteractObject]="telemetryInteractObject"
                [telemetryInteractCdata]="telemetryInteractCdata"
                [telemetryInteractPdata]="telemetryInteractPdata">Upload Sample</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!objectKey(collectionList).length">
        <app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0006'}"></app-no-result>
      </div>
    </div>
  </div>



  <div class="ui container pb-48 hidden hide">
    <div class="sb-pageSection-header row my-20">
      <h4 class="sb-pageSection-title six">{{programContext.name}}
        <ng-template #popupTemplate>
          <div class="content">
            <div class="textbook-details ml-8">
              <div class="header"><strong>{{resourceService.frmelmnts.lbl.subject}}</strong></div>
              <div class="content">
                <label class="d-block fsmall font-weight-normal mb-0">{{sharedContext.subject.join(', ')}}</label>
              </div>
              <hr />
              <div class="header"><strong>{{resourceService.frmelmnts.lbl.profile.Classes}}</strong></div>
              <div class="content">
                <label class="d-block fsmall font-weight-normal mb-0">{{sharedContext.gradeLevel.join(', ')}}</label>
              </div>
              <hr />
              <div class="header">
                <strong>{{resourceService.frmelmnts.lbl.nominationEndDate}}</strong>
              </div>
              <div class="content">
                <label class="d-block fsmall font-weight-normal mb-0">
                  {{programContext.nomination_enddate | date: medium }}
                </label>
              </div>
              <hr />
              <div class="header">
                <strong>{{resourceService.frmelmnts.lbl.nominationShortlistingDate}}</strong>
              </div>
              <div class="content">
                <label class="d-block fsmall font-weight-normal mb-0">
                  {{programContext.shortlisting_enddate | date: medium }}
                </label>
              </div>
              <hr />
              <div class="header">
                <strong>{{resourceService.frmelmnts.lbl.contributionEndDate}}</strong>
              </div>
              <div class="content">
                <label class="d-block fsmall font-weight-normal mb-0">
                  {{programContext.content_submission_enddate | date: medium }}
                </label>
              </div>
              <hr />
              <div class="header"><strong>{{resourceService.frmelmnts.lbl.programEndDate}}</strong></div>
              <div class="content">
                <label class="d-block fsmall font-weight-normal mb-0">
                  {{programContext.enddate | date: medium }}
                </label>
              </div>
            </div>
          </div>
        </ng-template>
        <i class="info circle link icon" suiPopup [popupTemplate]="popupTemplate">
        </i>
      </h4>
      <div class="pull-right">
        <div *ngIf="nominateButton === 'show'">
          <button
            class="sb-btn sb-btn-normal sb-btn-primary"  [disabled]="!(selectedContentTypes.length || sessionContext?.nominationDetails?.content_types?.length)"
            (click)="showContentTypeModal= true;">{{resourceService.frmelmnts.btn.nominate}}</button>
        </div>
        <div class="two wide column column " *ngIf="nominateButton === 'hide'">
          <button class="sb-btn sb-btn-disabled sb-btn-normal">{{resourceService.frmelmnts.btn.nominate}}</button>
        </div>
      </div>
    </div>

    <table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-fixed">
      <thead class="sb-table-header sb-table-thead-gray">
        <tr>
          <th>{{resourceService.frmelmnts.lbl.textbook}}<i class="fa fa-sort ml-4" aria-hidden="true"></i></th>
          <th>{{resourceService.frmelmnts.lbl.class}}<i class="fa fa-sort ml-4" aria-hidden="true"></i></th>
          <th>{{resourceService.frmelmnts.lbl.profile.Medium}}<i class="fa fa-sort ml-4" aria-hidden="true"></i></th>
          <th>{{resourceService.frmelmnts.lbl.chapters}}<i class="fa fa-sort ml-4" aria-hidden="true"></i></th>
          <th>{{resourceService.frmelmnts.lbl.subject}}<i class="fa fa-sort ml-4" aria-hidden="true"></i></th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody class="sb-table-body">
        <tr *ngFor="let data of collectionList">
          <td>
            <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
              {{data.name}}
            </div>
          </td>
          <td>
            <div suiPopup popupHeader="Grades" popupText="{{data.gradeLevel}}">{{data.gradeLevel}}</div>
          </td>
          <td>
            <div class="sb__ellipsis">{{data.medium}}</div>
          </td>
          <td>
            {{ data.childNodes ? data.childNodes.length : 0 }}
          </td>
          <td>
            <div class="sb__ellipsis">{{data.subject}}</div>
          </td>
          <td class="text-center">
            <input type="checkbox" name="{{data.identifier}}" (click)="nominationChecked(data.identifier)">
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!objectKey(collectionList).length">
      <app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0006'}"></app-no-result>
    </div>
  </div>
</div>
<div *ngIf="currentStage !== 'collectionComponent'" style="margin-bottom: -60px;">
  <app-chapter-list [chapterListComponentInput]="chapterListComponentInput"
    (selectedQuestionTypeTopic)="selectedQuestionTypeTopic"></app-chapter-list>
</div>
<div class="twelve wide column" *ngIf="!showLoader && showError">
  <app-no-result [data]="{ messageText: 'resourceService.messages.fmsg.m0004'}"></app-no-result>
</div>
<div *ngIf='showLoader && !showError' class="ui container sb-chapter-list && currentStage === 'collectionComponent'">
  <app-loader></app-loader>
</div>

<sui-modal *ngIf="showContentTypeModal" [mustScroll]="true" [isClosable]="false" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll (dismissed)="showContentTypeModal = false" #modal>
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.lbl.contentTypesHint}}
   </div>
  <div class="sb-modal-content">
    <p class="fs-0-785">{{resourceService.frmelmnts.lbl.contentTypesDescription}}</p>
    <div class="mb-10" *ngFor="let contenttype of contentType">
      <div class="sb-checkbox sb-checkbox-primary">
        <input class="checking" [(ngModel)]="contenttype.isSelected" (change)="toggle(contenttype);"
          (click)="$event.stopPropagation()" type="checkbox">
        <label for="check1" class="mb-0"> {{contenttype.name}}</label>
      </div>
      <!-- <sui-checkbox name="{{contenttype.name}}" (click)="toggle($event, contenttype, contenttype.value);">{{contenttype.name}}</sui-checkbox> -->
    </div>
  </div>
  <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary" (click)="showContentTypeModal = false; toasterService.success(resourceService.messages.smsg.nomination.m001)" [disabled]="!selectedContentTypes.length" appTelemetryInteract
    [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('contentType-submit-button', 'click', 'collection-list', {values: selectedContentTypes})"
    [telemetryInteractObject]="telemetryInteractObject"
    [telemetryInteractCdata]="telemetryInteractCdata"
    [telemetryInteractPdata]="telemetryInteractPdata"> {{resourceService.frmelmnts.btn.submit}} </button>
    <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="showContentTypeModal = false; handleCancel(true)" appTelemetryInteract
    [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('contentType-cancel-button', 'click', 'collection-list')"
    [telemetryInteractObject]="telemetryInteractObject"
    [telemetryInteractCdata]="telemetryInteractCdata"
    [telemetryInteractPdata]="telemetryInteractPdata"> {{resourceService.frmelmnts.btn.cancel}}
    </button>
  </div>
</sui-modal>
