

<div *ngIf="!showLoader && !showError && currentStage === 'collectionComponent'">
  <!-- <div class="state-medium-container sb-bg-color-white">
    <div class="ui container d-flex flex-ai-center">
      <div class="state-medium-container__dropdown">
        <div class="sb-field mb-0 selected-board"
        appTelemetryInteract
           [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('collection-filter', 'click', 'collection', {'filters': { 'board': [board]}})"
           [telemetryInteractCdata]="telemetryInteractCdata"
           [telemetryInteractPdata]="telemetryInteractPdata">
          {{board}}
           <sui-select class="selection state-selection"  placeholder="{{board}}" labelField="name" #multiSelect>
            <sui-select-option *ngFor="let option of multiSelect1" [value]="option" aria-disabled="#multiSelect">
            </sui-select-option>
          </sui-select> 
        </div>
      </div>
      <div class="state-medium-container__separator"></div>
      <div class="state-medium-container__medium">
        <div class="sb-medium">
           <div class="sb-medium__sb-pills-content  sb-medium__pills-container"
           appTelemetryInteract
           [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('collection-filter', 'click', 'collection', {'filters': { 'medium': [medium]}})"
           [telemetryInteractCdata]="telemetryInteractCdata"
           [telemetryInteractPdata]="telemetryInteractPdata"
            *ngFor="let medium of mediums;  let index = index" (click)=" isMediumClickable ? filterCollectionList(medium,'medium') : false">
            <div class="pill active">{{medium}}</div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="sb-class sb-bg-color-gray-0">
    <div class="ui container">
      <nav class="sb-class__pills-container">
       <ngx-slick class="carousel" [config]="_slideConfig">
            <div ngxSlickItem class="sb-class__pill" appTelemetryInteract
            [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('collection-filter', 'click', 'collection', {'filters': { 'class': [class]}})"
            [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata"
            *ngFor="let class of classes;let i = index" [class.active]="selectedIndex === i" (click)="filterCollectionList(class); setAndClearFilterIndex(i)">
              {{ class }}
            </div>
          </ngx-slick>
      </nav>
    </div>
    
  </div> -->
    <div class="book-table">
      <div class="sb-pageSection-header row my-20">
        <h4 class="sb-pageSection-title six">New Program FEB2020
          <ng-template #popupTemplate>
            <div class="content">
              <div class="textbook-details ml-8">
            <div class="d-flex flex-ai-center">
              <span class="dot-separator"></span>
              <label class="d-block fsmall font-weight-normal mb-0">Marathi, Hindi, English</label>
            </div>
            <div class="d-flex flex-ai-center">
              <span class="dot-separator"></span>
              <label class="d-block fsmall font-weight-normal mb-0">Grade 1, Grade 2</label>
            </div>
            <div class="d-flex flex-ai-center">
              <span class="dot-separator"></span>
              <label class="d-block fsmall font-weight-normal mb-0">
              Nomination End Date:  July 26th, 2019
              </label>
            </div>
            <div class="d-flex flex-ai-center">
              <span class="dot-separator"></span>
              <label class="d-block fsmall font-weight-normal mb-0">
            Nomination Shortlisting Date:  Aug 5th, 2019
              </label>
            </div>
					<div class="d-flex flex-ai-center">
					  <span class="dot-separator"></span>
					  <label class="d-block fsmall font-weight-normal mb-0">
						Contribution End Date:  Aug 20th, 2019
					  </label>
					</div>
					<div class="d-flex flex-ai-center">
					  <span class="dot-separator"></span>
					  <label class="d-block fsmall font-weight-normal mb-0">
						Program End Date:  Aug 30th, 2019
					  </label>
					</div>
					</div>
					</div>
				</ng-template>
				<i class="info circle link icon" suiPopup [popupTemplate]="popupTemplate">
				</i>
      </h4>
      <div class="pull-right mb-20">
        <div *ngIf="nominateButton === 'show'">
          <a href="http://localhost:3000/contribute/myenrollprograms"  class="sb-btn sb-btn-normal sb-btn-primary {{nominateButton === 'show' ? 'active' : 'disabled'}}" >Nominate</a>
        </div>
        <div class="two wide column column " *ngIf="nominateButton === 'hide'">
          <button   class="sb-btn sb-btn-normal sb-btn-primary disabled" >Nominate</button>
        </div>
    </div>
      <!-- <div class="sb-pageSection-title six">
        <button  class="sb-btn sb-btn-normal sb-btn-primary {{nominateButton}} ? === 'show' ? 'active' : 'disabled'" (click)="ChangeUploadStatus(data.identifier)" routerLink="contribute/myenrollprograms">Nominate</button>
      </div> -->
      <!-- <div class="ui grid">
        <div class="two column row">
          <div class=" ten wide column"></div>
          <div class="two wide column column " *ngIf="nominateButton === 'show'">
            <a href="http://localhost:3000/contribute/myenrollprograms"  class="sb-btn sb-btn-normal sb-btn-primary {{nominateButton === 'show' ? 'active' : 'disabled'}}" >Nominate</a>
          </div>
          <div class="two wide column column " *ngIf="nominateButton === 'hide'">
            <button   class="sb-btn sb-btn-normal sb-btn-primary disabled" >Nominate</button>
          </div>
       </div>
      </div>  -->

    <table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-fixed">
      <thead class="sb-table-header sb-table-thead-gray">
        <tr>
          <th class="sb-sort-icon">Textbook</th>
          <th class="sb-sort-icon">Grade</th>
          <th class="sb-sort-icon">Medium</th>
          <th class="sb-sort-icon">Chapters</th>
          <th class="sb-sort-icon">Subject</th>
          <th class="text-center">Select</th>
        </tr>
      </thead>
      <tbody class="sb-table-body">
        <tr *ngFor="let data of collectionList" >
          <td> 
            <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
              {{data.name}}
            </div>
          </td>
          <td>
            <div  suiPopup popupHeader="Grades" popupText="{{data.gradeLevel}}">{{data.gradeLevel}}</div>
          </td>
          <td>
            <div class="sb__ellipsis" suiPopup popupHeader="Medium" popupText="{{data.medium}}">{{data.medium}}</div>
          </td>
          <td>
            12
          </td>
          <td>
            <div class="sb__ellipsis" suiPopup popupHeader="Subject" popupText="{{data.subject}}">{{data.subject}}</div>
          </td>
          <td class="text-center">
              <input type="checkbox" name="{{data.identifier}}" (click)="nominationChecked(data.identifier)" >
          </td>
        </tr>
      </tbody>
    </table> 
  </div>

    <!-- <div *ngFor="let key of objectKey(collectionList)"> -->

      <!-- <sb-library-cards-grid  [title]="key" appTelemetryInteract
      [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('collection-card', 'click', 'collection')"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata"
      [contentList]="collectionList[key]" [maxCardCount]="4" [type]="'infinite_card_grid'" (viewMoreClick)="viewMoreClickHandler($event)" (cardClick)="collectionClickHandler($event)"></sb-library-cards-grid> -->
        <!-- <app-card appContentDirection appTelemetryInteract [telemetryInteractEdata]="telemetryInteract" [data]="content" appTelemetryInteract [telemetryInteractEdata]="telemetryInteract" (clickEvent)="showTopics($event)"></app-card> -->
    <!-- </div> -->
  <div  *ngIf="!objectKey(collectionList).length">
    <app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0006'}"></app-no-result>
  </div>
</div>

<div *ngIf="currentStage !== 'collectionComponent'" style="margin-bottom: -60px;">
  <app-chapter-list [chapterListComponentInput]="chapterListComponentInput" (selectedQuestionTypeTopic)="selectedQuestionTypeTopic"></app-chapter-list>
</div>
<div class="twelve wide column" *ngIf="!showLoader && showError">
  <app-no-result [data]="{ messageText: 'resourceService.messages.fmsg.m0004'}"></app-no-result>
</div>
<div *ngIf='showLoader && !showError' class="ui container sb-chapter-list && currentStage === 'collectionComponent'">
  <app-loader></app-loader>
</div>
