

<div *ngIf="!showLoader && !showError && currentStage === 'collectionComponent'">

  <div class="state-medium-container sb-bg-color-white">
    <div class="ui container d-flex flex-ai-center">
      <div class="state-medium-container__dropdown">
        <div class="sb-field mb-0 selected-board"
        appTelemetryInteract
           [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('collection-filter', 'click', 'collection', {'filters': { 'board': [board]}})"
           [telemetryInteractCdata]="telemetryInteractCdata"
           [telemetryInteractPdata]="telemetryInteractPdata">
          {{board}}
          <!-- <sui-select class="selection state-selection"  placeholder="{{board}}" labelField="name" #multiSelect>
            <sui-select-option *ngFor="let option of multiSelect1" [value]="option" aria-disabled="#multiSelect">
            </sui-select-option>
          </sui-select> -->
        </div>
      </div>
      <div class="state-medium-container__separator"></div>
      <div class="state-medium-container__medium">
        <div class="sb-medium">
           <div class="sb-medium__sb-pills-content  sb-medium__pills-container"
           appTelemetryInteract
           [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('collection-filter', 'click', 'collection', {'filters': { 'medium': [medium]}})"
           [telemetryInteractCdata]="telemetryInteractCdata"
           [telemetryInteractPdata]="telemetryInteractPdata"
            *ngFor="let medium of mediums;  let index = index" (click)=" isMediumClickable ? filterCollectionList(medium,'medium') : false">
            <div class="pill active">{{medium}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sb-class sb-bg-color-gray-0">
    <div class="ui container">
      <nav class="sb-class__pills-container">
       <ngx-slick class="carousel" [config]="_slideConfig">
            <div ngxSlickItem class="sb-class__pill" appTelemetryInteract
            [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('collection-filter', 'click', 'collection', {'filters': { 'class': [class]}})"
            [telemetryInteractCdata]="telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryInteractPdata"
            *ngFor="let class of classes;let i = index" [class.active]="selectedIndex === i" (click)="filterCollectionList(class); setAndClearFilterIndex(i)">
              {{ class }}
            </div>
          </ngx-slick>
      </nav>
    </div>
  </div>
  <div class="book-table">
    <div class="ui equal width grid book-info">
    <div class="column">
      <p>Expression for Intrest</p>
      <p><strong>1st Mar 2020</strong></p>
    </div>
    <div class="column">
      <p>Shortlisting of contributor</p>
      <p><strong>5th  Mar 2020</strong></p>
    </div>
    <div class="column">
      <p>Content Submission</p>
      <p><strong>23rd  Mar 2020</strong></p>
    </div>
    <div class="column">
      <p>Textbook Publication</p>
      <p><strong>10 Apr 2020</strong></p>
    </div>
    <div class="column">
      <p>Reward</p>
      <p><strong>To be disussed</strong></p>
    </div>
  </div>
    <table class="ui very padded table">
    <thead>
      <tr>
        <!-- <th></th> -->
        <th>Textbook</th>
        <th>Grade</th>
        <th>Medium</th>
        <th>Chapters</th>
        <th>Subject</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <!-- <span *ngFor="let key of objectKey(collectionList)"> -->
        <tr *ngFor="let data of collectionList" >
          <td><p>{{data.name}}</p></td>
          <td><span>{{data.gradeLevel}}</span></td>
          <td><span class="language">{{data.medium}}</span></td>
          <td>20</td>
          <td>{{data.subject}}</td>
         
          <td><button *ngIf="nominate === 'nominate' &&  this.changeButtonId !== data.identifier " class="sb-btn sb-btn-normal sb-btn-primary" (click)="ChangeUploadStatus(data.identifier)">Nominate</button>
          <button *ngIf="uploadSample === 'uploadSample' && this.changeButtonId === data.identifier" class="sb-btn sb-btn-normal sb-btn-success" (click)="nominate='uploadSample'">Upload Sample</button></td>
        </tr>
      </tbody>
    </table> 
</div>
    <!-- <div *ngFor="let key of objectKey(collectionList)"> -->

      <!-- <sb-library-cards-grid  [title]="key" appTelemetryInteract
      [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('collection-card', 'click', 'collection')"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata"
      [contentList]="collectionList[key]" [maxCardCount]="4" [type]="'infinite_card_grid'" (viewMoreClick)="viewMoreClickHandler($event)" (cardClick)="collectionClickHandler($event)"></sb-library-cards-grid> -->
        <!-- <app-card appContentDirection appTelemetryInteract [telemetryInteractEdata]="telemetryInteract" [data]="content" appTelemetryInteract [telemetryInteractEdata]="telemetryInteract" (clickEvent)="showTopics($event)"></app-card> -->
    <!-- </div> -->
 
  <div  *ngIf="!objectKey(collectionList).length">
    <app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0006'}"></app-no-result>
  </div>
</div>

<div *ngIf="currentStage !== 'collectionComponent'" style="margin-bottom: -60px;">
  <app-chapter-list [chapterListComponentInput]="chapterListComponentInput" (selectedQuestionTypeTopic)="selectedQuestionTypeTopic"></app-chapter-list>
</div>

<div class="twelve wide column" *ngIf="!showLoader && showError">
  <app-no-result [data]="{ messageText: 'resourceService.messages.fmsg.m0004'}"></app-no-result>
</div>
<div *ngIf='showLoader && !showError' class="ui container sb-chapter-list && currentStage === 'collectionComponent'">
  <app-loader></app-loader>
</div>
