<div class="sb-prominent-filter sb-bg-header-blue" [formGroup]="searchFilterForm">
  <div class="ui container py-20">
    <div class="d-flex flex-w-wrap">
      <div class="fs-0-785 cursor-pointer pr-20 font-weight-bold" (click)="showfilter()"
        appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('filter-accordion', 'click', 'library',{'isFilterShow':!isFilterShow})"
        [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
        [telemetryInteractPdata]="sessionContext.telemetryInteractPdata" >
        <i class="question circle link icon sb-color-gray-200 fs-0-92" suiPopup popupDelay="500" popupText="{{resourceService.frmelmnts.lbl.changingFilterHelpsYouFindMoreContent}}"></i>
        {{resourceService.frmelmnts.lbl.filters}} 
        <i class="icon caret" [ngClass]="isFilterShow === true ? 'up' : 'down'"></i>
      </div>
    </div>
    <div class="sb-prominent-filter-container pt-16" *ngIf="isFilterShow">
      <div class="sb-prominent-filter-field">
        <label class="fsmall d-block">{{resourceService.frmelmnts.lbl.contentType}}
        </label>
        <sui-multi-select class="selection sb-select-searchfilter d-block" placeholder="{{resourceService.frmelmnts.lbl.selectcontentTypes}}"
          formControlName="contentType" #contentTypes [options]="filters.contentType" [isSearchable]='true'
          appTelemetryInteract
          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('multiselect-contentType', 'click', 'library')"
          [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
          [telemetryInteractPdata]="sessionContext.telemetryInteractPdata">
            <sui-select-option *ngFor="let contentType of contentTypes.filteredOptions" [value]="contentType"
            appTelemetryInteract
            [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('selectoption-contentType', 'click', 'library',{values:contentType})"
            [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
            [telemetryInteractPdata]="sessionContext.telemetryInteractPdata"> </sui-select-option>
        </sui-multi-select>
      </div>
      <div class="sb-prominent-filter-field">
        <label class="fsmall d-block">{{resourceService.frmelmnts.lbl.class}}(es)
        </label>
        <sui-multi-select class="selection sb-select-searchfilter d-block" placeholder="{{resourceService.frmelmnts.lbl.selectClasses}}"
          formControlName="gradeLevel" #gradeLevels [options]="filters.gradeLevel" [isSearchable]='true'
          appTelemetryInteract
          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('multiselect-gradeLevel', 'click', 'library')"
          [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
          [telemetryInteractPdata]="sessionContext.telemetryInteractPdata">
            <sui-select-option *ngFor="let gradeLevel of gradeLevels.filteredOptions" [value]="gradeLevel"
            appTelemetryInteract
          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('selectoption-gradeLevel', 'click', 'library',{values:gradeLevel})"
          [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
          [telemetryInteractPdata]="sessionContext.telemetryInteractPdata"> </sui-select-option>
        </sui-multi-select>
      </div>
      <div class="sb-prominent-filter-field">
        <label class="fsmall d-block">{{resourceService.frmelmnts.lbl.subject}}(s)
        </label>
        <sui-multi-select class="selection sb-select-searchfilter d-block" placeholder="{{resourceService.frmelmnts.lbl.selectSubjects}}"
          formControlName="subject" #subjects [options]="filters.subject" [isSearchable]='true'
          appTelemetryInteract
          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('multiselect-subject', 'click', 'library')"
          [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
          [telemetryInteractPdata]="sessionContext.telemetryInteractPdata">
            <sui-select-option *ngFor="let subject of subjects.filteredOptions" [value]="subject"
            appTelemetryInteract
          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('selectoption-subject', 'click', 'library',{values:subject})"
          [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
          [telemetryInteractPdata]="sessionContext.telemetryInteractPdata"> </sui-select-option>
        </sui-multi-select>
      </div>
      <div class="sb-prominent-filter-field ml-0 text-left ">
        <label class="fsmall d-block">Chapter(s) </label>
          <sui-multi-select class="selection sb-select-searchfilter d-block sb-option-ellipsis" placeholder="{{resourceService.frmelmnts.lbl.selectChapters}}"
          formControlName="chapter" #chapters [options]="filters.chapter" [isSearchable]='true'
          appTelemetryInteract
          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('multiselect-chapter', 'click', 'library')"
          [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
          [telemetryInteractPdata]="sessionContext.telemetryInteractPdata">
            <sui-select-option *ngFor="let chapter of chapters.filteredOptions" [value]="chapter"
          appTelemetryInteract
          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('selectoption-chapter', 'click', 'library',{values:chapter})"
          [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
          [telemetryInteractPdata]="sessionContext.telemetryInteractPdata"> </sui-select-option>
        </sui-multi-select>
      </div>
      <div class="d-flex flex-as-center pt-10 sb-btn-cover">
        <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary ml-5" (click)="resetFilter();"
        appTelemetryInteract
          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('reset-filter', 'click', 'library',{filters:{}})"
          [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
          [telemetryInteractPdata]="sessionContext.telemetryInteractPdata">{{resourceService.frmelmnts.btn.reset}}</button>
        <button type="button" class="sb-btn sb-btn-normal sb-btn-primary ml-15" (click)="applyFilter();"
        appTelemetryInteract
          [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('apply-filter', 'click', 'library',{filters:searchFilterForm.value})"
          [telemetryInteractCdata]="sessionContext.telemetryInteractCdata"
          [telemetryInteractPdata]="sessionContext.telemetryInteractPdata" >{{resourceService.frmelmnts.btn.apply}}</button>
      </div>
    </div>
  </div>
</div>
