<div class="sb-prominent-filter sb-bg-header-blue" [formGroup]="searchFilterForm">
  <div class="ui container py-20">
    <div class="d-flex flex-w-wrap">
      <div class="fs-0-785 cursor-pointer pr-20 font-weight-bold" (click)="showfilter()">
        <i class="question circle link icon sb-color-gray-200 fs-0-92" suiPopup popupDelay="500" popupText="Changing filter helps you find more resources"></i>
        {{resourceService.frmelmnts.lbl.filters}} 
        <i class="icon caret" [ngClass]="isFilterShow === true ? 'up' : 'down'"></i>
      </div>
    </div>
    <div class="sb-prominent-filter-container pt-16" *ngIf="isFilterShow">
      <div class="sb-prominent-filter-field">
        <label class="fsmall d-block">{{resourceService.frmelmnts.lbl.contentType}}
        </label>
        <sui-multi-select class="selection sb-select-searchfilter d-block"
          formControlName="contentTypes" #contentTypes
          [options]="filters.contentTypes">
            <sui-select-option *ngFor="let contentType of contentTypes.filteredOptions" [value]="contentType"> </sui-select-option>
        </sui-multi-select>
      </div>
      <div class="sb-prominent-filter-field">
        <label class="fsmall d-block">{{resourceService.frmelmnts.lbl.class}}(es)
        </label>
        <sui-multi-select class="selection sb-select-searchfilter d-block"
          formControlName="gradeLevels" #gradeLevels
          [options]="filters.gradeLevels">
            <sui-select-option *ngFor="let gradeLevel of gradeLevels.filteredOptions" [value]="gradeLevel"> </sui-select-option>
        </sui-multi-select>
      </div>
      <div class="sb-prominent-filter-field">
        <label class="fsmall d-block">{{resourceService.frmelmnts.lbl.subject}}(s)
        </label>
        <sui-multi-select class="selection sb-select-searchfilter d-block"
          formControlName="subjects" #subjects
          [options]="filters.subjects">
            <sui-select-option *ngFor="let subject of subjects.filteredOptions" [value]="subject"> </sui-select-option>
        </sui-multi-select>
      </div>
      <div class="sb-prominent-filter-field ml-0 text-left">
        <label class="fsmall d-block">Chapter(s)
        </label>
        <sui-multi-select class="selection sb-select-searchfilter d-block search-select"
          formControlName="chapters" #chapters
          [options]="filters.chapters" [isSearchable]='true'>
            <sui-select-option *ngFor="let chapter of chapters.filteredOptions" [value]="chapter"> </sui-select-option>
        </sui-multi-select>
      </div>
      <div class="sb-checkbox sb-checkbox-primary flex-as-center pl-10 pt-10" *ngIf="isFilterShow">
        <input type="checkbox" id="showAddedContent" formControlName="showAddedContent" name="showAddedContent">
        <label for="showAddedContent" class="fs-0-92">{{resourceService.frmelmnts.lbl.showResourcesAddedToTextbook}}</label>
      </div>
    </div>
  </div>
</div>
