<!-- Prominent Filter Section -->
<div class="sb-prominent-filter" >
  <div class="ui container">
    <div class="sb-prominent-filter-container pt-16">
      <div class="sb-prominent-filter-field">
        <label class="fsmall">Select Medium</label>
        <sui-select class="selection sb-select-searchfilter" labelField="name" placeholder="Select Board" 
          [isSearchable]="false" #multiSelect>
          <sui-select-option *ngFor="let option of mediums" [value]="option">
          </sui-select-option>
        </sui-select>
      </div>
      <div class="sb-prominent-filter-field">
        <label class="fsmall">Select Subject</label>
        <sui-select class="selection sb-select-searchfilter" labelField="name" placeholder="Select Medium"
          [isSearchable]="false" #multiSelect>
          <sui-select-option *ngFor="let option of subjects" [value]="option">
          </sui-select-option>
        </sui-select>
      </div>
      <div class="sb-prominent-filter-field">
        <label class="fsmall">Select Content Type(s)</label>
        <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="true" placeholder="Select Content Type(s)" [(ngModel)]="selectedContentType"
          [isSearchable]="false" #multiSelect>
          <sui-select-option *ngFor="let option of contentTypes" [value]="option">
          </sui-select-option>
        </sui-multi-select>
      </div>
      <div class="sb-prominent-filter-field">
        <label class="fsmall">Select Class(es)</label>
        <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="true" placeholder="Select Class(es)" [(ngModel)]="selectedClass"
          [isSearchable]="false" #multiSelect>
          <sui-select-option *ngFor="let option of classes" [value]="option">
          </sui-select-option>
        </sui-multi-select>
      </div>

    </div>
  </div>
</div>