app-ckeditor-tool{
    width: 85%;
}
sui-select{
    width: 100%;
    border: 1px solid rgba(34, 36, 38, 0.15);
    font-size: 0.8rem;
    padding:0.4rem 0.2rem;
    background: #fff;
}
.dropdown.icon{
    float: right !important;
}
.menu{
    width: 100%;
}