<div class="px-16">
  <div class="b-1-100">
    <div class="py-20 px-32 sb-bg-color-primary-0">
      <div class="sb-field-group">
        <label *ngIf="showFormError && [undefined, ''].includes(editorState.question)" class="sb-label sb-label-table sb-label-error-0">Fill Question</label>
        <label>Question</label><span class="sb-required">*</span>
        <div class="sb-field">
            <div class="ckeditor-tool__question mb-24">
            <app-ckeditor-tool [editorConfig]="editorConfig" (editorDataOutput)="editorDataHandler($event, 'question')"
            [editorDataInput]="editorState.question" [editorId]="'question_editor'"
            (videoDataOutput)="videoDataOutput($event)" [videoShow]="videoShow"></app-ckeditor-tool>
           </div> 
        </div>
        <div class="sb-field-group">
          <label *ngIf="showFormError && [undefined, ''].includes(editorState.answer)" class="sb-label sb-label-table sb-label-error-0">Fill Answer</label>
          <label>Answers</label><span class="sb-required">*</span>
          <div class="sb-field">
            <div class="ckeditor-tool__option mb-24">
              <app-ckeditor-tool [editorConfig]="editorConfig" (editorDataOutput)="editorDataHandler($event, 'answer')"
                [editorDataInput]="editorState.answer" [editorId]="'answer_editor'"></app-ckeditor-tool>
            </div>
          </div>
        </div>
        <div class="d-flex flex-ai-center ckeditor-tool__solution py-10 px-16 mt-15 sb-bg-color-white">
          <label class="fs-0-92 mb-0 ckeditor-tool__label pb-4">
            <span class="sb-color-primary fs-0-785">Solution</span>
            <span class="fs-0-785 sb-color-gray-100">(Optional) </span>
          </label>
          <div
            class="ui dropdown sb-btn sb-btn-outline-primary sb-btn-normal sb-right-icon-btn sb-btn-radius ml-auto fxsmall"
            suiDropdown autoClose="itemClick" *ngIf="showSolutionDropDown">
            <div class="text gray-200">Choose type</div>
            <i class="dropdown icon mx-8"></i>
            <div class="menu" suiDropdownMenu>
              <div class="item" (click)="selectSolutionType('Text+Image')">Text+Image</div>
              <div class="item" (click)="selectSolutionType('video')">Video</div>
            </div>
          </div>
        </div>
        <div class="solution_html" *ngIf="selectedSolutionType == 'html'">
          <div class="ckeditor-tool-container">
            <div class="sb-ckeditor relative mb-8">
              <button (click)="deleteSolution()"
                class="sb-btn sb-ckeditor-close absolute"><i
                  class="icon close"></i>
              </button>
              <app-ckeditor-tool [editorConfig]="editorConfig" (editorDataOutput)="editorDataHandler($event, 'solution')"
              [editorDataInput]="editorState.solutions" [editorId]="'solution_editor'" class="ckeditor-tool__option"></app-ckeditor-tool>
            </div>
          </div>
        </div>
        <div class="solution_video" *ngIf="selectedSolutionType == 'video' && showSolution">
          <div class="ckeditor-tool__solution sb-bg-color-white sb-w-85 sb-ckeditor relative">
            <div class="solution-media p-16 d-flex flex-ai-center ckeditor-tool__option p-16">
              <div class="mcq-checkbox-answer">
                <button class="sb-btn sb-ckeditor-close absolute"
                  (click)="deleteSolution()"><i
                  class="icon close"></i></button>
              </div>
              <div class="solution-media__video relative position">
                <div class="overlay-image"
                  [ngStyle]="videoThumbnail ?  {'background' : 'url(' + videoThumbnail + ')' }  : {'background': 'rgba(0,0,0,0.3)'}">
                  <i class="play circle icon"></i></div>
              </div>
              <div class="solution-media__desc ml-16 sb-color-primary">
                {{videoSolutionName}}<i
                class="icon ellipsis vertical sb-color-black"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="sb-btn sb-btn-outline-primary sb-btn-normal sb-left-icon-btn sb-btn-radius" (click)="openAddQuestionModal()">
    <i class="plus icon mr-4 ml-4"></i>
    ADD Question Set
  </button>

  </div>
  <sui-modal *ngIf="AddQuestionModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" #modal>
  <div class="sb-modal-header">
      Question Set
  </div>
  <div class="sb-modal-content">
      <div class="mt-8 mb-20">
          <label>Select a template to get started</label>
      </div>
      <div class="twelve wide column">
          <div class="ui grid flex-jc-center mb-16">
                    <div class="ui card text-center common-contribution-card m-16">
                        <div class="content">
                          <i class="check circle icon"></i>
                          <img class="mt-16" rel="placeholder" src="assets/images/MCQ.png">
                          <div class="content-title pt-16 pb-8 fsmall">MCQ <i class="info circle link icon" [popupPlacement]="'left'" suiPopup popupText="text description"></i>
                          </div>
                        </div>
                    </div>
                    <div class="ui card text-center common-contribution-card m-16">
                        <div class="content">
                          <i class="check circle icon"></i>
                          <img class="mt-16" rel="placeholder" src="assets/images/questions.png">
                          <div class="content-title pt-16 pb-8 fsmall">Short Answers <i  class="info circle link icon" [popupPlacement]="'left'" suiPopup popupText="text description"></i>
                          </div>
                        </div>
                    </div>
            </div>
          </div>
  </div>
  <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary"> Next </button>
  </div>
</sui-modal>