<div class="sb-pageSection my-24 ui container" [appTelemetryImpression]="telemetryImpression">
  <div class="sb-pageSection-header">
  </div>
  <div class="sb-pageSection-content">
    <div class="sb-pageSection-header">
      <h3>Explore Programs</h3>
    </div>
    <ng-container *ngIf="(programsList$ | async ) as programsList else loading">
      <ng-container *ngIf="programsList && programsList.length else noResult">
        <table class="ui very padded table accordion">
          <thead>
            <tr>
              <th>Program & Board</th>
              <th>Textbooks & Chapters</th>
              <th>Subjects</th>
              <th>Submission Date</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let program of programsList" [routerLink]="['./program/' + program.programId]" >
              <td> <p>{{program?.name}}</p>
                <p class="ui teal label">CBSE</p> 

              </td>
              <td >
                <p >
                  <strong>5 </strong><small>Textbooks </small>
                  <strong>64</strong><small> Textbooks</small>
                  <small>5,6,7 </small><strong> Grades</strong>
                </p>
                
              </td>
              <td >
                <p>Mathamatics , Science and 3 more</p>
                <p class="language">English, Hindi, Marathi</p>
                
              </td>
              <td  >
                <p>10 May 2019</p>
                <p><small>20 days to ago</small></p>   
              </td>
            </tr>
          </tbody>
        </table> 
      </ng-container>
      <ng-template #noResult>
        <app-no-result [data]="{messageText: resourceService.messages.stmsg.m0006}"></app-no-result>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>