<!-- <app-program-header *ngIf="!showLoader" [headerComponentInput]="headerComponentInput" (emitTabChange)="tabChangeHandler($event)" [appTelemetryImpression]="telemetryImpression"></app-program-header> -->

<div *ngIf="currentStage === 'programComponent' && programDetails">
  <ng-container *ngIf="!showLoader && (!nominated || nominationDetails?.status === 'Initiated'); else nominatedBlock">
    <ndc-dynamic [ndcDynamicComponent]="component" [ndcDynamicInputs]="dynamicInputs" [ndcDynamicOutputs]="outputs"></ndc-dynamic>
  </ng-container>
  <ng-template #nominatedBlock>
    <div class="sb-bg-color-primary-0 practical-header py-16">
			<div class="d-flex  flex-jc-space-between practical-header__content ui container pt-10">
					<div class="practical-header__title flex-basis-1 w-20">
						<h5 class="m-0 p-0 font-weight-bold d-inline-block break-word">{{ programDetails?.name }} </h5>
						<i class="info circle link icon" suiPopup [popupTemplate]="popupTemplate" popupDelay="1000"></i>
							<ng-template #popupTemplate>
								<div class="content">
									<div class="textbook-details ml-8">
										<div class="header"><strong>{{ resourceService?.frmelmnts?.lbl?.mediums }}</strong></div>
										<div class="content">
											<label class="d-block fsmall font-weight-normal mb-0">{{ programDetails?.config.medium.join(', ') }}</label>
										</div>
										<hr />
										<div class="header"><strong>{{ resourceService?.frmelmnts?.lbl?.class }}</strong></div>
										<div class="content">
											<label class="d-block fsmall font-weight-normal mb-0">{{ programDetails?.config.gradeLevel.join(', ') }}</label>
										</div>
										<hr />
										<div class="header"><strong>{{ resourceService?.frmelmnts?.lbl?.subjects }}</strong></div>
										<div class="content">
											<label class="d-block fsmall font-weight-normal mb-0">{{ programDetails?.config.subject.join(', ') }}</label>
										</div>
									</div>
								</div>
							</ng-template>
						<p class="fs-0-785 font-weight-normal pr-10 sb__ellipsis sb__ellipsis--three">{{ programDetails?.description }}</p>
					</div>
					<div class="sb-meta-data-container sb-meta-data-column px-10 w-20">
						<label class="m-0">{{ resourceService.frmelmnts.lbl.contentType}}</label>
						<p class="sb__ellipsis sb__ellipsis--one cursor-pointer" suiPopup popupHeader="{{resourceService.frmelmnts.lbl.contentType}}" popupText="{{ programContentTypes }}"><span>{{ programContentTypes }}</span></p>
					</div>
					<ng-container *ngIf="programDetails">
						<div class="program-timeline px-10">
						  <div class="program-timeline-item" *ngIf="programDetails?.status !== 'Unlisted'">
							<div class="status" [class.active]="activeDate === 'nomination_enddate'">
							  <div class="status__label">{{resourceService.frmelmnts.lbl.nominationEndDate}}</div>
							  <div class="status__date">
								{{ programDetails?.nomination_enddate |  date:'LLLL d, yyyy'  }}
								<br/>
								<em [class.sb-color-warning]="activeDate === 'nomination_enddate'" *ngIf="activeDate === 'nomination_enddate'">{{ programDetails?.nomination_enddate | daysToGo  }}</em>
							  </div>
							</div>
						  </div>
						  <div class="program-timeline-item" *ngIf="programDetails?.status !== 'Unlisted'">
							<div class="status"  [class.active]="activeDate === 'shortlisting_enddate'">
							  <div class="status__label">{{resourceService.frmelmnts.lbl.shortlistingNomination}}</div>
							  <div class="status__date">
								{{ programDetails?.shortlisting_enddate |  date:'LLLL d, yyyy'  }}
								<br/>
								<em [class.sb-color-warning]="activeDate === 'shortlisting_enddate'" *ngIf="activeDate === 'shortlisting_enddate'">{{ programDetails?.shortlisting_enddate | daysToGo  }}</em>
							  </div>
							</div>
						  </div>
						  <div class="program-timeline-item">
							<div class="status"  [class.active]="activeDate === 'content_submission_enddate'">
							  <div class="status__label">{{resourceService.frmelmnts.lbl.contributionReview}}</div>
							  <div class="status__date">
								{{ programDetails?.content_submission_enddate |  date:'LLLL d, yyyy'  }}
								<br/>
								<em [class.sb-color-warning]="activeDate === 'content_submission_enddate'" *ngIf="activeDate === 'content_submission_enddate'">{{ programDetails?.content_submission_enddate | daysToGo  }}</em>
							  </div>
							</div>
						  </div>
						  <div class="program-timeline-item">
							<div class="status" [class.active]="activeDate === 'enddate'">
							  <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.programEndDate }}</div>
							  <div class="status__date">
								{{ programDetails?.enddate |  date:'LLLL d, yyyy'  }}
								<br/>
								<em [class.sb-color-warning]="activeDate === 'enddate'" *ngIf="activeDate === 'enddate'">{{ programDetails?.enddate | daysToGo  }}</em>
							  </div>
							</div>
						  </div>
						</div>
					  </ng-container>
					<div class="sb-meta-data-container sb-meta-data-column px-10">
						<div class='practical-sb-buttons' *ngIf="nominationDetails && nominationDetails.status">
							<label class="m-0">{{ resourceService.frmelmnts.lbl.status }}</label>
							<p [ngClass]="{'sb-color-success':nominationDetails.status == 'Approved','sb-color-error':nominationDetails.status == 'Rejected','sb-color-warning':nominationDetails.status == 'Pending'}">{{ nominationDetails?.status }}</p>
						</div>
					</div>
					<div class="sb-meta-data-container sb-meta-data-column px-10" *ngIf="nominated && nominationDetails.status=='Rejected'">
						<label class="m-0">{{ resourceService.frmelmnts.lbl.reasonsForRejection }}</label>
						<p class="sb__ellipsis sb__ellipsis--one cursor-pointer" suiPopup popupHeader="{{resourceService.frmelmnts.lbl.reasonsForRejection}}" popupText="{{nominationDetails?.feedback}}">{{ nominationDetails?.feedback }}</p>
					</div>
			</div>

			<div class="pr-40 text-right" *ngIf="showSkipReview">
				<i class="icon check circle sb-color-secondary-200 fs-1-286 va-text-top" popupText="{{resourceService.frmelmnts.lbl.twoLevelReviewSkippedNote}}" suiPopup [popupPlacement]="'top'"></i>
				<label class="font-weight-normal fs-0-92">{{resourceService.frmelmnts.lbl.twoLevelReviewSkipped}}</label>
			</div>
	</div>

	<div class="sb-bg-color-primary-100">
		<sui-tabset>
			<div class="ui pointing secondary menu sb-bg-color-primary-100">
				<div class="ui container p-0 m-0 d-flex flex-ai-center flex-jc-center">
					<div class="item active cursor-pointer" suiTabHeader="2" (click)="setTelemetryPageId('textbook')"
					appTelemetryInteract
					[telemetryInteractEdata]="getTelemetryInteractEdata('textbooks', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, configService.telemetryLabels.pageId.contribute.projectContributions)"
					[telemetryInteractObject]="telemetryInteractObject"
					[telemetryInteractCdata]="telemetryInteractCdata"
					[telemetryInteractPdata]="telemetryInteractPdata">{{ targetCollections }}<span class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">{{contributorTextbooks.length || 0}}</span></div>
					<div class="item cursor-pointer" *ngIf="isContributingOrgAdmin" suiTabHeader="3" (click)="setTelemetryPageId('user')"
					appTelemetryInteract
					[telemetryInteractEdata]="getTelemetryInteractEdata('assign_users_to_project', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch,configService.telemetryLabels.pageId.contribute.projectAssignUsers)"
					[telemetryInteractObject]="telemetryInteractObject"
					[telemetryInteractCdata]="telemetryInteractCdata"
					[telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.lbl.assignUsersToProject}} <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">{{ OrgUsersCnt}}</span></div>
				</div>
			</div>

			<div class="ui segment p-0 m-0 mt-4 sb-bg-color-white dynamicHeight" isActive='true' suiTabContent="2">
				<div class="ui container p-0 m-0">
				<div class="pt-10 text-capitalize fs-0-785 line-height-1-3 sb-pageSection-document ui grid mt-10">
					<div class="twelve wide tablet five wide computer column">
						<div *ngIf="isContributingOrgAdmin" class="sb-color-gray-100 d-inline-block br-2 pr-10"><span class="fs-1-286 font-weight-bold">{{contentStatusCounts.draft || 0}}</span> {{resourceService.frmelmnts.lbl.drafts}}</div>
						<div *ngIf="isContributingOrgAdmin" class="sb-color-primary d-inline-block br-2 px-10"><span class="fs-1-286 font-weight-bold">{{contentStatusCounts.review || 0}}</span> {{resourceService.frmelmnts.lbl.reviewInProgress}}</div>
						<div *ngIf="isContributingOrgAdmin" class="sb-color-error d-inline-block br-2 px-10"><span class="fs-1-286 font-weight-bold">{{contentStatusCounts.rejected || 0}}</span> {{resourceService.frmelmnts.lbl.notAccepted}}</div>
						<div *ngIf="isContributingOrgAdmin" class="sb-color-warning d-inline-block px-10"><span class="fs-1-286 font-weight-bold">{{contentStatusCounts.live || 0}}</span> {{resourceService.frmelmnts.lbl.sentForApproval}}</div>
						<!-- <div *ngIf="isContributingOrgAdmin" class="sb-color-error d-inline-block br-2 px-10"><span class="fs-1-286 font-weight-bold">{{contentStatusCounts?.sourcingOrgStatus?.rejected || 0}}</span> {{resourceService.frmelmnts.lbl.notAccepted}}</div>
						<div *ngIf="isContributingOrgAdmin" class="sb-color-warning d-inline-block px-10"><span class="fs-1-286 font-weight-bold">{{contentStatusCounts?.sourcingOrgStatus?.pending|| 0}}</span> {{resourceService.frmelmnts.lbl.sentForApproval}}</div> -->
					</div>
					<div class="twelve wide tablet seven wide computer column text-right">
						<a class="fs-0-785 text-decor-none font-weight-bold sb-color-primary pt-10" href="{{ programDetails?.guidelines_url }}" target="_blank" *ngIf="programDetails?.guidelines_url" [ngClass]="{'mb-10': !isContributingOrgAdmin}"
						appTelemetryInteract
						[telemetryInteractEdata]="getTelemetryInteractEdata('view_content_guidelines_document', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch,telemetryPageId)"
						[telemetryInteractObject]="telemetryInteractObject"
						[telemetryInteractCdata]="telemetryInteractCdata"
						[telemetryInteractPdata]="telemetryInteractPdata">
							<i class="file sb-file-icon outline icon pr-10 sb-color-primary"></i>
							{{ resourceService.frmelmnts.lbl.viewGuidelinesDocument }}
						</a>
						<button *ngIf="isContributingOrgAdmin || sessionContext?.currentRoles?.includes('REVIEWER')" type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary mx-10" (click)="showTextbookFiltersModal = true"
						appTelemetryInteract
						[telemetryInteractEdata]="getTelemetryInteractEdata(textbookFiltersApplied ? 'modify_filters' : 'filter_collections', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
						[telemetryInteractObject]="telemetryInteractObject"
						[telemetryInteractCdata]="telemetryInteractCdata"
						[telemetryInteractPdata]="telemetryInteractPdata"> <i class="filter icon"></i>
							<i [ngClass]="{'sb-dock-circle': textbookFiltersApplied}"></i>
							<span *ngIf="!textbookFiltersApplied">{{resourceService.frmelmnts.lbl.addFilters | interpolate:'{TARGET_NAME}': targetCollections }}</span>
							<span *ngIf="textbookFiltersApplied">{{ resourceService.frmelmnts.lbl.modifyFilters }}</span>
						</button>
					</div>
				</div>
					<div class="sb-pageSection pt-5">
						<div class="sb-bg-color-white pt-15">
							<div class="sb-table-responsive" *ngIf="!showLoader && contributorTextbooks.length">
								<table class="sb-table sb-table-striped sb-table-sortable sb-table-nowrap">
									<thead class="sb-table-header sb-table-thead-gray">
										<tr>
											<th class="w-10 cursor-pointer sb-sorting" (click)="sortCollection('name')">
												{{targetCollection}} &nbsp;&nbsp;
												<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'name' "></i>
												<span  *ngIf="sortColumn == 'name'" class="d-inline-block">
													<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
													<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
												</span>
											</th>
											<th class="w-5 cursor-pointer sb-sorting" (click)="sortCollection('medium')">
												{{resourceService.frmelmnts.lbl.medium}} &nbsp;&nbsp;
												<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'medium' "></i>
												<span  *ngIf="sortColumn == 'medium'" class="d-inline-block">
													<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
													<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
												</span>
											</th>
											<th class="w-5 cursor-pointer sb-sorting" (click)="sortCollection('gradeLevel')">
												{{resourceService.frmelmnts.lbl.Class}} &nbsp;&nbsp;
												<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'gradeLevel' "></i>
												<span  *ngIf="sortColumn == 'gradeLevel'" class="d-inline-block">
													<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
													<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
												</span>
											</th>
											<th class="w-5 cursor-pointer sb-sorting" (click)="sortCollection('subject')">
												{{resourceService.frmelmnts.lbl.subject}} &nbsp;&nbsp;
												<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'subject' "></i>
												<span  *ngIf="sortColumn == 'subject'" class="d-inline-block">
													<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
													<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
												</span>
											</th>
											<th *ngIf="isContributingOrgAdmin" class="w-20">{{resourceService.frmelmnts.lbl.contentStatus}}</th>
											<th class="w-5"></th>
										</tr>
									</thead>
									<tbody class="sb-table-body">
										<tr *ngFor="let contributorTextbook of contributorTextbooks; let i = index;">
											<td class="hand">
												{{contributorTextbook.name}}
											</td>
											<td>{{contributorTextbook.medium}}</td>
											<td>{{contributorTextbook.gradeLevel}}</td>
											<td>{{contributorTextbook.subject}}</td>
											<td *ngIf="isContributingOrgAdmin">
												<div class="text-capitalize fs-0-785">
													<span class="sb-color-primary d-inline-block br-2 pr-5">{{contributorTextbook.reviewCount || 0}}  {{resourceService.frmelmnts.lbl.pending}}</span>
													<span class="sb-color-error d-inline-block br-2 px-5">{{contributorTextbook.rejectedCount || 0}} {{resourceService.frmelmnts.lbl.notAccepted}}</span>
													<span class="sb-color-warning d-inline-block px-5">{{contributorTextbook.liveCount || 0}} {{resourceService.frmelmnts.lbl.sentForApproval}}</span>
												</div>
											</td>
											<td>
												<button *ngIf="currentNominationStatus === 'Approved' && sessionContext?.currentRoles?.includes('CONTRIBUTOR') && canUploadContent()"
												type="button"  class="sb-btn sb-btn-normal sb-btn-outline-primary"
												(click)="viewContribution(contributorTextbook)" appTelemetryInteract
												[telemetryInteractEdata]="getTelemetryInteractEdata('upload_content', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId, {values: [contributorTextbook.identifier]})"
												[telemetryInteractObject]="telemetryInteractObject"
												[telemetryInteractCdata]="getTelemetryInteractCdata(contributorTextbook.identifier,'linked_collection')"
												[telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.lbl.uploadContent}}</button>

												<button *ngIf="currentNominationStatus === 'Approved' && !canUploadContent()"
												type="button"  class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="viewContribution(contributorTextbook)" appTelemetryInteract
												[telemetryInteractEdata]="getTelemetryInteractEdata('view_content', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.launch,telemetryPageId, {values: [contributorTextbook.identifier]})"
												[telemetryInteractObject]="telemetryInteractObject"
												[telemetryInteractCdata]="getTelemetryInteractCdata(contributorTextbook.identifier,'linked_collection')"
												[telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.lbl.viewContent}}</button>

												<button *ngIf="currentNominationStatus === 'Approved' && sessionContext?.currentRoles?.includes('REVIEWER') && !sessionContext?.currentRoles?.includes('CONTRIBUTOR') && canUploadContent()"
												type="button"  class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="viewContribution(contributorTextbook)" appTelemetryInteract
												[telemetryInteractEdata]="getTelemetryInteractEdata('review_content', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId, {values: [contributorTextbook.identifier]})"
												[telemetryInteractObject]="telemetryInteractObject"
												[telemetryInteractCdata]="getTelemetryInteractCdata(contributorTextbook.identifier,'linked_collection')"
												[telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.lbl.reviewContent}}</button>
										</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="mt-12" *ngIf="!showLoader && !contributorTextbooks.length">
								<app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0146'}">
								</app-no-result>
							</div>
						</div>
						<div class="ui" *ngIf="showLoader">
							<app-loader></app-loader>
						</div>
					</div>
				</div>
			</div>
			<div class="ui segment p-0 m-0 mt-4 sb-bg-color-white dynamicHeight" suiTabContent="3">
				<div class="ui container">
					<div class="pt-24">
					  <div class="d-flex flex-ai-center flex-jc-space-between sb-pageSection">
						<div class="sb-pageSection-header">
						  <h4 class="sb-pageSection-title"> {{ userService?.userProfile?.userRegData?.Org?.name }}</h4>
						  <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning">{{ OrgUsersCnt }}</span>
						</div>
						<div class="sb-search-box medium mb-15">
                            <div class="input-div relative">
                                <i class="search icon"></i>
                                <input class="sb-search-input"  [(ngModel)]="searchInput"  type="text"  placeholder="Search..." />
                                <i class="close icon" *ngIf="searchInput" (click)="getUserDetailsBySearch('clearSearch')"></i>
                            </div>
                            <button class="sb-btn sb-btn-normal" (click)="getUserDetailsBySearch()" appTelemetryInteract
							[telemetryInteractEdata]="getTelemetryInteractEdata('search', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.submit, telemetryPageId, {values: {searchInput: searchInput}})"
							[telemetryInteractObject]="telemetryInteractObject"
							[telemetryInteractCdata]="telemetryInteractCdata"
							[telemetryInteractPdata]="telemetryInteractPdata">{{resourceService?.frmelmnts?.lbl?.search}}</button>
                        </div>
					  </div>
						<div *ngIf="searchLimitMessage" class="font-italic sb-color-gray-300 mb-10 text-right fs-0-785 ">
							{{resourceService?.messages?.smsg?.searchLimitMessage | interpolate:'{SEARCH_LIMIT_COUNT}': searchLimitCount}}
							</div>
					</div>
					<div class="sb-table-responsive desktop-o-x-unset" *ngIf="OrgUsersCnt > 0">
					  <table class="sb-table sb-table-striped sb-table-sortable sb-table-nowrap">
						<thead class="sb-table-header sb-table-thead-gray">
						  <tr>
							<th class="w-10 cursor-pointer sb-sorting" (click)="sortOrgUsers('name')">
								{{resourceService.frmelmnts.lbl.username}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="directionOrgUsers == '' || sortColumnOrgUsers != 'name' "></i>
								<span  *ngIf="sortColumnOrgUsers == 'name'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'desc'}"></i>
								</span>
							</th>
							<th class="w-10">{{resourceService.frmelmnts.lbl.emailOrMobile}}</th>
							<th class="w-5 cursor-pointer sb-sorting" (click)="sortOrgUsers('gradeLevel')">
								{{resourceService.frmelmnts.lbl.class}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="directionOrgUsers == '' || sortColumnOrgUsers != 'gradeLevel' "></i>
								<span  *ngIf="sortColumnOrgUsers == 'gradeLevel'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'desc'}"></i>
								</span>
							</th>
							<th class="w-5 cursor-pointer sb-sorting" (click)="sortOrgUsers('subject')">
								{{resourceService.frmelmnts.lbl.subject}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="directionOrgUsers == '' || sortColumnOrgUsers != 'subject' "></i>
								<span  *ngIf="sortColumnOrgUsers == 'subject'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'desc'}"></i>
								</span>
							</th>
							<th class="w-5 cursor-pointer sb-sorting" (click)="sortOrgUsers('contentTypes')">
								{{resourceService.frmelmnts.lbl.contentType}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="directionOrgUsers == '' || sortColumnOrgUsers != 'contentTypes' "></i>
								<span  *ngIf="sortColumnOrgUsers == 'contentTypes'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'desc'}"></i>
								</span>
							</th>
							<th class="w-5 cursor-pointer sb-sorting" (click)="sortOrgUsers('projectselectedRole')">
								{{resourceService.frmelmnts.lbl.roles}} &nbsp;&nbsp;
								<i class="fa fa-sort" aria-hidden="true" *ngIf="directionOrgUsers == '' || sortColumnOrgUsers != 'projectselectedRole' "></i>
								<span  *ngIf="sortColumnOrgUsers == 'projectselectedRole'" class="d-inline-block">
									<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'asc'}"></i>
									<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':directionOrgUsers == 'desc'}"></i>
								</span>
							</th>
						  </tr>
						</thead>
						<tbody class="sb-table-body">
						  <tr *ngFor="let orgUser of contributorOrgUser; let i= index;">
							<td>{{orgUser.name}}</td>
							<td>
								<div *ngIf="orgUser?.maskedEmail">{{orgUser?.maskedEmail}}</div>
								<div *ngIf="orgUser?.maskedPhone"> {{orgUser?.maskedPhone}}</div>
							</td>
							<td>{{orgUser?.gradeLevel?.join(', ')}}</td>
							<td>{{orgUser?.subject?.join(', ')}}</td>
							<td>
								<div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold" style="width: 250px;">
									{{orgUser?.contentTypes?.join(', ')}}
								</div>
							</td>
							<td class="text-center">
								<div *ngIf="programsService.isProjectClosed(programDetails) || nominationDetails?.status === 'Rejected'; else elseBlock">
									{{ (orgUser?.projectselectedRole && orgUser.projectselectedRole !== 'Select Role') ? orgUser.projectselectedRole : '-' }}
								</div>
								<ng-template #elseBlock>
									<div class="custom-selectbx">
										<label>
											<select [(ngModel)]="orgUser.projectselectedRole" labelField="name"  valueField="name" (change)="onRoleChange(orgUser)" >
													<option [value]="orgUser.projectselectedRole"  *ngIf="orgUser.projectselectedRole === 'Select Role'" hidden> Select Role </option>
													<option [value]="option.name" *ngFor="let option of orgUser.roles;" >
															{{option?.name}}
												</option>
											</select>
										</label>
									</div>
								</ng-template>
							</td>
						  </tr>
						</tbody>
					  </table>
					</div>
					<div *ngIf="OrgUsersCnt > 0 && pager.totalPages > 1 && !showUsersLoader" class="sb-pagination-container flex-jc-flex-end pt-16">
						<div class="sb-pagination">
							<a class="sb-item" [ngClass]="{disabled:pager.currentPage===1 }" (click)="NavigateToPage(1)"
							appTelemetryInteract
										[telemetryInteractEdata]="getTelemetryInteractEdata('contributorOrg_list_first_page', configService.telemetryLabels.eventType.click, undefined, telemetryPageId)"
										[telemetryInteractObject]="telemetryInteractObject"
										[telemetryInteractCdata]="telemetryInteractCdata"
										[telemetryInteractPdata]="telemetryInteractPdata">First</a>
							<a [ngClass]="{disabled:pager.currentPage===1 }" class="sb-item" (click)="NavigateToPage(pager.currentPage - 1)" 
							appTelemetryInteract
										[telemetryInteractEdata]="getTelemetryInteractEdata('contributorOrg_list_previous_page', configService.telemetryLabels.eventType.click, undefined, telemetryPageId, {values: [pager.currentPage - 1]})"
										[telemetryInteractObject]="telemetryInteractObject"
										[telemetryInteractCdata]="telemetryInteractCdata"
										[telemetryInteractPdata]="telemetryInteractPdata">Previous</a>
							<a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" (click)="NavigateToPage(page)" class="sb-item"
							appTelemetryInteract
										[telemetryInteractEdata]="getTelemetryInteractEdata('contributorOrg_list_pagination', configService.telemetryLabels.eventType.click, undefined, telemetryPageId, {values: [page]})"
										[telemetryInteractObject]="telemetryInteractObject"
										[telemetryInteractCdata]="telemetryInteractCdata"
										[telemetryInteractPdata]="telemetryInteractPdata">{{page}}</a>
							<a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="NavigateToPage(pager.currentPage + 1)"  class="sb-item"
							appTelemetryInteract
										[telemetryInteractEdata]="getTelemetryInteractEdata('contributorOrg_list_next_page', configService.telemetryLabels.eventType.click, undefined, telemetryPageId, {values: [pager.currentPage + 1]})"
										[telemetryInteractObject]="telemetryInteractObject"
										[telemetryInteractCdata]="telemetryInteractCdata"
										[telemetryInteractPdata]="telemetryInteractPdata">Next</a>
							<a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="NavigateToPage(pager.totalPages)"  class="sb-item"
							appTelemetryInteract
										[telemetryInteractEdata]="getTelemetryInteractEdata('contributorOrg_list_last_page', configService.telemetryLabels.eventType.click, undefined, telemetryPageId, {values: [pager.totalPages]})"
										[telemetryInteractObject]="telemetryInteractObject"
										[telemetryInteractCdata]="telemetryInteractCdata"
										[telemetryInteractPdata]="telemetryInteractPdata">Last</a>
						</div>
					  </div>
					<div class="mt-12" *ngIf="!showUsersLoader && OrgUsersCnt == 0">
						<app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0006'}"> </app-no-result>
					</div>
					  <div class="ui tweleve wide column mb-20" *ngIf="showUsersLoader">
						<app-loader></app-loader>
					  </div>
				</div>
			</div>
		</sui-tabset>
	</div>
  </ng-template>
</div>
<ng-container *ngIf="currentStage !== 'programComponent'">
	<ndc-dynamic [ndcDynamicComponent]="component" [ndcDynamicInputs]="dynamicInputs" [ndcDynamicOutputs]="outputs"></ndc-dynamic>
</ng-container>

<sui-modal *ngIf="showTextbookFiltersModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'" class="sb-modal" appBodyScroll (dismissed)="showTextbookFiltersModal = false" #prefModal>
	<div class="sb-modal-header">
		{{resourceService.frmelmnts.lbl.addFilters | interpolate:'{TARGET_NAME}': targetCollections}}
	</div>
	<div class="sb-modal-content desktop-o-x-unset">
		<p>{{resourceService.frmelmnts.lbl.pleaseSelectFiltersYouWishToAdd}}</p>
		<div class="segment mt-5 pb-30 pt-10">
			<form class="ui form sb-dock-dropdown" [formGroup]="prefernceForm">
				<div class="ui grid">
					<div class="six wide column py-10">
						<div class="field">
							<label class="d-block fs-0-785 font-weight-normal">{{resourceService.frmelmnts.lbl.medium}}</label>
							<sui-multi-select class="selection p-5 b-100"
							formControlName="medium" #mediums
							[options]="programDetails.config.medium"
							[(ngModel)]="setPreferences['medium']"
								appTelemetryInteract
								[telemetryInteractEdata]="getTelemetryInteractEdata('medium', configService.telemetryLabels.eventType.select, configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {key:'dialog_id',value:'filter_collections'})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata">
								<sui-select-option *ngFor="let medium of mediums.filteredOptions" [value]="medium" 
								appTelemetryInteract
								[telemetryInteractEdata]="getTelemetryInteractEdata('medium', configService.telemetryLabels.eventType.select, configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {values: [medium]})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata"> </sui-select-option>
							</sui-multi-select>
						</div>
					</div>
					<div class="six wide column py-10">
						<div class="field">
							<label class="d-block fs-0-785 font-weight-normal">{{resourceService.frmelmnts.lbl.subject}}</label>
							<sui-multi-select class="selection p-5 b-100"
							formControlName="subject" #subjects
							[options]="programDetails.config.subject"
							[(ngModel)]="setPreferences['subject']"
							appTelemetryInteract
								[telemetryInteractEdata]="getTelemetryInteractEdata('subject', configService.telemetryLabels.eventType.select, configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {key:'dialog_id',value:'filter_collections'})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata">
								<sui-select-option *ngFor="let subject of subjects.filteredOptions" [value]="subject" appTelemetryInteract
								[telemetryInteractEdata]="getTelemetryInteractEdata('subject', configService.telemetryLabels.eventType.select, configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {values: [subject]})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata"></sui-select-option>
							</sui-multi-select>
						</div>
					</div>
					<div class="six wide column py-10">
						<div class="field">
							<label class="d-block fs-0-785 font-weight-normal">{{resourceService.frmelmnts.lbl.class}}</label>
							<sui-multi-select formControlName="gradeLevel"
							class="selection p-5 b-100" #gradeLevels
							[options]="programDetails.config.gradeLevel"
							[(ngModel)]="setPreferences['gradeLevel']"
							appTelemetryInteract
								[telemetryInteractEdata]="getTelemetryInteractEdata('class', configService.telemetryLabels.eventType.select, configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {key:'dialog_id',value:'filter_collections'})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata">
								<sui-select-option *ngFor="let gradeLevel of gradeLevels.filteredOptions" [value]="gradeLevel" appTelemetryInteract
								[telemetryInteractEdata]="getTelemetryInteractEdata('class', configService.telemetryLabels.eventType.select, configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {values: [gradeLevel]})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata"></sui-select-option>
							</sui-multi-select>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="sb-modal-actions py-20">
		<button type="button" class="sb-btn sb-btn-normal sb-btn-primary" (click)="applyTextbookFilters();" appTelemetryInteract
		[telemetryInteractEdata]="getTelemetryInteractEdata('apply', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.submit,telemetryPageId, {filters: setPreferences,key:'dialog_id',value:'filter_collections'})"
		[telemetryInteractObject]="telemetryInteractObject"
		[telemetryInteractCdata]="telemetryInteractCdata"
		[telemetryInteractPdata]="telemetryInteractPdata"> {{resourceService.frmelmnts.btn.apply}} </button>
		<button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary"
		(click)="resetTextbookFilters();" appTelemetryInteract
		[telemetryInteractEdata]="getTelemetryInteractEdata('reset', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.submit, telemetryPageId,{key:'dialog_id',value:'filter_collections'})"
		[telemetryInteractObject]="telemetryInteractObject"
		[telemetryInteractCdata]="telemetryInteractCdata"
		[telemetryInteractPdata]="telemetryInteractPdata"> {{resourceService.frmelmnts.btn.reset}}</button>
	</div>
  </sui-modal>

  <sui-modal *ngIf="showUserRemoveRoleModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'" class="sb-modal" appBodyScroll (dismissed)="cancelRemoveUserFromProgram();" #userRemoveRoleModal>
  <div class="sb-modal-header">
    {{resourceService?.frmelmnts?.lbl?.confirm}}
  </div>
  <div class="sb-modal-content">
      <div class="sb-publish-content">
        <div class="review-modal-list">
          {{resourceService?.frmelmnts?.lbl?.removeUserFromProgramConfirmationMsg}}
      </div>
      </div>
  </div>
  <div class="sb-modal-actions">
	<button type="button" class="sb-btn sb-btn-normal sb-btn-primary" [class.sb-btn-disabled]="userRemoveRoleLoader" (click)="removeUserFromProgram()"
	appTelemetryInteract
	[telemetryInteractEdata]="getTelemetryInteractEdata('yes', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.submit, telemetryPageId,{key:'dialog_id',value:'confirm'})"
		[telemetryInteractObject]="telemetryInteractObject"
		[telemetryInteractCdata]="telemetryInteractCdata"
		[telemetryInteractPdata]="telemetryInteractPdata">
		{{resourceService?.frmelmnts?.btn?.yes}}
	</button>
	<button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="cancelRemoveUserFromProgram();"
	appTelemetryInteract
	[telemetryInteractEdata]="getTelemetryInteractEdata('no', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.cancel, telemetryPageId,{key:'dialog_id',value:'confirm'})"
		[telemetryInteractObject]="telemetryInteractObject"
		[telemetryInteractCdata]="telemetryInteractCdata"
		[telemetryInteractPdata]="telemetryInteractPdata"> {{resourceService?.frmelmnts?.btn?.no}} </button>
  </div>
</sui-modal>
