<div class="sb-pageSection my-24 ui container">
    <div class="sb-pageSection-content">
      <div class="sb-pageSection-header">
          <h4 class="sb-pageSection-title"> Reviewer <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">5</span></h4>
        </div>
    </div>
    <table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-fixed">
        <thead class="sb-table-header sb-table-thead-gray">
          <tr>
            <th>Program &nbsp;&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th>No of Textbooks</th>
            <th>Grades, Mediums, Subjects</th>
            <th>Contribution Date</th>
            <th>No. of contents approved</th>
            <th>No. of contents rejected</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="sb-table-body">
          <tr> 
            <td>
                <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                  New Program feb 2020
                </div>
                <div class="sb-label-value mt-4">CBSE</div>
              </td>
            <td>3 textbooks</td>
            <td>
                <div class="sb__ellipsis sb-color-primary" suiPopup popupHeader="Grades" popupText="Grade 7, Grade 2, Grade 3">Grade 7, Grade 2, Grade 3</div>
                <hr class="divider">
                <div class="sb__ellipsis" suiPopup popupHeader="Medium" popupText="English, Hindi, Marathi">English, Hindi, Marathi</div>
                <hr class="divider">
                <div class="sb__ellipsis" suiPopup popupHeader="Subjects" popupText="Mathematics, Science, History">Mathematics, Science, History</div>
            </td>
            <td>                
              <div>March 15th, 2019 <br><em>11 days to go</em></div>
            </td>
            <td>3</td>
            <td>4</td>
            <td>
                <a class="sb-btn sb-btn-xs sb-btn-outline-primary" [routerLink]="['/contribute/nominatedtextbooks/93c9df10-5d32-11ea-8505-91558271e7ce']">View Details</a>
                <button class="sb-btn sb-btn-xs sb-btn-outline-primary">Review</button>
            </td>
          </tr>
          <tr>
              <td>
                  <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                    New Program feb 2020
                  </div>
                  <div class="sb-label-value mt-4">CBSE</div>
                </td>
              <td>3 textbooks</td>
              <td>
                  <div class="sb__ellipsis sb-color-primary" suiPopup popupHeader="Grades" popupText="Grade 7, Grade 2, Grade 3">Grade 7, Grade 2, Grade 3</div>
                  <hr class="divider">
                  <div class="sb__ellipsis" suiPopup popupHeader="Medium" popupText="English, Hindi, Marathi">English, Hindi, Marathi</div>
                  <hr class="divider">
                  <div class="sb__ellipsis" suiPopup popupHeader="Subjects" popupText="Mathematics, Science, History">Mathematics, Science, History</div>
              </td>
              <td>                
                <div>March 15th, 2019 <br><em>11 days to go</em></div>
              </td>
              <td>3</td>
              <td>4</td>
              <td>
                  <button class="sb-btn sb-btn-xs sb-btn-outline-primary">View Details</button>
                  <button class="sb-btn sb-btn-xs sb-btn-outline-primary">Review</button>
              </td>
            </tr>
            <tr>
                <td>
                    <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                      New Program feb 2020
                    </div>
                    <div class="sb-label-value mt-4">CBSE</div>
                  </td>
                <td>3 textbooks</td>
                <td>
                    <div class="sb__ellipsis sb-color-primary" suiPopup popupHeader="Grades" popupText="Grade 7, Grade 2, Grade 3">Grade 7, Grade 2, Grade 3</div>
                    <hr class="divider">
                    <div class="sb__ellipsis" suiPopup popupHeader="Medium" popupText="English, Hindi, Marathi">English, Hindi, Marathi</div>
                    <hr class="divider">
                    <div class="sb__ellipsis" suiPopup popupHeader="Subjects" popupText="Mathematics, Science, History">Mathematics, Science, History</div>
                </td>
                <td>                
                  <div>March 15th, 2019 <br><em>11 days to go</em></div>
                </td>
                <td>3</td>
                <td>4</td>
                <td>
                    <button class="sb-btn sb-btn-xs sb-btn-outline-primary">View Details</button>
                    <button class="sb-btn sb-btn-xs sb-btn-outline-primary">Review</button>
                </td>
              </tr>
              <tr>
                  <td>
                      <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                        New Program feb 2020
                      </div>
                      <div class="sb-label-value mt-4">CBSE</div>
                    </td>
                  <td>3 textbooks</td>
                  <td>
                      <div class="sb__ellipsis sb-color-primary" suiPopup popupHeader="Grades" popupText="Grade 7, Grade 2, Grade 3">Grade 7, Grade 2, Grade 3</div>
                      <hr class="divider">
                      <div class="sb__ellipsis" suiPopup popupHeader="Medium" popupText="English, Hindi, Marathi">English, Hindi, Marathi</div>
                      <hr class="divider">
                      <div class="sb__ellipsis" suiPopup popupHeader="Subjects" popupText="Mathematics, Science, History">Mathematics, Science, History</div>
                  </td>
                  <td>                
                    <div>March 15th, 2019 <br><em>11 days to go</em></div>
                  </td>
                  <td>3</td>
                  <td>4</td>
                  <td>
                      <button class="sb-btn sb-btn-xs sb-btn-outline-primary">View Details</button>
                      <button class="sb-btn sb-btn-xs sb-btn-outline-primary">Review</button>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                          New Program feb 2020
                        </div>
                        <div class="sb-label-value mt-4">CBSE</div>
                      </td>
                    <td>3 textbooks</td>
                    <td>
                        <div class="sb__ellipsis sb-color-primary" suiPopup popupHeader="Grades" popupText="Grade 7, Grade 2, Grade 3">Grade 7, Grade 2, Grade 3</div>
                        <hr class="divider">
                        <div class="sb__ellipsis" suiPopup popupHeader="Medium" popupText="English, Hindi, Marathi">English, Hindi, Marathi</div>
                        <hr class="divider">
                        <div class="sb__ellipsis" suiPopup popupHeader="Subjects" popupText="Mathematics, Science, History">Mathematics, Science, History</div>
                    </td>
                    <td>                
                      <div>March 15th, 2019 <br><em>11 days to go</em></div>
                    </td>
                    <td>3</td>
                    <td>4</td>
                    <td>
                        <button class="sb-btn sb-btn-xs sb-btn-outline-primary">View Details</button>
                        <button class="sb-btn sb-btn-xs sb-btn-outline-primary">Review</button>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                            New Program feb 2020
                          </div>
                          <div class="sb-label-value mt-4">CBSE</div>
                        </td>
                      <td>3 textbooks</td>
                      <td>
                          <div class="sb__ellipsis sb-color-primary" suiPopup popupHeader="Grades" popupText="Grade 7, Grade 2, Grade 3">Grade 7, Grade 2, Grade 3</div>
                          <hr class="divider">
                          <div class="sb__ellipsis" suiPopup popupHeader="Medium" popupText="English, Hindi, Marathi">English, Hindi, Marathi</div>
                          <hr class="divider">
                          <div class="sb__ellipsis" suiPopup popupHeader="Subjects" popupText="Mathematics, Science, History">Mathematics, Science, History</div>
                      </td>
                      <td>                
                        <div>March 15th, 2019 <br><em>11 days to go</em></div>
                      </td>
                      <td>3</td>
                      <td>4</td>
                      <td>
                          <button class="sb-btn sb-btn-xs sb-btn-outline-primary">View Details</button>
                          <button class="sb-btn sb-btn-xs sb-btn-outline-primary">Review</button>
                      </td>
                    </tr>
              </tbody>
        </table>
  </div>
