<div class="ui container py-24 sb-dock-tab" [appTelemetryImpression]="telemetryImpression">
  <h2 class="py-5">Welcome to VidyaDaan Help Center</h2>
  <p  *ngIf="router.url.includes('/contribute/help')">Watch below videos to know how to nominate and contribute to a project.</p>
  <p *ngIf="router.url.includes('/sourcing/help')">Watch below videos to know how to create project, review and shortlist nominations and review content contributions.</p>
          <sui-tabset class="ui grid pt-40"  *ngIf="router.url.includes('/contribute/help')">
              <div class="ui top attached tabular menu twelve wide tablet four wide computer column sb-sidebar-menu b-0">
                  <a class="item" suiTabHeader="1">How to nominate</a>
                  <a class="item" suiTabHeader="2">How to invite contributors</a>
                  <a class="item" suiTabHeader="3">How to log-in as contributor</a>
                  <a class="item line-height-1-3" suiTabHeader="4">How to contribute questions using inbuilt tool (MCQ)</a>
                  <a class="item" suiTabHeader="5">How to contribute questions ( VSA, SA, LA, HOTS) </a>
                  <a class="item line-height-1-3" suiTabHeader="6">How to contribute content as a individual contribute</a>
                </div>
              <div class="twelve wide tablet eight wide computer column">
              <div class="ui bottom attached segment" suiTabContent="1">
                  <h4 class="pb-10 font-weight-bold">How to nominate</h4>
                  <div>
                      <video controls class="w-100">
                          <source src="assets/videos/how_to_nominate.mp4" type="video/mp4">
                      </video>
                  </div>
              </div>
            <div class="ui bottom attached segment" suiTabContent="2">
                <h4 class="pb-10 font-weight-bold">How to invite contributors</h4>
                <div>
                    <video controls class="w-100">
                        <source src="assets/videos/how_to_invite_contributors_and_reviewers_assign_roles.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="ui bottom attached segment" suiTabContent="3">
                <h4 class="pb-10 font-weight-bold">How to log-in as contributor</h4>
                <div>
                    <video controls class="w-100">
                        <source src="assets/videos/how_to_Login_and_Contribute_content_as_contributor_under_contributor_organization.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="ui bottom attached segment" suiTabContent="4">
                <h4 class="pb-10 font-weight-bold">How to contribute questions using inbuilt tool (MCQ)</h4>
                <div>
                    <video controls class="w-100">
                        <source src="assets/videos/how_to_contributute_questions_using_inbuilt_tool_MCQ.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="ui bottom attached segment" suiTabContent="5">
                <h4 class="pb-10 font-weight-bold">How to contribute questions ( VSA, SA, LA, HOTS)</h4>
                <div>
                    <video controls class="w-100">
                        <source src="assets/videos/how_to_contribute_questions_VSA_SA_LA.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="ui bottom attached segment" suiTabContent="6">
                <h4 class="pb-10 font-weight-bold">How to contribute content as a individual contribute</h4>
                <div>
                    <video controls class="w-100">
                        <source src="assets/videos/how_to_contribute_content_as_a_individual_contribute.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
          </div>
          </sui-tabset>   
          <sui-tabset class="ui grid pt-40" *ngIf="router.url.includes('/sourcing/help')">
              <div class="ui top attached tabular menu twelve wide tablet four wide computer column sb-sidebar-menu b-0">
                  <a class="item" suiTabHeader="1" (click)="pauseVideo('video2')">How to create a project</a>
                  <a class="item" suiTabHeader="2" (click)="pauseVideo('video1')">How to review nominations to a project</a>
              </div>
              <div class="twelve wide tablet eight wide computer column">
              <div class="ui bottom attached segment" suiTabContent="1">
                  <h4 class="pb-10 font-weight-bold">How to create a project</h4>
                      <div>
                          <video controls class="w-100" #video1>
                              <source src="assets/videos/how_to_create_project.mp4" type="video/mp4">
                          </video>
                      </div>
                  </div>
                  <div class="ui bottom attached segment" suiTabContent="2">
                      <h4 class="pb-10 font-weight-bold">How to review nominations to a project</h4>
                          <div>
                              <video controls class="w-100" #video2>
                                  <source src="assets/videos/how_to_review_nominations.mp4" type="video/mp4">
                              </video>
                          </div>
                      </div>
              </div>
          </sui-tabset> 
  </div>