<!-- Search Bar -->
<div class="add-to-library__toc-player-searchbar p-8 sb-bg-color-gray-0">
  <div class="sb-search-box large no-btn">
    <div class="input-div relative">
      <i class="search icon"></i>
      <input class="sb-search-input" type="text" placeholder="Search for chapter" />
    </div>
  </div>
</div>

<div class="sbtoc-container px-8">
  <!-- Class separator -->

  <div class="py-16" id="suggestions-tab" >
    <div class="sbchapter__item mb-8">
      <h4 class="sbchapter__item__title text-left sb__ellipsis sb__ellipsis--two mr-8">Social Science
        Term 1 Social Science Term Social Science Term culture in north India vedic</h4>
      <div class="sbchapter__img"><img src="./assets/images/book.png" /></div>
      <div class="btn-addtoLibrary">
        <button class="sb-btn sb-btn-normal sb-btn-secondary sb-left-icon-btn shine-effect"><i
            class="plus square icon mr-4"></i>Add to library</button>
      </div>
    </div>
    <div class="sbchapter__item sbchapter__item--active mb-8">
      <h4 class="sbchapter__item__title text-left sb__ellipsis sb__ellipsis--two mr-8">Social Science
        Term 1 Social Science Term Social Science Term culture in north India vedic</h4>
      <div class="sbchapter__img"><img src="./assets/images/book.png" /></div>
      <div class="btn-addtoLibrary">
        <button class="sb-btn sb-btn-normal sb-btn-secondary sb-left-icon-btn shine-effect"><i
            class="plus square icon mr-4"></i>Add to library</button>
      </div>
    </div>
    <div class="sbchapter__item mb-8">
      <h4 class="sbchapter__item__title text-left sb__ellipsis sb__ellipsis--two mr-8">Social Science
        Term 1 Social Science Term Social Science Term culture in north India vedic</h4>
      <div class="sbchapter__img"><img src="./assets/images/book.png" /></div>
      <div class="btn-addtoLibrary">
        <button class="sb-btn sb-btn-normal sb-btn-secondary sb-left-icon-btn shine-effect"><i
            class="plus square icon mr-4"></i>Add to library</button>
      </div>
    </div>
    <div class="sbchapter__item mb-8">
      <h4 class="sbchapter__item__title text-left sb__ellipsis sb__ellipsis--two mr-8">Social Science
        Term 1 Social Science Term Social Science Term culture in north India vedic</h4>
      <div class="sbchapter__img"><img src="./assets/images/book.png" /></div>
      <div class="btn-addtoLibrary">
        <button class="sb-btn sb-btn-normal sb-btn-secondary sb-left-icon-btn shine-effect"><i
            class="plus square icon mr-4"></i>Add to library</button>
      </div>
    </div>
    <div class="sbchapter__item mb-8">
      <h4 class="sbchapter__item__title text-left sb__ellipsis sb__ellipsis--two mr-8">Social Science
        Term 1 Social Science Term Social Science Term culture in north India vedic</h4>
      <div class="sbchapter__img"><img src="./assets/images/book.png" /></div>
      <div class="btn-addtoLibrary">
        <button class="sb-btn sb-btn-normal sb-btn-secondary sb-left-icon-btn shine-effect"><i
            class="plus square icon mr-4"></i>Add to library</button>
      </div>
    </div>
    <div class="sbchapter__item mb-8">
      <h4 class="sbchapter__item__title text-left sb__ellipsis sb__ellipsis--two mr-8">Social Science
        Term 1 Social Science Term Social Science Term culture in north India vedic</h4>
      <div class="sbchapter__img"><img src="./assets/images/book.png" /></div>
      <div class="btn-addtoLibrary">
        <button class="sb-btn sb-btn-normal sb-btn-secondary sb-left-icon-btn shine-effect"><i
            class="plus square icon mr-4"></i>Add to library</button>
      </div>
    </div>
    <div class="sbchapter__item mb-8">
      <h4 class="sbchapter__item__title text-left sb__ellipsis sb__ellipsis--two mr-8">Social Science
        Term 1 Social Science Term Social Science Term culture in north India vedic</h4>
      <div class="sbchapter__img"><img src="./assets/images/book.png" /></div>
      <div class="btn-addtoLibrary">
        <button class="sb-btn sb-btn-normal sb-btn-secondary sb-left-icon-btn shine-effect"><i
            class="plus square icon mr-4"></i>Add to library</button>
      </div>
    </div>
    <div class="sbchapter__item mb-8">
      <h4 class="sbchapter__item__title text-left sb__ellipsis sb__ellipsis--two mr-8">Social Science
        Term 1 Social Science Term Social Science Term culture in north India vedic</h4>
      <div class="sbchapter__img"><img src="./assets/images/book.png" /></div>
      <div class="btn-addtoLibrary">
        <button class="sb-btn sb-btn-normal sb-btn-secondary sb-left-icon-btn shine-effect"><i
            class="plus square icon mr-4"></i>Add to library</button>
      </div>
    </div>
    <div class="sbchapter__item mb-8">
      <h4 class="sbchapter__item__title text-left sb__ellipsis sb__ellipsis--two mr-8">Social Science
        Term 1 Social Science Term Social Science Term culture in north India vedic</h4>
      <div class="sbchapter__img"><img src="./assets/images/book.png" /></div>
      <div class="btn-addtoLibrary">
        <button class="sb-btn sb-btn-normal sb-btn-secondary sb-left-icon-btn shine-effect"><i
            class="plus square icon mr-4"></i>Add to library</button>
      </div>
    </div>
  </div>
</div> 