
 <!-- Blue Header -->
 <div class="sb-bg-color-primary">
  <div class="ui container py-15">
    <div class="d-flex flex-ai-center sb-color-white">
      <button class="sb-btn sb-btn-primary sb-btn-xs back-btn px-0 hover-none fs-0-92 font-weight-bold" (click)="handleBack();"
      ><i class="arrow left icon"></i>Create Question Set</button>
    </div>
  </div>
</div>

<div class="d-flex flex-jc-space-between flex-ai-center py-20 ui container">
  <div class="practical-header__title font-weight-bold">Question Collection
    <i class="icon edit outline sb-color-primary pl-10"></i>
  </div>
<!-- <li *ngFor="let button of toolbarConfig" class="mr-5"> -->
  <!-- <button class="{{button.style}}" (click)="buttonEmitter($event, button)">
    {{button.name}}
  </button> -->
  <div class="d-flex flex-ai-center">
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary mr-10" (click)="showNormalModal = true">
      <i class="icon edit"></i>Edit Details
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary mr-10">
      <i class="icon eye"></i>Preview
    </button>
    <button class="sb-btn sb-btn-normal sb-btn sb-btn-normal sb-color-secondary-400  sb-bg-white mr-10">
      <i class="icon edit outline sb-color-secondary-400"></i>Switch to Edit
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary mr-10">
      Save as draft
    </button>
      <button class="sb-btn sb-btn-normal sb-btn-primary">
      Submit
    </button>
  </div>
</div>

<sui-modal *ngIf="showNormalModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
class="sb-modal" appBodyScroll (dismissed)="showNormalModal = !showNormalModal" #modal>
<div class="sb-modal-header">
  Edit Details  </div>
<div class="sb-modal-content">
  <div class="ui grid">
    <div class="six wide column">
      <div class="sb-field-group">
        <label>Name</label>
        <div class="sb-field">
          <sui-select  class="selecttarget">
            <sui-select-option value="radio" ></sui-select-option>
            <sui-select-option value="checkbox"></sui-select-option>
             <sui-select-option value="input"></sui-select-option>
             <sui-select-option value="date">Date</sui-select-option>
        </sui-select>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <div class="sb-field-group disabled">
        <label>Board</label>
        <div class="sb-field">
            <input class="sb-form-control" required placeholder="CBSE">
        </div>
      </div>
    </div>
    <div class="six wide column pt-0 ">
      <div class="sb-field-group">
        <label>Attributions</label>
        <div class="sb-field">
            <input class="sb-form-control required" required placeholder="">
        </div>
      </div>
    </div>
    <div class="six wide column pt-0 ">
      <div class="sb-field-group disabled">
        <label>Class</label>
        <div class="sb-field">
            <input class="sb-form-control" required placeholder="Grade 4">
        </div>
      </div>
    </div>
    <div class="six wide column pt-0 ">
      <div class="sb-field-group">
        <label>License</label>
        <div class="sb-field">
            <sui-select  class="selecttarget">
              <sui-select-option value="radio" ></sui-select-option>
              <sui-select-option value="checkbox"></sui-select-option>
              <sui-select-option value="input"></sui-select-option>
              <sui-select-option value="date">Date</sui-select-option>
          </sui-select>          
        </div>
      </div>
    </div>
    <div class="six wide column pt-0 ">
      <div class="sb-field-group disabled">
        <label>Medium</label>
        <div class="sb-field">
            <input class="sb-form-control" required placeholder="English">
        </div>
      </div>
    </div>
    <div class="six wide column pt-0 ">
      <div class="sb-field-group">
        <label>Author</label>
        <div class="sb-field">
            <input class="sb-form-control required" required placeholder="">
        </div>
      </div>
    </div>
    <div class="six wide column pt-0">
      <div class="sb-field-group disabled">
        <label>Subject</label>
        <div class="sb-field">
            <input class="sb-form-control" required placeholder="Maths">
        </div>
      </div>
    </div>
    <div class="six wide column pt-0">
      <div class="sb-field-group">
        <label>Topic(s)</label>
          <div class="sb-field">
            <sui-multi-select class="selection">
            <sui-select-option value="yes"></sui-select-option>
            <sui-select-option value="no"></sui-select-option>
          </sui-multi-select>          
        </div>
      </div>
    </div>
    <div class="six wide column pt-0">
      <div class="sb-field-group">
        <label>Time limit</label>
        <div class="ui grid">
          <div class="six wide column">
            <div class="sb-field d-flex flex-ai-center">
                <sui-select  class="selecttarget">
                  <sui-select-option value="radio" ></sui-select-option>
                  <sui-select-option value="checkbox"></sui-select-option>
                  <sui-select-option value="input"></sui-select-option>
                  <sui-select-option value="date">Date</sui-select-option>
              </sui-select>  
              <div class="pl-5 fs-0-785">Hours</div>        
            </div>
          </div>
          <div class="six wide column">
            <div class="sb-field d-flex flex-ai-center">
                <sui-select  class="selecttarget">
                  <sui-select-option value="radio" ></sui-select-option>
                  <sui-select-option value="checkbox"></sui-select-option>
                  <sui-select-option value="input"></sui-select-option>
                  <sui-select-option value="date">Date</sui-select-option>
              </sui-select>  
              <div class="pl-5 fs-0-785">Mins</div>        
            </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="six wide column pt-0">
      <div class="sb-field-group">
        <label>Target Framework</label>
        <div class="sb-field">
          <sui-multi-select class="selection">
            <sui-select-option value="yes"></sui-select-option>
            <sui-select-option value="no"></sui-select-option>
          </sui-multi-select>         
      </div>
    </div>
    </div>
    <div class="six wide column pt-0">
      <div class="sb-field-group">
        <label>Warning Time</label>
        <div class="ui grid">
          <div class="six wide column">
            <div class="sb-field d-flex flex-ai-center">
                <sui-select  class="selecttarget">
                  <sui-select-option value="radio" ></sui-select-option>
                  <sui-select-option value="checkbox"></sui-select-option>
                  <sui-select-option value="input"></sui-select-option>
                  <sui-select-option value="date">Date</sui-select-option>
              </sui-select>  
              <div class="pl-5 fs-0-785">Hours</div>        
            </div>
          </div>
          <div class="six wide column">
            <div class="sb-field d-flex flex-ai-center">
                <sui-select  class="selecttarget">
                  <sui-select-option value="radio" ></sui-select-option>
                  <sui-select-option value="checkbox"></sui-select-option>
                  <sui-select-option value="input"></sui-select-option>
                  <sui-select-option value="date">Date</sui-select-option>
              </sui-select>  
              <div class="pl-5 fs-0-785">Mins</div>        
            </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="six wide column pt-0 ">
      <div class="sb-field-group">
        <label>Audience</label>
        <div class="sb-field">
          <sui-multi-select class="selection">
            <sui-select-option value="yes"></sui-select-option>
            <sui-select-option value="no"></sui-select-option>
          </sui-multi-select>          
        </div>
      </div>
    </div>
    <div class="twelve wide column pt-0">
      <hr>
    </div>
    <div class="six wide column pt-0">
      <div class="sb-checkbox sb-checkbox-primary">
          <input type="checkbox" id="check1" name="example" checked>
          <label for="check1">Shuffle questions</label>
        </div>
        <div class="d-flex flex-ai-center">
          <div class="pl-5 fs-0-785">Show questions </div>        
          <div class="sb-field w-40 px-10">
            <sui-select  class="selecttarget pr-10">
              <sui-select-option value="radio" ></sui-select-option>
              <sui-select-option value="checkbox"></sui-select-option>
               <sui-select-option value="input"></sui-select-option>
               <sui-select-option value="date">Date</sui-select-option>
          </sui-select>
          </div> 
          <div class="pl-5 fs-0-785">/10</div>        
        </div>
    </div>
    <div class="six wide column pt-0">
      <div class="sb-checkbox sb-checkbox-primary">
        <input type="checkbox" id="check1" name="example" checked>
        <label for="check1">Enable Feedback</label>
        </div>
        <div class="sb-checkbox sb-checkbox-primary">
        <input type="checkbox" id="check2" name="example" checked>
        <label for="check2">Enable Solutions</label>
        </div>
        <div class="sb-checkbox sb-checkbox-primary">
        <input type="checkbox" id="check3" name="example" checked>
        <label for="check3">Enable Hints</label>
        </div>
    </div>
  </div>
</div>
<div class="sb-modal-actions">
  <button class="sb-btn sb-btn-normal sb-btn-primary">
    Save
  </button>
</div>
</sui-modal>