<!-- Blue Header -->
<div class="sb-bg-color-primary">
  <div class="ui container py-15">
    <div class="d-flex flex-ai-center sb-color-white">
      <button class="sb-btn sb-btn-primary sb-btn-xs back-btn px-0 hover-none fs-0-92 font-weight-bold">
        <i class="arrow left icon"></i>{{ toolbarConfig.headerName }}
      </button>
    </div>
  </div>
</div>

<div class="d-flex flex-jc-space-between flex-ai-center py-20 ui container">
  <div class="practical-header__title font-weight-bold pl-20 fs-0-92">
    {{ toolbarConfig.title }}
  </div>
  <div class="d-flex flex-ai-center">
    <button *ngFor="let button of toolbarConfig.buttons" class="{{ button.style }}"
      (click)="buttonEmitter($event, button)">
      <i *ngIf="button.slot" class="{{ button.slot }}"></i> {{ button.name }}
    </button>
  </div> 
</div>