@import "./../../../../../../src/assets/styles/variables";
//select content modal UI
.sb-chapterlist-accordion { 
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15), 0 0 0 1px rgba(34,36,38,.15) !important;
    &.ui.styled.accordion { 
      padding: 0.6rem 0.76rem;
      background: inherit;  
      .active.title { 
        border: 1px solid $primary-200; 
        border-bottom: none;  
        background-color: #F3F8FF;  
        font-weight: $font-weight-bold; 
        border-bottom-left-radius: 0; 
        border-bottom-right-radius: 0;  
        font-size: $font-size-sm; 
        .chevron-icon { 
          background: #D9E4F2;  
          border-left: none;  
        } 
        .chapter-status { 
          background: $primary-color; 
        } 
      } 
      .title {  
        margin-top: $base-block-space;  
        background: $gray-0;  
        border: 1px solid $gray-100;  
        border-radius: 4px; 
        font-size: $font-size-sm; 
        .chevron-icon { 
          background: $gray-0;  
          border-left: 1px solid $gray-100; 
        } 
        .chapter-status { 
          height: $base-block-space;  
          width: $base-block-space; 
          border-radius: 50%; 
          background: $gray-100;  
        } 
      } 
      .sb-chapterlist-child { 
        .active.title { 
          border-top: 1px solid $primary-200; 
          border-radius: 0; 
          .chapter-status { 
            background: #88B7E6;  
          } 
        } 
        .title {  
          margin-top: 0;  
          border-radius: 0px 0px 4px 4px; 
          border: none; 
          border-top: 1px solid $gray-100;  
        } 
        .content {  
          border: none !important; 
        } 
        .chevron-icon { 
          border-top-right-radius: 0px; 
        } 
      } 
      .content {  
        border: none !important; 
        // border: 1px solid $primary-200; 
        border: none !important; 
        border-top: none; 
        border-bottom-left-radius: 4px; 
        border-bottom-right-radius: 4px;  
        background: $white-color; 
        padding: 0 !important;
      } 
      .chevron-icon { 
        height: 56px; 
        width: 56px;  
        margin: -9px -12px -8px 16px; 
        display: flex;  
        align-items: center;  
        justify-content: center;  
        border-top-right-radius: 4px; 
        border-bottom-right-radius: 4px;  
      } 
      .chevron.down.icon {  
        height: auto; 
      } 
      .accordion {  
        .active.title { 
          border: 1px solid $primary-200; 
          border-bottom: none;  
          background-color: #F3F8FF;  
          font-weight: $font-weight-bold; 
        } 
        .content {  
          border: 1px solid $primary-200; 
          border-top: none; 
        } 
      } 
    } 
  }
  .ui.scrolling.modal{
    box-shadow: none;
  }
  .sb-custom-radio{
    float: right;
    margin-right: 4.8rem;
    margin-top: 0.6rem;
  }
  .sb-content-breadcrumb {
    vertical-align: bottom;
    .right.chevron{
      text-indent: -18px;
    }
    .section {
      &:first-child {
        max-width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block !important;
        white-space: nowrap;
      }
    }
  }
.sb-radio-btn-checkbox{
  &.disabled{
    input[type='radio']{
      opacity: 0.5;
      pointer-events: none;
    }
    label{
      &:before{
        border: solid 1px #ccc;
      }
    }
  }
}
.sb-toc-accor-1 .chapter-lists--item label{
  margin-bottom: 0 !important;
} 
.sb-row-bb{
  border-bottom: solid 1px #e0e0e0;
  &:last-child{
    border: none;
  }
} 
.p-1{
  padding: 1rem;;
}
.sb-toc-accor-1 {
  .chapter-lists--item {
    .item-name,
    label {
      border-left: 0.0625rem dashed var(--gray-300);
      margin-left: 1.1rem;
      padding-left: 1.6rem !important;
    }
  }
}

.sb-toc-accor-2 {
  .chapter-lists--item {
    .item-name {
      @extend .item-name;
      margin-left: 2.3rem;
    }
  }
}

.sb-toc-accor-3 {
  .chapter-lists--item {
    .item-name {
      @extend .item-name;
      margin-left: 4rem;
    }
  }
}

.sb-chapterlist-accordion {
  .chapter-lists--item {
    &:hover {
      background: none !important;
    }
  }
}
.sb-row-bb:last-child{
  border-left: .0625rem dashed var(--gray-300);
  margin-left: 1.1rem;
  padding-left: 1.6rem!important;
}
sui-accordion-panel{
  .title{
    border: none !important;
  }
}