<sui-modal [mustScroll]="false" [isClosable]="true" [transitionDuration]="0" [size]="'normal'" class="sb-modal overflow-modal"
  appBodyScroll (dismissed)="onClosePopup()" #modal>
  <div class="sb-modal-header">
    {{configService.labelConfig?.lbl?.createNew}}
  </div>
  <div class="sb-modal-content">
    <div class="mt-8 mb-20">
      <label class="fs-16">{{configService.labelConfig?.lbl?.selectTemplate}}</label>
    </div>
    <div class="twelve wide column">
      <div class="ui grid flex-jc-center my-16">
        <div class="ui card text-center common-contribution-card m-16" *ngFor="let template of templateList"
          (click)="showButton=true; templateSelected = template"
          [ngClass]="{'active': templateSelected === template}">
          <div class="content">
            <i class="check circle icon"></i>
            <img class="mt-16" rel="placeholder" src="assets/images/MCQ.png">
            <div class="content-title pt-16 pb-8 fsmall">{{template}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal"
      [ngClass]="{'sb-btn-primary': showButton, 'sb-btn-disabled': !showButton}" [disabled]="!showButton" (click)="next()"
      libTelemetryInteract
      [telemetryInteractEdata]="telemetryService.getTelemetryInteractEdata('next','click','submit', this.telemetryService.telemetryPageId, {key: 'dialog_id', value: 'create_new','template_id' : templateSelected})">{{configService.labelConfig?.button_labels?.next_btn_label}} </button>
  </div>
</sui-modal>