<div class="sb-pageSection">
	<div class="sb-bg-color-white pt-32">
		<div class="sb-table-responsive" *ngIf="collectionsCnt > 0">
			<table class="sb-table sb-table-striped  sb-table-sortable">
				<thead class="sb-table-header sb-table-thead-gray">
					<tr>
						<th class="sb-sort-icon w-15">{{resource.frmelmnts.lbl.title}}</th>
						<th class="sb-sort-icon w-10">{{resource.frmelmnts.lbl.medium}}</th>
						<th class="sb-sort-icon w-10">{{resource.frmelmnts.lbl.class}}</th>
						<th class="sb-sort-icon w-10">{{resource.frmelmnts.lbl.subject}}</th>
						<th class="w-10">{{resource.frmelmnts.lbl.chapters}}</th>
					</tr>
				</thead>
				<tbody class="sb-table-body w-100 o-y-auto max-height">
					<tr *ngFor="let data of collections">
						<td>
							<div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
								{{data.name}}
							</div>
						</td>
						<td>
							<div>
								{{data.medium}}
							</div>
						</td>
						<td>
								<div class="sb__ellipsis sb__ellipsis--three">
									{{data.gradeLevel}}
								</div>
							</td>
						<td>
							<div>
								{{data.subject}}
							</div>
						</td>
						<td>{{ data.childNodes ? data.childNodes.length : 0 }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="mt-12" *ngIf="collectionsCnt === 0">
			<app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0146'}">
			</app-no-result>
		</div>
	</div>
</div>