<div class="text-capitalize fs-0-785 line-height-1-3 sb-pageSection-document py-5 ui grid mt-10">
	<div class="twelve wide tablet seven wide computer column pt-30">
		<div class="sb-color-gray-400 d-inline-block br-2 pr-10 pt-5"><span class="fs-1-286 font-weight-bold">{{ contentStatusCounts?.sourcingOrgStatus?.total || 0 }}</span> {{resourceService.frmelmnts.lbl.total}}</div>
		<div class="sb-color-warning d-inline-block br-2 px-10"><span class="fs-1-286 font-weight-bold">{{ contentStatusCounts?.sourcingOrgStatus?.pending  || 0 }}</span> {{resourceService.frmelmnts.lbl.approvalPending}}</div>
		<div class="sb-color-success d-inline-block br-2 px-10"><span class="fs-1-286 font-weight-bold">{{ contentStatusCounts?.sourcingOrgStatus?.accepted || 0 }}</span> {{resourceService.frmelmnts.lbl.approved}}</div>
		<div class="sb-color-error d-inline-block br-2  px-10"><span class="fs-1-286 font-weight-bold">{{ contentStatusCounts?.sourcingOrgStatus?.rejected || 0 }}</span> {{resourceService.frmelmnts.lbl.rejected}}</div>
		<div class="sb-color-primary d-inline-block px-10"><span class="fs-1-286 font-weight-bold">{{ contentStatusCounts?.correctionsPending || 0 }}</span> {{resourceService.frmelmnts.lbl.correctionsPending}}</div>
	</div>
	<div class="twelve wide tablet five wide computer column text-right">
		<a class="fs-0-785 text-decor-none font-weight-bold sb-color-primary d-inline-block pt-10 mx-10"  *ngIf="programDetails?.guidelines_url" href="{{ programDetails?.guidelines_url }}" target="_blank">
			<i class="file sb-file-icon outline icon pr-10 sb-color-primary"></i>
			{{ resourceService.frmelmnts.lbl.viewGuidelinesDocument }}
		</a>
		<button *ngIf="sourcingOrgReviewer" type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary my-10" (click)="showTextbookFiltersModal = true"
		appTelemetryInteract
                                                        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('filter_collections', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch,telemetryPageId)"
                                                        [telemetryInteractObject]="telemetryInteractObject"
                                                        [telemetryInteractCdata]="telemetryInteractCdata"
                                                        [telemetryInteractPdata]="telemetryInteractPdata"> <i class="filter icon"></i>
			<i [ngClass]="{'sb-dock-circle': textbookFiltersApplied}"></i>
			<span *ngIf="!textbookFiltersApplied">{{resourceService.frmelmnts.lbl.addFilters | interpolate:'{TARGET_NAME}': targetCollections}}</span>
			<span *ngIf="textbookFiltersApplied">{{ resourceService.frmelmnts.lbl.modifyFilters }}</span>
		</button>
		<button *ngIf="sourcingOrgReviewer" type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary ml-10" (click)="downloadCSV()"
		appTelemetryInteract
                                                        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('download_collection_details', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryPageId)"
                                                        [telemetryInteractObject]="telemetryInteractObject"
                                                        [telemetryInteractCdata]="telemetryInteractCdata"
                                                        [telemetryInteractPdata]="telemetryInteractPdata"> <i class="download icon"></i> {{resourceService.frmelmnts.lbl.downloadProjectDetails | interpolate:'{TARGET_NAME}': targetCollection}}</button>
	</div>
</div>
<div class="sb-pageSection">
	<div class="sb-bg-color-white pt-5">
		<div class="sb-table-responsive" *ngIf="!showLoader && collectionsCnt > 0">
			<table class="sb-table sb-table-striped  sb-table-sortable">
				<thead class="sb-table-header sb-table-thead-gray">
					<tr>
						<th class="cursor-pointer sb-sorting" (click)="sortCollection('name')">{{resourceService.frmelmnts.lbl.title}} &nbsp;&nbsp;
							<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'name' "></i>
							<span  *ngIf="sortColumn == 'name'" class="d-inline-block">
								<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
								<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
							</span>
						</th>
						<th class="cursor-pointer sb-sorting" (click)="sortCollection('medium')">{{resourceService.frmelmnts.lbl.medium}} &nbsp;&nbsp;
							<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'medium' "></i>
							<span  *ngIf="sortColumn == 'medium'" class="d-inline-block">
								<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
								<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
							</span>
						</th>
						<th class="cursor-pointer sb-sorting" (click)="sortCollection('gradeLevel')">{{resourceService.frmelmnts.lbl.class}} &nbsp;&nbsp;
							<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'gradeLevel' "></i>
							<span  *ngIf="sortColumn == 'gradeLevel'" class="d-inline-block">
								<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
								<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
							</span>
						</th>
						<th class="cursor-pointer sb-sorting" (click)="sortCollection('subject')">{{resourceService.frmelmnts.lbl.subject}} &nbsp;&nbsp;
							<i class="fa fa-sort" aria-hidden="true" *ngIf="direction == '' || sortColumn != 'subject' "></i>
							<span  *ngIf="sortColumn == 'subject'" class="d-inline-block">
								<i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
								<i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
							</span>
						</th>
						<th>{{firstLevelFolderLabel}}</th>
						<th>{{resourceService.frmelmnts.lbl.status}}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody class="sb-table-body w-100" *ngIf="collections.length">
					<tr *ngFor="let data of collections">
						<td>
							<div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
								{{data.name}}
							</div>
						</td>
						<td>
							<div>
								{{data.medium}}
							</div>
						</td>
						<td>
							<div class="sb__ellipsis sb__ellipsis--three">
								{{data.gradeLevel}}
							</div>
						</td>
						<td>
							<div>
								{{data.subject}}
							</div>
						</td>
						<td>{{ data.chapterCountForContribution || data.chapterCount || 0 }}</td>
						<td class="fsmall"><span class="d-inline-block mr-5">{{ (data?.pendingBySourceOrg?.length + data.mvcContributionsCount || 0) }}<span class="sb-color-warning"> {{ resourceService?.frmelmnts?.lbl?.approvalPending }}</span></span></td>
						<td class="text-center"><button type="button"  class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="viewContribution(data)"
							appTelemetryInteract
							[telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('open', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch,telemetryPageId)"
							[telemetryInteractObject]="telemetryInteractObject"
							[telemetryInteractCdata]="getTelemetryInteractCdata(data.identifier,'linked_collection')"
							[telemetryInteractPdata]="telemetryInteractPdata">{{resourceService.frmelmnts.lbl.open}}</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="mt-12" *ngIf="!showLoader && collectionsCnt === 0">
			<app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0146'}">
			</app-no-result>
		</div>
		<div class="ui" *ngIf="showLoader">
			<app-loader></app-loader>
		</div>
	</div>
</div>
<sui-modal *ngIf="showTextbookFiltersModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'" class="sb-modal" appBodyScroll (dismissed)="showTextbookFiltersModal = false" #prefModal>
	<div class="sb-modal-header">
		{{resourceService.frmelmnts.lbl.addFilters | interpolate:'{TARGET_NAME}': targetCollections}}
	</div>
	<div class="sb-modal-content">
		<p>{{resourceService.frmelmnts.lbl.pleaseSelectFiltersYouWishToAdd}}</p>
		<div class="segment mt-5 pb-30 pt-10">
			<form class="ui form sb-dock-dropdown" [formGroup]="prefernceForm">
				<div class="ui grid">
					<div class="six wide column py-10">
						<div class="field">
							<label class="d-block fs-0-785 font-weight-normal">{{resourceService.frmelmnts.lbl.medium}}</label>
							<sui-multi-select class="selection p-5 b-100"
							formControlName="medium" #mediums
							[options]="programDetails.config.medium"
							[(ngModel)]="setPreferences['medium']"
								appTelemetryInteract
								[telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('medium', configService.telemetryLabels.eventType.select, configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {key:'dialog_id',value:'filter_collections'})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata">
								<sui-select-option *ngFor="let medium of mediums.filteredOptions" [value]="medium"
								appTelemetryInteract
								[telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('medium', configService.telemetryLabels.eventType.select, configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {values: [medium]})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata"> </sui-select-option>
							</sui-multi-select>
						</div>
					</div>
					<div class="six wide column py-10">
						<div class="field">
							<label class="d-block fs-0-785 font-weight-normal">{{resourceService.frmelmnts.lbl.subject}}</label>
							<sui-multi-select class="selection p-5 b-100"
							formControlName="subject" #subjects
							[options]="programDetails.config.subject"
							[(ngModel)]="setPreferences['subject']"
							appTelemetryInteract
								[telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('subject', configService.telemetryLabels.eventType.select, configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {key:'dialog_id',value:'filter_collections'})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata">
								<sui-select-option *ngFor="let subject of subjects.filteredOptions" [value]="subject"
								appTelemetryInteract
								[telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('subject', configService.telemetryLabels.eventType.select,configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {values: [subject]})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata"></sui-select-option>
							</sui-multi-select>
						</div>
					</div>
					<div class="six wide column py-10">
						<div class="field">
							<label class="d-block fs-0-785 font-weight-normal">{{resourceService.frmelmnts.lbl.class}}</label>
							<sui-multi-select formControlName="gradeLevel"
							class="selection p-5 b-100" #gradeLevels
							[options]="programDetails.config.gradeLevel"
							[(ngModel)]="setPreferences['gradeLevel']"
							appTelemetryInteract
								[telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('class', configService.telemetryLabels.eventType.select, configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {key:'dialog_id',value:'filter_collections'})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata">
								<sui-select-option *ngFor="let gradeLevel of gradeLevels.filteredOptions" [value]="gradeLevel"
								appTelemetryInteract
								[telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('class', configService.telemetryLabels.eventType.select,configService.telemetryLabels.eventSubtype.multiSelect,telemetryPageId, {values: [gradeLevel]})"
								[telemetryInteractObject]="telemetryInteractObject"
								[telemetryInteractCdata]="telemetryInteractCdata"
								[telemetryInteractPdata]="telemetryInteractPdata"></sui-select-option>
							</sui-multi-select>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="sb-modal-actions py-20">
		<button type="button" class="sb-btn sb-btn-normal sb-btn-primary" (click)="applyTextbookFilters();"
		appTelemetryInteract
		[telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('apply', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.submit,telemetryPageId, {filters: setPreferences,key:'dialog_id',value:'filter_collections'})"
		[telemetryInteractObject]="telemetryInteractObject"
		[telemetryInteractCdata]="telemetryInteractCdata"
		[telemetryInteractPdata]="telemetryInteractPdata"> {{resourceService.frmelmnts.btn.apply}} </button>
		<button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="resetTextbookFilters();"
		appTelemetryInteract
		[telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('reset', configService.telemetryLabels.eventType.click, configService.telemetryLabels.eventSubtype.cancel, telemetryPageId, {key:'dialog_id',value:'filter_collections'})"
		[telemetryInteractObject]="telemetryInteractObject"
		[telemetryInteractCdata]="telemetryInteractCdata"
		[telemetryInteractPdata]="telemetryInteractPdata"> {{resourceService.frmelmnts.btn.reset}}</button>
	</div>
  </sui-modal>