<sui-modal 
    [mustScroll]="true" 
    [isClosable]="true" 
    [transitionDuration]="0" 
    [size]="'normal'" 
    class="sb-modal"
    appBodyScroll 
    (dismissed)="closeModal();" 
    #modal>
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.lbl.enrollAsContributor}}
  </div>
  <div class="sb-modal-content o-y-visible onBoardDropdown">
    <div class="twelve wide tablet seven wide computer column form-fields">
        <form class="">
         <div class="sb-field-group mb-8">
            <label>{{resourceService.frmelmnts.lbl.typeOfContributor}} <span class="sb-color-warning">*</span></label>
            <div class="sb-field mt-4 d-flex">
               <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                  <input type="radio" id="radio1" name="contributorType"  (click)="contributorType='organisation'">
                  <label for="radio1">{{resourceService.frmelmnts.lbl.organisation}}</label>
               </div>
               <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                  <input type="radio" id="radio2" name="contributorType"  (click)="contributorType='individual'">
                  <label for="radio2">{{resourceService.frmelmnts.lbl.individual}}</label>
               </div>
            </div>
         </div>

            <div class="sb-field-group mb-8"  *ngIf="contributorType === 'organisation'">
               <label>{{resourceService.frmelmnts.lbl.nameOfOrganisation}}</label>
               <div class="sb-field">
                   <input class="sb-form-control" placeholder="Name of an Organisation">
               </div>
            </div>

            <div class="sb-field-group mb-8"  *ngIf="contributorType === 'individual'">
               <label>{{resourceService.frmelmnts.lbl.nameOfIndividual}}</label>
               <div class="sb-field">
                   <input class="sb-form-control" placeholder="Name of an Individual">
               </div>
            </div>

             <div class="sb-field-group mb-8">
               <label>{{resourceService.frmelmnts.lbl.contributorInformation}}</label>
               <div class="sb-field">
                  <textarea rows="4" class="sb-form-control" placeholder="Contributor Information" spellcheck="false"></textarea>
                  <span class="characters-left">{{resourceService.frmelmnts.lbl.thousandCharacterLeft}}</span>
               </div>
            </div>

            <div class="sb-field-group mb-8">
               <label>{{resourceService.frmelmnts.lbl.website}}</label>
               <div class="sb-field">
                   <input class="sb-form-control" placeholder="Website URL">
               </div>
            </div>
             
            <div class="twelve wide column">
               <div class="field">
                  <label>{{resourceService.frmelmnts.lbl.typesOfContent}}</label>
               </div>
               <div class="d-flex flex-w-wrap mt-4 mb-8">
                  <div class="sb-checkbox sb-checkbox-primary">
                     <input type="checkbox" id="check1" name="example">
                     <label for="check1">Explanation video</label>
                  </div>
                  <div class="sb-checkbox sb-checkbox-primary ml-16">
                     <input type="checkbox" id="check2" name="example">
                     <label for="check2">Practice Question set</label>
                  </div>
                  <div class="sb-checkbox sb-checkbox-primary ml-16">
                     <input type="checkbox" id="check3" name="example">
                     <label for="check3">Lesson plan pdf</label>
                  </div>
               </div>	
            </div>				

            <div class="twelve wide column py-0 form-section-separator">
               <h4>{{resourceService.frmelmnts.lbl.yourProficiency}}</h4>
            </div>
            <div class="ui grid m-0 p-0">
               <div class="six wide column sb-field-group p-0 pr-16 mb-8">
                  <label>{{resourceService.frmelmnts.lbl.board}}</label>
                  <div class="sb-field">
                     <ng-template let-option #optionTemplate >
                        <div class="field m-0">
                           <div class="template-checkbox">
                              <div class="p-5 option-text"  title="{{option.name}}">
                                 {{option.name}}
                              </div>
                              <div class="ml-auto">
                                 <i class="square outline medium icon"></i>
                              </div>
                           </div>
                        </div>
                     </ng-template>
                     <sui-multi-select class="selection"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="options"
                     valueField="name"
                     #multiSelect>
                     <sui-select-option *ngFor="let option of data.board"
                     [value]="option" >
                     </sui-select-option>
                     </sui-multi-select>
                  </div>
               </div>
               <div class="six wide column sb-field-group p-0 mb-8">
                  <label>{{resourceService.frmelmnts.lbl.selectMedium}}</label>
                  <div class="sb-field">
                     <ng-template let-option #optionTemplate >
                        <div class="field m-0">
                           <div class="template-checkbox">
                              <div class="p-5 option-text"  title="{{option.name}}">
                                 {{option.name}}
                              </div>
                              <div class="ml-auto">
                                 <i class="square outline medium icon"></i>
                              </div>
                           </div>
                        </div>
                     </ng-template>
                     <sui-multi-select class="selection"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="options"
                     valueField="name"
                     #multiSelect>
                     <sui-select-option *ngFor="let option of data.medium"
                     [value]="option" >
                     </sui-select-option>
                     </sui-multi-select>
                  </div>
               </div>
            
               <div class="six wide column sb-field-group p-0 pr-16 mb-8">
                  <label>{{resourceService.frmelmnts.lbl.gradeClass}}</label>
                  <div class="sb-field">
                     <ng-template let-option #optionTemplate >
                        <div class="field m-0">
                           <div class="template-checkbox">
                              <div class="p-5 option-text"  title="{{option.name}}">
                                 {{option.name}}
                              </div>
                              <div class="ml-auto">
                                 <i class="square outline medium icon"></i>
                              </div>
                           </div>
                        </div>
                     </ng-template>
                     <sui-multi-select class="selection"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="data.grade"
                     valueField="name"
                     #multiSelect>
                     <sui-select-option *ngFor="let option of data.grade"
                     [value]="option" >
                     </sui-select-option>
                     </sui-multi-select>
                  </div>
               </div>

               <div class="six wide column sb-field-group p-0 mb-8">
                  <label>{{resourceService.frmelmnts.lbl.subject}}</label>
                  <div class="sb-field">
                     <ng-template let-option #optionTemplate >
                        <div class="field m-0">
                           <div class="template-checkbox">
                              <div class="p-5 option-text"  title="{{option.name}}">
                                 {{option.name}}
                              </div>
                              <div class="ml-auto">
                                 <i class="square outline medium icon"></i>
                              </div>
                           </div>
                        </div>
                     </ng-template>
                     <sui-multi-select class="selection"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="data.subject"
                     valueField="name"
                     #multiSelect>
                     <sui-select-option *ngFor="let option of data.subject"
                     [value]="option" >
                     </sui-select-option>
                     </sui-multi-select>
                  </div>
               </div>
            </div>

        </form>
    </div>
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-primary"
      [disabled]="!disableSubmit" (click)="handleSubmit()">
      {{resourceService.frmelmnts.btn.submit}}
    </button>
  </div>
</sui-modal>
