<div *ngIf="frameworkFetched && !userService.userProfile.userRegData.User">

<sui-modal [appTelemetryImpression]="telemetryImpression"
   [mustScroll]="true"
    [isClosable]="false"
    [transitionDuration]="0"
    [size]="'normal'"
    class="sb-modal"
    appBodyScroll
    (dismissed)="closeModal();"
    #modal
    >
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.lbl.enrollAsContributor}}
  </div>
  <div class="sb-modal-content o-y-visible onBoardDropdown">
    <div class="twelve wide tablet seven wide computer column form-fields">
      <form class="ui form" [formGroup]="contributeForm" (submit)="saveUser()">
         <div class="ui grid m-0 p-0">
            <div class="six wide column sb-field-group p-0 pr-16 mb-16">
               <label class="d-block">{{resourceService.frmelmnts.lbl.board}} <span class="sb-color-warning">*</span><i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500" popupHeader="Help Header" popupText="Lable help text"></i>
                </label>
               <div class="sb-field required field">
                  <sui-multi-select class="selection"
                  formControlName="board"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="enrollDetails.board"
                     valueField="name"
                     #multiSelect>
                        <sui-select-option *ngFor="let option of enrollDetails.board"
                        [value]="option" >
                        </sui-select-option>
                  </sui-multi-select>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['board'].errors && contributeForm.controls['board'].errors.required && (!contributeForm.controls['board'].pristine || formIsInvalid)">
							This field is required
						</div>
               </div>
            </div>
            <div class="six wide column sb-field-group p-0 mb-16">
               <label class="d-block">{{resourceService.frmelmnts.lbl.selectMedium}}
                  <span class="sb-color-warning">*</span><i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500" popupHeader="Help Header" popupText="Lable help text"></i>
               </label>
               <div class="sb-field required field">
                  <sui-multi-select class="selection"
                  formControlName="medium"
                  labelField="name"
                  [hasLabels]="true"
                  [options]="options"
                  valueField="name"
                  #multiSelect>
                     <sui-select-option *ngFor="let option of enrollDetails.medium"
                     [value]="option" >
                     </sui-select-option>
                  </sui-multi-select>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['medium'].errors && contributeForm.controls['medium'].errors.required && (!contributeForm.controls['medium'].pristine || formIsInvalid)">
							This field is required
						</div>

               </div>
            </div>

            <div class="six wide column sb-field-group p-0 pr-16 mb-16">
               <label class="d-block">{{resourceService.frmelmnts.lbl.gradeClass}}
                  <span class="sb-color-warning">*</span><i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500" popupHeader="Help Header" popupText="Lable help text"></i>
               </label>
               <div class="sb-field required field">
                  <sui-multi-select  class="selection"
                     formControlName="gradeLevel"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="enrollDetails.gradeLevel"
                     valueField="name"
                     #multiSelect>
                     <sui-select-option *ngFor="let option of enrollDetails.gradeLevel"
                     [value]="option" >
						   </sui-select-option>
                  </sui-multi-select>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['gradeLevel'].errors && contributeForm.controls['gradeLevel'].errors.required && (!contributeForm.controls['gradeLevel'].pristine || formIsInvalid)">
							This field is required
						</div>
               </div>
            </div>

            <div class="six wide column sb-field-group p-0 mb-16">
               <label class="d-block">{{resourceService.frmelmnts.lbl.subject}}
                  <span class="sb-color-warning">*</span><i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500" popupHeader="Help Header" popupText="Lable help text"></i>
               </label>
               <div class="sb-field required field">
                  <sui-multi-select class="selection"
                     formControlName="subject"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="enrollDetails.subject"
                     valueField="name"
                     #multiSelect>
                        <sui-select-option *ngFor="let option of enrollDetails.subject"
                        [value]="option" >
                        </sui-select-option>
                  </sui-multi-select>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['subject'].errors && contributeForm.controls['subject'].errors.required && (!contributeForm.controls['subject'].pristine || formIsInvalid)">
							This field is required
						</div>
               </div>
            </div>

            <div class="twelve wide column sb-field-group p-0 mb-16">
               <label class="d-block">{{resourceService.frmelmnts.lbl.typesOfContent}}
                  <span class="sb-color-warning">*</span><i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500" popupHeader="Help Header" popupText="Lable help text"></i>
               </label>
               <div class="sb-field required field">
                  <sui-multi-select class="selection"
                     formControlName="contentTypes"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="contentType.contentType"
                     valueField="name"
                     #multiSelect>
                     <sui-select-option *ngFor="let option of contentType.contentType"
                     [value]="option" >
                     </sui-select-option>
                  </sui-multi-select>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['contentTypes'].errors && contributeForm.controls['contentTypes'].errors.required && (!contributeForm.controls['contentTypes'].pristine || formIsInvalid)">
							This field is required
						</div>
               </div>
            </div>

            <div class="six wide column sb-field-group p-0 pr-16 mb-16">
               <div class="sb-field-group mb-8">
                  <label class="d-block">Do you want enroll as Organisation? <i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500" popupHeader="Help Header" popupText="Lable help text"></i></label>
                  <!-- (click)="enrollAsOrg=true" -->
                  <div class="sb-field mt-4 d-flex">
                     <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                        <input type="radio" id="Organisation" name="enrollAsOrg"  (click)="chnageEnrollStatus(true)"
                        appTelemetryInteract
                        [telemetryInteractEdata]="getTelemetryInteractEdata('enrol-as-org', 'click', 'enrol-contributor')"
                        [telemetryInteractObject]="telemetryInteractObject"
                        [telemetryInteractCdata]="telemetryInteractCdata"
                        [telemetryInteractPdata]="telemetryInteractPdata">
                        <label for="Organisation">Yes</label>
                     </div>
                     <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                        <input type="radio" id="individual" name="enrollAsOrg"  (click)="chnageEnrollStatus(false)"
                        appTelemetryInteract
                        [telemetryInteractEdata]="getTelemetryInteractEdata('enrol-as-individual', 'click', 'enrol-contributor')"
                        [telemetryInteractObject]="telemetryInteractObject"
                        [telemetryInteractCdata]="telemetryInteractCdata"
                        [telemetryInteractPdata]="telemetryInteractPdata">
                        <label for="individual">No</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="six wide column sb-field-group p-0 mb-16">
               <div class="sb-field-group mb-8"  *ngIf="enrollAsOrg === true">
                  <label class="d-block">{{resourceService.frmelmnts.lbl.nameOfOrganisation}} <i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500" popupHeader="Help Header" popupText="Lable help text"></i></label>
                  <div class="sb-field required field">
                      <input class="sb-form-control" placeholder="Name of an Organisation" formControlName="name">
                      <!-- <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['name'].errors && contributeForm.controls['name'].errors.required && (!contributeForm.controls['name'].pristine || formIsInvalid)">
                        This field is required
                     </div> -->
                  </div>
               </div>
            </div>
            <div class="twelve wide column sb-field-group p-0 mb-16">
               <div class="sb-field-group mb-8" *ngIf="enrollAsOrg === true">
                  <label class="d-block">{{resourceService.frmelmnts.lbl.description}} <i class="pull-right question circle link icon pull-right" suiPopup  popupDelay="500" popupHeader="Help Header" popupText="Lable help text"></i></label>
                  <div class="sb-field required field">
                     <textarea rows="4" class="sb-form-control" placeholder="Contributor Information" spellcheck="false" formControlName="description"></textarea>
                     <span class="characters-left">{{resourceService.frmelmnts.lbl.thousandCharacterLeft}}</span>
                     <!-- <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['description'].errors && contributeForm.controls['description'].errors.required && (!contributeForm.controls['description'].pristine || formIsInvalid)">
                        This field is required
                     </div> -->
                  </div>
               </div>
            </div>
         </div>
        </form>
    </div>
  </div>
  <div class="sb-modal-actions">
   <!-- [disabled]="!disableSubmit" -->
    <button class="sb-btn sb-btn-normal sb-btn-primary"
      (click)="saveUser()"
      appTelemetryInteract
      [telemetryInteractEdata]="getTelemetryInteractEdata('enrol-data-save', 'click', 'enrol-contributor')"
      [telemetryInteractObject]="telemetryInteractObject"
      [telemetryInteractCdata]="telemetryInteractCdata"
      [telemetryInteractPdata]="telemetryInteractPdata">
      {{resourceService.frmelmnts.btn.submit}}
    </button>
  </div>
</sui-modal>

</div>
