<sui-modal 
    [mustScroll]="true" 
    [isClosable]="true" 
    [transitionDuration]="0" 
    [size]="'normal'" 
    class="sb-modal"
    appBodyScroll 
    (dismissed)="closeModal();" 
    #modal>
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.lbl.enrollAsContributor}}
  </div>
  <div class="sb-modal-content o-y-visible onBoardDropdown">
    <div class="twelve wide tablet seven wide computer column form-fields">
      <form class="ui form" [formGroup]="contributeForm" (submit)="saveUser()">
         <div class="ui grid m-0 p-0">
            <div class="six wide column sb-field-group p-0 pr-16 mb-8">
               <label>{{resourceService.frmelmnts.lbl.board}}</label>
               <div class="sb-field required field">
                  <sui-multi-select class="selection"
                  formControlName="board"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="enrollDetails.board"
                     valueField="name"
                     #multiSelect>
                        <sui-select-option *ngFor="let option of enrollDetails.board"
                        [value]="option" >
                        </sui-select-option>
                  </sui-multi-select>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['board'].errors && contributeForm.controls['board'].errors.required && (!contributeForm.controls['board'].pristine || formIsInvalid)">
							This field is required
						</div>
               </div>
            </div>
            <div class="six wide column sb-field-group p-0 mb-8">
               <label>{{resourceService.frmelmnts.lbl.selectMedium}}</label>
               <div class="sb-field required field">
                  <sui-multi-select class="selection"
                  formControlName="medium"
                  labelField="name"
                  [hasLabels]="true"
                  [options]="options"
                  valueField="name"
                  #multiSelect>
                     <sui-select-option *ngFor="let option of enrollDetails.medium"
                     [value]="option" >
                     </sui-select-option>
                  </sui-multi-select>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['medium'].errors && contributeForm.controls['medium'].errors.required && (!contributeForm.controls['medium'].pristine || formIsInvalid)">
							This field is required
						</div>
                  
               </div>
            </div>
         
            <div class="six wide column sb-field-group p-0 pr-16 mb-8">
               <label>{{resourceService.frmelmnts.lbl.gradeClass}}</label>
               <div class="sb-field required field">
                  <sui-multi-select  class="selection"
                     formControlName="gradeLevel"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="enrollDetails.gradeLevel"
                     valueField="name"
                     #multiSelect>
                     <sui-select-option *ngFor="let option of enrollDetails.gradeLevel"
                     [value]="option" >
						   </sui-select-option>
                  </sui-multi-select>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['gradeLevel'].errors && contributeForm.controls['gradeLevel'].errors.required && (!contributeForm.controls['gradeLevel'].pristine || formIsInvalid)">
							This field is required
						</div>
               </div>
            </div>

            <div class="six wide column sb-field-group p-0 mb-8">
               <label>{{resourceService.frmelmnts.lbl.subject}}</label>
               <div class="sb-field required field">
                  <sui-multi-select class="selection"
                     formControlName="subject"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="enrollDetails.subject"
                     valueField="name"
                     #multiSelect>
                        <sui-select-option *ngFor="let option of enrollDetails.subject"
                        [value]="option" >
                        </sui-select-option>
                  </sui-multi-select>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['subject'].errors && contributeForm.controls['subject'].errors.required && (!contributeForm.controls['subject'].pristine || formIsInvalid)">
							This field is required
						</div>
               </div>
            </div>
         </div>

         <div class="ui grid m-0 p-0">
            <div class="twelve wide column sb-field-group p-0 pr-16 mb-8">
               <label>{{resourceService.frmelmnts.lbl.typesOfContent}}</label>
               <div class="sb-field required field">
                  <sui-multi-select class="selection"
                     formControlName="contentTypes"
                     labelField="name"
                     [hasLabels]="true"
                     [options]="contentType.contentType"
                     valueField="name"
                     #multiSelect>
                     <sui-select-option *ngFor="let option of contentType.contentType"
                     [value]="option" >
                     </sui-select-option>
                  </sui-multi-select>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['contentTypes'].errors && contributeForm.controls['contentTypes'].errors.required && (!contributeForm.controls['contentTypes'].pristine || formIsInvalid)">
							This field is required
						</div>
               </div>
            </div>
         </div>

         <div class="sb-field-group mb-8">
            <label>Do you want enroll as Organisation? </label>
            <!-- (click)="enrollAsOrg=true" -->
            <div class="sb-field mt-4 d-flex">
               <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                  <input type="radio" id="radio1" name="enrollAsOrg"  (click)="chnageEnrollStatus(true)">
                  <label for="radio1">Yes</label>
               </div>
               <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
                  <input type="radio" id="radio1" name="enrollAsOrg"  (click)="chnageEnrollStatus(false)">
                  <label for="radio2">No</label>
               </div>
            </div>
         </div>

            <div class="sb-field-group mb-8"  *ngIf="enrollAsOrg === true">
               <label>{{resourceService.frmelmnts.lbl.nameOfOrganisation}}</label>
               <div class="sb-field required field">
                   <input class="sb-form-control" placeholder="Name of an Organisation" formControlName="name">
                   <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['name'].errors && contributeForm.controls['name'].errors.required && (!contributeForm.controls['name'].pristine || formIsInvalid)">
							This field is required
						</div>
               </div>
            </div>
             <div class="sb-field-group mb-8" *ngIf="enrollAsOrg === true">
               <label>{{resourceService.frmelmnts.lbl.description}}</label>
               <div class="sb-field required field">
                  <textarea rows="4" class="sb-form-control" placeholder="Contributor Information" spellcheck="false" formControlName="description"></textarea>
                  <span class="characters-left">{{resourceService.frmelmnts.lbl.thousandCharacterLeft}}</span>
                  <div class="ui pointing red basic label below " *ngIf="contributeForm.controls['description'].errors && contributeForm.controls['description'].errors.required && (!contributeForm.controls['description'].pristine || formIsInvalid)">
							This field is required
						</div>
               </div>
            </div>
        </form>
    </div>
  </div>
  <div class="sb-modal-actions">
   <!-- [disabled]="!disableSubmit" -->
    <button class="sb-btn sb-btn-normal sb-btn-primary"
      (click)="saveUser()">
      {{resourceService.frmelmnts.btn.submit}}
    </button>
  </div>
</sui-modal>