<div class="">
  <div class="form-container">
    <sb-form [config]="config" (initialize)="output($event)" (statusChanges)="onStatusChanges($event)"></sb-form>
  </div>
  <div class="sb-fixed-with-whitebg py-10">
    <div class="ui">
      <div class="ui twelve column grid m-0">
        <div class="three wide column p-0">
        </div>
        <div class="eight wide column p-0 text-right">
          <button type="button" class="sb-btn sb-btn-normal sb-btn-primary" (click)="addQuestion()" appTelemetryInteract
            [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('add_question', configService.telemetryLabels.eventType.click,configService.telemetryLabels.eventSubtype.launch, telemetryEventsInput.telemetryPageId)"
            [telemetryInteractObject]="programTelemetryService.getTelemetryInteractObject(telemetryEventsInput.collectionId, 'Content', '1.0')"
            [telemetryInteractCdata]="telemetryEventsInput.telemetryInteractCdata"
            [telemetryInteractPdata]="telemetryEventsInput.telemetryInteractPdata">
            <i class="icon plus"></i> Create New
          </button>
          <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary ml-15">
            <i class="icon plus"></i> Add from library
          </button>
        </div>
      </div>
    </div>
  </div>
</div>