<div [appTelemetryImpression]="telemetryImpression"></div>

<div class="ui container py-10">
  <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn" (click)="handleBack()"
    type="button"
    appTelemetryInteract
  [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('go-back', 'click', 'content-editor')"
  [telemetryInteractObject]="telemetryInteractObject"
  [telemetryInteractCdata]="telemetryInteractCdata"
  [telemetryInteractPdata]="telemetryInteractPdata">
    <i class="icon-svg icon-svg--xxs icon-back mr-4">
        <svg class="icon icon-svg--primary">
            <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
        </svg>
    </i>
    Back
  </button>
</div>

<div id="contentEditor" *ngIf="!showPreview"></div>
<sui-dimmer class="page" *ngIf="showLoader" [isDimmed]="showLoader">
  <div class="ui text loader"><h2>Loading...</h2></div>
</sui-dimmer>


<div *ngIf="showPreview" class="d-flex sb-bg-color-gray-0 practical-header">
  <div class="d-flex flex-ai-center flex-jc-space-between practical-header__content ui container">
    <div #contentTitle class="font-weight-bold fs-1">
      <div class="d-flex flex-ai-center"><span class="practical-header__title" suiPopup popupText="{{contentEditorComponentInput.content.name}}">{{contentEditorComponentInput.content.name}} </span></div>
      <div class="mt-8 practice-set__status">
        <span class="sb-label sb-label-table sb-label-success-0"
        [ngClass]="{ 'sb-label-success-0': resourceStatus === 'Live', 'sb-label-warning-0': (resourceStatus === 'Draft'),  'sb-label-error-0': (resourceStatus === 'Draft' && contentData.prevStatus === 'Review') ,  'sb-label-gray-0': resourceStatus === 'Review' }">{{ resourceStatusText }}</span>
      </div>
    </div>
    <div class='practical-sb-buttons'>
      <button id="requestChanges" suiPopup popupText="Request Changes" [popupPlacement]="'top'" class="sb-btn sb-btn-error sb-btn-normal mr-8" (click)="showRequestChangesPopup = true;" *ngIf="visibility && visibility.showRequestChanges"
      appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('reject-resource', 'click',undefined,'content-editor')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
      >Request Changes</button>
      <button id="publishContent" suiPopup popupText="Publish" [popupPlacement]="'top'" class="sb-btn sb-btn-secondary sb-btn-normal mr-8" (click)="publichContent()" *ngIf="visibility && visibility.showRequestChanges"
      appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('publish-resource', 'click',undefined, 'content-editor')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
      >Publish</button>
    </div>
  </div>
</div>

<sui-modal *ngIf="showRequestChangesPopup" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll #modal (dismissed)="showRequestChangesPopup = false;">
  <div class="sb-modal-header">
      Add Review Comments
  </div>
  <form #FormControl="ngForm" class="ui form">
  <div class="sb-modal-content">
      <div class="sb-field-group">
          <label>Enter your comments</label>
          <div class="sb-field relative">

              <textarea type="text" class="wmd-input width-100 sb-form-control" id="wmd-input" [(ngModel)]="rejectComment" placeholder="Add comment" name="rejectComment" required></textarea>
              <label class="ui basic red error label pt-1 mt-5 width-100"
                  *ngIf="FormControl.form.controls.rejectComment?.touched && !FormControl.form.valid">Fill comments </label>

              <!-- <textarea rows="4" name="moretext" class="sb-form-control" placeholder="Type here..."></textarea>
              <span class="characters-left">1000 Characters left</span> -->
          </div>
      </div>
  </div>
  <div class="sb-modal-actions">
    <button id="submitReview" type="submit" class="sb-btn sb-btn-normal" [ngClass]="{'sb-btn-primary': FormControl.form.valid, 'sb-btn-disabled': !FormControl.form.valid}"   (click)="requestChanges()"
    appTelemetryInteract
        [telemetryInteractEdata]="programTelemetryService.getTelemetryInteractEdata('reject-resourcewithcomments', 'click',undefined, 'content-editor')"
        [telemetryInteractObject]="telemetryInteractObject"
        [telemetryInteractCdata]="telemetryInteractCdata"
        [telemetryInteractPdata]="telemetryInteractPdata"
    > Submit Review </button>
  </div>
</form>
</sui-modal>

<div class="middle-section-set" *ngIf="showPreview">
  <div class="ui container msg-box">
    <div class="msg-box__content">
      <div class="container msg-box__content__blank-box">
          <app-player class="content-player" [playerConfig]="playerConfig"></app-player>
      </div>
    </div>
  </div>
</div>