<sui-modal [mustScroll]="true" [isClosable]="true" *ngIf="showProfile" [transitionDuration]="0" [size]="'normal'" (dismissed)="closePopup()"
	class="sb-modal" #modal>
	<div class="sb-modal-header"> 
    {{resourceService?.frmelmnts?.lbl?.profileDetails}} </div>
	<div class="sb-modal-content o-y-visible">
		<div class="ui container">
			<ng-container *ngIf="!showLoader && contributor else noResult">
				<div class="text-center">
					<div class="sb-profile-page__avatar">
						<img src="assets/images/guest.svg" alt="guest" class="mb-24">
					</div>
					<div class="fs-1-7 font-weight-bold my-24">{{fullName}} </div>
				</div>
				<div class="">
					<dl class="my-5 d-inline-flex  w-50 sb-profile-page__category">
						<dd>{{resourceService.frmelmnts.lbl.type}}
							:</dd>
						<dt class="pl-4">{{ (isOrg) ? 'Organisation' : 'Individual'}}</dt>
					</dl>
					<dl class="my-5 d-inline-flex  w-50 sb-profile-page__category">
						<dd>{{resourceService.frmelmnts.lbl.website}}
							:</dd>
						<dt class="pl-4 w-70 line-height-1-3">{{ (contributor?.website) ? contributor?.website : '-'}}</dt>
					</dl>
					<dl class="my-5 d-inline-flex  w-50 sb-profile-page__category">
						<dd>{{resourceService?.frmelmnts?.lbl?.profile?.Board}}
							:</dd>
						<dt class="pl-4">{{contributor?.board?.join(', ')}}</dt>
					</dl>
					<dl class="my-5 d-inline-flex  w-50 sb-profile-page__m-responsive-flex-dc">
						<dd>{{resourceService?.frmelmnts?.lbl?.profile?.Medium}}
							:</dd>
						<dt class="pl-4">
							{{contributor?.medium?.join(', ')}}</dt>
					</dl>
					<dl class="my-5 d-inline-flex  w-50 sb-profile-page__m-responsive-flex-dc">
						<dd>{{resourceService?.frmelmnts?.lbl?.profile?.Classes}}
							:</dd>
						<dt class="pl-4">
							{{contributor?.gradeLevel?.join(', ')}}</dt>
					</dl>
					<dl class="my-5 d-inline-flex  w-50 sb-profile-page__m-responsive-flex-dc">
						<dd>{{resourceService?.frmelmnts?.lbl?.profile?.Subjects}}
							:</dd>
						<dt class="pl-4">
							{{contributor?.subject?.join(', ')}}</dt>
					</dl>
					<dl class="my-5 d-flex sb-profile-page__m-responsive-flex-dc line-height-1-3">
						<dd>{{resourceService?.frmelmnts?.lbl?.contentType}}
							:</dd>
						<dt class="pl-4 w-70 line-height-1-3">
							{{contributor?.contentTypes?.join(', ')}}</dt>
					</dl>
				</div>
			</ng-container>
			<ng-template #noResult>
			<div class="ui tweleve wide column mb-20">
				<app-loader *ngIf="showLoader"></app-loader>
			</div>
			<app-no-result *ngIf="!showLoader" [data]="{messageText: resourceService.messages.stmsg.m0006}"></app-no-result>
			</ng-template>
		</div>
	</div>
</sui-modal>