<div *ngIf="showNominationsComponent" [appTelemetryImpression]="telemetryImpression">
    <div class="sb-bg-color-primary-0 practical-header py-16">
        <div class="d-flex  flex-jc-space-between practical-header__content ui container pt-15">
            <div class="practical-header__title w-20">
                <!-- <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn" (click)="goBack()"
                    type="button">
                    <i class="icon-svg icon-svg--xxs icon-back mr-4">
                        <svg class="icon icon-svg--primary">
                            <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
                        </svg>
                    </i>
                    Back to My/Explore Programs
                </button> -->

                <h5 class="m-0 p-0 font-weight-bold d-inline-block">{{ programDetails?.name }} </h5>
                <i class="info circle link icon" suiPopup
                        [popupTemplate]="popupTemplate" popupDelay="1000"></i>
                    <ng-template #popupTemplate>
                        <div class="content">
                            <div class="textbook-details ml-8">
                                <div class="header"><strong>{{ resourceService?.frmelmnts?.lbl?.mediums }}</strong></div>
                                <div class="content">
                                    <label class="d-block fsmall font-weight-normal mb-0">{{ mediums }}</label>
                                </div>
                                <hr />
                                <div class="header"><strong>{{ resourceService?.frmelmnts?.lbl?.class }}</strong></div>
                                <div class="content">
                                    <label class="d-block fsmall font-weight-normal mb-0">{{ grades }}</label>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                <p class="fs-0-785 font-weight-normal pr-10 sb__ellipsis sb__ellipsis--three">{{ programDetails?.description }} </p>
            </div>
            <div class="sb-meta-data-container sb-meta-data-column w-10 px-10 w-30">
                    <label class="mb-0">{{resourceService?.frmelmnts?.lbl?.contentType}}</label>
                    <p class="sb__ellipsis sb__ellipsis--one cursor-pointer" suiPopup popupHeader="{{resourceService.frmelmnts.lbl.contentType}}" popupText="{{ programContentTypes }}"><span>{{ programContentTypes }}</span></p>
			</div>
            <div class="sb-meta-data-container sb-meta-data-column px-10">
                <label class="width-100">{{ resourceService?.frmelmnts?.lbl?.nominations }} </label>
                <div class="d-flex">
                    <dl class="sb-meta-data">
                        <dt>{{ pendingCount }}</dt>
                        <dd>{{ resourceService?.frmelmnts?.lbl?.pending }}</dd>
                    </dl>
                    <dl class="sb-meta-data">
                        <dt>{{ approvedCount }}</dt>
                        <dd>{{ resourceService?.frmelmnts?.lbl?.approved }}</dd>
                    </dl>
                    <dl class="sb-meta-data">
                        <dt>{{ rejectedCount }}</dt>
                        <dd>{{ resourceService?.frmelmnts?.lbl?.rejected }}</dd>
                    </dl>
                    <dl class="sb-meta-data">
                        <dt>{{ totalCount }}</dt>
                        <dd>{{ resourceService?.frmelmnts?.lbl?.total }}</dd>
                    </dl>
                </div>
            </div>
            <ng-container *ngIf="programDetails">
                <div class="program-timeline w-30">
                    <div class="program-timeline-item">
                        <div class="status" [class.active]="activeDate === 'nomination_enddate'">
                            <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.nominationSubmission }}</div>
                            <div class="status__date">
                                {{ programDetails?.nomination_enddate |  date:'LLLL d, yyyy'  }}
                                <br />
                                <em [class.sb-color-warning]="activeDate === 'nomination_enddate'"
                                    *ngIf="activeDate === 'nomination_enddate'">{{ programDetails?.nomination_enddate | daysToGo  }}</em>
                            </div>
                        </div>
                    </div>
                    <div class="program-timeline-item">
                        <div class="status" [class.active]="activeDate === 'shortlisting_enddate'">
                            <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.shortlistingNomination }}</div>
                            <div class="status__date">
                                {{ programDetails?.shortlisting_enddate |  date:'LLLL d, yyyy'  }}
                                <br />
                                <em [class.sb-color-warning]="activeDate === 'shortlisting_enddate'"
                                    *ngIf="activeDate === 'shortlisting_enddate'">{{ programDetails?.shortlisting_enddate | daysToGo  }}</em>
                            </div>
                        </div>
                    </div>
                    <div class="program-timeline-item">
                        <div class="status" [class.active]="activeDate === 'content_submission_enddate'">
                            <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.contributions }}</div>
                            <div class="status__date">
                                {{ programDetails?.content_submission_enddate |  date:'LLLL d, yyyy'  }}
                                <br />
                                <em [class.sb-color-warning]="activeDate === 'content_submission_enddate'"
                                    *ngIf="activeDate === 'content_submission_enddate'">{{ programDetails?.content_submission_enddate | daysToGo  }}</em>
                            </div>
                        </div>
                    </div>
                    <div class="program-timeline-item">
                        <div class="status" [class.active]="activeDate === 'enddate'">
                            <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.programEndDate }}</div>
                            <div class="status__date">
                                {{ programDetails?.enddate |  date:'LLLL d, yyyy'  }}
                                <br />
                                <em [class.sb-color-warning]="activeDate === 'enddate'"
                                    *ngIf="activeDate === 'enddate'">{{ programDetails?.enddate | daysToGo  }}</em>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="sb-bg-color-primary-100">
        <sui-tabset>
            <div class="ui pointing secondary menu sb-bg-color-primary-100">
                <div class="ui container p-0 m-0 d-flex flex-ai-center flex-jc-center">
                    <a class="item active" suiTabHeader="1" (click)="resetStatusFilter()"
                    appTelemetryInteract
                                        [telemetryInteractEdata]="getTelemetryInteractEdata('program-linked-textbooks', 'click', 'program-nominations')"
                                        [telemetryInteractObject]="telemetryInteractObject"
                                        [telemetryInteractCdata]="telemetryInteractCdata"
                                        [telemetryInteractPdata]="telemetryInteractPdata">{{ resourceService?.frmelmnts?.lbl?.textbooks }}
                        <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">{{ collectionsCount }}</span>
                    </a>
                    <a class="item" suiTabHeader="2" (click)="resetStatusFilter()"
                    appTelemetryInteract
                                        [telemetryInteractEdata]="getTelemetryInteractEdata('nominations', 'click', 'program-nominations')"
                                        [telemetryInteractObject]="telemetryInteractObject"
                                        [telemetryInteractCdata]="telemetryInteractCdata"
                                        [telemetryInteractPdata]="telemetryInteractPdata">Nominations
                        <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">{{ nominationsCount }}</span>
                    </a>
                </div>
            </div>
            <div class="ui segment p-0 m-0 mt-4 sb-bg-color-white dynamicHeight" isActive='true' suiTabContent="1">
                <div class="ui container p-0 m-0">
                    <app-textbook-list></app-textbook-list>
                </div>
            </div>
            <div class="ui segment  p-0 m-0 mt-4 sb-bg-color-white dynamicHeight" suiTabContent="2">
                <div class="ui container p-0 m-0">
                    <div class="sb-pageSection">
                        <div class="sb-bg-color-white pt-32">
                            <div class="sb-table-responsive desktop-o-x-unset" *ngIf="nominations.length > 0 || filterApplied">
                                <table
                                    class="sb-table sb-table-striped sb-table-sortable sb-table-nowrap">
                                    <thead class="sb-table-header sb-table-thead-gray">
                                        <tr>
                                            <th class="w-15">{{ resourceService?.frmelmnts?.lbl?.contributorName }}<i class="fa fa-sort ml-4" aria-hidden="true"></i>
                                            </th>
                                            <th class="w-10">{{ resourceService?.frmelmnts?.lbl?.type }} <i class="fa fa-sort ml-4" aria-hidden="true"></i></th>
                                            <th class="w-10">{{ resourceService?.frmelmnts?.lbl?.textbooks }} <i class="fa fa-sort ml-4" aria-hidden="true"></i></th>
                                            <th class="w-5">
                                                <span class="ui dropdown sb-table-dropdown d-inline-flex" suiDropdown>
                                                    <div class="text">{{ resourceService?.frmelmnts?.lbl?.status }}</div>
                                                    <i class="filter icon"></i>
                                                    <div class="menu" suiDropdownMenu>
                                                        <div class="item" (click)="onStatusChange('All')" [class.selected]="selectedStatus === 'All'">{{ resourceService?.frmelmnts?.lbl?.allStatus }}</div>
                                                        <div class="item" (click)="onStatusChange('Pending')"  [class.selected]="selectedStatus === 'Pending'">{{ resourceService?.frmelmnts?.lbl?.pending }}</div>
                                                        <div class="item" (click)="onStatusChange('Approved')"  [class.selected]="selectedStatus === 'Approved'">{{ resourceService?.frmelmnts?.lbl?.approved }}</div>
                                                        <div class="item" (click)="onStatusChange('Rejected')"  [class.selected]="selectedStatus === 'Rejected'">{{ resourceService?.frmelmnts?.lbl?.rejected }}</div>
                                                    </div>
                                                </span>
                                            </th>
                                            <th class="w-10 text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="sb-table-body">
                                        <tr *ngFor="let nomination of nominations; let i = index;">
                                            <td class="cursor-pointer">
                                                <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold"
                                                    (click)="showSelectedContributorProfile(nomination)"
                                                    appTelemetryInteract
                                                    [telemetryInteractEdata]="getTelemetryInteractEdata('show-nominee', 'click', 'program-nominations')"
                                                    [telemetryInteractObject]="telemetryInteractObject"
                                                    [telemetryInteractCdata]="telemetryInteractCdata"
                                                    [telemetryInteractPdata]="telemetryInteractPdata">
                                                    {{ nomination?.name }}
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{ nomination?.type }}</div>
                                            </td>
                                            <td>
                                                <div suiPopup popupDelay="1000"
                                                    popupHeader="{{ resourceService?.frmelmnts?.lbl?.textbooks }}"
                                                    popupText="{{ nomination?.textbooks }}">
                                                    {{ getNominatedTextbooksCount(nomination) }}
                                                </div>
                                            </td>
                                            <td>
                                                <span [ngClass]="{'sb-color-success':nomination?.nominationData?.status  == 'Approved','sb-color-warning':nomination?.nominationData?.status  == 'Pending'}">
                                                    {{ nomination?.nominationData?.status }}
                                                </span>
                                            </td>
                                            <td class="text-center w-10">
                                                    <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5"
                                                        *ngIf="nomination?.nominationData?.status === 'Pending'"
                                                        (click)="viewNominationDetails(nomination)"
                                                        appTelemetryInteract
                                                        [telemetryInteractEdata]="getTelemetryInteractEdata('view-nomination', 'click', 'program-nominations')"
                                                        [telemetryInteractObject]="telemetryInteractObject"
                                                        [telemetryInteractCdata]="telemetryInteractCdata"
                                                        [telemetryInteractPdata]="telemetryInteractPdata">{{ resourceService?.frmelmnts?.lbl?.open }}</button>
                                                    <button class="sb-btn sb-btn-xs sb-btn-outline-primary m-5"
                                                        *ngIf="nomination?.nominationData?.status === 'Approved'"
                                                        (click)="viewNominationDetails(nomination)">{{ resourceService?.frmelmnts?.lbl?.viewContribution }}</button>
                                                </td>
                                        </tr>
                                        <tr *ngIf="nominations.length === 0">
                                            <td colspan="5" class="text-center">
                                                <app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0146'}">
                                                </app-no-result>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-12" *ngIf="nominations.length === 0 && filterApplied === null">
                                <app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0146'}">
                                </app-no-result>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </sui-tabset>
    </div>

<app-contributor-profile-popup 
*ngIf="showContributorProfilePopup"
[showProfile]="showContributorProfilePopup" 
[orgId]="selectedNomination?.organisation_id" 
[userId]="selectedNomination?.user_id" 
(close)="showContributorProfilePopup = false;">
</app-contributor-profile-popup>

</div>
